<div class="container-fluid custom-container">
    <div class="row">
        <div class="col-sm-12 page-title mt10">
            <h1 class="page-header">
                {{this['pageTitle'] | translate}}
            </h1>
        </div>
    </div>
    <form novalidate [formGroup]="this['uiForm']">

        <div class="row mt5">
            <div class="col8 pr5 hidden">
                <input id="BusinessCode" size="9" formControlName="BusinessCode" maxlength="1" class="form-control">
                <input id="BusinessDesc" size="40" formControlName="BusinessDesc" maxlength="40" value="" class="form-control">
            </div>
            <div class="col-sm-3">
                <label class="col24">{{'branch' | translate}}</label>
                <div class="col8 pr5">
                    <input id="BranchNumber" size="9" formControlName="BranchNumber" readonly="this['uiForm'].controls.BranchNumber?.readonly"
                        maxlength="5" class="form-control">

                </div>
                <div class="col16">
                    <input id="BranchName" size="40" formControlName="BranchName" readonly="this['uiForm'].controls.BranchName?.readonly" maxlength="40"
                        value="" class="form-control">
                </div>
            </div>

            <div class="col-sm-3">

                <div class="hidden col12 pr5">
                    <label class="col24" for="ViewBy">{{'Level' | translate}}</label>
                    <select class="form-control" id="ViewBy">
                            <option value="branch" selected>{{'Branch' |translate}}</option>
                            <option value="region">{{'Region' | translate}}</option>
						</select>
                </div>
                <div class="col12">
                    <label class="col24">{{'View' | translate}}</label>
                    <select class="form-control" formControlName="ServiceFilter" (change)="ServiceFilter_onChange($event.target.value)">
                            <option value="all" selected>{{'All' | translate}}</option>
                            <option value="under">{{'Under Serviced' | translate}}</option>
                            <option value="over">{{'Over Serviced' | translate}}</option>
						</select>
                </div>
            </div>

        </div>
        <div class="row mt2">
            <div class="col-sm-3" [hidden]="this['pageParams'].vPercTolerance">
                <label class="col24" for="PercTolerance">{{'Perc Tol' | translate}}</label>

                <div class="col10">
                    <input id="PercTolerance" size="9" formControlName="PercTolerance" readonly="this['uiForm'].controls.PercTolerance?.readonly"
                        maxlength="5" value="" class="form-control">
                </div>
            </div>

            <div class="col-sm-3">

                <div class="col12 pr5">
                    <label class="col24">{{'From' | translate}}</label>
                    <div class="col24">
                        <input size="15" formControlName="FromDate" maxlength="15" class="form-control hidden">
                        <icabs-datepicker id="FromDate" [dt]='DateFrom' [isReadonly]="dateReadOnly" [isDisabled]="dateReadOnly" [isRequired]="true"
                            (selectedValue)="dateFromSelectedValue($event)"></icabs-datepicker>
                    </div>
                </div>
                <div class="col12">
                    <label class="col24">{{'To' | translate}}</label>
                    <div class="col24">
                        <input size="15" formControlName="ToDate" maxlength="15" class="form-control hidden">
                        <icabs-datepicker id="ToDate" [dt]='DateTo' [isReadonly]="dateReadOnly" [isDisabled]="dateReadOnly" [isRequired]="true" (selectedValue)="dateToSelectedValue($event)"></icabs-datepicker>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mt2" [hidden]="!this['pageParams'].vWasteFilterDisp">
            <div class="col-sm-3">
                <label class="col24">{{'Waste Trans Type' | translate}}</label>
                <div class="col6 pr5">
                    <input id="WasteTransferTypeCode" formControlName="WasteTransferTypeCode" readonly="this['uiForm'].controls.WasteTransferTypeCode?.readonly"
                        size="9" maxlength="1" class="form-control">

                </div>
                <div class="col16">
                    <input id="WasteTransferTypeDesc" formControlName="WasteTransferTypeDesc" readonly="this['uiForm'].controls.WasteTransferTypeDesc?.readonly"
                        size="40" maxlength="40" value="" class="form-control">
                </div>
                <div class="col2"></div>
            </div>

            <div class="col-sm-3">

                <label class="col24">{{'EWC Code' | translate}}</label>
                <div class="col6 pr5">
                    <input id="EWCCode" size="9" formControlName="EWCCode" readonly="this['uiForm'].controls.EWCCode?.readonly" maxlength="6"
                        class="form-control">

                </div>
                <div class="col16">
                    <input id="EWCDescription" size="40" formControlName="EWCDescription" readonly="this['uiForm'].controls.EWCDescription?.readonly"
                        maxlength="40" value="" class="form-control">
                </div>
                <div class="col2"></div>
            </div>

        </div>
        <input size="9" formControlName="GroupCode" class="form-control hidden">
    </form>
    <hr class="mt15 mb15">

    <div class="row">
        <div class="col-sm-6">
            <icabs-refresh (click)="refresh()"></icabs-refresh>
            <icabs-pagination #actualVsContractualBranchPagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>

        </div>
    </div>
    <div class="row mt10">
        <div class="col-sm-12">
            <icabs-grid #actualVsContractualBranchGrid [maxColumns]="maxColumn" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage"
                (gridInfo)="getGridInfo($event)" (selectedRowInfo)="onGridRowClick($event)"></icabs-grid>
        </div>
    </div>


</div>
<icabs-modal #errorModal="child">
</icabs-modal>

<icabs-modal #messageModal>
</icabs-modal>