<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row">
                <div class="col-sm-3">
                    <label class="{{isBusiness ? 'col16' : 'col24'}}">{{ pageType | translate }}</label>
                    <label *ngIf="isBusiness" class="col8 pl5">{{ 'View By' | translate }}</label>
                    <div class="col6 pr5" *ngIf="isBranch">
                        <input type="text" id="BranchNumber" formControlName="BranchNumber" size="6" maxlength="6"
                            class="form-control">
                    </div>
                    <div class="col18" *ngIf="isBranch">
                        <input type="text" id="BranchName" formControlName="BranchName" size="30" maxlength="30"
                            class="form-control">
                    </div>
                    <div class="col16" *ngIf="isBusiness">
                        <input type="text" id="BusinessDesc" formControlName="BusinessDesc" size="30" maxlength="40"
                            class="form-control">
                    </div>
                    <div class="col6 pr5" *ngIf="isRegion">
                        <input type="text" id="RegionCode" formControlName="RegionCode" size="9" maxlength="9"
                            class="form-control" eTypeInteger>
                    </div>
                    <div class="col14" *ngIf="isRegion">
                        <input type="text" id="RegionDesc" formControlName="RegionDesc" size="40" maxlength="40"
                            class="form-control" eTypeText>
                    </div>
                    <div class="col8 pl5" *ngIf="isBusiness">
                        <select class="form-control" id="ViewType" formControlName="ViewType"
                            (change)="onViewTypeChange()">
                            <option *ngFor="let item of viewType" [value]="item.value">
                                {{ item.text | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="col24">{{ 'Month' | translate }} <span class="mandatory">*</span></label>
                            <input type="text" id="TradingMonth" formControlName="TradingMonth" size="30" maxlength="2"
                                class="form-control" pattern="^(0?[1-9]|1[012])$">
                        </div>
                        <div class="col-sm-4">
                            <label class="col24">{{ 'Year' | translate }} <span class="mandatory">*</span></label>
                            <input type="text" id="TradingYear" formControlName="TradingYear" size="30" maxlength="4"
                                class="form-control" pattern="^(20?[1-4][0-9]|2050)$">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt15">
                <div class="col-sm-3" *ngIf="this['pageParams']['vSCEnableCompanyCode']">
                    <label class="col24" id="spanCompanyCode">{{ 'Company (blank for all)' | translate }}</label>
                    <div class="col24">
                        <icabs-business-company-search #companyDropdown [inputParams]="dropdown.company.params"
                            (receivedCompanyCode)="onCompanyChange($event)" [active]="dropdown.company.active"
                            [isDisabled]="dropdown.company.disabled">
                        </icabs-business-company-search>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label for="ServiceType" class="col24">{{ 'Service Type (blank for all)' | translate }}</label>
                    <div class="col24">
                        <icabs-servicetype-search #serviceTypeSearch [inputParams]="dropdown.serviceTypeSearch"
                            [active]="dropdown.serviceTypeSearch.active"
                            [isDisabled]="dropdown.serviceTypeSearch.disabled"
                            (receivedServiceTypeData)="onServiceTypeChange($event)">
                        </icabs-servicetype-search>
                    </div>
                </div>
            </div>

            <div class="row mt15">
                <div class="col-sm-3" *ngIf="isRegion">
                    <label class="col20">{{ 'Report By' | translate }}</label>
                    <div class="col8">
                        <select class="form-control" id="ReportBy" formControlName="ReportBy">
                            <option *ngFor="let item of reportBy" [value]="item.value">
                                {{ item.text | translate }}</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-4">
                    <label class="col20">{{ 'Reason Code (blank for all)' | translate }}</label>
                    <div class="col5 pr5">
                        <input id="InvoiceCreditReasonCode" formControlName="InvoiceCreditReasonCode"
                            class="form-control" (change)="onInvoiceCreditReasonChange()" type="text" maxlength="2"
                            eTypeCode>
                    </div>
                    <div class="col13 pr5">
                        <input id="InvoiceCreditReasonDesc" formControlName="InvoiceCreditReasonDesc" [readonly]="true"
                            class="form-control" type="text" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]=true
                            [childConfigParams]="ellipsis.invoiceCreditReasonCode.childConfigParams"
                            [contentComponent]="ellipsis.invoiceCreditReasonCode.component"
                            [disabled]="ellipsis.invoiceCreditReasonCode.disabled"
                            (ellipsisData)="onInvoiceCreditReasonReceived($event)" [showHeader]=true></icabs-ellipsis>
                    </div>
                </div>
            </div>

            <hr class="mt15 mb15">
            <div class="row mt10">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="gridConfig.totalItem"
                        [currentPage]="this['pageParams'].gridCurrentPage" [itemsPerPage]="gridConfig.itemsPerPage"
                        (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)" [canExport]="true"
                        [ngClass]="{hidden: !hasGridData}">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="onGridBodyDoubleClick()"
                        (headerClick)="onHeaderClick()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>