$login_btn_height: 57px;


.login-bg {
    background-image: url(../../assets/images/login-bg.jpg);
    margin: 0;
    padding: 0;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    padding-bottom: $footer_height;
}

.login-panel {
    text-align: center;
    width: 364px;
    height: 196px;
}

.form-signin {
    margin-top: $login_btn_height - 1px;
    width: 364px;
}

.btn-signin {
    height: $login_btn_height;
    width: 364px;
    line-height: 30px;
    padding: 0;
}

.login-btn.btn-signin {
    font-family: $calibri;
    font-size: $captionSize !important;
    font-weight: bold;
    line-height: $login_btn_height;
}

.login-footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
}