<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1> {{ pageTitle | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <div class="row mt5">
            <div class="col-sm-3">
                <label class="col20">{{'Branch' | translate}} <span class="mandatory">*</span></label>
                <div class="col24 pr5">
                    <icabs-branchsearch #branchSearchDropDown [inputParams]="dropDown.branchSearch.params" [active]="dropDown.branchSearch.active" [isDisabled]="dropDown.branchSearch.isDisabled" (receivedbranchsearch)="onBranchChange($event)" [isTriggerValidate]="true" [isRequired]="true"></icabs-branchsearch>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24">{{ 'Dates From' | translate }}<span class="mandatory">*</span>
                </label>
                <div class="col16">
                    <icabs-datepicker id="DateFrom" formControlName="DateFrom" [isDirectiveBased]="false">
                    </icabs-datepicker>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24">{{ 'To' | translate }}<span class="mandatory">*</span>
                </label>
                <div class="col16">
                    <icabs-datepicker id="DateTo" formControlName="DateTo" [isDirectiveBased]="false">
                    </icabs-datepicker>
                </div>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-sm-3">
                <label class="col24">{{'Visit Interval From'|translate}}</label>
                <div class="col16">
                    <input type="text" id="VisitIntervalFrom" size="4" maxlength="3" class="form-control"
                        formControlName="VisitIntervalFrom" eTypeInteger>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24">{{ 'To' | translate }}
                </label>
                <div class="col16">
                    <input type="text" id="VisitIntervalTo" size="4" maxlength="3" class="form-control" formControlName="VisitIntervalTo"
                        eTypeInteger>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24">{{ 'Frequency' | translate }}
                </label>
                <div class="col16">
                    <input type="text" id="Frequency" size="10" maxlength="8" class="form-control" formControlName="Frequency"
                        eTypeInteger>
                </div>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-sm-3">
                <label class="col24">{{'Contract Number'|translate}}</label>
                <div class="col8 pr5">
                    <input id="ContractNumber" size="10" maxlength="8" class="form-control" formControlName="ContractNumber"
                        (change)="onChnage($event)" eTypeCode icabsZeroPad>
                </div>
                <div class="col14 pr5">
                    <input type="text" id="ContractName" size="30" [attr.maxlength]="30" class="form-control"
                        formControlName="ContractName" eTypeText>
                </div>
                <div class="col2">
                    <icabs-ellipsis [showCloseButton]="true" [childConfigParams]="ellipsis.contract.childConfigParams"
                        [contentComponent]="ellipsis.contract.component" (ellipsisData)="onValueChange($event,'Contract')"
                        [showHeader]="true"></icabs-ellipsis>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col24 mt20">
                    <input type="checkbox" class="form-control" id="BreakByContract" formControlName="BreakByContract"
                        eTypeCheckBox>
                    <label for="BreakByContract">{{'Break At Change'|translate}}</label>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24">{{'Premises Number'|translate}}</label>
                <div class="col8 pr5">
                    <input id="PremiseNumber" size="10" [attr.maxlength]="8" class="form-control" formControlName="PremiseNumber"
                        (change)="onChnage($event)" eTypeInteger icabsZeroPad>
                </div>
                <div class="col14 pr5">
                    <input type="text" id="PremiseName" size="30" [attr.maxlength]="30" class="form-control"
                        formControlName="PremiseName" eTypeText>
                </div>
                <div class="col2">
                    <icabs-ellipsis [showCloseButton]="true" [childConfigParams]="ellipsis.premise.childConfigParams"
                        [contentComponent]="ellipsis.premise.component" (ellipsisData)="onValueChange($event,'Premise')"
                        [showHeader]="true"></icabs-ellipsis>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col24 mt20">
                    <input type="checkbox" class="form-control" id="BreakByPremise" formControlName="BreakByPremise"
                        eTypeCheckBox>
                    <label for="BreakByPremise">{{'Break At Change'|translate}}</label>
                </div>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-sm-3">
                <label class="col24">{{'Branch Service Area Code'|translate}}</label>
                <div class="col8 pr5">
                    <input id="BranchServiceAreaCode" size="10" [attr.maxlength]="10" class="form-control"
                        formControlName="BranchServiceAreaCode" (change)="onChnage($event)" eTypeCode>
                </div>
                <div class="col14 pr5">
                    <input type="text" id="BranchServiceAreaDesc" size="30" [attr.maxlength]="30" class="form-control"
                        formControlName="BranchServiceAreaDesc" eTypeText>
                </div>
                <div class="col2">
                    <icabs-ellipsis [showCloseButton]="true" [childConfigParams]="ellipsis.serviceArea.childConfigParams"
                        [contentComponent]="ellipsis.serviceArea.component" (ellipsisData)="onValueChange($event,'Service Area')"
                        [showHeader]="true"></icabs-ellipsis>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col16">
                    <label class="col24" for="ReportType">{{'Products Serviced' | translate}}</label>
                    <select class="form-control" id="ReportType" formControlName="ReportType">
                        <option value="all">{{'All' | translate}}</option>
                        <option value="under">{{'Under Serviced' | translate}}</option>
                        <option value="over">{{'Over Serviced' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col16">
                    <label class="col24" for="RepDest">{{'Report Destination' | translate}}</label>
                    <select class="form-control" id="RepDest" formControlName="RepDest">
                        <option value="direct">{{'Report Viewer' | translate}}</option>
                        <option value="Email">{{'Email' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-sm-3" *ngIf="this['pageParams'].vWasteFilterDisp">
                <label class="col24">{{'EWC Code'|translate}}</label>
                <div class="col8 pr5">
                    <input id="EWCCode" size="10" [attr.maxlength]="10" class="form-control" formControlName="EWCCode"
                        (change)="onChnage($event)" eTypeCode>
                </div>
                <div class="col14 pr5">
                    <input type="text" id="EWCDescription" size="30" [attr.maxlength]="30" class="form-control"
                        formControlName="EWCDescription" eTypeText>
                </div>
                <div class="col2">
                    <icabs-ellipsis [disabled]="true"></icabs-ellipsis>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="this['pageParams'].vWasteFilterDisp">
                <label class="col24">{{'Waste Transfer Code'|translate}}</label>
                <div class="col8 pr5">
                    <input id="WasteTransferTypeCode" size="10" [attr.maxlength]="10" class="form-control"
                        formControlName="WasteTransferTypeCode" (change)="onChnage($event)" eTypeCode>
                </div>
                <div class="col14 pr5">
                    <input type="text" id="WasteTransferTypeDesc" size="30" [attr.maxlength]="30" class="form-control"
                        formControlName="WasteTransferTypeDesc" eTypeText>
                </div>
                <div class="col2">
                    <icabs-ellipsis [showCloseButton]="true" [childConfigParams]="ellipsis.wasteTransferType.childConfigParams"
                        [contentComponent]="ellipsis.wasteTransferType.component" (ellipsisData)="onValueChange($event,'Waste Transfer')"
                        [showHeader]="true"></icabs-ellipsis>
                </div>
            </div>
        </div>
        <div class="row mt10">
            <div class="col-sm-4">
                <div class="col24">
                    <input type="button" (click)="submitReportGeneration()" class="btn btn-primary" id="cmdSubmit"
                        value="{{'Submit Report Generation'|translate}}">
                </div>
            </div>
        </div>
        <div class="row mt10">
            <div class="col-sm-12" id="trInformation" *ngIf="batchSubmittedText!==''">
                <div class="alert alert-info center-align" id="thInformation">
                    <strong>{{batchSubmittedText}}</strong>
                </div>
            </div>
        </div>

    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>