<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ 'Next Invoice Run Forecast' | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col24">{{'Business' | translate}}</label>
                    <div class="col3 pr5">
                        <input id="BusinessCode" formControlName="BusinessCode" size="1" maxlength="1" eTypeCode>

                    </div>
                    <div class="col21">
                        <input type="text" formControlName="BusinessDesc" maxlength="37" tabindex="-1" size="41"
                            eTypeText>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Branch Report Type' | translate}}</label>
                    <select class="form-control" id="BranchTypeFilter" formControlName="BranchTypeFilter">
                        <option value="N">{{'Negotiating' | translate }}</option>
                        <option value="S">{{'Servicing' | translate }}</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="ContractNumber">{{ 'Contract Number' | translate}}</label>
                    <div class="col8 pr5">
                        <input icabsZeroPad id="ContractNumber" #contractNumber formControlName="ContractNumber"
                            class="form-control" type="text" [attr.maxlength]="8" size="8"
                            (change)="onChangeContractOrAccount('Contract')" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input id="ContractName" formControlName="ContractName" class="form-control padding-zero"
                            type="text" size="34">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsisConfig.contract.childConfigParams"
                            [contentComponent]="ellipsisConfig.contract.contentComponent"
                            (ellipsisData)="onContractNumberSearchDataReceived($event)" [showHeader]="true">
                        </icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col24">{{'Invoice Level' | translate}}</label>
                    <select class="form-control" id="InvoiceLevel" formControlName="InvoiceLevel"
                        (change)="onChangeInvoiceLevel()">
                        <option value="Con">{{ 'Contract' | translate }}</option>
                        <option value="Prem">{{ 'Premise' | translate }}</option>
                        <option value="Prod">{{ 'Product' | translate }}</option>
                        <option value="IG">{{ 'Invoice Group' | translate }}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Branch Number' | translate}} </label>
                    <div class="col24 pr5">
                        <icabs-branchsearch [inputParams]="inputParams.branchParams"
                            (receivedbranchsearch)="onBranchDataReceived($event)"></icabs-branchsearch>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Account Number' |translate}} </label>
                    <div class="col8 pr5">
                        <input type="text" icabsZeroPad id="AccountNumber" size="9" [attr.maxlength]="9"
                            class="form-control" formControlName="AccountNumber"
                            (change)="onChangeContractOrAccount('Account')" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="AccountName" size="40" [attr.maxlength]="40" class="form-control"
                            formControlName="AccountName">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [contentComponent]="accountSearchComponent"
                            (ellipsisData)="onAccountDataReceived($event)" [childConfigParams]="ellipsisConfig.account"
                            [showHeader]="true"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col24">{{'Generated On' | translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="GeneratedDate" size="10" class="form-control"
                            formControlName="GeneratedDate">
                    </div>
                    <div class="col8 pr5">
                        <input type="text" id="GeneratedTime" size="5" class="form-control"
                            formControlName="GeneratedTime">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Forecast Date' | translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="ForecastDate" size="10" class="form-control"
                            formControlName="ForecastDate">
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Display Lines' | translate}}</label>
                    <div class="col3 pr5">
                        <input type="text" id="PageSize" size="10" class="form-control" formControlName="PageSize">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [canExport]="true" [totalItems]="gridConfig.totalRecords"
                        [itemsPerPage]="gridConfig.pageSize" [currentPage]="gridConfig.currentPage"
                        (getCurrentPage)="getCurrentPage($event)" [exportOptions]="{datecolumns: dateCollist}">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (headerClick)="onRiGridRefresh()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-custom-alert #customAlert [alertMessage]="alertMessage"></icabs-custom-alert>
