<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" for="BusinessDesc">{{ 'Business' | translate }}</label>
                    <input type="text" id="BusinessDesc" class="form-control" placeholder="" #BusinessDesc
                        formControlName="BusinessDesc" eTypeText>
                </div>
                <div class="col-sm-3">
                    <label class="col24" for="DisplayLines">{{ 'Display Lines' | translate}}<span
                            class="mandatory">*</span></label>
                    <div class="col6">
                        <input type="text" [attr.maxlength]="3" id="DisplayLines" class="form-control"
                            formControlName="DisplayLines" eTypeInteger>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="gridConfig.totalRecords"
                        [currentPage]="this['pageParams'].gridCurrentPage"
                        [itemsPerPage]="getControlValue('DisplayLines')" (getCurrentPage)="getCurrentPage($event)">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (headerClick)="onRiGridRefresh()"
                        (bodyDblClick)="onGridBodyDoubleClick()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-custom-alert #customAlert [alertMessage]="alertMessage" [messageType]="messageType"></icabs-custom-alert>