<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt2" *ngIf="this['pageParams'].trBusinessDisplay">
                <div class="col-sm-3">
                    <label class="col24" for="BusinessDesc">{{ 'Business' | translate }}</label>
                    <div class="col24">
                        <input type="text" id="BusinessDesc" size="23" maxlength="30" formControlName="BusinessDesc" class="form-control" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-3" *ngIf="this['pageParams'].trBranchDisplay">
                    <label class="col24" for="BranchName">{{ 'Branch' | translate }}</label>
                    <div class="col24">
                        <input type="text" id="BranchName" size="23" maxlength="30" formControlName="BranchName" class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24" for="EmployeeCode">{{ 'Employee' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="EmployeeCode" size="6" maxlength="6" formControlName="EmployeeCode" class="form-control" eTypeCode>
                    </div>
                    <div class="col16">
                        <input type="text" id="EmployeeSurname" size="30" maxlength="30" formControlName="EmployeeSurname" class="form-control" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <div class="col12 pr5">
                        <label class="col24" for="DateFrom">{{ 'From' | translate }}</label>
                        <input type="text" id="DateFrom" size="10" maxlength="10" formControlName="DateFrom" class="form-control center" eTypeDate>
                    </div>
                    <div class="col12">
                        <label class="col24" for="DateTo">{{ 'To' | translate }}</label>
                        <input type="text" id="DateTo" size="10" maxlength="10" formControlName="DateTo" class="form-control center" eTypeDate>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24" for="ViewByDesc">{{ 'View By' | translate }}</label>
                    <div class="col24">
                        <input type="text" id="ViewByDesc" size="41" maxlength="40" formControlName="ViewByDesc" class="form-control">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="riGrid_onRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="gridConfig.totalRecords" [itemsPerPage]="gridConfig.pageSize" (getCurrentPage)="getCurrentPage($event)"
                        [currentPage]="gridConfig.currentPage"></icabs-pagination>
                </div>
                <div class="col-sm-12 mt10">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="riGrid_BodyOnDblClick($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>