<section class="container-fluid custom-container row minH600">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div #topcontainer>
                <div class="row mt10">
                    <div class="col-sm-4">
                        <label class="col24" for="ContractNumber">{{ 'Job/Contract Number' | translate }} </label>
                        <div class="col8 pr5">
                            <input type="text" id="ContractNumber" formControlName="ContractNumber" class="form-control"
                                placeholder="" size="9" maxlength="9" eTypeText>
                        </div>
                        <div class="col16">
                            <input type="text" id="PremiseName" formControlName="PremiseName" class="form-control"
                                placeholder="" size="20" eTypeText>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="col24" for="AccountNumber">{{ 'Account Number' | translate }} </label>
                        <div class="col10 pr5">
                            <input type="text" id="AccountNumber" formControlName="AccountNumber" class="form-control"
                                placeholder="" size="9" maxlength="9" eTypeText>
                        </div>
                        <div class="col2">
                            <icabs-ellipsis [autoOpen]="false" [showCloseButton]="true"
                                [childConfigParams]="inputParamsAccount" [modalConfig]="modalConfig"
                                [contentComponent]="accountSearchComponent"
                                (ellipsisData)="onAccountDataReceived($event)" [showHeader]="showHeader"
                                [disabled]="isAccountEllipsisDisabled"></icabs-ellipsis>
                        </div>
                    </div>
                </div>
                <div class="row mt10">
                    <div class="col-sm-4">
                        <div class="col24 pr5">
                            <label class="col24" for="PremiseAddress">{{ 'Premises Address' | translate }}</label>
                            <textarea id="PremiseAddress" formControlName="PremiseAddress" class="form-control"
                                type="text" rows="5" cols="30" eTypeTextFree></textarea>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="col24" for="AccountNumber">{{ 'Account Name' | translate }} </label>
                        <div class="co24 pr5">
                            <input [attr.maxlength]="40" type="text" id="ContractName" formControlName="ContractName"
                                class="form-control" placeholder="" size="20" eTypeText>
                        </div>
                        <label class="col24" for="SearchPostcode">{{ 'Postcode' | translate }} </label>
                        <div class="col8 pr5 mr3">
                            <input type="text" id="SearchPostcode" formControlName="SearchPostcode" class="form-control"
                                placeholder="" size="10" eTypeTextFree>
                        </div>
                        <label class="col16 text-center" id="tdMaxMessage">{{tdMaxMessage| translate}}</label>

                    </div>
                </div>
                <hr class="mt15 mb15">
                <div class="row">
                    <div class="col-sm-6">
                        <icabs-refresh (click)="refresh()"></icabs-refresh>
                        <icabs-pagination #SOPremiseSearchPagination [currentPage]="currentPage"
                            [totalItems]="totalRecords" [itemsPerPage]="pageSize"
                            (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                    </div>
                </div>
                <div class="row mt10">
                    <div class="col-sm-12">
                        <icabs-grid-advanced #riGrid (TRClick)="tbodyPNOLPremiseSearch_onClick($event)"
                            (onSuccess)="riGrid_AfterExecute()" (headerClick)="riGrid_Sort($event)">
                        </icabs-grid-advanced>
                    </div>
                </div>
                <!--For implementing Business Logic-->
                <div class="hidden">
                    <input type="text" class="form-control" id="PremiseAddressLine1"
                        formControlName="PremiseAddressLine1" size="1">
                </div>
                <div class="hidden">
                    <input type="text" class="form-control" id="PremiseAddressLine2"
                        formControlName="PremiseAddressLine2" size="1">
                </div>
                <div class="hidden">
                    <input type="text" class="form-control" id="PremiseAddressLine3"
                        formControlName="PremiseAddressLine3" size="1">
                </div>
                <div class="hidden">
                    <input type="text" class="form-control" id="PremiseAddressLine4"
                        formControlName="PremiseAddressLine4" size="1">
                </div>
                <div class="hidden">
                    <input type="text" class="form-control" id="PremiseAddressLine5"
                        formControlName="PremiseAddressLine5" size="1">
                </div>
                <div class="hidden">
                    <input type="text" class="form-control" id="PremisePostcode" formControlName="PremisePostcode"
                        size="1">
                </div>
            </div>
        </section>
    </form>
</section>