<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="ContractNumber">{{ 'Contract Number' | translate}}</label>
                    <div class="col8 pr5">
                        <input id="ContractNumber" class="form-control" formControlName="ContractNumber" type="text" size="7" maxlength="8">
                    </div>
                    <div class="col16">
                        <input id="ContractName" class="form-control" formControlName="ContractName" type="text" size="25" maxlength="25">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="PremiseNumber">{{ 'Premises Number' | translate}}</label>
                    <div class="col8 pr5">
                        <input id="PremiseNumber" class="form-control" formControlName="PremiseNumber" type="text" size="7" maxlength="5">
                    </div>
                    <div class="col16">
                        <input id="PremiseName" class="form-control" formControlName="ContractName" type="text" size="25" maxlength="25">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="WasteConsignmentNoteNumber">{{ 'Waste Consignment Note Number' | translate}}</label>
                    <div class="col24">
                        <input id="WasteConsignmentNoteNumber" class="form-control" formControlName="WasteConsignmentNoteNumber" type="text" size="50"
                            maxlength="50">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-12">
                    <icabs-refresh (onRefresh)="gridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="gridConfig.totalRecords" (getCurrentPage)="getCurrentPage($event)" [itemsPerPage]="gridConfig.pageSize"
                        [currentPage]="gridConfig.currentPage"></icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (TRDblClick)="riGridBodyOnDblClick($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>