<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="BranchName">{{ 'Branch Number' | translate}}</label>
                    <div class="col24">
                        <input type="text" class="form-control" id="BranchNumberText" size="7" maxlength="4" formControlName="BranchNumberText" [attr.disabled]="true">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24" for="DateFrom">{{ 'Date From' | translate}}</label>
                    <div class="col12">
                        <icabs-datepicker id="DateFrom" [dt]="dateFromDt" [isDisabled]="disableObject.DateFrom" (selectedValue)="startDateSelectedValue($event)"
                        #dateFrom></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="LetterTypeCode">{{ 'Letter Type Code' | translate}}</label>
                    <div class="col4 pr5">
                        <input id="LetterTypeCode" class="form-control" formControlName="LetterTypeCode" type="text" size="3" maxlength="3" [attr.disabled]="true">
                    </div>
                    <div class="col20">
                        <input id="LetterTypeDesc" class="form-control" formControlName="LetterTypeDesc" type="text" size="35" maxlength="40" [attr.disabled]="true">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24" for="DateTo">{{ 'To' | translate}}</label>
                    <div class="col12">
                        <icabs-datepicker id="DateTo" [dt]="dateToDt" [isDisabled]="disableObject.DateTo" (selectedValue)="endDateSelectedValue($event)"
                        #dateTo></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="ViewBy">{{ 'View By' | translate }}</label>
                    <div class="col24">
                        <select class="form-control" formControlName="ViewBy" id="ViewBy">
                            <option value="Not Received">{{ 'Not Received' | translate }}</option>
                            <option value="Received">{{ 'Received' | translate }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-12">
                    <icabs-refresh (click)="refresh()" [disabled] = "isRefreshDisabled"></icabs-refresh>
                    <icabs-pagination [ngClass]="isHidePagination ? 'hidden' : ''" [totalItems]="gridParams.totalRecords"
                    [itemsPerPage]="gridParams.itemsPerPage" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (headerClick)="riGridSort($event)" (TRDblClick)="tbodyServicePlanningOnDblClick($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>