<div class="container-fluid custom-container">
    <div class="flag-fixed">
        <ul>
            <li *ngIf="tdGeneratedStockOrderText">
                <strong>{{'Generated Stock Order' | translate }}</strong>
            </li>
            <li *ngIf="tdStockText">
                <strong>{{'Stock' | translate }}</strong>
            </li>
            <li *ngIf="labelFutureDated">
                <strong>{{'Future Dated' | translate }}</strong>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col-sm-12 page-title mt10">
            <h1>
                {{ tableTitle | translate}} {{'Service Cover Entry' | translate }}
            </h1>
        </div>
    </div>

    <form novalidate [formGroup]="this['uiForm']">
        <div class="row mt5">
            <div class="col-sm-5">
                <label class="col24">{{'Product Sales Number' | translate }}
                    <span class="mandatory">*</span>
                </label>
                <div class="col5 pr5">
                    <input id="ContractTypeCode" formControlName="ContractTypeCode" style="display:none">
                    <input id="TelesalesInd" formControlName="TelesalesInd" style="display:none">
                    <input type="text" class="form-control" (blur)="onContractNumberChange()" formControlName="ContractNumber" [attr.maxlength]="8"
                        eTypeCode>
                </div>
                <div class="col17 pr5">
                    <input type="text" class="form-control" readonly formControlName="ContractName" [attr.maxlength]="35" eTypeTextFree>
                </div>
                <div class="col2">
                    <icabs-ellipsis [childConfigParams]="inputParamsContractSearch" [contentComponent]="contractSearchComponent" (ellipsisData)="setContractNumber($event)"
                        [showHeader]="showHeader"></icabs-ellipsis>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24">{{'Commence Date' | translate }}</label>
                <div class="col16">
                    <input type="text" class="form-control" readonly formControlName="ContractCommenceDate" eTypeDate>
                </div>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-5">
                <label class="col24">{{'Premises Number' | translate }}
                    <span class="mandatory">*</span>
                </label>
                <div class="col5 pr5">
                    <input type="text" class="form-control" (blur)="onPremiseNumberChange()" formControlName="PremiseNumber" [attr.maxlength]="6"
                        eTypeInteger>
                </div>
                <div class="col17 pr5">
                    <input type="text" class="form-control" readonly placeholder="" formControlName="PremiseName" [attr.maxlength]="35" eTypeTextFree>
                </div>
                <div class="col2">
                    <icabs-ellipsis [childConfigParams]="inputParamsAccountPremise" [contentComponent]="premiseSearchComponent" (ellipsisData)="onPremiseSearchDataReceived($event)"
                        [showHeader]="showHeader"></icabs-ellipsis>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24">{{'Product Filter' | translate }}</label>
                <div class="col16">
                    <select class="form-control" id="ProductFilter" formControlName="ProductFilter" disabled={{isTeleSales}} (change)="onProductFilterChangeEvent()">
                        <option value="All" selected>{{ 'All' | translate }}</option>
                        <option value="Ordered">{{ 'Ordered Only' | translate }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt2" *ngIf="trFromContract">
            <div class="col-sm-5">
                <label class="col24">{{'Generated From' | translate }}</label>
                <div class="col5 pr5">
                    <input type="text" class="form-control" formControlName="FromContractNumber" placeholder="" [attr.maxlength]="8">
                </div>
                <div class="col19">
                    <input type="text" class="form-control" readonly formControlName="FromContractName" [attr.maxlength]="35">
                </div>

            </div>
        </div>
        <div class="row mt2" *ngIf="trFromPremise">
            <div class="col-sm-3">
                <label class="col24">{{'Premises Number' | translate }}</label>
                <div class="col8 pr5">
                    <input type="text" class="form-control" formControlName="FromPremiseNumber" placeholder="" [attr.maxlength]="6">
                </div>
                <div class="col16">
                    <input type="text" class="form-control" readonly formControlName="FromPremiseName" readonly [attr.maxlength]="35">
                </div>

            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-5">
                <label class="col24">{{'Product Code' | translate }}</label>
                <div class="col5 pr5">
                    <input type="text" class="form-control" (blur)="onProductCodeChange()" formControlName="ProductCode" placeholder="" [attr.maxlength]="6"
                        eTypeCode>
                </div>
                <div class="col17 pr5">
                    <input type="text" class="form-control" readonly formControlName="ProductDesc" [attr.maxlength]="3" eTypeTextFree>
                </div>
                <div class="col2">
                    <icabs-ellipsis [childConfigParams]="inputParamsProductSalesSCEntry" (ellipsisData)="setProductCode($event)" [disabled]="false"
                        [contentComponent]="productComponent" [showHeader]="showHeader"></icabs-ellipsis>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24">{{'Line of Service' | translate }}</label>
                <div class="col16">
                    <select class="form-control" id="LOSCode" formControlName="LOSCode">
                        <option *ngFor="let LOS of pageParams.LOSArray" [ngValue]="LOS.LOSCode">{{LOS.LOSName}}</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
    <hr class="mt15 mb15">
    <div class="row">
        <div class="col-sm-12">
            <icabs-refresh (onRefresh)="getRefreshData()"> </icabs-refresh>
            <icabs-pagination #productSalesSCEntryPagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage"
                (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
        </div>
        <div class="col-sm-12" align="center">
            <icabs-grid #productSalesSCEntryGrid [maxColumns]="maxColumn" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage" (gridInfo)="getGridInfo($event)"
                (selectedRowInfo)="onGridRowClick($event)" [sortHeaders]="gridSortHeaders" [showTotalRow]="true" (sortInfo)="sortGrid($event)"
                [validateProperties]="validateProperties"></icabs-grid>
        </div>
    </div>
    <div class="row mt10" *ngIf="trKey">
        <div class="col-sm-12">
            <label class="pr5">{{'Consumables'| translate }}</label>
            <span class="color-box" style="background:#CCFFCC;">&nbsp;&nbsp;</span>
            <label class="pl5 pr5">{{'Other Products'| translate }}</label>
            <span class="color-box" style="background:#FFFFCC;">&nbsp;&nbsp;</span>
            <label class="pl5 pr5">{{'Cancelled Products'| translate }}</label>
            <span class="color-box" style="background:#FFCCCC;">&nbsp;&nbsp;</span>
        </div>

    </div>
    <div class="col-sm-12 mt10">
        <icabs-modal #errorModal="child">
        </icabs-modal>
    </div>

</div>