<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col24">{{'Contract Number' | translate}}<span class="mandatory">*</span></label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="ContractNumber" size="9" maxlength="9" placeholder="" formControlName="ContractNumber"
                            eTypeCode>
                    </div>
                    <div class="col16">
                        <input type="text" class="form-control" id="ContractName" size="40" maxlength="40" placeholder="" formControlName="ContractName">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24">{{'Premises Number' | translate}}<span class="mandatory">*</span></label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="PremiseNumber" size="9" maxlength="9" placeholder="" formControlName="PremiseNumber"
                            eTypeInteger>
                    </div>
                    <div class="col16">
                        <input type="text" class="form-control" id="PremiseName" size="40" maxlength="40" placeholder="" formControlName="PremiseName">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24">{{'Product Code' | translate}}<span class="mandatory">*</span></label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="ProductCode" size="9" maxlength="9" placeholder="" formControlName="ProductCode"
                            eTypeCode>
                    </div>
                    <div class="col16">
                        <input type="text" class="form-control" id="ProductDesc" size="40" maxlength="40" placeholder="" formControlName="ProductDesc">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24">{{'Show' | translate}}</label>
                    <div class="col12 pr5">
                        <icabs-dropdown-static #typesDropdown class="" [inputData]="types" (onSelect)="onTypeChange($event)"></icabs-dropdown-static>
                    </div>
                    <div class="col2">
                        <input type="checkbox" class="form-control" id="UpdateBranchInd" formControlName="UpdateBranchInd">
                        <label for="UpdateBranchInd"></label>
                    </div>
                    <div class="col10 mt2 pl10">
                        <label>{{'Follows Template' | translate}}</label>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="refresh()"></icabs-refresh>
                    <icabs-pagination #invoicePrintLinePagination [currentPage]="gridParams.currentPage" [totalItems]="gridParams.totalRecords"
                        [itemsPerPage]="gridParams.itemsPerPage" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
                <div class="col-sm-3 pull-right">
                    <div class="col24">
                        <icabs-dropdown-static #menuDropdown class="" [inputData]="options" (onSelect)="onMenuChange($event)" (gridInfo)="getGridInfo($event)"
                            (selectedRowInfo)="onRowSelect($event)"></icabs-dropdown-static>
                    </div>
                </div>

            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid #serviceCoverSeasonGrid [maxColumns]="gridParams.maxColumn" [itemsPerPage]="gridParams.itemsPerPage" [currentPage]="gridParams.currentPage"
                        (gridInfo)="getGridInfo($event)" (selectedRowInfo)="onRowSelect($event)" (sortInfo)="sortGrid($event)"
                        [sortHeaders]="gridSortHeaders" [validateProperties]="validateProperties"></icabs-grid>
                </div>
            </div>

        </section>

        <footer class="screen-footer">

        </footer>
    </form>
</section>
<icabs-modal #errorModal="child" [showHeader]="true"></icabs-modal>