<!-- Page Content -->
<div class="container-fluid custom-container">
    <!-- Page Heading -->
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 mt10 page-title">
                <h1>
                    <!--Page Heading-->
                    {{'Account History' | translate}}
                </h1>
            </div>
        </div>
    </header>
    <!-- /.row -->
    <!-- Projects Row -->
    <section class="screen-body">
        <div class="row mt5">
            <div class="col-sm-3">

                <label class="col24">{{'Account Number' | translate}} </label>
                <div class="col8 pr5">
                    <input type="text" id="AccountNumber" value="{{AccountNumber}}" class="form-control" placeholder="" [disabled]='fieldDisable.AccountNumber'>
                </div>
                <div class="col16">
                    <input type="text" id="AccountName" value="{{AccountName}}" class="form-control" placeholder="" [disabled]='fieldDisable.AccountName'>
                </div>

            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-3">
                <label class="col24">{{'Filter' | translate}}</label>
                <div class="col24">
                    <select id="AccountHistoryFilter" class="form-control" #filter [(ngModel)]="AccountHistoryFilter" (change)="selectedFilter(filter.value)">
                        <option *ngFor="let b of filterList" [ngValue]="b" [selected]="b == 'None'" >{{b  | translate}}</option>
                    </select>
                </div>
            </div>
            <!-- Invoice Group -->
            <div class="col-sm-3 mt2" *ngIf="InvoiceGroupDisplay">
                <label class="col24">{{'Invoice Group' | translate }}</label>
                <div class="col8 pr5">
                    <input type="text" id="invoiceGroupNumber" class="form-control" [(ngModel)]="invoiceGroupNumber" (change)="fetchInvoiceGroupData()"
                        [disabled]='fieldDisable.InvoiceGroup'>
                </div>
                <div class="col14 pr5">
                    <input type="text" id="invoiceGroupDesc" class="form-control" value={{invoiceGroupDesc}} [disabled]='true'>
                </div>
                <div class="col2">
                    <icabs-ellipsis [(autoOpen)]="autoOpen" [childConfigParams]="invoiceGroupSearchParams" [contentComponent]="invoiceGrp" [showHeader]="true"
                        [disabled]="false" (ellipsisData)="setInvoiceGroupSearch($event)"></icabs-ellipsis>
                </div>
            </div>
            <!-- History Type -->
            <div class="col-sm-3 mt2" *ngIf="HistoryTypeDisplay">
                <label class="col24">{{'History Type' | translate }}</label>
                <div class="col8 pr5">
                    <input type="text" id="historyTypeNumber" class="form-control" [(ngModel)]="historyTypeNumber" (change)="fetchHistoryTypeData()"
                        [disabled]='fieldDisable.HistoryType'>
                </div>
                <div class="col14 pr5">
                    <input type="text" id="historyTypeDesc" class="form-control" value={{historyTypeDesc}} [disabled]='true'>
                </div>
                <div class="col2">
                    <icabs-ellipsis [childConfigParams]="inputParamsHistoryCode" [contentComponent]="historyTypeSearchComponent" [showHeader]="true"
                        [disabled]="false" (ellipsisData)="setHistoryTypeSearch($event)"></icabs-ellipsis>
                </div>
            </div>
        </div>

        <div class="row mt2">
            <div class="col-sm-3">
                <label class="col24">{{'Sort By' | translate }}</label>
                <div class="col24">
                    <select id="SortBy" class="form-control" #sort [(ngModel)]="SortBy" (change)="selectedsort(sort.value)">
                        <option selected value='EffectiveDate'>{{'Effective Date' | translate}}</option>
                        <option value='ProcessedDate'>{{'Processed Date' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
        <hr class="mt15 mb15">
        <div class="row">
            <div class="col-sm-12 row page-header-row">
                <h1 class="page-header margin-zero pl10">
                    <small>{{'History summary' | translate}}</small>
                </h1>
            </div>
        </div>
        <div class="row mt10">
            <div class="col-sm-12">
                <icabs-pagination #historyGridPagination [currentPage]="currentPage" [totalItems]="totalRecords" [itemsPerPage]="itemsPerPage"
                    (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                <icabs-refresh (click)="searchload()"></icabs-refresh>
            </div>
        </div>
        <div class="row mt10">
            <div class="col-sm-12">
                <icabs-grid #historyGrid [maxColumns]="maxColumn" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage" (gridInfo)="getGridInfo($event)"
                    (selectedRowInfo)="onGridRowClick($event)" (infoData)="onGridInfoClick($event)" [validateProperties]="validateProperties"></icabs-grid>
            </div>
        </div>
    </section>
</div>
<icabs-spinner [isRunning]="isRequesting"></icabs-spinner>
<icabs-modal #errorModal="child" [(showHeader)]="showErrorHeader" [title]="errorTitle" [content]="errorContent" [(showHeader)]="showMessageHeader"></icabs-modal>
<icabs-modal #messageModal [title]="messageTitle" [content]="messageContent" [(showHeader)]="showMessageHeader"></icabs-modal>