<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="BranchServiceAreaCode">{{ 'From Service Area' | translate}}</label>
                    <div class="col6 pr5">
                        <input id="BranchServiceAreaCode" class="form-control" formControlName="BranchServiceAreaCode" type="text" size="6" [attr.maxlength]="4"
                            eTypeCode [icabsDirFocus]="setFocusBranchServiceAreaCode" (blur)="onBranchServiceAreaCodeChange()">
                    </div>
                    <div class="col16 pr5">
                        <input id="BranchServiceAreaDesc" class="form-control" formControlName="BranchServiceAreaDesc" type="text" size="25" [attr.maxlength]="20"
                            eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [disabled]="ellipsisConfig.branchServiceArea.isDisabled" [showCloseButton]="true" [showHeader]="true" [childConfigParams]="ellipsisConfig.branchServiceArea"
                            [contentComponent]="ellipsisConfig.branchServiceArea.component" (ellipsisData)="onBranchServiceAreaDataReceived($event)"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col24">
                        <label class="col24" for="ContractTypeCode">{{ 'Show' | translate}}</label>
                        <select id="ContractTypeCode" class="form-control" formControlName="ContractTypeCode" (change)="setContractType($event)">
                            <option value="All" [selected]="contractType.isAllSelected">{{ 'All' | translate}}</option>
                            <option value="C" [selected]="contractType.isContractSelected">{{ 'Contracts' | translate}}</option>
                            <option value="J" [selected]="contractType.isJobSelected">{{ 'Jobs' | translate}}</option>
                            <option value="P" [selected]="contractType.isProductSelected">{{ 'Product Sales' | translate}}</option>
                            </select>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="BranchServiceAreaCodeTo">{{ 'To Service Area' | translate}}</label>
                    <div class="col6 pr5">
                        <input id="BranchServiceAreaCodeTo" class="form-control" formControlName="BranchServiceAreaCodeTo" type="text" size="6" [attr.maxlength]="4"
                            eTypeCode (blur)="onBranchServiceAreaCodeToChange()">
                    </div>
                    <div class="col16 pr5">
                        <input id="BranchServiceAreaDescTo" class="form-control" formControlName="BranchServiceAreaDescTo" type="text" size="25"
                            [attr.maxlength]="20" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [disabled]="ellipsisConfig.branchServiceAreaTo.isDisabled" [showCloseButton]="true" [showHeader]="true" [childConfigParams]="ellipsisConfig.branchServiceAreaTo"
                            [contentComponent]="ellipsisConfig.branchServiceAreaTo.component" (ellipsisData)="onBranchServiceAreaToDataReceived($event)"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col24">
                        <label class="col24" for="PortfolioStatusType">{{ 'Show' | translate}}</label>
                        <select id="PortfolioStatusType" class="form-control" formControlName="PortfolioStatusType" (change)="setPortfolioStatus($event)">
                            <option value="All" [selected]="portfolioStatus.isAllSelected">{{ 'All' | translate}}</option>
                            <option value="Current" [selected]="portfolioStatus.isCurrentSelected">{{ 'Current Portfolio' | translate}}</option>
                            <option value="NonCurrent" [selected]="portfolioStatus.isNonCurrentSelected">{{ 'Non Current Portfolio' | translate}}</option>
                            </select>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Product Group' | translate}}</label>
                    <div class="col16">
                        <icabs-sbproductservice-groupsearch id="ProductServiceGroupDesc" #productServiceGroupDropdown [inputParams]="dropdownConfig.productServiceGroupSearch"
                            [active]="dropdownConfig.productServiceGroupSearch.active" [isDisabled]="dropdownConfig.productServiceGroupSearch.isDisabled"
                            [isRequired]="false" (receivedProductServiceGroupSearch)="setProductServiceGroup($event)"></icabs-sbproductservice-groupsearch>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="Postcode">{{ 'Postcode' | translate}}</label>
                    <div class="col11 pr5">
                        <input id="Postcode" class="form-control" formControlName="Postcode" type="text" size="10" [attr.maxlength]="8" eTypeCode
                            (change)="onPostCodeChange($event)">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="true" [childConfigParams]="ellipsisConfig.postCodeSearch.childConfigParams" [contentComponent]="ellipsisConfig.postCodeSearch.component"
                            (ellipsisData)="setEllipsisData($event)" [showHeader]="true" [disabled]="ellipsisConfig.postCodeSearch.isDisabled"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="State">{{ 'State' | translate}}</label>
                    <div class="col11 pr5">
                        <input id="State" class="form-control" formControlName="State" type="text" size="20" [attr.maxlength]="20" eTypeText (change)="onStateChange($event)">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="true" [childConfigParams]="ellipsisConfig.postCodeSearch.childConfigParams" [contentComponent]="ellipsisConfig.postCodeSearch.component"
                            (ellipsisData)="setEllipsisData($event)" [showHeader]="true" [disabled]="ellipsisConfig.postCodeSearch.isDisabled"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="Town">{{ 'Town' | translate}}</label>
                    <div class="col11 pr5">
                        <input id="Town" class="form-control" formControlName="Town" type="text" size="20" [attr.maxlength]="20" eTypeText (change)="onTownChange($event)">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="true" [childConfigParams]="ellipsisConfig.postCodeSearch.childConfigParams" [contentComponent]="ellipsisConfig.postCodeSearch.component"
                            (ellipsisData)="setEllipsisData($event)" [showHeader]="true" [disabled]="ellipsisConfig.postCodeSearch.isDisabled"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3 mt20">
                    <div class="col10">
                        <input type="button" class="btn btn-primary" value="{{'Rezone All' | translate}}" (click)="onRezoneClick()">
                    </div>
                    <div class="col10" *ngIf="isUndoDisplayed">
                        <input type="button" class="btn btn-secondary" value="{{'Undo Rezone' | translate}}" (click)="onUndoRezoneClick()">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-12">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]=" gridConfig.totalRecords " [itemsPerPage]="gridConfig.pageSize" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (headerClick)="onRiGridRefresh()" (TRDblClick)="onRiGridBodyDblClick($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]=" this['isRequesting'] "></icabs-spinner>