<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col24">{{'Service Plan Number'|translate}}</label>
                    <div class="col8">
                        <input type="text" class="form-control" id="ServicePlanNumber" formControlName="ServicePlanNumber" size="10" [attr.maxlength]="10">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24">{{'Planned Visit Date'|translate}}</label>
                    <div class="col8">
                        <input type="text" class="form-control" id="PlannedVisitDate" formControlName="PlannedVisitDate" size="10" [attr.maxlength]="10">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24">{{'Visit Type'|translate}}</label>
                    <div class="col8">
                        <input type="text" class="form-control" id="VisitTypeDescTranslated" formControlName="VisitTypeDescTranslated" size="20"
                            [attr.maxlength]="20">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="refreshGrid()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [ngClass]="isHidePagination ? 'hidden' : ''" [currentPage]="gridParams.pageCurrent" [totalItems]="gridParams.totalRecords"
                        [itemsPerPage]="gridParams.itemsPerPage" (getCurrentPage)="getCurrentPage($event)" [canExport]="true" [exportOptions]="expCfg"></icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (headerClick)="riGridSort()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>