<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="BranchNumber">{{ 'Branch' | translate}}</label>
                    <div class="col6 pr5">
                        <input id="BranchNumber" class="form-control" formControlName="BranchNumber" type="text" size="6" maxlength="5" eTypeInteger>
                    </div>
                    <div class="col16">
                        <input id="BranchName" class="form-control" formControlName="BranchName" type="text" size="30" maxlength="30" eTypeText>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24" for="DateFrom">{{ 'From' | translate}}</label>
                    <div class="col12">
                        <icabs-datepicker id="DateFrom" formControlName="DateFrom" [isDirectiveBased]="false"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="EmployeeCode">{{ 'Employee' | translate}}</label>
                    <div class="col6 pr5">
                        <input #employeeCode id="EmployeeCode" class="form-control" formControlName="EmployeeCode" type="text" size="6" maxlength="6"
                            (change)="onEmployeeCodeChange($event)" eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input id="EmployeeSurname" class="form-control" formControlName="EmployeeSurname" type="text" size="30" maxlength="30" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="ellipsisConfig.employee.isShowCloseButton" [showHeader]="ellipsisConfig.employee.isShowHeader"
                            [childConfigParams]="ellipsisConfig.employee.childConfigParams" [contentComponent]="ellipsisConfig.employee.component"
                            (ellipsisData)="onEmployeeDataReceived($event)"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24" for="DateTo">{{ 'To' | translate}}</label>
                    <div class="col12">
                        <icabs-datepicker id="DateTo" formControlName="DateTo" [isDirectiveBased]="false"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="PostcodeFilter">{{ 'Postcode' | translate}}</label>
                    <div class="col6 pr5">
                        <input id="PostcodeFilter" class="form-control" formControlName="PostcodeFilter" type="text" size="10" maxlength="10" eTypeCode>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-12">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="gridConfig.totalRecords" [itemsPerPage]="gridConfig.pageSize" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (headerClick)="riGridSort($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>