<!-- Page Content -->
<div class="container-fluid custom-container">
    <div class="row">
        <div class="col-sm-12 page-title mt10">
            <h1>
                {{ this['tableTitle'] | translate }}
            </h1>
        </div>
    </div>
    <form novalidate [formGroup]="this['uiForm']">
        <div #topContainer>
            <div class="row mt10" id="trContract">
                <div class="col-sm-4">
                    <label class="col24" id="labelContract" for="ContractNumber">{{ 'Contract' | translate }} </label>
                    <div class="col8 pr5">
                        <input formControlName="ContractNumber" type="text" class="form-control" size="9"
                            [attr.maxlength]="8" (blur)="contractonChange()" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input formControlName="ContractName" type="text" class="form-control" size="30"
                            [attr.maxlength]="40" eTypeText>
                    </div>
                    <div class="col2">
                    </div>
                </div>
            </div>
            <div class="row mt2" id="trPremise">
                <div class="col-sm-4">
                    <label class="col24" for="PremiseNumber">{{ 'Premises' | translate }} </label>
                    <div class="col8 pr5">
                        <input formControlName="PremiseNumber" type="text" class="form-control" size="9"
                            [attr.maxlength]="7" eTypeInteger>
                    </div>
                    <div class="col14 pr5">
                        <input formControlName="PremiseName" type="text" class="form-control" size="30"
                            [attr.maxlength]="40" eTypeText>
                    </div>
                    <div class="col2">
                    </div>
                </div>
            </div>
            <div class="row mt2" id="trProduct">
                <div class="col-sm-4">
                    <label class="col24" for="ProductCode">{{ 'Product' | translate }} </label>
                    <div class="col8 pr5">
                        <input formControlName="ProductCode" type="text" class="form-control" size="9"
                            [attr.maxlength]="6" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input formControlName="ProductDesc" type="text" class="form-control" size="30"
                            [attr.maxlength]="40" eTypeText>
                    </div>
                    <div class="col2">
                    </div>
                </div>
            </div>
            <hr class="mt20">
            <div class="row mt20">
                <div class="col-sm-6 pull-right">
                    <div class="col8 pr5">
                        <label class="col24">{{ 'Total Displays' | translate }}</label>
                        <div class="col24">
                            <input formControlName="TotalQty" size="4" class="form-control" eTypeInteger />
                        </div>
                    </div>

                    <div class="col8 pr5">
                        <label class="col24">{{ 'Value' | translate }}</label>
                        <div class="col24">
                            <input formControlName="TotalValue" size="10" class="form-control" eTypeCurrency />
                        </div>
                    </div>

                    <div class="col8">
                        <label class="col24">{{ 'W.E.D' | translate }}</label>
                        <div class="col24">
                            <input formControlName="TotalWEDValue" size="4" class="form-control" eTypeDecimal1 />
                        </div>
                    </div>
                </div>
            </div>

            <hr class="mt20 mb20">
            <div class="row mb20">
                <div class="col-sm-12">
                    <icabs-refresh (onRefresh)="refresh()" #refreshBtn
                        [disabled]="this['riGrid']['Mode'] === isDisabled"></icabs-refresh>
                    <icabs-pagination #serviceVisitDisplayGridPagination [currentPage]="currentPage"
                        [totalItems]="totalItems" [itemsPerPage]="itemsPerPage"
                        (getCurrentPage)="getCurrentPage($event)" *ngIf="(totalItems > 0)"
                        [disabled]="this['riGrid']['Mode'] === isDisabled "></icabs-pagination>
                </div>
                <div class="col-sm-12 mt10 ">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="onGridRowDblClick() " (bodyClick)="onGridRowClick($event)
                        " (bodyColumnBlur)="onCellKeyDown() "></icabs-grid-advanced>
                </div>
                <div class="col-sm-12 mt10 ">
                </div>
            </div>
        </div>
    </form>
</div>
<icabs-spinner [isRunning]="this[ 'isRequesting'] "></icabs-spinner>