<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ 'Premises Details' | translate }}</h1>
            </div>
        </div>

    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Contract Number' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="ContractNumber" size="9" maxlength="8" value="" class="form-control" formControlName="ContractNumber">
                    </div>
                    <div class="col16">
                        <input type="text" id="ContractName" size="40" maxlength="40" value="" class="form-control" formControlName="ContractName">
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Premises Number' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="PremiseNumber" size="9" maxlength="8" value="" class="form-control" formControlName="PremiseNumber">
                    </div>
                    <div class="col16">
                        <input type="text" id="PremiseName" size="40" maxlength="40" value="" class="form-control" formControlName="PremiseName">
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Product Code' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="ProductCode" size="9" maxlength="8" value="" class="form-control" formControlName="ProductCode">
                    </div>
                    <div class="col16">
                        <input type="text" id="ProductDesc" size="40" maxlength="40" value="" class="form-control" formControlName="ProductDesc">
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-4" [ngClass]="vSCEnableDetailLocations  ? '': 'hidden'">
                    <label class="col24">{{ 'Product Detail Code' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="ProductDetailCode" size="9" maxlength="8" value="" class="form-control" formControlName="ProductDetailCode">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="ProductDetailDesc" size="40" maxlength="40" value="" class="form-control" formControlName="ProductDetailDesc">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #ServiceCoverDetailEllipsis [childConfigParams]="inputParamsSearchExt" [contentComponent]="dynamicComponent1"
                            (ellipsisData)="ellipsisData($event)" [showHeader]="showHeader"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3 mt20 pull-right">
                    <select id="menu" class="form-control" (change)="optionsChange($event.target.value)">
                        <option>{{ 'Options' | translate }}</option>
                         <option value="AddLocation">{{ 'Add Location' | translate }}</option>
                          <option value="Empty">{{ 'Maintain Locations' | translate }}</option>
                    </select>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="refresh()"></icabs-refresh>
                    <icabs-pagination #ServiceCoverDetailLocationEntryGridPagination [totalItems]="totalRecords" [itemsPerPage]="itemsPerPage"
                        [canExport]="true" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
                <div class="col-sm-12 mt10">
                    <icabs-grid-advanced #riGrid id="riGrid" (bodyClick)=" riGrid_onGridRowClick($event)" (bodyColumnFocus)="riGrid_BodyColumnFocus($event)"
                        (bodyColumnBlur)="onCellClickBlur($event)"></icabs-grid-advanced>

                </div>
            </div>
            <div class="row">
                <!--assign the colors dynamically-->
                <div class="col-sm-12 text-center">
                    <label class="pr5">{{'Legend'| translate}}: </label>
                    <div class="inline-block pr10" *ngFor="let l of legend">
                        <div class="legend inline-block mr5" [style.background-color]="l.color"></div>
                        <label>{{l.label | translate}}</label>
                    </div>
                </div>
            </div>

            <input type="hidden" id="ServiceCoverRowID" size="9" maxlength="8" value="" class="form-control " formControlName="ServiceCoverRowID">
            <input type="hidden" id="ServiceCoverNumber" size="9" maxlength="8" value="" class="form-control " formControlName="ServiceCoverNumber">
            <input type="hidden" id="CurrentServiceCoverRowID" size="9" maxlength="8" value="" class="form-control " formControlName="CurrentServiceCoverRowID">
            <input type="hidden" id="PremiseLocationNumber" size="9" maxlength="8" value="" class="form-control " formControlName="PremiseLocationNumber">
            <input type="hidden" id="PremiseLocationDesc" size="9" maxlength="8" value="" class="form-control " formControlName="PremiseLocationDesc">
            <input type="hidden" id="ProductDetailDesc" size="9" maxlength="8" value="" class="form-control " formControlName="ProductDetailDesc">

        </section>
    </form>


</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-modal #errorModal="child" [showHeader]="true"></icabs-modal>