<div class="container-fluid custom-container">
    <div class="row">
        <div class="col-sm-12 page-title mt10">
            <h1>
                {{ 'Static Visits' | translate }}
            </h1>
        </div>
    </div>
    <form>
        <div #topContainer>
            <div class="row mt5">
                <div class="col-sm-5" *ngIf="dueContractDisplay">
                    <label class="col24">{{ 'Contract' | translate }}:</label>
                    <div class="col4 pr5">
                        <input type="text" id="ContractNumber" name="ContractNumber" [(ngModel)]="ContractNumber" class="form-control" placeholder=""
                            size="10" maxlength="8" disabled="disabled" eTypeCode>
                    </div>
                    <div class="col18 pr5">
                        <input type="text" id="ContractName" name="ContractName" class="form-control" [(ngModel)]="ContractName" placeholder="" size="25"
                            maxlength="10" [attr.disabled]="true">
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="col12 pr5" *ngIf="dueDateDisplay">
                        <label class="col24">{{ 'Service Due Date' | translate }}:</label>
                        <div class="col24">
                            <icabs-datepicker [isDisabled]="dueDateDisplay" [dt]="dueDateFormatted"></icabs-datepicker>
                        </div>
                    </div>
                    <div class="col12" *ngIf="!dueContractDisplay">
                        <label class="col24 ">{{ 'Service Due Month' | translate }}:</label>
                        <div class="col24">
                            <input type="text" id="SelectedMonth" name="SelectedMonth" [disabled]="dueMonthDisplay" [(ngModel)]="SelectedMonth" maxlength="2"
                                size="2" class="form-control" placeholder="" eTypeInteger>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col12 pr5" *ngIf="!dueContractDisplay">
                        <label class="col24">{{ 'Year' | translate }}:</label>
                        <div class="col24">
                            <input type="text" id="SelectedYear" name="SelectedYear" [disabled]="dueMonthDisplay" [(ngModel)]="SelectedYear" maxlength="4"
                                size="4" class="form-control" placeholder="" eTypeInteger>
                        </div>
                    </div>
                    <div class="col12">
                        <label class="col24">{{ 'Display Number Of Lines' | translate }}:</label>
                        <div class="col24">
                            <input type="text" id="GridPageSize" name="GridPageSize" [(ngModel)]="GridPageSize" maxlength="2" size="2" class="form-control"
                                placeholder="" pattern="^(?:[0-9]+)?(||null)$">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-5" *ngIf="duePremisetDisplay">
                    <label class="col24">{{ 'Premises' | translate }}:</label>
                    <div class="col4 pr5">
                        <input type="text" id="PremiseNumber" name="PremiseNumber" [(ngModel)]="PremiseNumber" size="10" maxlength="5" class="form-control"
                            placeholder="" disabled="disabled" eTypeInteger>
                    </div>
                    <div class="col18 pr5">
                        <input type="text" id="PremiseName" name="PremiseName" [(ngModel)]="PremiseName" size="25" maxlength="10" class="form-control"
                            placeholder="" disabled="disabled">
                    </div>
                </div>
            </div>

            <!--bunch of hidden elements in the page-->
            <input id="businessCode" name="businessCode" [(ngModel)]="businessCode" type="text" class="hidden">
            <input id="DateType" name="DateType" [(ngModel)]="DateType" type="text" class="hidden">

            <hr class="mt15 mb15" />

            <div class="row">
                <div class="col-sm-12">
                    <icabs-refresh (onRefresh)="getRefreshData()"> </icabs-refresh>
                    <icabs-pagination #apiContractPagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage"
                        (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
                <div class="col-sm-12 mt10">
                    <icabs-grid-advanced #riGrid (onSuccess)="riGrid_afterExecute()" (bodyDblClick)="dblClickGridRow()"></icabs-grid-advanced>
                </div>
            </div>

        </div>
    </form>
</div>