<div class="container-fluid custom-container">
	<div class="row">
		<div class="col-sm-12 page-title mt10">
			<h1>
				{{this['pageParams']['DocTitle']}}

			</h1>
		</div>
	</div>
	<!-- Projects Row -->
	<form [formGroup]="this['uiForm']">
		<div class="row mt5">
			<div class="col-sm-3">
				<label class="col24">{{this['pageParams'].currentContractTypeLabel}} {{ 'Number' | translate }}</label>
				<div class="col8 pr5">
					<input type="text" class="form-control" formControlName="ContractNumber" readonly placeholder=""
						eTypeCode>
				</div>
				<div class="col16">
					<input type="text" class="form-control" formControlName="ContractName" placeholder="" readonly
						eTypeText>
				</div>
			</div>
			<div class="col-sm-3" [hidden]="!this['pageParams'].labelInvoiceFreqeuencyCode">
				<label class="col24">{{ 'Invoice Frequency' | translate }}</label>
				<div class="col16">
					<input type="number" size="3" [attr.maxlength]="3" class="form-control" placeholder="" readonly
						formControlName="InvoiceFrequencyCode" eTypeInteger>
				</div>
			</div>
		</div>
		<div class="row mt2">
			<div class="col-sm-3">
				<label class="col24">{{ 'Account Number' | translate }} </label>
				<div class="col8 pr5">
					<input type="text" class="form-control" readonly formControlName="AccountNumber" eTypeCode>
				</div>
				<div class="col16">
					<input type="text" class="form-control" placeholder="" readonly formControlName="AccountName"
						eTypeText>
				</div>
			</div>
			<div class="col-sm-3" [hidden]="!this['pageParams'].labelInvoiceAnnivDate">
				<label class="col24">{{ 'Invoice Anniversary Date' | translate }} </label>
				<div class="col16">
					<input type="text" id="InvoiceAnnivDate" [attr.maxlength]="10" size="10" class="form-control"
						placeholder="" formControlName="InvoiceAnnivDate" eTypeDate>
				</div>
			</div>
		</div>
		<div class="row mt2">
			<div class="col-sm-3" [hidden]="!this['pageParams'].trPremise">
				<label class="col24">{{ 'Premises Number' | translate }}</label>
				<div class="col8 pr5">
					<input type="text" class="form-control" formControlName="PremiseNumber" eTypeInteger>
				</div>
				<div class="col16">
					<input type="text" class="form-control" placeholder="" formControlName="PremiseName" eTypeText>
				</div>
			</div>
			<div class="col-sm-3" [hidden]="!this['pageParams'].tdCommenceDate1">
				<label class="col24">{{ 'Commence Date' | translate }} </label>
				<div class="col16">
					<input type="text" id="ServiceCommenceDate" size="10" [attr.maxlength]="10" class="form-control"
						formControlName="ServiceCommenceDate" eTypeDate>
				</div>
			</div>
		</div>
		<div class="row mt2">
			<div class="col-sm-3" [hidden]="!this['pageParams'].trProduct">
				<label class="col24">{{ 'Product Code' | translate }}</label>
				<div class="col8 pr5">
					<input type="text" class="form-control" readonly formControlName="ProductCode" eTypeCode>
				</div>
				<div class="col16">
					<input type="text" class="form-control" placeholder="" readonly formControlName="ProductDesc"
						eTypeText>
				</div>
			</div>
			<div class="col-sm-6" [hidden]="!this['pageParams'].tdVisitFrequency1">
				<label class="col24">{{ 'Visit Frequency' | translate }} </label>
				<div class="col8 pr10">
					<input type="number" class="form-control" placeholder="" readonly
						formControlName="ServiceVisitFrequency" eTypeInteger>
				</div>
			</div>
		</div>
		<div class="row mt2">
			<div class="col-sm-3">
				<div class="col12 pr5">
					<label class="col24">{{ 'Select' | translate }}</label>
					<div class="col24 pr5">
						<select class="form-control" formControlName="ProRataSummaryFilter"
							(change)="ProRataSummaryFilter()">
							<option *ngFor="let item of optionsList" value="{{item.value}}">{{item.title | translate}}
							</option>
						</select>
					</div>
				</div>
				<div class="col12" [hidden]="!this['pageParams'].tdFilterStatus">
					<label class="col24">{{ 'Status' | translate }}</label>
					<div class="col24">
						<icabs-languagesearch (LangSearchReceived)="onLangDataReceived($event)" [active]="langSelected">
						</icabs-languagesearch>
					</div>
				</div>
			</div>
			<div class="col-sm-3" [hidden]="!this['pageParams'].tdFilterStatus">
			</div>
		</div>
		<div class="row mt2">
			<div class="col-sm-3" [hidden]="!this['pageParams'].tdFilterPremise">
				<label class="col24">{{ 'Premises Number' | translate }} </label>
				<div class="col8 pr5">
					<input type="text" size="6" [attr.maxlength]="6" class="form-control" (change)="onPremiseChange();"
						formControlName="FilterPremise" eTypeInteger>
				</div>
				<div class="col14 pr5">
					<input type="text" class="form-control" placeholder="" formControlName="FilterPremiseName"
						eTypeText>
				</div>
				<div class="col2">
					<icabs-ellipsis [showCloseButton]="showCloseButton" [childConfigParams]="inputParamsPremise"
						[contentComponent]="premiseSearchComponent"
						(ellipsisData)="onPremiseEllipsisDataReceived($event)" [showHeader]="showHeader">
					</icabs-ellipsis>
				</div>
			</div>
		</div>
		<hr class="mb15 mt15">
		<div class="row">
			<div class="col-sm-6">
				<icabs-refresh (click)="onRefresh()"></icabs-refresh>
				<icabs-pagination #proRataPagination [totalItems]="totalItems" [currentPage]="currentPage"
					[itemsPerPage]="itemsPerPage" (getCurrentPage)="getCurrentPage($event)" [canExport]="true"
					[exportOptions]="{dateColumns: this['dateCollist']}">
				</icabs-pagination>
			</div>
			<div class="col-sm-3 pull-right">
				<select class="form-control paddign-top-1" id="menu" formControlname="menu"
					(change)="onFilterInvoiceCreditCode($event.target.value)">
					<option *ngFor="let menu of menuList" value="{{menu.value}}">{{menu.title | translate}}</option>
				</select>
			</div>
		</div>
		<div class="row mt10">
			<div class="col-sm-12">
				<icabs-grid #proRataGrid [maxColumns]="maxColumn" [itemsPerPage]="itemsPerPage"
					[currentPage]="currentPage" (gridInfo)="getGridInfo($event)" (sortInfo)="sortGrid($event)"
					[sortIndex]="gridSortHeaders" (selectedRowInfo)="selectedDataOnDoubleClick($event)"
					[validateProperties]="validateProperties"></icabs-grid>
			</div>
		</div>
		<hr class="mt15 mb15">
	</form>
</div>
<icabs-modal #errorModal="child" [showCloseButton]="true" [showHeader]="true"></icabs-modal>
<icabs-modal #messageModal="child" [showCloseButton]="true" [showHeader]="true"></icabs-modal>
