<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5" *ngIf="!branchServicePlanningSummaryMode">
                <div class="col-sm-4">
                    <label class="col24" for="BranchServiceAreaCode">{{ 'Service Area' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="BranchServiceAreaCode" size="9" [attr.maxlength]="8"
                            formControlName="BranchServiceAreaCode" class="form-control" eTypeCode>
                    </div>
                    <div class="col16">
                        <input type="text" id="EmployeeSurname" size="40" [attr.maxlength]="40"
                            formControlName="EmployeeSurname" class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{ 'Week' | translate }}</label>
                    <div class="col12 pr5">
                        <input type="text" id="WeekNumber" size="2" [attr.maxlength]="2" formControlName="WeekNumber"
                            class="form-control" eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <div class="col12 pr5">
                        <label for="StartDate">{{ 'Plan From' | translate }}</label>
                        <icabs-datepicker id="StartDate" formControlName="StartDate" [isDirectiveBased]="false">
                        </icabs-datepicker>
                    </div>
                    <div class="col12" *ngIf="!branchServicePlanningSummaryMode">
                        <label class="col24">{{ 'To' | translate }}<span class="mandatory">*</span></label>
                        <icabs-datepicker id="EndDate" formControlName="EndDate" [isDirectiveBased]="false"
                            [isRequired]="true" (onChange)="endDateSelectedValue($event)"></icabs-datepicker>
                    </div>
                    <div class="col12" *ngIf="branchServicePlanningSummaryMode">
                        <label class="col24">{{ 'To' | translate }}<span class="mandatory">*</span></label>
                        <icabs-datepicker id="EndDateBrServicePlan" formControlName="EndDateBrServicePlan"
                            [isDirectiveBased]="false"></icabs-datepicker>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="!branchServicePlanningSummaryMode">
                    <label class="col24">{{ 'Service Plan Number' | translate }}</label>
                    <div class="col12 pr5">
                        <input type="text" id="ServicePlanNumber" size="10" [attr.maxlength]="10"
                            formControlName="ServicePlanNumber" class="form-control" eTypeInteger>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="branchServicePlanningSummaryMode">
                    <label class="col24">{{ 'Week' | translate }}</label>
                    <div class="col12 pr5">
                        <input type="text" id="WeekNumber" size="2" [attr.maxlength]="2" formControlName="WeekNumber"
                            class="form-control" eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row mt20" *ngIf="!branchServicePlanningSummaryMode">
                <div class="col-sm-4">
                    <input type="button" id="cmdWorkList" class="btn btn-additional"
                        value="{{ 'Worklist' | translate }}" (click)="actionButtonClicked('workList')">
                </div>
            </div>
            <hr class="mt15 mb15">

            <div>
                <div id="nav-error-list" [hidden]="!naverrorlist">
                    <h4>Nav Error(s) count:
                        {{ (naverrorlist && naverrorlist.pageData && naverrorlist.pageData.numResults) || 0 }}</h4>
                    <ul *ngIf="naverrorlist && naverrorlist.records && naverrorlist.records.length">
                        <li *ngFor="let error of naverrorlist.records">
                            {{ error.Message }}
                        </li>
                    </ul>
                </div>

                <div class="col-sm-12 mt10" [hidden]="isStockAvailable">
                    <div class="col-sm-12">
                        <icabs-table #navErrorDataTable [isEnableSort]="true" [columns]="columns" [isStaticMode]="true"
                            [showPagination]="false" [isRefreshVisible]="false" [showEmptyBlock]="true">
                        </icabs-table>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="gridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [ngClass]="{'hidden': isHidePagination}"
                        [totalItems]="gridParams['totalRecords']" [itemsPerPage]="gridParams['itemsPerPage']"
                        [currentPage]="gridParams.pageCurrent" [canExport]="true"
                        (getCurrentPage)="getCurrentPage($event)" [exportOptions]="{dateColumns: '4'}">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid name="riGrid" id="riGrid" (bodyDblClick)="onGridDblClick($event)"
                        (bodyClick)="onGridBodyClick($event)" (bodyColumnBlur)="onCellBlur($event)"
                        (onSuccess)="riGridAfterExecute()"></icabs-grid-advanced>
                </div>
            </div>
            <div class="row mt15" *ngIf="!branchServicePlanningSummaryMode">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Optimisation' | translate }}</label>
                    <input type="button" class="btn btn-primary mr5" value="{{'Automatic' | translate}}"
                        (click)="actionButtonClicked('automatic')"
                        [ngClass]="!this['pageParams']['isOptimse'] ? 'hidden' : ''">
                    <input type="button" class="btn btn-primary mr5" value="{{'Manual' | translate}}"
                        (click)="actionButtonClicked('manual')">
                    <input type="button" class="btn btn-primary mr5" value="{{'Undo' | translate}}"
                        (click)="actionButtonClicked('undo')" [ngClass]="!this['pageParams']['isUndo'] ? 'hidden' : ''">
                </div>
                <div class="col-sm-8 pull-right">
                    <div class="col4 pr5">
                        <label class="col24" for="TotalNoOfCalls">{{ 'Total Visits' | translate }}</label>
                        <input type="text" id="TotalNoOfCalls" class="form-control" [attr.maxlength]="6" size="6"
                            formControlName="TotalNoOfCalls" eTypeInteger>
                    </div>
                    <div class="col4 pr5">
                        <label class="col24" for="TotalNoOfExchanges">{{ 'Units' | translate }}</label>
                        <input type="text" id="TotalNoOfExchanges" class="form-control" [attr.maxlength]="6" size="6"
                            formControlName="TotalNoOfExchanges" eTypeInteger>
                    </div>
                    <div class="col4 pr5" [ngClass]="!this['pageParams']['isTotalWeight'] ? 'hidden' : ''">
                        <label class="col24" for="TotalWeight">{{ 'Weights' | translate }}</label>
                        <input type="text" id="TotalWeight" class="form-control" [attr.maxlength]="6" size="6"
                            formControlName="TotalWeight" eTypeDecimal2>
                    </div>
                    <div class="col4 pr5" [ngClass]="!this['pageParams']['isTotalWed'] ? 'hidden' : ''">
                        <label class="col24" for="TotalWED">{{ 'W.E.D' | translate }}</label>
                        <input type="text" id="TotalWED" class="form-control" [attr.maxlength]="6" size="6"
                            formControlName="TotalWED" eTypeDecimal1>
                    </div>
                    <div class="col4 pr5">
                        <label class="col24" for="TotalTime">{{ 'Time' | translate }}</label>
                        <input type="text" id="TotalTime" class="form-control" [attr.maxlength]="6" size="6"
                            formControlName="TotalTime" eTypeText>
                    </div>
                    <div class="col4 pr5">
                        <label class="col24" for="TotalNettValue">{{ 'Nett Value' | translate }}</label>
                        <input type="text" id="TotalNettValue" class="form-control" [attr.maxlength]="15" size="15"
                            formControlName="TotalNettValue" eTypeCurrency>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <hr class="mt15 mb15">
    <footer class="screen-footer">
        <div class="row mt20" *ngIf="!branchServicePlanningSummaryMode">
            <div class="col-sm-4">
                <input type="button" class="btn btn-primary mr5" value="{{'Undo Proposed Plan' | translate}}"
                    (click)="actionButtonClicked('undoProposed')"
                    [disabled]="this['pageParams']['isUndoConfirmEnable']">
                <input type="button" class="btn btn-primary" value="{{'Confirm Plan' | translate}}"
                    (click)="actionButtonClicked('confirm')" [disabled]="this['pageParams']['isUndoConfirmEnable']">
            </div>
        </div>
        <div class="row mt20" *ngIf="branchServicePlanningSummaryMode && brServicePlanGridData">
            <div class="col-sm-6">
                <input type="button" class="btn btn-primary"
                    value="{{this['pageParams']['brServicePlanConstants']['btnSelectAll'] | translate}}"
                    (click)="onBrServicePlanGridSelectAll(true)"
                    [disabled]="!this['pageParams']['enableBrServicePlanSelectAll'] && brServicePlanGridData['body']['cells'].length">
                <input type="button" class="btn btn-primary"
                    value="{{this['pageParams']['brServicePlanConstants']['btnSelectNone'] | translate}}"
                    (click)="onBrServicePlanGridSelectAll(false)"
                    [disabled]="!this['pageParams']['enableBrServicePlanActButtons'] && brServicePlanGridData['body']['cells'].length">
                <input type="button" class="btn btn-primary"
                    value="{{this['pageParams']['brServicePlanConstants']['btnConfirmSelcetedPlans'] | translate}}"
                    (click)="checkStockBeforeConfirmPlan()"
                    [disabled]="!this['pageParams']['enableBrServicePlanActButtons'] && brServicePlanGridData['body']['cells'].length"
                    title="{{!this['pageParams']['enableBrServicePlanActButtons']? this['pageParams']['buttonTitleWhenDisabled']:''}}">
            </div>
        </div>
    </footer>
</section>
<icabs-custom-alert [messageType]="messageType" [alertMessage]="customAlertMsg"></icabs-custom-alert>

<icabs-prompt-modal #promptModal="child" [(showHeader)]="showMessageHeader" [title]="promptTitle"
    [content]="promptContent" (saveEmit)="promptYes($event)" [optValueYesorNo]="true" [showCloseButton]="false"
    [showCancelBtn]="false" [disableEscape]="true">
</icabs-prompt-modal>
<icabs-spinner [isRunning]="this['isRequesting']" [ngClass]="isMobile ? 'onMobile' : '' "></icabs-spinner>
