<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ 'Service Visit Planning Maintenance' | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="ContractNumber">{{ 'Contract' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="ContractNumber" size="9" maxlength="8" formControlName="ContractNumber" class="form-control">
                    </div>
                    <div class="col16">
                        <input type="text" id="ContractName" size="30" maxlength="40" formControlName="ContractName" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col8 mt20">
                        <input type="button" id="btnAddLinked" class="btn btn-additional" value="{{'Add Linked Product' | translate}}" (click)="btnAddLinked_onClick()">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="PremiseNumber">{{ 'Premises' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="PremiseNumber" size="9" maxlength="7" formControlName="PremiseNumber" class="form-control">
                    </div>
                    <div class="col16">
                        <input type="text" id="PremiseName" size="30" maxlength="40" formControlName="PremiseName" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="ProductCode">{{ 'Product' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="ProductCode" size="9" maxlength="6" formControlName="ProductCode" class="form-control">
                    </div>
                    <div class="col16">
                        <input type="text" id="ProductDesc" size="30" maxlength="40" formControlName="ProductDesc" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="ServiceVisitFrequency">{{ 'Service Visit Frequency' | translate }}</label>
                    <div class="col8">
                        <input type="text" id="ServiceVisitFrequency" size="9" formControlName="ServiceVisitFrequency" class="form-control">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="refresh()"></icabs-refresh>
                    <icabs-pagination #riPagination *ngIf="totalRecords > 0" [totalItems]="totalRecords" [itemsPerPage]="pageSize" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
                <div class="col-sm-12 mt10">
                    <icabs-grid-advanced #riGrid id="riGrid" (bodyDblClick)="tbody_onDblClick($event)" (bodyClick)="riGrid_BodyOnClick($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
        <div>
            <input id="SCRowID" style="display:none">
            <input id="BusinessCode" style="display:none">
            <input id="ServiceCoverNumber" style="display:none">
            <input id="RefreshGrid" style="display:none">
            <input id="DispenserInd" style="display:none">
            <input id="ConsumableInd" style="display:none">
        </div>
    </form>
</section>
<icabs-modal #errorModal="child" [(showHeader)]="showErrorHeader"></icabs-modal>
<icabs-modal #messageModal="child" [(showHeader)]="showMessageHeader"></icabs-modal>