<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="ContractNumber">{{ 'Contract Number' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="ContractNumber" size="9" maxlength="8" formControlName="ContractNumber" class="form-control" eTypeCode>
                    </div>
                    <div class="col16">
                        <input type="text" id="ContractName" size="40" maxlength="40" formControlName="ContractName" class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="ServiceVisitFrequency">{{ 'Frequency' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="ServiceVisitFrequency" size="9" maxlength="4" formControlName="ServiceVisitFrequency" class="form-control"
                            eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="PremiseNumber">{{ 'Premises Number' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="PremiseNumber" size="9" maxlength="8" formControlName="PremiseNumber" class="form-control" eTypeInteger>
                    </div>
                    <div class="col16">
                        <input type="text" id="PremiseName" size="40" maxlength="40" formControlName="PremiseName" class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="BranchServiceAreaCode">{{ 'Service Area' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="BranchServiceAreaCode" size="9" maxlength="8" formControlName="BranchServiceAreaCode" class="form-control"
                            eTypeCode>
                    </div>
                    <div class="col16">
                        <input type="text" id="EmployeeSurname" size="40" maxlength="40" formControlName="EmployeeSurname" class="form-control" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="ProductCode">{{ 'Product Code' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="ProductCode" size="9" maxlength="8" formControlName="ProductCode" class="form-control" eTypeCode>
                    </div>
                    <div class="col16">
                        <input type="text" id="ProductDesc" size="40" maxlength="40" formControlName="ProductDesc" class="form-control" eTypeTextFree>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="PlanningStatus">{{ 'Status' | translate }}</label>
                    <div class="col14 pr5">
                        <select class="form-control" (change)="planningStatusOnchange($event.target.value)" formControlName="PlanningStatus">
                            <option value="All">{{'All' | translate}}</option>
                            <option value="Outstanding">{{'All Outstanding Visits' | translate}}</option>
                            <option value="U">{{'Unplanned' | translate}}</option>
                            <option value="I">{{'In Planning' | translate}}</option>
                            <option value="P">{{'Planned' | translate}}</option>
                            <option value="C">{{'Cancelled' | translate}}</option>
                            <option value="V">{{'Visited' | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Due From Date' | translate }}<span class="mandatory">* </span></label>
                    <div class="col12 pr5">
                        <input size="15" formControlName="DueDateFrom" [attr.maxlength]="15" class="form-control hidden" eTypeDate>
                        <icabs-datepicker [isRequired]="true" [(dt)]="dueDateFrom" (selectedValue)="dueDateFromSelectedValue($event)"></icabs-datepicker>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{ 'To' | translate }}<span class="mandatory">* </span></label>
                    <div class="col12 pr5">
                        <input size="15" formControlName="DueDateTo" [attr.maxlength]="15" class="form-control hidden" eTypeDate>
                        <icabs-datepicker [isRequired]="true" [(dt)]="dueDateTo" (selectedValue)="dueDateToSelectedValue($event)"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-4 mt20">
                    <icabs-refresh (click)="refresh($event)"></icabs-refresh>
                    <icabs-pagination #servicePlannedDatesPagination [totalItems]="totalRecords" [currentPage]="pageCurrent" [itemsPerPage]="pageSize"
                        (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="DisplayLines">{{ 'Display Lines' | translate }}<span class="mandatory">* </span></label>
                    <div class="col8 pr5">
                        <input type="text" id="DisplayLines" formControlName="DisplayLines" (change)="gridPageSizeOnchange($event)" size="2" [attr.maxlength]="2"
                            eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 mt10">
                    <icabs-grid-advanced #riGrid (TRClick)="riGridBodyOnClick($event)" (TRDblClick)="tbodyServicePlannedDatesOnDblClick($event)"
                        (headerClick)="onRiGridSort()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>