<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt10" id="grdInformation">
                <div class="col-sm-3">
                    <label class="col24" id="labeldlContractRef" for="dlContractRef">{{ 'Contract Ref' | translate }} </label>
                    <div class="col24 pr5">
                        <input type="text" class="form-control" id="dlContractRef" formControlName="dlContractRef" size="30" maxlength="30">
                    </div>
                </div>
            </div>
            <div class="row mt2" id="trPremise">
                <div class="col-sm-3">
                    <label class="col24" id="labeldlPremiseRef" for="dlPremiseRef">{{ 'Premises Ref' | translate }} </label>
                    <div class="col24">
                        <input type="text" class="form-control" id="dlPremiseRef" formControlName="dlPremiseRef" size="30" maxlength="30">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-3 pull-right" id="tdMenu">
                    <select id="menu" formControlName="menu" class="form-control" [ngClass]="!this['pageParams']['isOptions'] ? 'hidden' :'' "
                        (change)="selectedOption($event.target.value)">
                            <option value="Options" [selected]="true">{{ 'Options' | translate }}</option>
                            <option value="AddServiceCover">{{ 'Add Service Cover' | translate }}</option>
                        </select>
                </div>
                <div class="col-sm-6 ">
                    <icabs-refresh (click)="gridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [ngClass]="{'hidden': isHidePagination}" [totalItems]="gridParams['totalRecords']" [itemsPerPage]="gridParams['itemsPerPage']"
                        [currentPage]="gridParams['pageCurrent']" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
                <div class="col-sm-12 mt10">
                    <icabs-grid-advanced #riGrid (headerClick)="riGridSort($event)" (bodyDblClick)="onGridDblClick($event)" (bodyClick)="onGridBodyClick($event)"
                        (bodyKeyDown)="riGridBodyOnKeyDown($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>