<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1> {{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="ContractNumber">{{ 'Contract' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" #formContractNumber id="ContractNumber" [attr.maxlength]="8" formControlName="ContractNumber" (change)="onChangeContract()"
                            class="form-control" icabsZeroPad eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="ContractName" [attr.maxlength]="40" formControlName="ContractName" class="form-control" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="ellipsis.contractEllipsis.showCloseButton" [childConfigParams]="ellipsis.contractEllipsis.childparams"
                            [modalConfig]="modalConfig" [contentComponent]="ellipsis.contractEllipsis.component" (ellipsisData)="onDataReceivedContract($event)"
                            [showHeader]="ellipsis.contractEllipsis.showHeader"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="ShowType">{{ 'Show' | translate }}</label>
                    <div class="col14 pr5">
                        <select class="form-control" formControlName="ShowType" id="ShowType">
                            <option value="All" selected>{{ 'All Entitlement' | translate }}</option>
                            <option value="Within">{{ 'Within Entitlement' | translate }}</option>
                            <option value="Exceeded">{{ 'Exceeded Entitlement' | translate }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="PremiseNumber">{{ 'Premises' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="PremiseNumber" size="9" [attr.maxlength]="8" formControlName="PremiseNumber" (change)="onChangePopulateDesc()"
                            class="form-control" eTypeInteger>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="PremiseName" size="40" [attr.maxlength]="40" formControlName="PremiseName" class="form-control" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #PremiseEllipsis [disabled]="ellipsis.premise.disabled" [modalConfig]="modalConfig" [showCloseButton]="ellipsis.premise.showCloseButton"
                            [showHeader]="ellipsis.premise.showHeader" [childConfigParams]="ellipsis.premise.childConfigParams"
                            [contentComponent]="ellipsis.premise.component" (ellipsisData)="onPremiseDataReceived($event)"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3" [ngClass]="isServiceDate ? '':'hidden'">
                    <label class="col24" for="ServiceDate">{{ 'Service Date' | translate }}</label>
                    <div class="col14 pr5">
                        <icabs-datepicker formControlName="ServiceDate" (onChange)="fromDateSelectedValue($event)" id="ServiceDate" [isDirectiveBased]="false"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="ProductCode">{{ 'Product' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="ProductCode" [attr.maxlength]="8" formControlName="ProductCode" class="form-control" (change)="onChangeProduct()"
                            eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="ProductDesc" [attr.maxlength]="40" formControlName="ProductDesc" class="form-control" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #ProductEllipsis [disabled]="ellipsis.product.disabled" [showCloseButton]="ellipsis.product.showCloseButton"
                            [showHeader]="ellipsis.product.showHeader" [childConfigParams]="ellipsis.product.childConfigParams"
                            [contentComponent]="ellipsis.product.component" (ellipsisData)="onProductDataReceived($event)"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="BranchServiceAreaSeqNo">{{ 'From Seq No' | translate }}</label>
                    <div class="col14 pr5">
                        <input type="text" id="BranchServiceAreaSeqNo" [attr.maxlength]="6" formControlName="BranchServiceAreaSeqNo" class="form-control"
                            eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="BranchServiceAreaCode">{{ 'Area' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="BranchServiceAreaCode" [attr.maxlength]="4" formControlName="BranchServiceAreaCode" class="form-control"
                            (change)="onChangePopulateDesc()" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="BranchServiceAreaDesc" [attr.maxlength]="40" formControlName="BranchServiceAreaDesc" class="form-control"
                            eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="ellipsis.searchValueEllipsis.showCloseButton" [childConfigParams]="ellipsis.searchValueEllipsis.childparams"
                            [modalConfig]="modalConfig" [contentComponent]="ellipsis.searchValueEllipsis.component" (ellipsisData)="onDataReceivedBSA($event)"
                            [showHeader]="ellipsis.searchValueEllipsis.showHeader"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4" [ngClass]="isDeliveryNoteNumber ? '':'hidden'">
                    <label class="col24" for="DeliveryNoteNumber">{{ 'Delivery Note Number' | translate }}</label>
                    <div class="col14 pr5">
                        <input type="text" id="DeliveryNoteNumber" [attr.maxlength]="10" formControlName="DeliveryNoteNumber" class="form-control"
                            eTypeInteger>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="refresh()"></icabs-refresh>
                    <icabs-pagination [totalItems]="totalRecords" *ngIf="totalRecords > 0" [itemsPerPage]="pageSize" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
                <div class="col-sm-12 mt10">
                    <icabs-grid-advanced #riGrid id="riGrid" (bodyKeyDown)="riGridBodyOnKeyDown($event)" (headerClick)="riGridSort($event)" (bodyDblClick)="riGridBodyOnDBLClick($event)"></icabs-grid-advanced>
                </div>
            </div>
            <input type="hidden" id="BranchNumber" formControlName="BranchNumber" class="form-control" eTypeInteger>
            <input type="hidden" id="BranchName" formControlName="BranchName" class="form-control" eTypeText>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>