<div class="container-fluid custom-container">
    <div class="row">
        <div class="col-xs-12 page-title mt10">
            <h1>
                {{ 'Planned Visits'| translate }}
            </h1>
        </div>
    </div>

    <div #topContainer>
        <form novalidate [formGroup]="planvisitFormGroup">
            <div class="row mt5">
                <div class="col-xs-3">
                    <label class="col24 " for="ContractNumber">{{ 'Contract' | translate }}</label>
                    <div class="col8 pr5">
                        <input class="form-control padding-left-zero" id="ContractNumber" size="9" maxlength="8" formControlName="ContractNumber"
                            disabled="disabled" type="text">
                    </div>
                    <div class="col16">
                        <input class="form-control padding-zero" id="ContractName" size="30" maxlength="40" formControlName="ContractName" type="text">
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="col12 pr5">
                        <label class="col24" for="View">{{'View by' | translate}}</label>
                        <div class="col24">
                            <select class="form-control">
                                <option>{{''}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col12">
                        <label class="col24" for="View">{{'Year' | translate}}</label>
                        <div class="col24">
                            <select class="form-control">
                                <option>{{''}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-xs-3">
                    <label class="col24 " for="PremiseNumber">{{ 'Premises' | translate }}</label>
                    <div class="col8 pr5">
                        <input class="form-control padding-left-zero" id="PremiseNumber" disabled="disabled" size="9" maxlength="7" formControlName="PremiseNumber"
                            type="text">
                    </div>
                    <div class="col16">
                        <input class="form-control padding-zero" id="PremiseName" size="30" maxlength="40" formControlName="PremiseName" type="text">
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="col12">
                        <label class="col24" for="View">{{'Options' | translate}}</label>
                        <div class="col24">
                            <icabs-dropdown-static #BuildMenuOptions [inputData]="MenuOptionList" [defaultOption]="defaultOpt" (onSelect)="onbuildmenyOptionChange($event)"></icabs-dropdown-static>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt2">
                <div class="col-xs-3">
                    <label class="col24 " for="ProductCode">{{ 'Product' | translate }}</label>
                    <div class="col8 pr5">
                        <input class="form-control padding-left-zero" disabled="disabled" id="ProductCode" size="9" maxlength="6" formControlName="ProductCode"
                            type="text">
                    </div>
                    <div class="col16">
                        <input class="form-control padding-zero" id="ProductDesc" size="30" maxlength="40" formControlName="ProductDesc" type="text">
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="col12 pr5">
                        <label class="col24">{{ 'From' | translate }}</label>
                        <div class="col24">
                            <icabs-datepicker [dt]="dtfrom" (selectedValue)="fromDateSelectedValue($event)"></icabs-datepicker>
                        </div>
                    </div>
                    <div class="col12">
                        <label class="col24">{{ 'To' | translate }}</label>
                        <div class="col24">
                            <icabs-datepicker [dt]="dtto" (selectedValue)="toDateSelectedValue($event)"></icabs-datepicker>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt2">
                <div class="col-xs-3">
                    <label class="col24 " for="PremiseLocationNumber">{{ 'Location' | translate }}</label>
                    <div class="col8 pr5">
                        <input class="form-control padding-left-zero" id="PremiseLocationNumber" (blur)="PremiseLocationNumber_onchange()" size="9"
                            maxlength="7" formControlName="PremiseLocationNumber" type="text">
                    </div>
                    <div class="col16">
                        <input class="form-control padding-zero" id="PremiseLocationDesc" size="30" maxlength="40" formControlName="PremiseLocationDesc"
                            type="text" readonly="readonly">
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="col12 mt20">
                        <button class="btn btn-primary mr5" id="cmdPlanVisitCancel" value="PlanVisitCancel" (click)="cmdPlanVisitCancel_onClick()">Cancel</button>
                        <button class="btn btn-primary" id="cmdPlanVisitGenLabels" value="PlanVisitGenLabels" (click)="cmdPlanVisitGenLabels_onClick()">Generate Labels</button>
                    </div>
                </div>
            </div>

            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col2">
                        <button class="btn btn-primary">Grid view</button>
                    </div>
                    <div class="col22">
                        <div class="inline-block mr10">
                            <label>{{ 'Total Visits' | translate }} : <input class=""></label>
                        </div>
                        <div class="inline-block mr10">
                            <label>{{ 'Units' | translate }} : <input class=""></label>
                        </div>
                        <div class="inline-block mr10">
                            <label>{{ 'W.E.D' | translate }} : <input class=""></label>
                        </div>
                        <div class="inline-block mr10">
                            <label>{{ 'Time' | translate }} : <input class=""></label>
                        </div>
                        <div class="inline-block">
                            <label>{{ 'Nett Value' | translate }} : <input class=""></label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <hr class="mt15 mb15">
        <div class="row">
            <div class="col-xs-3">
                <icabs-refresh></icabs-refresh>
                <icabs-pagination></icabs-pagination>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <icabs-grid #planVisitGrid [maxColumns]="maxColumn" (sortInfo)="sortGrid($event)" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage"
                    (gridInfo)="getGridInfo($event)" (selectedRowInfo)="onGridRowClick($event)"></icabs-grid>
            </div>
        </div>
    </div>
</div>

<input id="VisitNarrativeCode" style="display:none">
<input id="CancelRowid" style="display:none">
<input id="GenLabelsRowid" style="display:none">
<input id="QtyMessage" style="display:none">
<input id="DisplayLabelsIcons" style="display:none">
<input id="BusinessCode" style="display:none">
<input id="ServiceCoverNumber" style="display:none">

<icabs-modal #errorModal="child" [(showHeader)]="showErrorHeader">
</icabs-modal>

<icabs-modal #messageModal [(showHeader)]="showMessageHeader">
</icabs-modal>
