<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="ContractNumber">{{ 'Contract' | translate}}</label>
                    <div class="col8 pr5">
                        <input id="ContractNumber" class="form-control" type="text" maxlength="10" size="8" formControlName="ContractNumber" eTypeCode>
                    </div>
                    <div class="col16">
                        <input id="ContractName" class="form-control" type="text" size="40" maxlength="50" formControlName="ContractName" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="PremiseNumber">{{ 'Premises' | translate}}</label>
                    <div class="col8 pr5">
                        <input id="PremiseNumber" class="form-control text-right" type="text" size="8" maxlength="10" formControlName="PremiseNumber"
                            eTypeInteger>
                    </div>
                    <div class="col16">
                        <input id="PremiseName" class="form-control" type="text" size="40" maxlength="50" formControlName="PremiseName" eTypeText>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24" for="StatusSearchType">{{ 'Status' | translate}}</label>
                    <div class="col12">
                        <icabs-dropdown-static #statusSearchTypeDropDown class="" [inputData]="statusSearchTypeOptions" [disabled]="false" (onSelect)="statusSearchTypeOptionsChange($event)"></icabs-dropdown-static>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="refresh()"></icabs-refresh>
                    <icabs-pagination #linkedPremiseSummaryGridPagination [itemsPerPage]="itemsPerPage" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
                <div class="col-sm-12 mt10">
                    <icabs-grid #linkedPremiseSummaryGrid [maxColumns]="maxColumn" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage"
                        (gridInfo)="getGridInfo($event)" (selectedRowInfo)="gridOnDblClick($event)" [validateProperties]="validateProperties"></icabs-grid>
                </div>
            </div>
        </section>
    </form>
</section>