<div class="container-fluid custom-container">
    <div class="row">
        <div class="col-xs-12 page-title mt10">
            <h1>{{'Account Premises Search'}}</h1>
        </div>
    </div>
    <div class="row mt5">
        <div class="col-xs-3">
            <label class="col24" for="Account Number">{{'Account Number'}}</label>
            <div class="col8 pr5">
                <input type="text" class="form-control" placeholder="" name="AccountNumber" value={{accountNumber}}>
            </div>
            <div class="col16">
                <input type="text" class="form-control" placeholder="" name="AccountName" value={{accountName}}>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt10">
        <div class="col-xs-3">
            <icabs-refresh (click)="searchload()"></icabs-refresh>
            <icabs-pagination #accountPremisePagination *ngIf="totalRecords > 0" [totalItems]="totalRecords" [itemsPerPage]="itemsPerPage"
                (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
        </div>
    </div>
    <div class="row mt10">
        <div class="col-xs-12">
            <icabs-grid #accountPremise [maxColumns]="maxColumn" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage" (gridInfo)="getGridInfo($event)"></icabs-grid>
        </div>
    </div>
</div>