<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="BranchName">{{ 'Branch' | translate}}</label>
                    <div class="col24">
                        <div class="col6 pr5">
                            <input type="text" id="BranchNumber" size="8" maxlength="5" formControlName="BranchNumber" class="form-control" eTypeInteger>
                        </div>
                        <div class="col16 pr5">
                            <input id="BranchName" class="form-control" formControlName="BranchName" type="text" size="30" maxlength="35" eTypeText>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="BranchServiceAreaCode">{{ 'Branch Service Area' | translate}}</label>
                    <div class="col6 pr5">
                        <input #formBranchServiceAreaCode id="BranchServiceAreaCode" class="form-control" formControlName="BranchServiceAreaCode"
                            type="text" size="7" maxlength="6" (change)="onChangeBranchServiceAreaCode()" eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input id="EmployeeSurname" class="form-control" formControlName="EmployeeSurname" type="text" size="30" maxlength="35" eTypeTextFree>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="ellipsis.serviceAreaEllipsis.showCloseButton" [childConfigParams]="ellipsis.serviceAreaEllipsis.childparams"
                            [modalConfig]="modalConfig" [contentComponent]="ellipsis.serviceAreaEllipsis.component" (ellipsisData)="onDataReceivedServiceSearch($event)"
                            [showHeader]="ellipsis.serviceAreaEllipsis.showHeader"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt10 hidden">
                <div class="col-sm-4">
                    <div class="col24">
                        <input type="checkbox" class="form-control" id="PlanVisitsDue" formControlName="PlanVisitsDue" (change)="onChangePlanVisit()"
                            eTypeCheckbox>
                            <label class="col24" for="PlanVisitsDue">{{'Plan Visits Due'|translate}}</label>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <div class="col12 pr5">
                        <label class="col24" for="DateFrom">{{'From'|translate}}</label>
                        <icabs-datepicker #formDateFrom formControlName="DateFrom" (onChange)="fromDateSelectedValue($event)" id="DateFrom" [isRequired]="isDatePickerRequired"
                            [isDirectiveBased]="false"></icabs-datepicker>
                    </div>
                    <div class="col12">
                        <label class="col24" for="DateTo">{{'To'|translate}}</label>
                        <icabs-datepicker #formDateTo formControlName="DateTo" (onChange)="toDateSelectedValue($event)" id="DateTo" [isRequired]="isDatePickerRequired"
                            [isDirectiveBased]="false"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="RegulatoryAuthorityNumber">{{'Regulatory Authority'|translate}}</label>
                    <div class="col24">
                        <select id="RegulatoryAuthorityNumber" formControlName="RegulatoryAuthorityNumber" class="form-control" (change)="onChangeRAN()"
                            eTypeInteger>
                            <option selected value="0">{{'All'|translate}}</option>
                            <option *ngFor="let item of regulatoryArr" [value]="item.value">
                                {{item.text | translate}}
                            </option>
                            </select>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-12">
                    <icabs-refresh (click)="gridRefresh()"></icabs-refresh>
                    <icabs-pagination [totalItems]="totalRecords" *ngIf="totalRecords > 0" [itemsPerPage]="pageSize" (getCurrentPage)="getCurrentPage($event)"  [canExport]="true" [exportOptions]="expCfg"></icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid id="riGrid" (bodyClick)="riGridBodyOnClick($event)" (onSuccess)="riGridAfterExecute()" (bodyKeyDown)="riGridBodyOnKeyDown($event)"
                        (bodyDblClick)="riGridBodyOnDBLClick($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
    <footer class="screen-footer">
        <div class="row mt5">
            <div class="col-sm-6">
                <input type="button" (click)="onClickGenerate()" class="btn btn-additional mr5" value="{{'Generate' | translate}}">
                <input type="button" (click)="onClickPrint()" [disabled]="isPrintButton" class="btn btn-additional" value="{{'Print All' | translate}}">
            </div>
            <div class="col-sm-6" [ngClass]="showInformation ? '' : 'hidden'">
                <label class="message-box info-label">{{ this.showInformationData }}</label>
            </div>
        </div>
    </footer>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>