<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    <h1> {{ this['pageTitle'] | translate }}</h1>
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Service Area' | translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="BranchServiceAreaCode" size="8" formControlName="BranchServiceAreaCode" class="form-control" eTypeCode>
                    </div>
                    <div class="col16">
                        <input type="text" id="BranchServiceAreaDesc" size="30" formControlName="BranchServiceAreaDesc" class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col12 pr5">
                        <label class="col24">{{'Activity Date' | translate}}</label>
                        <div class="col24">
                            <icabs-datepicker #formActualVisitDate formControlName="ActualVisitDate" (onChange)="activityDateSelectedValue($event)" id="ActualVisitDate"
                                [isRequired]="isMakemandatory" [isDirectiveBased]="false"></icabs-datepicker>
                        </div>
                    </div>
                    <div class="col6 pr5">
                        <label class="col24">{{'Start Time' | translate}}</label>
                        <div class="col24">
                            <input type="text" id="ActualStartTime" size="5" formControlName="ActualStartTime" class="form-control" eTypeTime>
                        </div>
                    </div>
                    <div class="col6">
                        <label class="col24">{{'End' | translate}}</label>
                        <div class="col24">
                            <input type="text" id="ActualEndTime" size="5" formControlName="ActualEndTime" class="form-control" eTypeTime>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Employee' | translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="EmployeeCode" size="8" formControlName="EmployeeCode" class="form-control" eTypeCode>
                    </div>
                    <div class="col16">
                        <input type="text" id="EmployeeSurname" size="30" formControlName="EmployeeSurname" class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Manual Visit Reason' | translate}}</label>
                    <div class="col24">
                        <icabs-common-dropdown [inputParams]="dropdown.manualVisitReasonSearch.params" [isTriggerValidate]="dropdown.manualVisitReasonSearch.isTriggerValidate"
                            [isRequired]="dropdown.manualVisitReasonSearch.isRequired" [isActive]="dropdown.manualVisitReasonSearch.property.selected"
                            [isDisabled]="dropdown.manualVisitReasonSearch.isDisabled" [displayFields]="dropdown.manualVisitReasonSearch.displayFields"
                            (onDataReceived)="onManualVisitReceived($event)">
                        </icabs-common-dropdown>
                        <input type="hidden" id="PDAManualVisitReasonCode" formControlName="PDAManualVisitReasonCode" class="form-control" eTypeCode>
                        <input type="hidden" id="PDAManualVisitReasonDesc" formControlName="PDAManualVisitReasonDesc" class="form-control" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Planned Visit Date' | translate}}</label>
                    <div class="col12 pr5">
                        <icabs-datepicker formControlName="PlannedVisitDate" (onChange)="visitDateSelectedValue($event)" id="PlannedVisitDate" [isDirectiveBased]="false"></icabs-datepicker>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'No Barcode' | translate}}</label>
                    <div class="col24">
                        <input type="hidden" id="NoBarcodeReasonCode" formControlName="NoBarcodeReasonCode" class="form-control" eTypeCode>
                        <select id="NoBarcodeReasonSelect" formControlName="NoBarcodeReasonSelect" class="form-control">
                            <option value="">{{'None' | translate}}</option>
                            <option *ngFor="let item of selectBox['NoBarcodeReasonSelect']" [value]="item.value">
                                {{item.text | translate}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Activity Status' | translate}}</label>
                    <div class="col24">
                        <input type="text" id="ActivityStatusDesc" size="25" formControlName="ActivityStatusDesc" class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Override' | translate}}</label>
                    <div class="col24">
                        <input type="hidden" id="NoBarcodeManualCode" formControlName="NoBarcodeManualCode" class="form-control" eTypeCode>
                        <select id="NoBarcodeManualSelect" formControlName="NoBarcodeManualSelect" class="form-control" (change)="onChangeNoBarcodeManualSelect()">
                            <option value="">{{'None' | translate}}</option>
                            <option *ngFor="let item of NBCStringArr" [value]="item.value">
                                {{item.text | translate}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Count' | translate}}</label>
                    <div class="col12">
                        <input type="text" formControlName="NoBarcodeReasonCount" class="form-control" disabled>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Contract Number' | translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="ContractNumber" size="8" formControlName="ContractNumber" class="form-control" eTypeCode>
                    </div>
                    <div class="col16">
                        <input type="text" id="ContractName" size="30" formControlName="ContractName" class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'No Signature' | translate}}</label>
                    <div class="col24">
                        <input type="hidden" id="NoSignatureReasonNumber" formControlName="NoSignatureReasonNumber" class="form-control" eTypeInteger>
                        <select id="NoSignatureReasonSelect" formControlName="NoSignatureReasonSelect" class="form-control">
                            <option value="">{{'None' | translate}}</option>
                            <option *ngFor="let item of selectBox['NoSignatureReasonSelect']" [value]="item.value">
                                {{item.text | translate}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Premises Number' | translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="PremiseNumber" size="8" formControlName="PremiseNumber" class="form-control" eTypeInteger>
                    </div>
                    <div class="col16">
                        <input type="text" id="PremiseName" size="30" formControlName="PremiseName" class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Override' | translate}}</label>
                    <div class="col24">
                        <input type="hidden" id="NoSignatureManualNumber" formControlName="NoSignatureManualNumber" class="form-control" eTypeInteger>
                        <select id="NoSignatureManualSelect" formControlName="NoSignatureManualSelect" class="form-control" (change)="onChangeNoSignatureManualSelect()">
                            <option value="0">{{'None' | translate}}</option>
                            <option *ngFor="let item of NSRStringArr" [value]="item.value">
                                {{item.text | translate}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Count' | translate}}</label>
                    <div class="col12">
                        <input type="text" formControlName="NoSignatureReasonCount" class="form-control" disabled>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Premises Status' | translate}}</label>
                    <div class="col24">
                        <input type="text" id="StatusDesc" size="25" formControlName="StatusDesc" class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Missed Premises Visit' | translate}}</label>
                    <div class="col24">
                        <input type="hidden" id="NoPremiseVisitReasonCode" formControlName="NoPremiseVisitReasonCode" class="form-control" eTypeCode>
                        <select id="NoPremiseVisitReasonSelect" formControlName="NoPremiseVisitReasonSelect" class="form-control">
                            <option value="">{{'None' | translate}}</option>
                            <option *ngFor="let item of selectBox['NoPremiseVisitReasonSelect']" [value]="item.value">
                                {{item.text | translate}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 mt20">
                    <div class="col24">
                        <input type="checkbox" id="ProofSignatureRequiredInd" size="1" formControlName="ProofSignatureRequiredInd" class="form-control"
                            eTypeCheckBox>
                        <label class="col24" for="ProofSignatureRequiredInd">{{'Signature Expected' | translate}}</label>
                    </div>
                </div>
                <div class="col-sm-3 mt2">
                    <label class="col24">{{'Override' | translate}}</label>
                    <div class="col24">
                        <input type="hidden" id="NoPremiseVisitManualCode" formControlName="NoPremiseVisitManualCode" class="form-control" eTypeCode>
                        <select id="NoPremiseVisitManualSelect" formControlName="NoPremiseVisitManualSelect" class="form-control" (change)="onChangeNoPremiseVisitManualSelect()">
                            <option value="">{{'None' | translate}}</option>
                            <option *ngFor="let item of NPVStringArr" [value]="item.value">
                                {{item.text | translate}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3 mt2">
                    <label class="col24">{{'Count' | translate}}</label>
                    <div class="col12">
                        <input type="text" class="form-control" formControlName="NoPremiseVisitReasonCount" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 mt20">
                    <div class="col24">
                        <input type="checkbox" id="ProofScanRequiredInd" size="1" formControlName="ProofScanRequiredInd" class="form-control" eTypeCheckBox>
                        <label class="col24" for="ProofScanRequiredInd">{{'Barcode Expected' | translate}}</label>
                    </div>
                </div>
                <div class="col-sm-3 mt2">
                    <label class="col24">{{'Missed Reason Note' | translate}}</label>
                    <div class="col24">
                        <input type="text" id="NoPremiseVisitReasonNote" size="40" formControlName="NoPremiseVisitReasonNote" class="form-control"
                            eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <input type="button" id="cmdLeadAlert" (click)="onClickLeadAlert()" value="{{'Leads/Alerts'|translate}}" class="btn btn-additional mr10">
                    <input type="button" id="cmdBarcodes" (click)="onClickBarcodes()" value="{{'Barcodes'|translate}}" class="btn btn-additional mr10">
                    <input type="button" id="cmdPremise" (click)="onClickPremise()" value="{{'Premises'|translate}}" class="btn btn-additional mr10">
                    <input type="button" [disabled]="isUpdateDisabled" value="{{'Update'|translate}}" [ngClass]="!isUpdateDisp ? 'hidden' : ''"
                        class="btn btn-additional mr10" (click)="onClickUpdate($event)">
                    <input type="button" [disabled]="isSaveDisabled" value="{{'Save'|translate}}" (click)="onClickSave()" [ngClass]="!isSaveDisplay ? 'hidden' : ''"
                        class="btn btn-primary mr10">
                    <input type="button" [disabled]="isCancelDisabled" value="{{'Cancel'|translate}}" [ngClass]="!isCancelDisplay ? 'hidden' : ''"
                        (click)="onClickCancel($event)" class="btn btn-secondary">
                </div>
            </div>

            <div class="row mt15" id="tabCont">
                <div class="col-sm-12">
                    <ul class="nav nav-tabs" #riTab>
                        <li class="nav-item active" id="grdVisits" [ngClass]="{'active': uiDisplay.tab.tab1.active}">
                            <a class="nav-link" [ngClass]="{'active': uiDisplay.tab.tab1.active}" (click)="renderTab(1, true)">
                                <span>{{ 'Visits' | translate}}</span>
                            </a>
                        </li>
                        <li class="nav-item" id="grdAddress" [ngClass]="{'active': uiDisplay.tab.tab2.active}">
                            <a class="nav-link" [ngClass]="{'active': uiDisplay.tab.tab2.active}" (click)="renderTab(2, true)">
                                <span>{{ 'Address' | translate}}</span>
                            </a>
                        </li>
                        <li class="nav-item" id="grdSignature" [ngClass]="{'active': uiDisplay.tab.tab3.active}">
                            <a class="nav-link" [ngClass]="{'active': uiDisplay.tab.tab3.active}" (click)="renderTab(3, true)">
                                <span>{{ 'Signature' | translate}}</span>
                            </a>
                        </li>
                        <li class="nav-item" id="grdWaste" [ngClass]="{'active': uiDisplay.tab.tab4.active, 'hidden': !isWasteTabVisible}">
                            <a class="nav-link" [ngClass]="{'active': uiDisplay.tab.tab4.active}" (click)="renderTab(4, true)">
                                <span>{{ 'Waste Consignment Note' | translate}}</span>
                            </a>
                        </li>
                    </ul>
                    <div #TabContent class="tab-content">
                        <div class="tab-pane" [ngClass]="{'active': uiDisplay.tab.tab1.active}">
                            <div id="grdVisits" class="mt10" [ngClass]="!isDisplayRefPageSection ? 'hidden' : ''">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <icabs-refresh (click)="refresh()"></icabs-refresh>
                                        <icabs-pagination [totalItems]="totalRecords" *ngIf="totalRecords > 0" [itemsPerPage]="pageSize" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                                    </div>
                                </div>
                                <div class="row mt10" [ngClass]="!isDisplayGridSection ? 'hidden' : ''">
                                    <div class="col-sm-12">
                                        <icabs-grid-advanced #riGrid id="riGrid" (bodyKeyDown)="riGridBodyOnKeyDown($event)" (bodyDblClick)="riGridBodyOnDBLClick($event)"
                                            (bodyColumnBlur)="riGridBodyOnBlur($event)"></icabs-grid-advanced>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" [ngClass]="{'active': uiDisplay.tab.tab2.active}">
                            <div id="grdAddress" class="mt10">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Address Line 1' | translate}}</label>
                                        <div class="col16">
                                            <input type="text" id="PremiseAddressLine1" size="35" formControlName="PremiseAddressLine1" class="form-control" eTypeText>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Contact Name' | translate}}</label>
                                        <div class="col16">
                                            <input type="text" id="PremiseContactName" size="35" formControlName="PremiseContactName" class="form-control" eTypeTextFree>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Address Line 2' | translate}}</label>
                                        <div class="col16">
                                            <input type="text" id="PremiseAddressLine2" size="35" formControlName="PremiseAddressLine2" class="form-control" eTypeText>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Position' | translate}}</label>
                                        <div class="col16">
                                            <input type="text" id="PremiseContactPosition" size="35" formControlName="PremiseContactPosition" class="form-control" eTypeText>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Address Line 3' | translate}}</label>
                                        <div class="col16">
                                            <input type="text" id="PremiseAddressLine3" size="35" formControlName="PremiseAddressLine3" class="form-control" eTypeText>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Telephone' | translate}}</label>
                                        <div class="col16">
                                            <input type="text" id="PremiseContactTelephone" size="35" formControlName="PremiseContactTelephone" class="form-control"
                                                eTypeText>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Town' | translate}}</label>
                                        <div class="col16">
                                            <input type="text" id="PremiseAddressLine4" size="35" formControlName="PremiseAddressLine4" class="form-control" eTypeText>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Fax' | translate}}</label>
                                        <div class="col16">
                                            <input type="text" id="PremiseContactFax" size="35" formControlName="PremiseContactFax" class="form-control" eTypeText>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'County' | translate}}</label>
                                        <div class="col16">
                                            <input type="text" id="PremiseAddressLine5" size="35" formControlName="PremiseAddressLine5" class="form-control" eTypeText>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Email' | translate}}</label>
                                        <div class="col16">
                                            <input type="text" id="PremiseContactEmail" size="35" formControlName="PremiseContactEmail" class="form-control" eTypeText>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Postcode' | translate}}</label>
                                        <div class="col16">
                                            <input type="text" id="PremisePostcode" size="15" formControlName="PremisePostcode" class="form-control" eTypeText>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-6">
                                        <label class="col24">{{'General Notes' | translate}}</label>
                                        <div class="col16">
                                            <textarea id="GeneralNotes" maxlength="250" size="250" formControlName="GeneralNotes" class="form-control" eTypeTextFree></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" [ngClass]="{'active': uiDisplay.tab.tab3.active}">
                            <div id="grdAddress" class="mt10">
                                <div class="row">
                                    <div class="col-sm-6" *ngIf="trSignature">
                                        <label class="col24">{{'Signature' | translate}}</label>
                                        <div class="col16">
                                            <img id="PremiseContactSignature" [src]="signatureSrc" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2" *ngIf="!trSignature">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'No Signature Captured' | translate}}</label>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Name' | translate}}</label>
                                        <div class="col16">
                                            <input type="text" id="PDAPremiseContactName" size="40" formControlName="PDAPremiseContactName" class="form-control" eTypeTextFree>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" [ngClass]="{'active': uiDisplay.tab.tab4.active}">
                            <div id="grdWaste" class="mt10">
                                <div class="row mt2">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Waste Consignment Note Number' | translate}}</label>
                                        <div class="col16">
                                            <input type="text" id="WasteConsignmentNoteNumber" size="40" formControlName="WasteConsignmentNoteNumber" class="form-control"
                                                eTypeTextFree>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
                <input type="hidden" id="HiddenNoServiceManualCode" formControlName="HiddenNoServiceManualCode" class="form-control" eTypeCode>
                <input type="hidden" id="HiddenManualVisitReasonCode" formControlName="HiddenManualVisitReasonCode" class="form-control"
                    eTypeCode>
                <input type="hidden" id="DebriefNumber" formControlName="DebriefNumber" class="form-control" eTypeInteger>
                <input type="hidden" id="ServicePlanNumber" formControlName="ServicePlanNumber" class="form-control" eTypeInteger>
                <input type="hidden" id="ProductCode" formControlName="ProductCode" class="form-control" eTypeCode>
                <input type="hidden" id="ProductDesc" formControlName="ProductDesc" class="form-control" eTypeText>
                <input type="hidden" id="ErrorMessageDesc" formControlName="ErrorMessageDesc" class="form-control" eTypeText>
                <input type="hidden" id="NoBarcodeReasonString" formControlName="NoBarcodeReasonString" class="form-control" eTypeText>
                <input type="hidden" id="NoSignatureReasonString" formControlName="NoSignatureReasonString" class="form-control" eTypeText>
                <input type="hidden" id="NoPremiseVisitReasonString" formControlName="NoPremiseVisitReasonString" class="form-control" eTypeText>
                <input type="hidden" id="AllowUpdate" formControlName="AllowUpdate" class="form-control" eTypeText>
                <input type="hidden" id="GotSignature" formControlName="GotSignature" class="form-control" eTypeCheckBox>
                <input type="hidden" id="PremiseContactSignatureURL" formControlName="PremiseContactSignatureURL" class="form-control" eTypeTextFree>
            </div>
            <input type="text" id="switch" (keyup)="onKeyUpSwitch($event)" class="sr-only">
        </section>
    </form>
</section>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>