<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="ContractNumber">{{ 'Contract' | translate}}</label>
                    <div class="col8 pr5">
                        <input id="ContractNumber" class="form-control" formControlName="ContractNumber" type="text" size="9" eTypeCode [attr.maxlength]="8">
                    </div>
                    <div class="col16">
                        <input id="ContractName" class="form-control" formControlName="ContractName" type="text" size="30" eTypeText [attr.maxlength]="40">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col10">
                        <label class="col24" for="SelectedYear">{{ 'Year' | translate}}</label>
                        <select id="SelectedYear" class="form-control" formControlName="SelectedYear">
                            <option *ngFor="let item of selectedYearList" [ngValue]="item.value">{{item.text | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="PremiseNumber">{{ 'Premises' | translate}}</label>
                    <div class="col8 pr5">
                        <input id="PremiseNumber" class="form-control" formControlName="PremiseNumber" type="text" size="9" eTypeInteger [attr.maxlength]="7">
                    </div>
                    <div class="col16">
                        <input id="PremiseName" class="form-control" formControlName="PremiseName" type="text" size="30" [attr.maxlength]="40" eTypeText>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col10 pr5">
                        <label class="col24" for="ServiceVisitFrequency">{{ 'Visit Frequency' | translate}}</label>
                        <input id="ServiceVisitFrequency" class="form-control" formControlName="ServiceVisitFrequency" type="text" size="6" eTypeInteger>
                    </div>
                    <div class="col10">
                        <label class="col24" for="TotalVisits">{{ 'Entered' | translate}}</label>
                        <input id="TotalVisits" class="form-control" formControlName="TotalVisits" type="text" size="6" eTypeInteger [ngClass]="{'ng-invalid': isIvalidTotalVisits}">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="ProductCode">{{ 'Product' | translate}}</label>
                    <div class="col8 pr5">
                        <input id="ProductCode" class="form-control" formControlName="ProductCode" type="text" size="9" [attr.maxlength]="6" eTypeCode>
                    </div>
                    <div class="col16">
                        <input id="ProductDesc" class="form-control" formControlName="ProductDesc" type="text" size="30" [attr.maxlength]="40" eTypeText>
                    </div>
                </div>
                <div class="col-sm-3" *ngIf="pageParams.isTrAnnualTime">
                    <div class="col10 pr5">
                        <label class="col24" for="ServiceAnnualTime">{{ 'Annual Hours' | translate}}</label>
                        <input id="ServiceAnnualTime" class="form-control" formControlName="ServiceAnnualTime" type="text" size="6" eTypeText>
                    </div>
                    <div class="col10">
                        <label class="col24" for="TotalHours">{{ 'Entered' | translate}}</label>
                        <input id="TotalHours" class="form-control" formControlName="TotalHours" type="text" size="6" eTypeText [ngClass]="{'ng-invalid': isIvalidTotalHours}">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="ServiceVisitAnnivDate">{{ 'Service Anniversary Date' | translate}}</label>
                    <div class="col10">
                        <input id="ServiceVisitAnnivDate" class="form-control" formControlName="ServiceVisitAnnivDate" type="text" size="10" [attr.maxlength]="10"
                            eTypeDate>
                    </div>
                </div>
                <div class="col-sm-3 mt20">
                    <input type="button" class="btn btn-primary mr5" value="{{ 'Save' | translate }}" (click)="btnSaveOnClick()">
                    <input type="button" class="btn btn-additional" value="{{ 'Undo' | translate }}" (click)="btnUndoChangesOnClick()">
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="ServiceAnnualValue">{{ 'Service Annual Value' | translate}}</label>
                    <div class="col10">
                        <input id="ServiceAnnualValue" class="form-control" formControlName="ServiceAnnualValue" type="text" size="10" [attr.maxlength]="10"
                            eTypeCurrency>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-12">
                    <icabs-refresh (click)="refresh()"></icabs-refresh>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="riGridBodyDblClick($event)" (onSuccess)="riGridAfterExecute()"></icabs-grid-advanced>
                </div>
            </div>
            <div class="row mt15">
                <div class="col-sm-12 text-center">
                    <div class="inline-block pr10" *ngFor="let l of legends">
                        <div class="legend inline-block mr5" [style.background-color]="l.color">{{l.text}}</div>
                        <label>{{l.label}}</label>
                    </div>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>