<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle']|translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Service Area'|translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col6 pr5">
                        <input type="text" id="BranchServiceAreaCode" size="6" [attr.maxlength]="4" formControlName="BranchServiceAreaCode" class="form-control"
                            [icabsDirFocus]="setFocusOnBranchServiceAreaCode" (change)="branchServiceAreaCodeOnChange($event)"
                            eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" id="BranchServiceAreaDesc" size="20" [attr.maxlength]="30" formControlName="BranchServiceAreaDesc" class="form-control"
                            eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #branchServiceAreaCodeEllipsis [childConfigParams]="ellipsis.branchServiceAreaCode.childConfigParams" [contentComponent]="ellipsis.branchServiceAreaCode.contentComponent"
                            [showHeader]="true" [showCloseButton]="true" [disabled]="ellipsis.branchServiceAreaCode.isDisabled"
                            (ellipsisData)="branchServiceAreaCodeOnReceive($event)"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Service Date'|translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col16 pr5">
                        <icabs-datepicker id="ServiceDate" formControlName="ServiceDate" [attr.maxlength]="10" (onChange)="serviceDateOnChange($event)"
                            [isDirectiveBased]="false"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Service Plan Number'|translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col14 pr5">
                        <input type="text" id="ServicePlanNumber" size="10" [attr.maxlength]="10" formControlName="ServicePlanNumber" class="form-control"
                            (change)="servicePlanNumberOnChange()" eTypeInteger>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsis.servicePlanNumber.childConfigParams" [contentComponent]="ellipsis.servicePlanNumber.contentComponent"
                            [showHeader]="true" [showCloseButton]="true" [disabled]="ellipsis.servicePlanNumber.isDisabled" (ellipsisData)="servicePlanNumberOnReceive($event)"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Service Employee'|translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col6 pr5">
                        <input type="text" id="EmployeeCode" size="6" [attr.maxlength]="6" formControlName="EmployeeCode" [icabsDirFocus]="setFocusOnEmployeeCode"
                            class="form-control" (change)="employeeCodeOnChange()" eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" id="EmployeeSurname" size="20" [attr.maxlength]="30" formControlName="EmployeeSurname" class="form-control"
                            eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsis.employeeCode.childConfigParams" [contentComponent]="ellipsis.employeeCode.contentComponent"
                            [showHeader]="true" [showCloseButton]="true" [disabled]="ellipsis.employeeCode.isDisabled" (ellipsisData)="employeeCodeOnReceive($event)"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Plan Start'|translate}}</label>
                    <div class="col16">
                        <input type="text" id="ServicePlanStartDate" size="10" [attr.maxlength]="10" formControlName="ServicePlanStartDate" class="form-control"
                            eTypeDate>
                    </div>
                </div>
                <div class="col-sm-3" *ngIf="this['pageParams']['trVisitReference']">
                    <label class="col24">{{'Barcode Reference'|translate}}</label>
                    <div class="col22 pr5">
                        <input type="text" id="VisitReference1" size="33" [attr.maxlength]="10" formControlName="VisitReference1" [icabsDirFocus]="setFocusOnVisitReference1"
                            class="form-control" (change)="visitReference1OnChange($event)" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Plan End'|translate}}</label>
                    <div class="col16">
                        <input type="text" id="ServicePlanEndDate" size="10" [attr.maxlength]="10" formControlName="ServicePlanEndDate" class="form-control"
                            eTypeDate>
                    </div>
                </div>
                <div class="col-sm-3" *ngIf="this['pageParams']['trManualVisitReasonCode']">
                    <label class="col24">{{'Manual Visit Reason Code'|translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col22 pr5">
                        <icabs-common-dropdown [inputParams]="dropdown.manualVisitReasonSearch.params" [isRequired]="dropdown.manualVisitReasonSearch.isRequired"
                            [isDisabled]="dropdown.manualVisitReasonSearch.isDisabled" [displayFields]="dropdown.manualVisitReasonSearch.displayFields"
                            [isTriggerValidate]="dropdown.manualVisitReasonSearch.isTriggerValidate" [isActive]="dropdown.manualVisitReasonSearch.activeSelected"
                            (onDataReceived)="onManualVisitReceived($event)">
                        </icabs-common-dropdown>
                    </div>
                </div>
            </div>
            <div class="row mt15">
                <div class="col-sm-3 col-sm-offset-4" *ngIf="this['pageParams']['tdAcceptAll']">
                    <input type="checkbox" id="AcceptAll" formControlName="AcceptAll" class="form-control" (click)="acceptAllOnClick($event)"
                        eTypeCheckBox>
                    <label class="col24" for="AcceptAll">{{'Accept All'|translate}}</label>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-3">
                    <icabs-refresh (click)="refresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [ngClass]="this['pageParams']['totalRecords'] > 0 ? '':'hidden'" [totalItems]="this['pageParams']['totalRecords']"
                        [currentPage]="this['pageParams']['curPage']" [itemsPerPage]="this['pageParams']['pageSize']" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
                <div class="col-sm-9" *ngIf="this['pageParams']['totalRecords'] > 0">
                    <input type="button" id="cmdClearAll" class="btn btn-primary mr10" value="{{'Clear All Dates'|translate}}" (click)="cmdClearAllOnClick($event)">
                    <input type="button" id="cmdApplyDates" class="btn btn-primary mr10" value="{{'Apply Dates'|translate}}" (click)="cmdApplyDatesOnClick($event)">
                    <input type="button" id="cmdSelectUnprocessed" class="btn btn-primary mr10" value="{{'Select All Eligible'|translate}}" (click)="cmdSelectUnprocessedOnClick($event)">
                    <input type="button" id="cmdProcessSelection" class="btn btn-primary" value="{{'Process Selections'|translate}}" (click)="cmdProcessSelectionOnClick($event)">
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12 footerHide">
                    <icabs-grid-advanced #riGrid (bodyClick)="riGridBodyOnClick($event)" (bodyDblClick)="riGridBodyOnDblClick($event)" (headerClick)="riGridSort($event)"
                        (onSuccess)="riGridAfterExecute($event)" (bodyColumnFocus)="riGridBodyColumnFocus($event)" (bodyLostFocus)="riGridBodyColumnLostFocus()"
                        (bodyColumnBlur)="riGridBodyColumnOnBlur($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>