<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ 'Service Visits By Visit Type' | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4" [hidden]="!tdRegion">
                    <label class="col24" for="RegionCode">{{ 'Region' | translate }}</label>
                    <div class="col6 pr5">
                        <input type="text" id="RegionCode" size="8" maxlength="4" formControlName="RegionCode" class="form-control" eTypeCode>
                    </div>
                    <div class="col18">
                        <input type="text" id="RegionDesc" size="30" maxlength="37" formControlName="RegionDesc" class="form-control" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4" [hidden]="!tdBranch">
                    <label class="col24" for="BranchNumber">{{ 'Branch' | translate }}</label>
                    <div class="col6 pr5">
                        <input type="text" id="BranchNumber" size="8" maxlength="5" formControlName="BranchNumber" class="form-control" eTypeInteger>
                    </div>
                    <div class="col18">
                        <input type="text" id="BranchName" size="30" maxlength="37" formControlName="BranchName" class="form-control" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4" [hidden]="!tdServiceArea">
                    <label class="col24" for="BranchServiceAreaCode">{{ 'Service Area List' | translate }}</label>
                    <div class="col6 pr5">
                        <input type="text" id="BranchServiceAreaCode" size="8" maxlength="4" formControlName="BranchServiceAreaCode" class="form-control"
                            eTypeCode>
                    </div>
                    <div class="col18">
                        <input type="text" id="EmployeeSurname" size="30" maxlength="37" formControlName="EmployeeSurname" class="form-control" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Visit Type'|translate}}
                        <span class="mandatory" *ngIf="controls[controlsMap['VisitTypeCode']]">*</span>
                    </label>
                    <div class="col24">
                        <icabs-visit-type-search #visitTypeSearch id="VisitTypeCode" [uiFormGroup]="this['uiForm']" [controlName]="'VisitTypeCode'"
                            [isRequired]="dropDown.VisitTypeCode.isRequired" [isDisabled]="dropDown.VisitTypeCode.isDisabled"
                            [triggerValidate]="dropDown.VisitTypeCode.triggerValidate" [active]="dropDown.VisitTypeCode.active"
                            [inputParams]="dropDown.VisitTypeCode.inputParams" (receivedVisitType)="visitTypeSelectedValue($event)">
                        </icabs-visit-type-search>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{ 'Date From' | translate }}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col8">
                        <icabs-datepicker formControlName="DateFrom" [isDirectiveBased]="false"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{ 'View' | translate }}</label>
                    <div class="col12">
                        <select id="menu" formControlName="ViewOptions" class="form-control" (change)="menuOptionsChange($event.target.value)">
                            <option selected value="">{{'All'| translate}}</option>
                            <option value="Entitlement">{{'Entitlement Only'| translate}}</option>
                            <option value="ExclEntitlement">{{'Exclude Entitlement'| translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{ 'To' | translate }}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col8">
                        <icabs-datepicker formControlName="DateTo" [isDirectiveBased]="false"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="riGrid_onRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="gridConfig.totalRecords" [itemsPerPage]="gridConfig.pageSize" 
                        [canExport]="true" [exportOptions]="{dateColumns: dateCollist}" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
                <div class="col-sm-12 mt10">
                    <icabs-grid-advanced #riGrid (TRDblClick)="riGrid_BodyOnDblClick($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="isRequesting"></icabs-spinner>