<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] |translate}}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="EmployeeCode">{{'Employee' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="EmployeeCode" maxlength="6" size="7"
                            (change)="employeeCodeOnchange()" formControlName="EmployeeCode" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" id="EmployeeSurname" maxlength="30" size="30"
                            formControlName="EmployeeSurname" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="true"
                            [childConfigParams]="employeeSearchEllipsis.inputParams" [modalConfig]="ellipsismodalConfig"
                            [contentComponent]="employeeSearchEllipsis.component"
                            (ellipsisData)="employeeSearchEllipsis.dataReceived($event)" [showHeader]="true">
                        </icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24" for="TotalMileage">{{'Total Mileage' | translate }}</label>
                    <div class="col8">
                        <input type="text" class="form-control" id="TotalMileage" size="5"
                            formControlName="TotalMileage" eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <div class="col12 pr10">
                        <label class="col24" for="DateFrom">{{'From' | translate }}
                            <span class="mandatory">*</span>
                        </label>
                        <div class="col24">
                            <icabs-datepicker id="DateFrom" [isDirectiveBased]="false" formControlName="DateFrom"
                                size="10" (onChange)="setDateTo()"></icabs-datepicker>
                        </div>
                    </div>
                    <div class="col12">
                        <label class="col24" for="DateTo">{{'To' | translate }}
                            <span class="mandatory">*</span>
                        </label>
                        <div class="col24">
                            <icabs-datepicker id="DateTo" [isDirectiveBased]="false" formControlName="DateTo" size="10">
                            </icabs-datepicker>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24" for="TotalDuration">{{'Total Duration' | translate }}</label>
                    <div class="col8">
                        <input type="text" class="form-control" id="TotalDuration" size="5"
                            formControlName="TotalDuration" eTypeTime>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
        </section>
        <div class="row">
            <div class="col-sm-6">
                <icabs-refresh (click)="btnRefresh()"></icabs-refresh>
                <icabs-pagination #serviceEntryPagination [totalItems]="totalRecords" [currentPage]="currentPage"
                    [itemsPerPage]="itemsPerPage" [canExport]="true" [exportOptions]="exportConfig"
                    (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
            </div>
            <div class="col-sm-3 pull-right">
                <select class="form-control" id="menu" formControlName="menu" (change)="onChangeMenu($event)">
                    <option value="" selected>{{'Options' | translate }}</option>
                    <option value="AddDiary">{{'Add Diary Event Days' | translate }} </option>
                    <option value="AddWorkOrder">{{'Add Workorder' | translate }}</option>
                </select>
            </div>
        </div>
    </form>
    <div class="row mt10">
        <div class="col-sm-12">
            <icabs-grid-advanced #riGrid id="riGrid" (onSuccess)="riGridAfterExecute()"
                (bodyDblClick)="onDblClick($event)" (headerClick)="riGridSort($event)"></icabs-grid-advanced>
        </div>
    </div>
    <div class="row mt10">
        <div class="col-sm-12 text-center">
            <label class="pr5">{{ 'Legend' | translate}}: </label>
            <div class="inline-block pr10">
                <div class="legend inline-block mr5 meansPausedVisit"></div>
                <label>{{ 'Means Paused Visit' | translate}}</label>
            </div>
        </div>
    </div>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>