<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1> {{ pageTitle | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <div class="row mt5">
            <div class="col-sm-3" *ngIf="isBusiness">
                <label class="col24">{{'Business'|translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="BusinessCode" size="3" [attr.maxlength]="5" class="form-control"
                        formControlName="BusinessCode" eTypeCode>
                </div>
                <div class="col16">
                    <input type="text" id="BusinessDesc" size="30" [attr.maxlength]="30" class="form-control"
                        formControlName="BusinessDesc" eTypeText>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="isRegion">
                <label class="col24">{{'Region'|translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="RegionCode" size="2" class="form-control" formControlName="RegionCode"
                        eTypeCode>
                </div>
                <div class="col16">
                    <input type="text" id="RegionDesc" size="30" [attr.maxlength]="30" class="form-control"
                        formControlName="RegionDesc" eTypeText>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="isBranch">
                <label class="col24">{{'Branch'|translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="BranchNumber" size="2" class="form-control" formControlName="BranchNumber"
                        eTypeCode>
                </div>
                <div class="col16">
                    <input type="text" id="BranchName" size="30" [attr.maxlength]="30" class="form-control"
                        formControlName="BranchName" eTypeText>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="isGroupCode">
                    <label class="col24">{{spanGroupCode|translate}}</label>
                    <div class="col16">
                        <input type="text" id="GroupCode" size="12" [attr.maxlength]="12" class="form-control"
                            formControlName="GroupCode" eTypeText>
                    </div>
                </div>
                <div class="col-sm-3" *ngIf="isContractDetails">
                    <label class="col24">{{spanSubGroupCode|translate}}</label>
                    <div class="col16">
                        <input type="text" id="SubGroupCode" size="12" [attr.maxlength]="12" class="form-control"
                            formControlName="SubGroupCode" eTypeText>
                    </div>
                </div>
                <div class="col-sm-3" *ngIf="showAreaBranchNumber">
                        <label class="col24">{{spanAreaBranch|translate}}</label>
                        <div class="col16">
                            <input type="text" id="AreaBranchNumber" size="2" [attr.maxlength]="2" class="form-control"
                                formControlName="AreaBranchNumber" etypeText>
                        </div>
                    </div>
            <div class="col-sm-3" *ngIf="isCompanyLabel">
                    <label class="col24">{{'Company (blank for all)'|translate}}</label>
                    <div class="col24">
                            <icabs-business-company-search [inputParams]="companyInputParams" [active]="companyDefault" (receivedCompanyCode)="onDataRecieved($event)"></icabs-business-company-search>
                        </div>
                </div>
        </div>
        <div class="row mt5">
                <div class="col-sm-3">
                        <div class="col16">
                            <label class="col24" for="ContractTypeCode">{{'Contract Type' | translate}}</label>
                            <select class="form-control" id="ContractTypeCode" formControlName="ContractTypeCode" (change)="onDropDownChnage()">
                                <option value="C">{{'Contracts' | translate}}</option>
                                <option value="J">{{'Jobs' | translate}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                            <div class="col16">
                                <label class="col24" for="CountLevel">{{'Count Level' | translate}}</label>
                                <select class="form-control" id="CountLevel" formControlName="CountLevel" (change)="onDropDownChnage()">
                                    <option value="All">{{'Show All Counts' | translate}}</option>
                                    <option value="Contract">{{'Show Contract/Job Count' | translate}}</option>
                                    <option value="Premise">{{'Show Premises Counts' | translate}}</option>
                                    <option value="ServiceCover">{{'Show Service Cover Counts' | translate}}</option>
                                </select>
                            </div>
                        </div>
            <div class="col-sm-3">
                <div class="col16">
                    <label class="col24" for="GroupBy">{{'Group By' | translate}}</label>
                    <select class="form-control" id="GroupBy" formControlName="GroupBy" (change)="onDropDownChnage()">
                        <option value="Company">{{'By Company' | translate}}</option>
                        <option value="Region">{{'By Region' | translate}}</option>
                        <option value="Branch">{{'By Servicing Branch' | translate}}</option>
                        <option value="NegBranch">{{'By Negotiating Branch' | translate}}</option>
                        <option value="NegEmployee">{{'By Negotiating Employee' | translate}}</option>
                        <option value="Contract">{{'By Contract/Job' | translate}}</option>
                        <option value="ExpenseCode">{{'By Expense Code' | translate}}</option>
                        <option value="Anniversary">{{'By Anniversary Month' | translate}}</option>
                        <option value="InvoiceFrequency">{{'By Invoice Frequency' | translate}}</option>
                        <option value="Payment">{{'By Payment Method' | translate}}</option>
                        <option value="Town">{{'By Town' | translate}}</option>
                        <option value="Postcode">{{'By Postcode' | translate}}</option>
                        <option value="CustomerType">{{'By Customer Type' | translate}}</option>
                        <option value="MarketSegment">{{'By Market Segment' | translate}}</option>
                        <option value="SalesArea">{{'By Sales Area' | translate}}</option>
                        <option value="ServiceArea">{{'By Service Area' | translate}}</option>
                        <option value="VisitFrequency">{{'By Visit Frequency' | translate}}</option>
                        <option value="ProductGroup">{{'By Product Service Group' | translate}}</option>
                        <option value="ProductSalesGroup">{{'By Product Sales Group' | translate}}</option>
                        <option value="Product">{{'By Product' | translate}}</option>
                        <option value="InvoiceType">{{'By Invoice Type' | translate}}</option>
                        <option value="ServiceType">{{'By Service Type' | translate}}</option>
                        <option value="RMMCategory">{{'By RMM Category' | translate}}</option>
                        <option value="Account">{{'By Account Number' | translate}}</option>
                        <option value="PestNetLevel">{{'By PestNetOnLine Level' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-sm-3">
                <label class="col16">{{ 'At Date' | translate }}
                    <span class="mandatory">*</span>
                </label>
                <div class="col16">
                    <icabs-datepicker id="AtDate" formControlName="AtDate" [isDirectiveBased]="false">
                    </icabs-datepicker>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col16">
                    <label class="col24" for="ViewBy">{{'View' | translate}}</label>
                    <select class="form-control" id="ViewBy" formControlName="ViewBy" (change)="onDropDownChnage()">
                        <option value="Premise">{{'By Premises' | translate}}</option>
                        <option value="ServiceCover">{{'By Service Cover' | translate}}</option>
                        <option *ngFor="let viewby of this['pageParams'].viewByOption" [value]="viewby.value">
                            {{viewby.name}}
                        </option>
                    </select>
                </div>
            </div>
            
            <div class="col-sm-3">
                <label class="col24">{{'Show Number Of Lines'|translate}}</label>
                <div class="col16">
                    <input type="text" id="NumberOfLines" size="2" [attr.maxlength]="2" class="form-control"
                        formControlName="NumberOfLines" eTypeText>
                </div>
            </div>
        </div>
        <hr class="mt15 mb15">
        <div class="row">
            <div class="col-sm-6">
                <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                <icabs-pagination [ngClass]="{hidden: !hasGridData}" #riGridPagination
                    [totalItems]="this['pageParams'].gridConfig.totalRecords"
                    [itemsPerPage]="this['pageParams'].gridConfig.pageSize"
                    [currentPage]="this['pageParams'].gridCurrentPage" (getCurrentPage)="getCurrentPage($event)"
                    [canExport]="true">
                </icabs-pagination>
            </div>
            <div class="col-sm-12 mt10">
                <icabs-grid-advanced #riGrid (bodyDblClick)="onGridBodyDoubleClick()">
                </icabs-grid-advanced>
            </div>
        </div>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>