<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Branch Number' | translate}} </label>
                    <div class="col24 pr5">
                        <icabs-branchsearch #branchSearchDropDown [inputParams]="inputParams.branchParams"
                            [isDisabled]="true"></icabs-branchsearch>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col16">{{'Date From' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col18">
                        <icabs-datepicker id="DateFrom" formControlName="DateFrom" [isDirectiveBased]="false">
                        </icabs-datepicker>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col24">{{'Report Type' | translate}} </label>
                    <div class="col24 pr5">
                        <select class="form-control" id="ReportTypeFilter" formControlName="ReportTypeFilter"
                            (change)="onChangeReportTypeFilter()">
                            <option *ngFor="let reportFilters of reportFilterValues" value="{{reportFilters.value}}">
                                {{reportFilters.value | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3 mt2" *ngIf="this.getControlValue('ReportTypeFilter') === 'All'">
                    <div class="row"></div>
                    <label class="col24">{{'History Type' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="HistoryTypeCode" class="form-control" formControlName="HistoryTypeCode"
                            (change)="onChangeHistoryTypeData()">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="HistoryTypeDesc" class="form-control" formControlName="HistoryTypeDesc"
                            value={{HistoryTypeDesc}} [disabled]='true'>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="inputParamsHistoryCode"
                            [contentComponent]="historyTypeSearchComponent" [showHeader]="true"
                            (ellipsisData)="onSelectHistoryType($event)"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24"> {{'User Code' | translate }}
                    </label>
                    <div class="col8 pr5">
                        <input size="10" maxlength="10" class="form-control" type="text" id="UserCode"
                            formControlName="UserCode" (change)="onUserCodeChange()" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input size="40" maxlength="40" class="form-control" type="text" id="UserName"
                            formControlName="UserName" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsis['userInformation']['inputParams']"
                            [contentComponent]="ellipsis['userInformation']['contentComponent']"
                            (ellipsisData)="onUserInformationOnDataRecieved($event)" [showHeader]="true">
                        </icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col16">{{'To' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col18">
                        <icabs-datepicker id="DateTo" formControlName="DateTo" [isDirectiveBased]="false">
                        </icabs-datepicker>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col12 pr5">{{'Contract Type' | translate}} </label>
                    <select class="form-control" id="ContractTypeFilter" formControlName="ContractTypeFilter">
                        <option selected value="">{{ 'All' | translate }}</option>
                        <option value="C">{{ 'Contracts' | translate }}</option>
                        <option value="J">{{ 'Jobs' | translate }}</option>
                        <option value="P">{{ 'Product Sales' | translate }}</option>
                    </select>
                </div>
                <div class="col-sm-2 mt20">
                    <input type="checkbox" formControlName="ServiceOnlyView" id="ServiceOnlyView" class="form-control">
                    <label for="ServiceOnlyView">{{ 'Service Not Negotiated' | translate }}</label>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [canExport]="true" [totalItems]="gridConfig.totalRecords"
                        [itemsPerPage]="gridConfig.pageSize" [currentPage]="gridConfig.currentPage"
                        (getCurrentPage)="getCurrentPage($event)"
                        [exportOptions]="{datecolumns: '22', dateTimeColumns: '0'}">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (headerClick)="onRiGridRefresh()"
                        (bodyDblClick)="onGridBodyDoubleClick($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-custom-alert #customAlert [alertMessage]="alertMessage"></icabs-custom-alert>
