<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row">
                <div class="col-sm-3">
                    <label class="col24" for="Customer Category">{{'Category Code' | translate }}</label>
                    <div class="col24">
                        <icabs-common-dropdown [inputParams]="dropdown.custCategory.params"
                            [isActive]="dropdown.custCategory.active" [isFirstItemSelected]="false"
                            [displayFields]="['CategoryCode', 'CategoryDesc']"
                            (onDataReceived)="onDataRecieved($event, 'CategoryCode');onChange()">
                        </icabs-common-dropdown>
                        <input type="hidden" class="form-control" formControlName="CategoryCode" size="9"
                            [attr.maxlength]="5" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="hidden" class="form-control" formControlName="CategoryDesc" size="40"
                            [attr.maxlength]="40">
                    </div>
                    <div class="col2"></div>
                </div>
            </div>

            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col20">{{'Account Owner' |translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="AccountOwnerCode" size="9" maxlength="9" (change)="onChange()"
                            formControlName="AccountOwnerCode" class="form-control" fetchDescription table="Employee"
                            query="EmployeeCode" select="EmployeeSurname" field="AccountOwnerSurname" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="AccountOwnerSurname" formControlName="AccountOwnerSurname" size="30"
                            maxlength="37" class="form-control">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsis.AccountOwnerCode.childConfigParams"
                            [contentComponent]="ellipsis.AccountOwnerCode.component" [showHeader]="true"
                            (ellipsisData)="onDataRecieved($event, 'AccountOwnerCode')">
                        </icabs-ellipsis>
                    </div>
                </div>
            </div>

            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col20">{{'Account Number' |translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="AccountNumber" size="9" maxlength="9" (change)="onChange()"
                            formControlName="AccountNumber" class="form-control" fetchDescription table="Account"
                            query="AccountNumber" select="AccountName" icabsZeroPad eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="AccountName" formControlName="AccountName" size="30" maxlength="37"
                            class="form-control">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsis.AccountNumber.childConfigParams"
                            [contentComponent]="ellipsis.AccountNumber.component" [showHeader]="true"
                            (ellipsisData)="onDataRecieved($event, 'AccountNumber')">
                        </icabs-ellipsis>
                    </div>
                </div>
            </div>

            <div class="row mt5">
                <div class="col-sm-3">
                    <div class="col20 mt20">
                        <input type="checkbox" class="form-control" id="ShowIndContract"
                            formControlName="ShowIndContract">
                        <label for="ShowIndContract">{{'Show Individual Contracts' | translate}}</label>
                    </div>
                </div>
            </div>

            <hr class="mt15 mb15">

            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()">
                    </icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="this['pageParams'].gridConfig.totalItem"
                        [currentPage]="this['pageParams'].gridCurrentPage"
                        [itemsPerPage]="this['pageParams'].gridConfig.itemsPerPage"
                        (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)"
                        [ngClass]="{hidden: !this['pageParams'].hasGridData}">
                    </icabs-pagination>
                </div>
            </div>

            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (headerClick)="onRiGridRefresh()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>