<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{this['pageTitle']|translate}}
                </h1>
            </div>
        </div>
    </header>

    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col24">{{'Business'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="BusinessCode" size="2" [attr.maxlength]="2" class="form-control"
                            formControlName="BusinessCode" eTypeCode>
                    </div>
                    <div class="col16">
                        <input type="text" id="BusinessDesc" size="30" [attr.maxlength]="40" class="form-control"
                            formControlName="BusinessDesc" eTypeText>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Region'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="RegionCode" size="2" [attr.maxlength]="2" class="form-control"
                            formControlName="RegionCode" eTypeCode>
                    </div>
                    <div class="col16">
                        <input type="text" id="RegionDesc" size="20" [attr.maxlength]="40" class="form-control"
                            formControlName="RegionDesc" eTypeText>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col20">{{'Suspend Reason (blank for all)' |translate}} </label>
                    <div class="col20 pr5">
                        <icabs-common-dropdown [inputParams]="dropdown.suspendReasonSearch.params"
                            [isActive]="dropdown.suspendReasonSearch.active"
                            [displayFields]="dropdown.suspendReasonSearch.displayFields"
                            (onDataReceived)="onSuspendReasonDataRecieved($event)">
                        </icabs-common-dropdown>
                    </div>
                </div>
            </div>
        </section>
    </form>

    <hr class="mt15 mb15">
    <div class="row mt10">
        <div class="col-sm-6">
            <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
            <icabs-pagination #riGridPagination [totalItems]="gridConfig.totalItem"
                [currentPage]="this['pageParams'].gridCurrentPage" [itemsPerPage]="gridConfig.itemsPerPage"
                [canExport]="true" (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)"
                [ngClass]="{hidden: !hasGridData}">
            </icabs-pagination>
        </div>
    </div>
    <div class="row mt10">
        <div class="col-sm-12">
            <icabs-grid-advanced #riGrid (bodyDblClick)="onGridBodyDoubleClick()" (headerClick)="onHeaderClick()">
            </icabs-grid-advanced>
        </div>
    </div>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>