<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']" class="hidden0">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="ContractNumber">{{ 'Contract Number' | translate}}</label>
                    <div class="col6 pr5">
                        <input id="ContractNumber" class="form-control" formControlName="ContractNumber" type="text" eTypeCode size="9" maxlength="8">
                    </div>
                    <div class="col16">
                        <input id="ContractName" class="form-control" formControlName="ContractName" type="text" size="40" maxlength="40">
                    </div>
                </div>

                <div class="col-sm-4" *ngIf="parentMode === 'Premise' || parentMode === 'Product'">
                        <label class="col24" for="PremiseNumber">{{ 'Premises Number' | translate}}</label>
                        <div class="col6 pr5">
                            <input id="PremiseNumber" class="form-control" formControlName="PremiseNumber" type="text" eTypeCode ssize="9" maxlength="5">
                        </div>
                        <div class="col16">
                            <input id="PremiseName" class="form-control" formControlName="PremiseName" type="text" size="40" maxlength="40">
                        </div>
                    </div>

                    <div class="col-sm-4" *ngIf="parentMode === 'Product'">
                        <label class="col24" for="ProductCode">{{ 'Product Code' | translate}}</label>
                        <div class="col6 pr5">
                            <input id="ProductCode" class="form-control" formControlName="ProductCode" type="text" eTypeCode size="87" maxlength="6">
                        </div>
                        <div class="col16">
                            <input id="ProductDesc" class="form-control" formControlName="ProductDesc" type="text" size="35" maxlength="35">
                        </div>
                    </div>
            </div>

            <div class="row mt5">
                <div class="col-sm-4">
                    <div class="col8 pr5">
                        <label class="col24" id="spanPremiseCommenceDate">{{ 'Visit Due Date From' | translate }}
                        </label>
                            <icabs-datepicker id="DateFrom" formControlName="DateFrom" [isDirectiveBased]="false"></icabs-datepicker>
                    </div>
                    <div class="col8 pr5">
                        <label class="col24" id="spanPremiseCommenceDate">{{ 'Date To' | translate }}
                        </label>
                            <icabs-datepicker id="DateTo" formControlName="DateTo" [isDirectiveBased]="false"></icabs-datepicker>
                    </div>
                </div>
            </div>

            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">Status</label>
                    <div class="col16 pr5">
                        <select class="form-control" formcontrolname="Status" id="Status" (change)="onChangeStatus($event)">
                            <option value="All">{{'All' | translate}}</option>
                            <option value="C">{{'Completed'  | translate}}</option>
                            <option value="I">{{'Incomplete' | translate}}</option>
                            <option value="N">{{'New' | translate}}</option>
                            <option value="V">{{'Void' | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-9">
                    <icabs-refresh (click)="refresh()"></icabs-refresh>
                    <icabs-pagination #riPagination [totalItems]="this['pageParams'].totalRecords" [currentPage]="this['pageParams'].pageCurrent"
                        [itemsPerPage]="this['pageParams'].pageSize" (getCurrentPage)="getCurrentPage($event)" *ngIf="this['pageParams']['totalRecords'] > 0"></icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid id="riGrid" (bodyDblClick)="tbodyOnDblclick($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>