<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <div class="row mt5">
            <div class="col-sm-4" *ngIf="getControlValue('RunStyle')==='AddTeam'">
                <label class="col24">{{'Team Code'|translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="TeamID" size="12" maxlength="12" class="form-control"
                        formControlName="TeamID" eTypeCode>
                </div>
                <div class="col16">
                    <input type="text" id="TeamSystemName" size="50" maxlength="50" class="form-control"
                        formControlName="TeamSystemName" eTypeText>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="getControlValue('RunStyle')==='AddUser'">
                <label class="col24">{{'User Code'|translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="UserCode" size="12" maxlength="12" class="form-control"
                        formControlName="UserCode" eTypeCode>
                </div>
                <div class="col16">
                    <input type="text" id="UserName" size="50" maxlength="50" class="form-control"
                        formControlName="UserName" eTypeText>
                </div>
            </div>
            <div class="col-sm-3 mt20">
                <input class="btn btn-primary mr10" type="button" [value]="'Add' | translate" (click)="onAddClick()">
            </div>
        </div>
        <hr class="mt15 mb15">
        <div class="row">
            <div class="col-sm-6">
                <icabs-refresh (onRefresh)="this['commonGridFunction'].onRefreshClick()"></icabs-refresh>
                <icabs-pagination #riGridPagination [totalItems]="this['pageParams'].gridConfig.totalRecords"
                [itemsPerPage]="this['pageParams'].gridConfig.pageSize" [currentPage]="this['pageParams'].gridCurrentPage"
                (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)">
                </icabs-pagination>
            </div>
            <icabs-grid-advanced #riGrid (bodyDblClick)="onGridBodyDoubleClick()" (headerClick)="this['commonGridFunction'].onRefreshClick(cacheRefreshOnHeaderClick.bind(this))"></icabs-grid-advanced>
        </div>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>