/* Base for label styling */
[type="radio"]:not(:checked),
[type="radio"]:checked {
  opacity: 0;
  position: absolute;
  width: auto;
}
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  min-height: 27px;
  line-height: 25px;
  width: auto;
}

/* radio aspect */
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; 
  top: 0px;
  width: 27px; height: 27px;
  border: 1px solid #bbb;
  background: #fff;
  border-radius: 50%;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
  content: '•';
  position: absolute;
  top: 1px; left: 5px;
  font-size: 32px;
  line-height: 0.8;
  color: #007dc5;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled radio */
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="radio"]:disabled:checked + label:after {
  color: #999;
}
[type="radio"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="radio"]:checked:focus + label:before,
[type="radio"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
  background-color: #FCF0C4 !important;
}
