 /*** .notifications ***/
.notifications {
    position: fixed;
    top:0;
    left: 20%;
    width: 60%;
    z-index: 9999;
    .alert {
        width: 100%;
        margin: auto;
        z-index: 9999;
        margin-top: 10px;
        &.alert-success {
            border-color: #3C763D!important;
            box-shadow: 0 0 10px #C2E6C2;
        }
        &.alert-warning {
            border-color: #3C763D!important;
            box-shadow: 0 0 10px #A79982;
        }
        &.alert-danger {
            border-color: #A94442!important;
            box-shadow: 0 0 10px #C2E6C2;
        }
        .glyphicon {
            vertical-align: top;
        }
        div.alert-text {
            display: inline-block;
            padding-left: 10px;
            font-weight: 700;
            white-space: break-spaces;
            width: 90%;
        }
    }
}
