<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
        <form novalidate [formGroup]="this['uiForm']">
            <div class="row mt5">
                <div class="col-sm-3" *ngIf="type!=='branch'">
                    <label class="col24">{{'Business'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="BusinessCode" size="3" [attr.maxlength]="3" class="form-control"
                            formControlName="BusinessCode" eTypeCode>
                    </div>
                    <div class="col16">
                        <input type="text" id="BusinessDesc" size="30" [attr.maxlength]="40" class="form-control"
                            formControlName="BusinessDesc" eTypeText>
                    </div>
                </div>
                <div class="col-sm-3" *ngIf="type==='branch'">
                    <label class="col24">{{'Branch'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="BranchNumber" size="5" [attr.maxlength]="5" class="form-control"
                            formControlName="BranchNumber" eTypeInteger>
                    </div>
                    <div class="col16">
                        <input type="text" id="BranchName" size="30" [attr.maxlength]="40" class="form-control"
                            formControlName="BranchName" eTypeText>
                    </div>
                </div>
                <div class="col-sm-3 ml6" *ngIf="type!=='branch'">
                    <div class="col16">
                        <label class="col24" for="lstViewType">{{'View Type' | translate}}</label>
                        <select class="form-control" id="lstViewType" formControlName="lstViewType" (change)="onViewTypeChnage()">
                            <option value="Branch">{{'Branch' | translate}}</option>
                            <option value="Region">{{'Region' | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3" *ngIf="this['pageParams'].SCEnableCompanyCode">
                    <label class="col24">{{'Company (blank for all)'|translate}}</label>
                    <div class="col24">
                        <icabs-business-company-search [inputParams]="dropDown.company.inputParams" [active]="dropDown.company.active"
                            [isDisabled]="type==='branch' && this['parentMode']" (receivedCompanyCode)="onDataReceived($event)"></icabs-business-company-search>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [ngClass]="{hidden: !hasGridData}" [totalItems]="this['pageParams'].gridConfig.totalRecords"
                        [itemsPerPage]="this['pageParams'].gridConfig.pageSize" [currentPage]="this['pageParams'].gridCurrentPage"
                        (getCurrentPage)="getCurrentPage($event)" [canExport]="true">
                    </icabs-pagination>
                </div>
                <div class="col-sm-12 mt10">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="onGridBodyDoubleClick($event)">
                    </icabs-grid-advanced>
                </div>
            </div>
        </form>
    </header>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>