<icabs-modal #modal="child" [size]="'xs'" [showHeader]="true">
    <div class="container-fluid custom-container">
        <div class="row mt10">
            <div class="col-sm-12">
                <ul class="colorKeys col24 mb20" *ngFor="let legend of legendDetails; let lastItem = last;"
                    [ngClass]="{ 'clearfix' : !lastItem }">
                    <li class="heading">{{ legend.header.main | translate }}</li>
                    <li class="col24 subHeading">
                        <div class="col3">{{ legend.header.sub.text | translate }}</div>
                        <div class="col21">{{ legend.header.sub.desc | translate }}</div>
                    </li>
                    <li class="col24" *ngFor="let item of legend.body" [style.background-color]="item.color">
                        <div class="col21 pull-right" *ngFor="let text of item.text">{{ text | translate }}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</icabs-modal>
