<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="LanguageCode">{{ 'Language Code' | translate}}</label>
                    <div class="col14 pr5">
                        <input id="LanguageCode" class="form-control" formControlName="LanguageCode" type="text" size="3"
                            maxlength="3" (change)="onlanguageSearchDataChange()" eTypeTextFree>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="languageSearch.childConfigParams" [disabled]="languageSearch.disabled"
                            [modalConfig]="languageSearch.modalConfig" [contentComponent]="languageSearch.contentComponent"
                            [showHeader]="languageSearch.showHeader" [showCloseButton]="languageSearch.showCloseButton"
                            (ellipsisData)="onlanguageSearchDataRecieved($event)"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="View">{{ 'View' | translate}}</label>
                    <div class="col24 pr5">
                        <select id="View" class="form-control" formControlName="View" (change)="selectedOption($event.target.value)">
                            <option value="All" [selected]="true">{{'All'|translate}}</option>
                            <option value="Translated">{{'Translated'|translate}}</option>
                            <option value="UnTranslated">{{'UnTranslated'|translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="LanguageDescription">{{ 'Language Description' | translate}}</label>
                    <div class="col16 pr5">
                        <input id="LanguageDescription" class="form-control" formControlName="LanguageDescription" type="text"
                            size="20" maxlength="20" eTypeTextFree>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="FilterTranslationLanguageValue">{{ 'Filter' | translate}}</label>
                    <div class="col24 pr5">
                        <input id="FilterTranslationLanguageValue" class="form-control" formControlName="FilterTranslationLanguageValue"
                            type="text" size="27" maxlength="40">
                    </div>
                </div>
            </div>
            <!--TAB List-->
            <div class="row mt30">
                <div class="col-sm-12">
                    <ul class="nav nav-tabs active">
                        <li class="nav-item active" id="grdScreenConstants" [ngClass]="{'active': uiDisplay.tab.tab1.active}">
                            <a class="nav-link" [ngClass]="{'active': uiDisplay.tab.tab1.active}" (click)="renderTab('grdScreenConstants')">
                                <span>{{'Screen Constants'|translate }}</span>
                            </a>
                        </li>
                        <li class="nav-item" id="grdErrorMessages" [ngClass]="{'active': uiDisplay.tab.tab2.active}">
                            <a class="nav-link" [ngClass]="{'active': uiDisplay.tab.tab2.active}" (click)="renderTab('grdErrorMessages')">
                                <span>{{'Error Messages'|translate }}</span>
                            </a>
                        </li>
                        <li class="nav-item" id="grdBatchProcessTypes" [ngClass]="{'active': uiDisplay.tab.tab3.active}">
                            <a class="nav-link" [ngClass]="{'active': uiDisplay.tab.tab3.active}" (click)="renderTab('grdBatchProcessTypes')">
                                <span>{{'Batch Process Types'|translate }}</span>
                            </a>
                        </li>
                        <li class="nav-item" id="grdControlText" [ngClass]="{'active': uiDisplay.tab.tab4.active}">
                            <a class="nav-link" [ngClass]="{'active': uiDisplay.tab.tab4.active}" (click)="renderTab('grdControlText')">
                                <span>{{'Control Text'|translate }}</span>
                            </a>
                        </li>
                    </ul>
                    <!--Screens Constants-->
                    <div class="tab-content">
                        <div class="tab-pane active" [ngClass]="{'active': uiDisplay.tab.tab1.active}">
                            <div id="grdScreenConstants" class="mt10">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <icabs-refresh (click)="screenConstantsGridRefresh()" [ngClass]="{'hidden': isScreensConstantsRefresh}"></icabs-refresh>
                                        <icabs-pagination #screensConstantsPagination [ngClass]="{'hidden': isScreensConstantsPagination}"
                                            [totalItems]="screensConstantsGridParams['totalRecords']" [itemsPerPage]="screensConstantsGridParams['itemsPerPage']"
                                            [currentPage]="screensConstantsGridParams['pageCurrent']" (getCurrentPage)="getScreensConstantsGridCurrentPage($event)"></icabs-pagination>
                                    </div>
                                </div>
                                <div class="row mt10">
                                    <div class="col-sm-6">
                                        <icabs-grid-advanced #screensConstantsGrid (TRDblClick)="riGridBodyOnDblClick($event)"
                                            (bodyColumnBlur)="onUpdateGrid('grdScreenConstants',$event)"></icabs-grid-advanced>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Error Messages-->
                    <div class="tab-content">
                        <div class="tab-pane" [ngClass]="{'active': uiDisplay.tab.tab2.active}">
                            <div id="grdErrorMessages" class="mt10">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <icabs-refresh (click)="errorMessagesGridRefresh()" [ngClass]="{'hidden': iserrorMessagesRefresh}"></icabs-refresh>
                                        <icabs-pagination #errorMessagesPagination [ngClass]="{'hidden': iserrorMessagesPagination}"
                                            [totalItems]="errorMessagesGridParams['totalRecords']" [itemsPerPage]="errorMessagesGridParams['itemsPerPage']"
                                            [currentPage]="errorMessagesGridParams['pageCurrent']" (getCurrentPage)="getErrorMessagesGridCurrentPage($event)"></icabs-pagination>
                                    </div>
                                </div>
                                <div class="row mt10">
                                    <div class="col-sm-12">
                                        <icabs-grid-advanced #errorMessagesGrid (bodyColumnBlur)="onUpdateGrid('grdErrorMessages')"></icabs-grid-advanced>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Batch Process Types-->
                    <div class="tab-content">
                        <div class="tab-pane" [ngClass]="{'active': uiDisplay.tab.tab3.active}">
                            <div id="grdBatchProcessTypes" class="mt10">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <icabs-refresh (click)="batchProcessTypesGridRefresh()" [ngClass]="{'hidden': isbatchProcessTypesRefresh}"></icabs-refresh>
                                        <icabs-pagination #batchProcessTypesPagination [ngClass]="{'hidden': isbatchProcessTypesPagination}"
                                            [totalItems]="batchProcessTypesGridParams['totalRecords']" [itemsPerPage]="batchProcessTypesGridParams['itemsPerPage']"
                                            [currentPage]="batchProcessTypesGridParams['pageCurrent']" (getCurrentPage)="getBatchProcessTypesGridCurrentPage($event)"></icabs-pagination>
                                    </div>
                                </div>
                                <div class="row mt10">
                                    <div class="col-sm-12">
                                        <icabs-grid-advanced #batchProcessTypesGrid (bodyColumnBlur)="onUpdateGrid('grdBatchProcessTypes')"></icabs-grid-advanced>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Control Text-->
                    <div class="tab-content">
                        <div class="tab-pane" [ngClass]="{'active': uiDisplay.tab.tab4.active}">
                            <div id="grdControlText" class="mt10">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <icabs-refresh (click)="controlTextGridRefresh()" [ngClass]="{'hidden': iscontrolTextGridRefresh}"></icabs-refresh>
                                        <icabs-pagination #controlTextPagination [ngClass]="{'hidden': iscontrolTextGridPagination}"
                                            [totalItems]="controlTextGridParams['totalRecords']" [itemsPerPage]="controlTextGridParams['itemsPerPage']"
                                            [currentPage]="controlTextGridParams['pageCurrent']" (getCurrentPage)="getControlTextGridCurrentPage($event)"></icabs-pagination>
                                    </div>
                                </div>
                                <div class="row mt10">
                                    <div class="col-sm-12">
                                        <icabs-grid-advanced #controlTextGrid (bodyColumnBlur)="onUpdateGrid('grdControlText')"></icabs-grid-advanced>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>