<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <div class="row mt5">
            <div class="col-sm-3">
                <label class="col24">{{'Business'|translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="BusinessCode" size="2" maxlength="1" class="form-control" formControlName="BusinessCode"
                        eTypeCode>
                </div>
                <div class="col16">
                    <input type="text" id="BusinessDesc" size="30" maxlength="40" class="form-control" formControlName="BusinessDesc"
                        eTypeText>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col16">{{ 'P.O.\'s Expiring Prior To' | translate }} <span class="mandatory">* </span>
                </label>
                <div class="col16">
                    <icabs-datepicker id="SelectDateTo" formControlName="SelectDateTo" [isDirectiveBased]="false">
                    </icabs-datepicker>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col16">
                    <label class="col24" for="ViewBy">{{'View By' | translate}}</label>
                    <select class="form-control" id="ViewBy" formControlName="ViewBy">
                        <option value="Branch">{{'Branch' | translate}}</option>
                        <option value="Region">{{'Region' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
        <hr class="mt15 mb15">
        <div class="row">
            <div class="col-sm-6">
                <icabs-refresh (onRefresh)="this['commonGridFunction'].onRefreshClick()"></icabs-refresh>
                <icabs-pagination #riGridPagination [totalItems]="this['pageParams'].gridConfig.totalRecords" [canExport]="true" 
                    [itemsPerPage]="this['pageParams'].gridConfig.pageSize" [currentPage]="this['pageParams'].gridCurrentPage"
                    (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)">
                </icabs-pagination>
            </div>
            <icabs-grid-advanced #riGrid (headerClick)="this['commonGridFunction'].onRefreshClick(cacheRefreshOnHeaderClick.bind(this))"
                (bodyDblClick)="onGridBodyDoubleClick()"></icabs-grid-advanced>
        </div>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>