<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <div class="row mt5">
            <div class="col-sm-3">
                <label class="col24">{{'Branch'|translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="BranchNumber" size="3" maxlength="5" class="form-control" formControlName="BranchNumber"
                        eTypeCode>
                </div>
                <div class="col16">
                    <input type="text" id="BranchName" size="20" maxlength="40" class="form-control" formControlName="BranchName"
                        eTypeText>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col16">
                    <label class="col24" for="UsePOExpiryDate">{{'PO Expiry Date' | translate}}</label>
                    <select class="form-control" id="UsePOExpiryDate" formControlName="UsePOExpiryDate" (change)="onUsePOExpiryDateChange()">
                        <option value="Yes">{{'With Date' | translate}}</option>
                        <option value="No">{{'Without A Date' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="getControlValue('UsePOExpiryDate')==='Yes'">
                <label class="col16">{{ 'P.O.\'s Expiring Prior To' | translate }} <span class="mandatory">* </span>
                </label>
                <div class="col16">
                    <icabs-datepicker id="SelectDateTo" formControlName="SelectDateTo" [isDirectiveBased]="false">
                    </icabs-datepicker>
                </div>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-sm-3">
                <div class="col16">
                    <label class="col24" for="QueryLevel">{{'Level' | translate}}</label>
                    <select class="form-control" id="QueryLevel" formControlName="QueryLevel" (change)="onQueryLevelChange()">
                        <option value="Contract">{{'Contract' | translate}}</option>
                        <option value="Premise">{{'Premises' | translate}}</option>
                        <option *ngIf="this['pageParams'].glSCPORefsAtServiceCover" value="ServiceCover">{{'Service Cover' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24" for="NegSalesEmployee">{{'Neg. Employee'|translate}}</label>
                <div class="col16 pr5">
                    <input type="text" id="NegSalesEmployee" size="8" maxlength="6" class="form-control"
                        formControlName="NegSalesEmployee" eTypeText>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="col16">
                    <label class="col24" for="NegServBranch">{{'Branch' | translate}}</label>
                    <select class="form-control" id="NegServBranch" formControlName="NegServBranch">
                        <option value="Neg">{{'Negotiating' | translate}}</option>
                        <option value="Serv">{{'Servicing' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
        <hr class="mt15 mb15">
        <div class="row">
            <div class="col-sm-6">
                <icabs-refresh (onRefresh)="this['commonGridFunction'].onRefreshClick()"></icabs-refresh>
                <icabs-pagination #riGridPagination [totalItems]="this['pageParams'].gridConfig.totalRecords"
                    [itemsPerPage]="this['pageParams'].gridConfig.pageSize" [currentPage]="this['pageParams'].gridCurrentPage"
                    [canExport]="true" [exportOptions]="exportConfig"
                    (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)">
                </icabs-pagination>
            </div>
            <icabs-grid-advanced #riGrid (headerClick)="this['commonGridFunction'].onRefreshClick(cacheRefreshOnHeaderClick.bind(this))"
                (bodyDblClick)="onGridBodyDoubleClick()"></icabs-grid-advanced>
        </div>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>