<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row">
                <div class="col-sm-2">
                    <label class="col24">{{ 'Report Type' | translate }}</label>
                    <select id="ReportType" formControlName="ReportType" class="form-control">
                        <option value="Contract">{{ 'Contract Summary' | translate }}</option>
                        <option value="ContractServ">{{ 'Contract Detail (Serv)' | translate }}</option>
                        <option value="ContractNeg">{{ 'Contract Detail (Neg)' | translate }}</option>
                        <option value="premise">{{ 'Premises Detail' | translate }}</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <label class="col24">{{ 'Sort By' | translate }}</label>
                    <select id="SortBy" formControlName="SortBy" class="form-control">
                        <option value="Contract">{{ 'Contract Number' | translate }}</option>
                        <option value="Name">{{ 'Name' | translate }}</option>
                        <option value="Postcode">{{ 'Postcode' | translate }}</option>
                        <option value="SalesArea">{{ 'Sales Area' | translate }}</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <div class="col24 mt20">
                        <input type="checkbox" id="TotalsOnly" formControlName="TotalsOnly" class="form-control">
                        <label for="TotalsOnly">{{ 'Totals Only' | translate }}</label>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col24">{{ 'Report Destination' | translate }}</label>
                    <select id="RepDest" formControlName="RepDest" class="form-control">
                        <option value="direct">{{ 'Report Viewer' | translate }}</option>
                        <option value="Email">{{ 'Email' | translate }}</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <div class="col24 mt20">
                        <input type="checkbox" id="OutputToCSV" formControlName="OutputToCSV" class="form-control"
                            (change)="onChangeOutputToCSV()">
                        <label for="OutputToCSV">{{ 'Output To CSV File' | translate }}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="col24 mt20">
                        <input class="btn btn-primary" type="button"
                            value="{{ 'Submit Report Generation' | translate }}" (click)="submitReport()">
                    </div>
                </div>
                <div class="col-sm-8" *ngIf="reportMessage">
                    <label class="col24 mt20 message-box info-label">
                        {{ reportMessage | translate }}
                    </label>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row mt10">
                <div class="col-sm-4 control-group">
                    <div class="row mt10">
                        <div class="col-sm-11 group-header ml15">
                            <label class="col24">{{ 'General' | translate }}</label>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-6">
                            <label class="col24">{{ 'Commence Date' | translate }}
                                {{ 'From' | translate }} <span class="mandatory">* </span></label>
                            <div class="col24 pr5">
                                <icabs-datepicker id="DateFrom" formControlName="DateFrom" [isDirectiveBased]="false">
                                </icabs-datepicker>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="col24">{{ 'Commence Date' | translate }}
                                {{ 'To' | translate }} <span class="mandatory">* </span></label>
                            <div class="col24 pr5">
                                <icabs-datepicker id="DateTo" formControlName="DateTo" [isDirectiveBased]="false">
                                </icabs-datepicker>
                            </div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-6">
                            <label class="col24">{{ 'Value From' | translate }} <span class="mandatory">*
                                </span></label>
                            <div class="col24 pr5">
                                <input type="text" id="ValueFrom" class="form-control" formControlName="ValueFrom"
                                    [attr.maxlength]="10" eTypeCurrency>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="col24">{{ 'Value To' | translate }} <span class="mandatory">* </span></label>
                            <div class="col24 pr5">
                                <input type="text" id="ValueTo" class="form-control" formControlName="ValueTo"
                                    [attr.maxlength]="10" eTypeCurrency>
                            </div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-6">
                            <label class="col24">{{ 'Status' | translate }}</label>
                            <div class="col24">
                                <select id="FilterBy" formControlName="FilterBy" class="form-control"
                                    (change)="onChangeFilterBy()">
                                    <option value="All">{{ 'All' | translate }}</option>
                                    <option value="AllCurrent">{{ 'Current (All)' | translate }}
                                    </option>
                                    <option value="L">{{ 'Current' | translate }}</option>
                                    <option value="FL">{{ 'Forward Current' | translate }}</option>
                                    <option value="T">{{ 'Terminated' | translate }}</option>
                                    <option value="FT">{{ 'Forward Terminated' | translate }}</option>
                                    <option value="PT">{{ 'Pending Terminated' | translate }}</option>
                                    <option value="C">{{ 'Cancelled' | translate }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="col24">{{ 'Seasonal' | translate }}</label>
                            <div class="col24">
                                <select id="SeasonalInd" formControlName="SeasonalInd" class="form-control">
                                    <option value="IncludeSeasonal">{{ 'Include' | translate }}</option>
                                    <option value="ExcludeSeasonal">{{ 'Exclude' | translate }}</option>
                                    <option value="SeasonalOnly">{{ 'Only' | translate }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-6">
                            <label class="col24">{{ 'Termination Date' | translate }}
                                {{ 'From' | translate }}</label>
                            <div class="col24 pr5">
                                <icabs-datepicker id="TermDateFrom" formControlName="TermDateFrom"
                                    [isDirectiveBased]="false">
                                </icabs-datepicker>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="col24">{{ 'Termination Date' | translate }}
                                {{ 'To' | translate }}</label>
                            <div class="col24 pr5">
                                <icabs-datepicker id="TermDateTo" formControlName="TermDateTo"
                                    [isDirectiveBased]="false">
                                </icabs-datepicker>
                            </div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-12">
                            <label class="col24 mt10 group-label">{{ 'Include' | translate }}</label>
                            <div class="col24 indent-left-25 group-controls">
                                <div class="row mt10">
                                    <div class="col-sm-6">
                                        <div class="col24 mt20">
                                            <input type="checkbox" id="IncludeDeleted" formControlName="IncludeDeleted"
                                                class="form-control">
                                            <label for="IncludeDeleted">{{ 'Deleted' | translate }}</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="col24 mt20">
                                            <input type="checkbox" id="IncludeContracts"
                                                formControlName="IncludeContracts" class="form-control"
                                                (change)="onChangeIncludeOptions('Contracts')">
                                            <label for="IncludeContracts">{{ 'Contracts' | translate }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt10">
                                    <div class="col-sm-6">
                                        <div class="col24 mt20">
                                            <input type="checkbox" id="IncludeJobs" formControlName="IncludeJobs"
                                                class="form-control" (change)="onChangeIncludeOptions('Jobs')">
                                            <label for="IncludeJobs">{{ 'Jobs' | translate }}</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="col24 mt20">
                                            <input type="checkbox" id="IncludeProductSales"
                                                formControlName="IncludeProductSales" class="form-control"
                                                (change)="onChangeIncludeOptions('ProductSales')">
                                            <label for="IncludeProductSales">{{ 'Product Sales' | translate }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt10">
                                    <div class="col-sm-6">
                                        <div class="col24 mt20">
                                            <input type="checkbox" id="IncludeTrialProducts"
                                                formControlName="IncludeTrialProducts" class="form-control"
                                                (change)="onChangeIncludeOptions('TrialProducts')">
                                            <label
                                                for="IncludeTrialProducts">{{ 'Trial Products Only' | translate }}</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="col24 mt20">
                                            <input type="checkbox" id="IncludeFOCProducts"
                                                formControlName="IncludeFOCProducts" class="form-control"
                                                (change)="onChangeIncludeOptions('FOCProducts')">
                                            <label
                                                for="IncludeFOCProducts">{{ 'FOC Products Only' | translate }}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 control-group">
                    <div class="row mt10 control-group-label">
                        <div class="col-sm-8 group-header ml15">
                            <label class="col24">{{ 'Filters' | translate }}</label>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-4">
                            <label class="col24">{{ 'Sales Area' | translate }}</label>
                            <div class="col22 pr5">
                                <input type="text" id="SalesAreaCode" class="form-control"
                                    formControlName="SalesAreaCode" [attr.maxlength]="4" eTypeText>
                            </div>
                            <div class="col2 pr5">
                                <icabs-ellipsis #salesAreaSearch [childConfigParams]="ellipsis.salesArea.childParams"
                                    [contentComponent]="ellipsis.salesArea.component" [showHeader]="true"
                                    [showCloseButton]="true"
                                    (ellipsisData)="onEllipsisDataSelect($event, 'SalesAreaCode')"></icabs-ellipsis>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="col24">{{ 'Sales Employee' | translate }}</label>
                            <div class="col22 pr5">
                                <input type="text" id="SalesEmployeeCode" class="form-control"
                                    formControlName="SalesEmployeeCode" [attr.maxlength]="8" eTypeText>
                            </div>
                            <div class="col2 pr5">
                                <icabs-ellipsis #salesEmployee [childConfigParams]="ellipsis.salesEmployee.childParams"
                                    [contentComponent]="ellipsis.salesEmployee.component" [showHeader]="true"
                                    [showCloseButton]="true"
                                    (ellipsisData)="onEllipsisDataSelect($event, 'SalesEmployeeCode')">
                                </icabs-ellipsis>
                            </div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-4">
                            <label class="col24">{{ 'Service Area' | translate }}</label>
                            <div class="col22 pr5">
                                <input type="text" id="ServiceAreaCode" class="form-control"
                                    formControlName="ServiceAreaCode" [attr.maxlength]="4" eTypeText>
                            </div>
                            <div class="col2 pr5">
                                <icabs-ellipsis #serviceArea [childConfigParams]="ellipsis.serviceArea.childParams"
                                    [contentComponent]="ellipsis.serviceArea.component" [showHeader]="true"
                                    [showCloseButton]="true"
                                    (ellipsisData)="onEllipsisDataSelect($event, 'ServiceAreaCode')">
                                </icabs-ellipsis>
                            </div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-8">
                            <label class="col24">{{ 'Premises Postcode' | translate }}
                                {{ 'Use , to separate entries Use - for ranges' | translate }}</label>
                            <div class="col24 pr5">
                                <input type="text" id="PostcodeList" class="form-control" formControlName="PostcodeList"
                                    [attr.maxlength]="70" eTypeText>
                            </div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-8">
                            <label
                                class="col24">{{ 'Market Segments (blank=enter Customer Types)' | translate }}</label>
                            <div class="col24">
                                <icabs-common-dropdown [inputParams]="dropdown.marketSegment.inputParams"
                                    [isRequired]="false" [displayFields]="dropdown.marketSegment.displayColumns"
                                    (onDataReceived)="onMarketSegmentSelect($event)" [isMultiSelect]="true">
                                </icabs-common-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-8">
                            <label class="col24">{{ 'Customer Types (blank=all)' | translate }}</label>
                            <div class="col22 pr5">
                                <input type="text" id="CustomerTypes" class="form-control"
                                    formControlName="CustomerTypes" maxlength="70" eTypeCode
                                    (change)="onChangeEllipsisControls('CustomerTypes')">
                            </div>
                            <div class="col2">
                                <icabs-ellipsis [showCloseButton]="true" [showHeader]="true"
                                    [childConfigParams]="ellipsis.customerType.childParams"
                                    [contentComponent]="ellipsis.customerType.component"
                                    (ellipsisData)="onEllipsisDataSelect($event, 'CustomerTypes')">
                                </icabs-ellipsis>
                            </div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-8">
                            <label class="col24">{{ 'Service Types (blank=all)' | translate }}</label>
                            <div class="col24 pr5">
                                <icabs-servicetype-search [inputParams]="dropdown.serviceType.inputParams"
                                    (receivedServiceTypeData)="onServiceTypeSelect($event)" [isMultiSelect]="true">
                                </icabs-servicetype-search>
                            </div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-8">
                            <label class="col24">{{ 'Include Products (blank=all)' | translate }}</label>
                            <div class="col22 pr5">
                                <input type="text" id="IncludeProducts" class="form-control"
                                    formControlName="IncludeProducts" [attr.maxlength]="70" eTypeCode
                                    (change)="onChangeEllipsisControls('IncludeProducts')">
                            </div>
                            <div class="col2 pr5">
                                <icabs-ellipsis [childConfigParams]="ellipsis.includeProduct.childParams"
                                    [contentComponent]="ellipsis.includeProduct.component" [showHeader]="true"
                                    [showCloseButton]="true"
                                    (ellipsisData)="onEllipsisDataSelect($event, 'IncludeProducts')">
                                </icabs-ellipsis>
                            </div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-8">
                            <label class="col24">{{ 'Exclude Products (blank=none)' | translate }}</label>
                            <div class="col22 pr5">
                                <input type="text" id="ExcludeProducts" class="form-control"
                                    formControlName="ExcludeProducts" [attr.maxlength]="70" eTypeCode
                                    (change)="onChangeEllipsisControls('ExcludeProducts')">
                            </div>
                            <div class="col2 pr5">
                                <icabs-ellipsis [childConfigParams]="ellipsis.excludeProduct.childParams"
                                    [contentComponent]="ellipsis.excludeProduct.component" [showHeader]="true"
                                    [showCloseButton]="true"
                                    (ellipsisData)="onEllipsisDataSelect($event, 'ExcludeProducts')">
                                </icabs-ellipsis>
                            </div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-8">
                            <label class="col24">{{ 'Include Product Detail (blank=all)' | translate }}</label>
                            <div class="col22 pr5">
                                <input type="text" id="IncludeProductDetail" class="form-control"
                                    formControlName="IncludeProductDetail" [attr.maxlength]="70" eTypeCode
                                    (change)="onChangeEllipsisControls('IncludeProductDetail')">
                            </div>
                            <div class="col2 pr5">
                                <icabs-ellipsis [childConfigParams]="ellipsis.includeProductDetail.childParams"
                                    [contentComponent]="ellipsis.includeProductDetail.component" [showHeader]="true"
                                    [showCloseButton]="true"
                                    (ellipsisData)="onEllipsisDataSelect($event, 'IncludeProductDetail')">
                                </icabs-ellipsis>
                            </div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-8">
                            <label class="col24">{{ 'Exclude Product Detail (blank=none)' | translate }}</label>
                            <div class="col22 pr5">
                                <input type="text" id="ExcludeProductDetail" class="form-control"
                                    formControlName="ExcludeProductDetail" [attr.maxlength]="70" eTypeCode
                                    (change)="onChangeEllipsisControls('ExcludeProductDetail')">
                            </div>
                            <div class="col2 pr5">
                                <icabs-ellipsis [childConfigParams]="ellipsis.excludeProductDetail.childParams"
                                    [contentComponent]="ellipsis.excludeProductDetail.component" [showHeader]="true"
                                    [showCloseButton]="true"
                                    (ellipsisData)="onEllipsisDataSelect($event, 'ExcludeProductDetail')">
                                </icabs-ellipsis>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</section>
