<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>

    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row mt5">
                        <div class="col-sm-6">
                            <label class="col24" id="AmendmentRef">{{ renegsConstants["AmendmentRef"] | translate }}</label>
                            <div class="col16 pr5">
                                <input type="text" id="AmendmentRef" eTypeCode formControlName="AmendmentRef" value="" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-8">
                            <label class="col24" id="ContractNumber">{{ renegsConstants["ContractNumber"] | translate }}<span
                                    class="mandatory">*</span></label>
                            <div class="col6 pr5">
                                <input type="text" id="ContractNumber" tabindex="1" eTypeText formControlName="ContractNumber" value="" class="form-control"
                                    icabsZeroPad maxlength="8" (change)="onFetchContractDetails($event)">
                            </div>
                            <div class="col16 pr5">
                                <input type="text" id="ContractName" formControlName="ContractName" value="" class="form-control" maxlength="25">
                            </div>
                            <div *ngIf="!updateReneg" class="col2">
                                <icabs-ellipsis #contractSearch [childConfigParams]="inputParamsContractSearch" [contentComponent]="contractSearchComponent"
                                    (ellipsisData)="onSetContractNumber($event)" [autoOpen]="enableAutoOpen" [showHeader]="true"></icabs-ellipsis>
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-8">
                            <label class="col24" id="AccountNumber">{{ renegsConstants["AccountNumber"] | translate }}</label>
                            <div class="col6 pr5">
                                <input type="text" id="AccountNumber" tabindex="1" eTypeText formControlName="AccountNumber" maxlength="9" value="" class="form-control"
                                    pattern="[^a-z0-9]*$">
                            </div>
                            <div class="col16 pr5">
                                <input type="text" id="AccountName" formControlName="AccountName" value="" class="form-control" maxlength="25">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-6">
                            <label class="col24" id="ExistCommDate">{{ renegsConstants["ExistCommDate"] | translate }}</label>
                            <div class="col16 pr5">
                                <input type="text" id="ExistCommDate" eTypeDate formControlName="ExistCommDate" value="" maxlength="12" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-6">
                            <label class="col24" id="NegBranch">{{ renegsConstants["NegBranch"] | translate }}</label>
                            <div class="col16 pr5">
                                <input type="text" id="NegBranch" eTypeCode formControlName="NegBranch" value="" class="form-control" maxlength="10">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-6">
                            <label class="col24" id="Value">{{ renegsConstants["Value"] | translate }}</label>
                            <div class="col16 pr5">
                                <input type="text" id="Value" eTypeCurrency formControlName="Value" value="" class="form-control" maxlength="10">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-6">
                            <label class="col24" id="CurrentPremises">{{ renegsConstants["CurrentPremises"] | translate }}</label>
                            <div class="col16 pr5">
                                <input type="text" id="CurrentPremises" eTypeCode formControlName="CurrentPremises" maxlength="12" value="" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-6">
                            <label class="col24" id="InvoiceAnnivDate">{{ renegsConstants["InvoiceAnnivDate"] | translate
                                }}</label>
                            <div class="col16 pr5">
                                <input type="text" id="InvoiceAnnivDate" eTypeDate formControlName="InvoiceAnnivDate" maxlength="12" value="" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-6">
                            <label class="col24" id="InvoiceFreq">{{ renegsConstants["InvoiceFreq"] | translate }}</label>
                            <div class="col16 pr5">
                                <input type="text" id="InvoiceFreq" eTypeCode formControlName="InvoiceFreq" value="" maxlength="12" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-6">
                            <label class="col24" id="RenegType">{{ renegsConstants["RenegType"] | translate }}<span class="mandatory">*</span></label>
                            <div class="col19 pr5">
                                <select class="col20" formControlName="RenegType" (change)="onChangeRenegType($event.target.value)">
                                    <option value='1'>RNGBOTH</option>
                                    <option value='2'>RNGCOPY</option>
                                    <option value='3'>RNGNEW</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-4">
                            <label class="col24" id="EffectiveDate">{{ renegsConstants["EffectiveDate"] | translate }}<span *ngIf="renegType !== 'RNGCOPY'" class="mandatory">*</span></label>
                            <div class="col30">
                                <icabs-datepicker #EffectiveDate id="EffectiveDate" formControlName="EffectiveDate" [isDirectiveBased]="false" (onChange)="onDateChange('EffectiveDate',$event)"></icabs-datepicker>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="col24" id="CommenceDate">{{ renegsConstants["CommenceDate"] | translate }}<span class="mandatory">*</span></label>
                            <div class="col16 pr5">
                                <icabs-datepicker id="CommenceDate" formControlName="CommenceDate" [isDirectiveBased]="false" (onChange)="onDateChange('CommenceDate',$event)"></icabs-datepicker>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="updateReneg">
                        <div class="row mt2">
                            <div class="col-sm-4 mt25">
                                <input type="checkbox" id="UseExistAccount" formControlName="UseExistAccount" class="form-control" maxlength="9" (change)="toggleExistAccount($event)">
                                <label class="" for="UseExistAccount">{{ renegsConstants["UseExistAccount"] | translate }}<span *ngIf="existingAccountMandatory" class="mandatory">*</span></label>
                            </div>
                            <div class="col-sm-8 mt5">
                                <label class="col24" for="ExistAccountNumber">{{ renegsConstants["ExistAccountNumber"] |
                                    translate }}</label>
                                <div class="col6 mr5">
                                    <input #accountNameField (blur)="fetchFieldDetails('Account', $event)" type="text" id="ExistAccountNumber" formControlName="ExistAccountNumber"
                                        class="form-control" icabsZeroPad></div>
                                <div class="col16">
                                    <input type="text" id="ExistAccountNumberDetails" formControlName="ExistAccountNumberDetails" maxlength="25" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row mt2">
                            <div class="col-sm-4 mt25">
                                <input type="checkbox" id="UseExistContract" formControlName="UseExistContract" class="form-control" maxlength="8" (change)="toggleExistContract($event)">
                                <label class="" for="UseExistContract">{{ renegsConstants["UseExistContract"] | translate
                                    }}<span *ngIf="existingContractMandatory" class="mandatory">*</span></label>
                            </div>
                            <div class="col-sm-8 mt5">
                                <label class="col24" for="ExistContractNumber">{{renegsConstants["ExistContractNumber"] |
                                    translate }}</label>
                                <div class="col6 mr5">
                                    <input #contractNameField (blur)="fetchFieldDetails('Contract', $event)" type="text" id="ExistContractNumber" formControlName="ExistContractNumber"
                                        maxlength="8" class="form-control" icabsZeroPad>
                                    <input type="text" id="contracttypecode" formControlName="contracttypecode" value="" class="form-control hidden"
                                        maxlength="25">
                                    </div>
                                <div class="col16">
                                    <input type="text" id="ExistContractNumberDetails" formControlName="ExistContractNumberDetails" maxlength="25" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <hr class="mt15 mb15">

            <div class="col15">
                <input class="btn btn-primary mr10" id="btnAddNewReneg" type="button" value="{{renegsConstants['btnSaveTitle'] | translate}}"
                    (click)='onSaveUpdateReneg()' [disabled]="!this[ 'uiForm'].valid || disableForm ">
                    <input class="btn btn-secondary mr10 " id="" type="button" value="{{renegsConstants['btnDeleteTitle']
                    | translate}}" (click)='onDeleteReneg()'>
                        <input class="btn btn-secondary mr10 " id="" type="button" value="{{renegsConstants['btnCancelTitle'] | translate}}" (click)='onUpdateCompletion()'>
                        <div class="pull-right col10 " *ngIf="updateReneg ">
                            <select class="col10 " (change)="onSelectChange($event.target.value) ">
                                    <option value='-1'>{{'Select' | translate }}</option>
                                    <option value='0'>{{'Account' | translate }}</option>
                                    <option value='1'>{{'Contract' | translate}}</option>
                                    <option value='2'>{{'Premises' | translate}}</option>
                                    <option value='3'>{{'Service Cover' | translate}}</option>
                                </select>
                        </div>
            </div>
        </section>
    </form>

</section>
<icabs-custom-alert #customAlert [messageType]="messageType " [alertMessage]="customAlertMsg "></icabs-custom-alert>
<icabs-spinner [isRunning]="this[ 'isRequesting'] "></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>