<header class="navbar-fixed-top bg-header parent-header" [ngClass]="{'nav-bar-collapsed': !isMenuVisible}">
    <div class="top-menu-holder">
        <div class="container-fluid">
            <div class="row">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 visible-xs navbar-header">
                <button type="button" class="navbar-toggle" (click)="hamburger($event)">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div *ngIf="displayBackLink" class="back-link-container">
                <a href="#" (click)="backLinkOnClick($event)">
                    <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="col-xs-2 env-sticker">
                <a class="logo" href="#/postlogin">
                    <img alt="Rentokil Initial plc - link to home page" src="/assets/images/logo.svg">
                </a>
            </div>
            <div class="col-xs-4 col-sm-8 visible-xs visible-sm userMenuWrapper">
                <a class="user pull-right" href="#/postlogin" (click)="UserMenu($event)">
                    <img alt="Rentokil Initial plc - link to home page" src="/assets/images/user.svg">
                </a>
                <div class="modal-backdrop" (click)="closeUserMenu($event)"
                    [ngClass]="{'hidden-xs hidden-sm': !displayUserMenu}"></div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 cbb-wrapper pull-right"
                [ngClass]="{'hidden-xs hidden-sm': !displayUserMenu}">
                <a href="" class="closeUserMenu visible-xs visible-sm" (click)="closeUserMenu($event)">
                    <img src="/assets/images/user-cross.svg" />
                </a>
                <icabs-cbb></icabs-cbb>
                <div class="links">
                    <span>
                        <a href="#" title="{{ 'Notifications' | translate }}"
                            (click)="onOptionsClick($event,'Notifications')"
                            [ngClass]="{'active':  visibleDiv === 'Notifications', 'new': hasNewNotification}">
                            <span data-dropdown-links="true" class=" glyphicon glyphicon-bell"
                                aria-hidden="true"></span>
                        </a>
                    </span>
                    <span>
                        <a href="#" title="{{ 'User' | translate}}" (click)="onOptionsClick($event,'User')"
                            [ngClass]="{'active': visibleDiv === 'User'}">
                            <span data-dropdown-links="true" class=" glyphicon glyphicon-user"
                                aria-hidden="true"></span>
                        </a>
                    </span>
                    <span>
                        <a href="#" title="{{ 'Assistance' | translate}}" (click)="onOptionsClick($event,'Help')"
                            [ngClass]="{'active': visibleDiv === 'Help'}">
                            <span data-dropdown-links="true" class=" glyphicon glyphicon-question-sign"
                                aria-hidden="true"></span>
                        </a>
                    </span>
                    <span>
                        <a href="#" title="{{ this.menuTitle | translate }}" class="eject"
                            (click)="onMenuExpandClick($event)" [ngClass]="{'ejected': isMenuVisible}">
                            <span data-dropdown-links="true" class=" glyphicon glyphicon-eject"
                                aria-hidden="true"></span>
                        </a>
                    </span>
                    <div class="options-dropdown push-notifications" *ngIf="visibleDiv === 'Notifications'">
                        <ul *ngFor="let type of notificationTypes" class="notification-group">
                            <li class="type-header">
                                <span>{{ type.type | translate }}</span>
                            </li>
                            <li *ngFor="let notification of type.data">
                                <a href="#" (click)="onNotificationCick($event, notification.id)">
                                    <span data-dropdown-links="true" class="glyphicon glyphicon-info-sign"
                                        aria-hidden="true"></span>
                                    <span class="notifiction-time">{{ notification.displayTime }}</span>
                                    <span>{{ notification.message | translate }}</span>
                                </a>
                            </li>
                        </ul>
                        <ul *ngIf="!notificationTypes.length">
                            <li class="no-notification">
                                <span data-dropdown-links="true" class="glyphicon glyphicon-info-sign"
                                    aria-hidden="true"></span>
                                <span>{{ 'No New Notifications' | translate }}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="options-dropdown help" *ngIf="visibleDiv === 'Help'">
                        <ul>
                            <li>
                                <a href="https://uplus.fusion-universal.com/communities/20827" target="_blank"
                                    rel="noopener noreferrer" (click)="onLinkClick('U+ Site')">
                                    <span data-dropdown-links="true" class="uplus-icon"
                                        aria-hidden="true">{{ 'U+' | translate }}</span>
                                    <span class="uplus-text">{{ 'Learn More' | translate }}</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://rentokilinitial.service-now.com/navpage.do/" target="_blank"
                                    rel="noopener noreferrer" (click)="onLinkClick('ServiceNow')">
                                    <span data-dropdown-links="true" class="glyphicon glyphicon-cog"
                                        aria-hidden="true"></span>
                                    <span>{{ 'Service Now' | translate }}</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/u/0/communities/104397447303269329509" target="_blank"
                                    rel="noopener noreferrer">
                                    <span data-dropdown-links="true " class="glyphicon glyphicon-plus-sign
                                    " aria-hidden="true "></span>
                                    <span>{{ 'Follow us on G+' | translate }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="options-dropdown user " *ngIf="visibleDiv==='User' ">
                        <ul>
                            <li>
                                <a href="#" (click)="openEmployeeModal($event)">
                                    <span data-dropdown-links="true " class="glyphicon glyphicon-briefcase
                                    " aria-hidden="true "></span>
                                    <span>{{ 'My User & Employee' | translate }}</span>
                                </a>
                            </li>
                            <li class="logout ">
                                <a href=" " (click)="signOut($event); ">
                                    <span data-dropdown-links="true " class="glyphicon glyphicon-log-out
                                    " aria-hidden="true "></span>
                                    <span>{{ 'Sign Out' | translate }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-2 col-sm-1 col-md-1 pull-right text-right env-label " *ngIf="isStaging">
                <label>{{ 'Staging' | translate }}</label>
                <label>({{ 'Business Test' | translate }})</label>
            </div>
            <div class="col-xs-2 col-sm-1 col-md-1 pull-right text-right env-label " *ngIf="isTraining">
                <label>{{ 'Staging 2' | translate }}</label>
                <label>({{ 'Training' | translate }})</label>
            </div>
        </div>
    </div>
    <div class="nav-container " (mouseover)="onMenuExpandHover($event) ">
        <div class="container-fluid ">
            <div class="row " [ngClass]="{ '': displayNav, 'hidden-xs': !displayNav} ">
                <icabs-main-nav #mainnavref (onOpenNav)="visibleDiv = ''"></icabs-main-nav>
            </div>
        </div>
    </div>
    <div class="modal-backdrop " (click)="closeNav($event) "
        [ngClass]="{ 'hidden-xs hidden-md hidden-sm hidden-lg': !displayNav} "></div>
</header>
<icabs-prompt-modal #promptModal [title]="promptConfirmTitle " [content]="promptConfirmContent " (saveEmit)="promptConfirm($event)
"></icabs-prompt-modal>

<icabs-modal #employeeDetailsModal="child" [size]="'xs'" [showHeader]="true">
    <div class="container-fluid custom-container">
        <div class="row mt10">
            <div class="col-sm-12 quick-search-user">
                <h3>{{ 'User' | translate }}:</h3>
                <div class="row">
                    <div class="col-sm-2 text-right">
                        <label>{{ 'User Code' | translate }}:</label>
                    </div>
                    <div class="col-sm-4 text-left">
                        {{userInformation.UserCode || '-'}}
                    </div>
                    <div class="col-sm-2 text-right">
                        <label>{{ 'Email' | translate }}:</label>
                    </div>
                    <div class="col-sm-4 text-left">
                        {{userInformation.Email || '-'}}
                    </div>
                    <div class="col-sm-2 clear text-right">
                        <label>{{ 'Name' | translate }}:</label>
                    </div>
                    <div class="col-sm-4 text-left">
                        {{userInformation.UserName || '-'}}
                    </div>
                    <div class="col-sm-2 text-right">
                        <label>{{ 'User Type' | translate }}:</label>
                    </div>
                    <div class="col-sm-4 text-left">
                        {{userInformation.UserTypeCode }} - {{ userInformation.UserTypeDescription }}
                    </div>
                </div>
                <h3>{{ 'Employee' | translate }}:</h3>
                <div class="row" *ngIf="!employeeInformation.errorMessage">
                    <div class="col-sm-2 text-right">
                        <label>{{ 'Employee' | translate }}:</label>
                    </div>
                    <div class="col-sm-4 text-left">
                        {{employeeInformation.EmployeeCode || '-'}}
                    </div>
                    <div class="col-sm-2 text-right">
                        <label>{{ 'Branch' | translate }}:</label>
                    </div>
                    <div class="col-sm-4 text-left">
                        {{employeeInformation.BranchNumber}} - {{employeeInformation.BranchName}}
                    </div>
                    <div class="col-sm-2 clear text-right">
                        <label>{{ 'Occupation' | translate }}:</label>
                    </div>
                    <div class="col-sm-4 text-left">
                        {{employeeInformation.OccupationCode}} - {{employeeInformation.OccupationDesc}}
                    </div>
                    <div class="col-sm-2 text-right">
                        <label>{{ 'Work Email' | translate }}:</label>
                    </div>
                    <div class="col-sm-4 text-left">
                        {{employeeInformation.WorkEmail || '-'}}
                    </div>
                    <div class="col-sm-2 clear text-right">
                        <label>{{ 'SMS' | translate }}:</label>
                    </div>
                    <div class="col-sm-4 text-left">
                        {{employeeInformation.SMSMessageNumber || '-'}}
                    </div>
                </div>
                <div class="row" *ngIf="employeeInformation.errorMessage">
                    <div class="col-sm-6 text-left">
                        {{employeeInformation.errorMessage | translate}}
                    </div>
                </div>
                <h3>{{ 'Locale' | translate }}:</h3>
                <div class="row" *ngIf="setupInfo">
                    <div class="col-sm-2 text-right">
                        <label>{{ 'Language' | translate }}:</label>
                    </div>
                    <div class="col-sm-4 text-left">
                        {{ setupInfo.localeCultureCode.name || '-' }}
                    </div>
                    <div class="col-sm-2 text-right">
                        <label>{{ 'Region' | translate }}:</label>
                    </div>
                    <div class="col-sm-4 text-left">
                        {{ setupInfo.regionCode.code || '-' }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</icabs-modal>
