<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>

    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row mt5">
                        <div class="col-sm-6">
                            <label class="col20" for="AmendmentRef">{{ renegsConstants["AmendmentRef"] | translate }}</label>
                            <div class="col16 pr5">
                                <input type="text" id="AmendmentRef" eTypeCode formControlName="AmendmentRef" class="form-control"  maxlength="50">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="col20" for="ContractNumber">{{ renegsConstants["ContractNumber"] | translate }}</label>
                            <div class="col16 pr5">
                                <input type="text" id="ContractNumber" tabindex="1" eTypeText formControlName="ContractNumber"
                                    class="form-control" icabsZeroPad maxlength="40">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="mt15 mb15">

            <div>
                <div class="row mt2">
                    <div class="col-sm-3">
                        <label class="col24" for="Name">{{
                            renegsConstants["ContractDetailsFormFields"]['lblName'] | translate }}<span class="mandatory"
                                *ngIf="isNewContract">*</span></label>
                        <div class="col16 pr5">
                            <input type="text" id="Name" eTypeText formControlName="Name" maxlength="40" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row mt2">
                    <div class="col-sm-3">
                        <label class="col24" for="ContactName">{{
                            renegsConstants["ContractDetailsFormFields"]['lblContractName'] | translate }}<span class="mandatory"
                                *ngIf="isNewContract">*</span></label>
                        <div class="col16 pr5">
                            <input type="text" id="ContactName" tabindex="1" eTypeText formControlName="ContactName"
                                maxlength="40" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row mt2">
                    <div class="col-sm-3">
                        <label class="col24" for="Position">{{
                            renegsConstants["ContractDetailsFormFields"]['lblPosition'] | translate }}<span class="mandatory"
                                *ngIf="isNewContract">*</span></label>
                        <div class="col16 pr5">
                            <input type="text" id="Position" eTypeCode formControlName="Position" class="form-control"
                                maxlength="40">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="col24" for="Department">{{
                            renegsConstants["ContractDetailsFormFields"]['lblDepartment'] | translate }}</label>
                        <div class="col16 pr5">
                            <input type="text" id="Department" eTypeCode formControlName="Department" class="form-control"
                                maxlength="40">
                        </div>
                    </div>
                </div>
                <div class="row mt2">
                    <div class="col-sm-3">
                        <label class="col24" for="LandLine">{{ renegsConstants["ContractDetailsFormFields"]['lblLandLine']
                            | translate }}<span class="mandatory" *ngIf="isNewContract">*</span></label>
                        <div class="col16 pr5">
                            <input type="text" id="LandLine" eTypeCode formControlName="LandLine" class="form-control"
                                maxlength="40">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="col24" for="MobileNo">{{
                            renegsConstants["ContractDetailsFormFields"]['lblMobileNo'] | translate }}</label>
                        <div class="col16 pr5">
                            <input type="text" id="MobileNo" eTypeCode formControlName="MobileNo" class="form-control"
                                maxlength="40">
                        </div>
                    </div>
                </div>
                <div class="row mt2">
                    <div class="col-sm-3">
                        <label class="col24" for="Email">{{
                            renegsConstants["ContractDetailsFormFields"]['lblEmail'] | translate }}</label>
                        <div class="col16 pr5">
                            <input type="text" id="Email" eTypeText formControlName="Email" maxlength="40" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="col24" for="Fax">{{ renegsConstants["ContractDetailsFormFields"]['lblFax']
                            | translate }}</label>
                        <div class="col16 pr5">
                            <input type="text" id="Fax" eTypeCode formControlName="Fax" class="form-control" maxlength="40">
                        </div>
                    </div>
                </div>
                <div class="row mt2">
                    <div class="col-sm-6">
                        <label class="col24" for="InvoiceFreq">{{
                            renegsConstants["ContractDetailsFormFields"]['lblInvoiceFreq'] | translate
                            }}<span class="mandatory" *ngIf="isNewContract">*</span></label>
                        <div class="col4 pr5">
                            <input type="text" id="InvoiceFreq" tabindex="1" eTypeText formControlName="InvoiceFreq"
                                class="form-control" maxlength="20" required (change)="fetchLookupFieldDetails('invoice', $event)">
                        </div>
                        <div class="col7 pr5">
                            <input type="text" id="InvoiceFreqDetails" formControlName="InvoiceFreqDetails" class="form-control"
                                maxlength="25">
                        </div>
                        <div class="col2">
                            <icabs-ellipsis #InvoiceFreqSearch [childConfigParams]="inputParamsInvoiceFrequency"
                                [contentComponent]="invoiceFrequencySearchComponent" (ellipsisData)="onInvoiceFrequencyDataReceived($event)"
                                [autoOpen]="enableAutoOpen" [showHeader]="true"></icabs-ellipsis>
                        </div>
                    </div>
                </div>
                <div class="row mt2">
                    <div class="col-sm-3 mt10">
                        <input type="checkbox" id="ContinousContract" formControlName="ContinousContract" class="form-control">
                        <label class="col24" for="ContinousContract">{{
                            renegsConstants["ContractDetailsFormFields"]['lblContinousContract'] | translate }}</label>
                    </div>
                </div>
                <div class="row mt2">
                    <div class="col-sm-6">
                        <label class="col24" for="MinDuration">{{
                            renegsConstants["ContractDetailsFormFields"]['lblMinDuration'] | translate
                            }}</label>

                        <div class="col7">
                            <icabs-contractduration #MinDurationSearch [inputParams]="contractDuration"
                                (receivedcontractDuration)="onReceivedContractDuration($event)"  [isFirstItemSelected]="false"></icabs-contractduration>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-6">
                    <label class="col24" for="PaymentMethod">{{
                        renegsConstants["ContractDetailsFormFields"]['lblPaymentMethod'] | translate
                        }}<span class="mandatory" *ngIf="isNewContract">*</span></label>
                    <div class="col4 pr5">
                        <input type="text" id="PaymentMethod" tabindex="1" eTypeText formControlName="PaymentMethod"
                            class="form-control" maxlength="12" required (change)="fetchLookupFieldDetails('payment', $event)">
                    </div>
                    <div class="col7 pr5">
                        <input type="text" id="PaymentMethodDetails" formControlName="PaymentMethodDetails" class="form-control"
                            maxlength="25">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #PaymentMethodSearch [childConfigParams]="inputParamsInvoiceFrequency"
                            [modalConfig]="c_o_ELLIPSIS_MODAL_CONFIG" [contentComponent]="paymentSearchComponent"
                            (ellipsisData)="onPaymentTermReceived($event)" [showHeader]="true"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" for="TaxRegNo">{{
                        renegsConstants["ContractDetailsFormFields"]['lblTaxRegNo'] | translate }}</label>
                    <div class="col16 pr5">
                        <input type="text" id="TaxRegNo" eTypeCode formControlName="TaxRegNo" class="form-control"
                            maxlength="25">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" for="TaxRegNo2">{{
                        renegsConstants["ContractDetailsFormFields"]['lblTaxRegNo2'] | translate }}</label>
                    <div class="col16 pr5">
                        <input type="text" id="TaxRegNo2" eTypeCode formControlName="TaxRegNo2" class="form-control"
                            maxlength="25">
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="isCompanyRegistration">
                <div class="col-sm-3">
                    <label class="col24" for="CompanyRegNo">{{
                        renegsConstants["ContractDetailsFormFields"]['lblCompanyRegNo']| translate }}</label>
                    <div class="col16 pr5">
                        <input type="text" id="CompanyRegNo" formControlName="CompanyRegNo" class="form-control"
                            maxlength="25">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" for="AgreementNo">{{
                        renegsConstants["ContractDetailsFormFields"]['lblAgreementNo'] | translate }}</label>
                    <div class="col16 pr5">
                        <input type="text" id="AgreementNo" formControlName="AgreementNo" class="form-control"
                            maxlength="25">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24" for="RenewalAgreementNo">{{
                        renegsConstants["ContractDetailsFormFields"]['lblRenewalAgreementNo'] | translate }}</label>
                    <div class="col16 pr5">
                        <input type="text" id="RenewalAgreementNo" formControlName="RenewalAgreementNo" class="form-control"
                            maxlength="25">
                    </div>

                </div>
            </div>

            <hr class="mt15 mb15">

            <div class="col15" *ngIf="isNewContract">
                <input class="btn btn-primary mr10" id="btnAddNewReneg" type="button" value="{{renegsConstants['btnSaveTitle'] | translate}}"
                    (click)='onAddNewContractReneg()' [disabled]="!this['uiForm'].valid">
            </div>
        </section>
    </form>

</section>
<icabs-custom-alert #customAlert [messageType]="messageType" [alertMessage]="customAlertMsg"></icabs-custom-alert>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>