<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row">
                <div class="col-sm-4">
                    <label class="col24">{{ pageType === 'BranchDetail' ? 'Branch' : pageType | translate }}</label>
                    <div class="col24" *ngIf="pageType === 'Business'">
                        <input type="text" id="BusinessDesc" formControlName="BusinessDesc" size="30" maxlength="30"
                            class="form-control">
                    </div>
                    <div class="col6 pr5" *ngIf="pageType === 'Branch' || pageType === 'BranchDetail'">
                        <input type="text" id="BranchNumber" formControlName="BranchNumber" size="6" maxlength="6"
                            class="form-control">
                    </div>
                    <div class="col18" *ngIf="pageType === 'Branch' || pageType === 'BranchDetail'">
                        <input type="text" id="BranchName" formControlName="BranchName" size="30" maxlength="30"
                            class="form-control">
                    </div>
                    <div class="col4 pr5" *ngIf="pageType === 'Region'">
                        <input type="text" id="RegionCode" formControlName="RegionCode" size="2" maxlength="2"
                            class="form-control">
                    </div>
                    <div class="col20" *ngIf="pageType === 'Region'">
                        <input type="text" id="RegionDesc" formControlName="RegionDesc" size="30" maxlength="30"
                            class="form-control">
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col24">{{ 'Show' | translate }}</label>
                    <select id="ShowType" formControlName="ShowType" class="form-control">
                        <option *ngFor="let show of prodService.showType" value="{{ show.value }}">
                            {{ show.text | translate}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-2" *ngIf="pageType !== 'BranchDetail'">
                    <label class="col24">{{ 'View By' | translate }}</label>
                    <select id="GroupBy" formControlName="GroupBy" class="form-control">
                        <option *ngFor="let group of this['pageParams'].groupbyOptions" value="{{ group.value }}">
                            {{ group.text | translate}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-2" *ngIf="pageType === 'BranchDetail'">
                    <label class="col24">{{ 'View By' | translate }}</label>
                    <select id="ViewBy" formControlName="ViewBy" class="form-control" (change)="onViewByChange()">
                        <option *ngFor="let view of this['pageParams'].viewbyOptions" value="{{ view.value }}">
                            {{ view.text | translate}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div *ngIf="pageType === 'BranchDetail'">
                        <label class="col24">{{ 'Service Area' | translate }}</label>
                        <div class="col6 pr5">
                            <input type="text" id="BranchServiceAreaCode" formControlName="BranchServiceAreaCode"
                                size="6" maxlength="6" class="form-control">
                        </div>
                        <div class="col18">
                            <input type="text" id="BranchServiceAreaDesc" formControlName="BranchServiceAreaDesc"
                                size="30" maxlength="30" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col24">{{ 'From' | translate }}<span class="mandatory">*</span></label>
                    <div class="col24">
                        <icabs-datepicker id="DateFrom" formControlName="DateFrom" [isDirectiveBased]="false">
                        </icabs-datepicker>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col24">{{ 'To' | translate }}<span class="mandatory">*</span></label>
                    <div class="col24">
                        <icabs-datepicker id="DateTo" formControlName="DateTo" [isDirectiveBased]="false">
                        </icabs-datepicker>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row mt10">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="gridConfig.totalItem"
                        [currentPage]="this['pageParams'].gridCurrentPage" [itemsPerPage]="gridConfig.itemsPerPage"
                        (getCurrentPage)="getCurrentPage($event)" [canExport]="true"
                        [exportOptions]="{durationColumns: durationCollist}">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="onGridBodyDoubleClick()"
                        (headerClick)="onHeaderClick()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>