<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body tech-diary-multi">
            <div class="row pt10">
                <div class="col-sm-2">
                    <div class="col24 topClass">
                        <div class="col24 pr5 pl5 mb5 primary-filter">
                            <label class="col24">{{ 'Planning Date' | translate }}</label>
                            <div class="col24 mt10 mb10">
                                <icabs-datepicker id="PlanningDate" [isDirectiveBased]="false"
                                    formControlName="PlanningDate" (onChange)="onDateChange($event)">
                                </icabs-datepicker>
                            </div>
                            <div class="col24 mb10 button-center">
                                <button aria-label="Reset" class="btn btn-primary col10"
                                    title="{{'Print' | translate }}" type="button" (click)="onPrintClick()">
                                    <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                        <div class="col10 mb10 mr5 ml5">
                            <button aria-label="Reset" class="btn btn-additional col24"
                                title="{{'Sort Available Visits' | translate }}" type="button"
                                (click)="sortModal.show()">
                                <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="col10 mb10 mr5 ml5">
                            <button aria-label="Reset" class="btn btn-additional col24"
                                title="{{'Colour Key' | translate }}" type="button" (click)="legendModal.show()">
                                <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <hr class="mt10 mb10">
                    <div class="employee-available-visits"
                        *ngFor="let visits of this['pageParams'].employeeDetailsList; let idx = index">
                        <div class="col24 mt10 employee-group">
                            <a href="#" (click)="onToggleCollapse($event, idx)"
                                title="{{ 'Expnad/Collapse' | translate }}">
                                {{ visits.EmployeeName }}
                                <span class="glyphicon pull-right" aria-hidden="true"
                                    [ngClass]="employeeVisible === idx ? 'glyphicon-minus':'glyphicon-plus'"></span>
                            </a>
                        </div>
                        <div class="col24 bottomClass availableVisitList multi" *ngIf="employeeVisible === idx"
                            [ngClass]="{'no-visits' : (!visits.AvailableVisits || !visits.AvailableVisits.length)}">
                            <div class="col24" *ngIf="visits.AvailableVisits && visits.AvailableVisits.length">
                                <h4>
                                    {{ 'Available Visit' | translate }}
                                </h4>
                            </div>
                            <div class="col24">
                                <ul>
                                    <li *ngIf="!visits.AvailableVisits || !visits.AvailableVisits.length">
                                        {{ 'No Visits Available' | translate }}
                                    </li>
                                    <li *ngFor="let visit of visits.AvailableVisits; let visitIdx = index "
                                        [isDraggable]="true" [setIndex]="idx" [attr.data-event-index]="visitIdx"
                                        (onDrag)="onVisitDrag($event)">
                                        <a href="#"
                                            (click)="onClickVisitDetails($event, idx, visitIdx)">{{ visit.visitTitle }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-10 mb10" *ngIf="this['pageParams'].serviceAreaList">
                    <div *ngFor="let serviceArea of this['pageParams'].serviceAreaList; let idx = index">
                        <div class="control-group"
                            [ngClass]="this['pageParams'].serviceAreaList && this['pageParams'].serviceAreaList.length > 2 ? 'col7':'col11'">
                            <div class="col24 control-group" *ngIf="this['pageParams'].employeeDetailsList.length">
                                <input type="button" id="employee{{ idx + 1 }}" class="btn btn-additional col24"
                                    value="{{ this['pageParams'].employeeDetailsList[idx].EmployeeDesc }}"
                                    (click)="onEmployeeClick(idx)">
                                <label class="col24 group-label mt5">{{ 'Total Visits' | translate }}</label>
                                <div class="col24 group-controls">
                                    <label
                                        class="col7 ml10 mr5 mt5 value-label text-center">{{ 'In Day' | translate }}</label>
                                    <label
                                        class="col7 ml5 mr5 mt5 value-label text-center">{{ 'Value' | translate }}</label>
                                    <label
                                        class="col7 ml5 mr5 mt5 value-label text-center">{{ 'Time' | translate }}</label>
                                    <label class="col7 ml5 mr5 mt5 text-center">
                                        {{ this['pageParams'].employeeDetailsList[idx].VisitCount }}
                                    </label>
                                    <label class="col7 ml5 mr5 mt5 text-center">
                                        {{ this['pageParams'].employeeDetailsList[idx].VisitTotal }}
                                    </label>
                                    <label class="col7 ml5 mr5 mt5 text-center">
                                        {{ this['pageParams'].employeeDetailsList[idx].VisitTime }}
                                    </label>
                                    <span class="col24 text-right group-info">{{ 'Last Updated' | translate }}
                                        : {{ this['pageParams'].employeeDetailsList[idx].LastUpdate }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col1"></div>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div [ngClass]="this['pageParams'].serviceAreaList && this['pageParams'].serviceAreaList.length > 2 ? 'col7':'col11'"
                        [isDroppable]="true">
                        <icabs-full-calendar #fullCalendar0 [config]="config" [id]="0"
                            (onViewRender)="onCalendarViewRender($event, 0)"
                            (onExternalEventDrop)="onExternalEventDrop($event, 0)"
                            (onCalendarClick)="onCalendarEventClick(0)" (onDragStart)="onEventDrag($event)"
                            (onOtherCalendarEventDrop)="onOtherCalendarEventDrop($event, 0)"
                            (onCalendarEventDrop)="onCalendarEventDrop($event, 0)">
                        </icabs-full-calendar>
                    </div>
                    <div class="col1"></div>
                    <div [ngClass]="this['pageParams'].serviceAreaList && this['pageParams'].serviceAreaList.length > 2 ? 'col7':'col11'"
                        [isDroppable]="true">
                        <icabs-full-calendar #fullCalendar1 [config]="config" [id]="1"
                            (onViewRender)="onCalendarViewRender($event, 1)"
                            (onExternalEventDrop)="onExternalEventDrop($event, 1)"
                            (onCalendarClick)="onCalendarEventClick(1)" (onDragStart)="onEventDrag($event)"
                            (onOtherCalendarEventDrop)="onOtherCalendarEventDrop($event, 1)"
                            (onCalendarEventDrop)="onCalendarEventDrop($event, 1)">
                        </icabs-full-calendar>
                    </div>
                    <div class="col1"></div>
                    <div class="col7"
                        *ngIf="this['pageParams'].serviceAreaList && this['pageParams'].serviceAreaList.length > 2"
                        [isDroppable]="true">
                        <icabs-full-calendar #fullCalendar2 [config]="config" [id]="2"
                            (onViewRender)="onCalendarViewRender($event, 2)"
                            (onExternalEventDrop)="onExternalEventDrop($event, 2)"
                            (onCalendarClick)="onCalendarEventClick(2)" (onDragStart)="onEventDrag($event)"
                            (onOtherCalendarEventDrop)="onOtherCalendarEventDrop($event, 2)"
                            (onCalendarEventDrop)="onCalendarEventDrop($event, 2)">
                        </icabs-full-calendar>
                    </div>
                    <div class="col1"></div>
                </div>
            </div>

            <icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
        </section>
    </form>
</section>

<icabs-diary-legend #legendModal></icabs-diary-legend>
<icabs-diary-sort-options #sortModal (onSortSelect)="onSortSelect($event)"></icabs-diary-sort-options>
<icabs-diary-visit-details #visitDetailsModal (onCommand)="onVisitDetailsCommandClick($event)">
</icabs-diary-visit-details>
