<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{this['pageTitle']|translate}}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']" (ngSubmit)="onSubmit( uiForm, $event )">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Contract Number' |translate}}<span class="mandatory">*</span></label>
                    <div class="col8 pr5">
                        <input type="text" id="ContractNumber" size="8" [attr.maxlength]="8" class="form-control" formControlName="ContractNumber" (change)="onContractNumberBlur($event)"
                            icabsZeroPad eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="ContractName" size="40" [attr.maxlength]="40" class="form-control" formControlName="ContractName" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [autoOpen]="autoOpenContract" [modalConfig]="modalConfig" [childConfigParams]="inputParamsContractSearch"
                            [contentComponent]="contrctSearch" [showHeader]="showHeader" (ellipsisData)="onContractSearchDataReturn($event)"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="trPremise">
                <div class="col-sm-4">
                    <label class="col24">{{'Premises Number' |translate}}<span class="mandatory">*</span></label>
                    <div class="col8 pr5">
                        <input type="text" id="PremiseNumber" size="8" [attr.maxlength]="8" class="form-control" formControlName="PremiseNumber" (input)="onPremiseNumberBlur($event)"
                            eTypeInteger>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="PremiseName" size="40" [attr.maxlength]="40" class="form-control" formControlName="PremiseName" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [autoOpen]="autoOpenPremises" [modalConfig]="modalConfig" [childConfigParams]="inputParamsPremiseSearch"
                            [contentComponent]="premiseSearch" [showHeader]="showHeader" (ellipsisData)="onPremiseSearchDataReturn($event)"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="trServiceCover">
                <div class="col-sm-4">
                    <label class="col24">{{'Product Code' |translate}}<span class="mandatory">*</span></label>
                    <div class="col8 pr5">
                        <input type="text" id="ProductCode" size="6" maxlength=6 class="form-control" formControlName="ProductCode" (change)="onProductNumberBlur($event)"
                            eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="ProductDesc" size="40" [attr.maxlength]="40" class="form-control" formControlName="ProductDesc" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [autoOpen]="autoOpenProduct" [modalConfig]="modalConfig" [childConfigParams]="inputParamsPremiseSearch" [contentComponent]="productSearch"
                            [showHeader]="showHeader" (ellipsisData)="onProductSearchDataReturn($event)"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="trServiceFrequency">
                <div class="col-sm-3">
                    <label class="col24">{{'Servicing Frequency' |translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="ServiceVisitFrequency" size="9" [attr.maxlength]="9" class="form-control" formControlName="ServiceVisitFrequency"
                            eTypeInteger>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-3">
                    <div class="col14 pr5">
                        <label class="col24">{{'Status' |translate}}</label>
                        <div class="col24 pr5">
                            <input type="text" id="Status" size="40" [attr.maxlength]="40" class="form-control" formControlName="Status" eTypeText>
                        </div>
                    </div>
                    <div class="col10">
                        <label class="col24">{{'Invoice Frequency' |translate}}</label>
                        <div class="col24">
                            <input type="text" id="InvoiceFrequencyCode" size="9" [attr.maxlength]="9" class="form-control" formControlName="InvoiceFrequencyCode"
                                eTypeInteger>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Anniversary Date' |translate}}</label>
                    <div class="col10">
                        <input type="text" id="InvoiceAnnivDate" size="9" [attr.maxlength]="9" class="form-control" formControlName="InvoiceAnnivDate" eTypeDate>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-4">
                    <label class="col24">{{'Account Address Line 1' |translate}}</label>
                    <div class="col16">
                        <input type="text" id="ContractAddressLine1" size="40" [attr.maxlength]="40" class="form-control" formControlName="ContractAddressLine1"
                            eTypeText>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Neg Branch' |translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="NegBranchNumber" size="9" [attr.maxlength]="9" class="form-control" formControlName="NegBranchNumber" eTypeInteger>
                    </div>
                    <div class="col16">
                        <input type="text" id="NegBranchName" size="40" [attr.maxlength]="40" class="form-control" formControlName="NegBranchName" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Account Address Line 2' |translate}}</label>
                    <div class="col16">
                        <input type="text" id="ContractAddressLine2" size="40" [attr.maxlength]="40" class="form-control" formControlName="ContractAddressLine2"
                            eTypeText>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="tdServiceBranch">
                    <label class="col24">{{'Service Branch' |translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="ServiceBranchNumber" size="9" [attr.maxlength]="9" class="form-control" formControlName="ServiceBranchNumber"
                            eTypeInteger>
                    </div>
                    <div class="col16">
                        <input type="text" id="ServiceBranchName" size="40" [attr.maxlength]="40" class="form-control" formControlName="ServiceBranchName"
                            eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Account Address Line 3' |translate}}</label>
                    <div class="col16">
                        <input type="text" id="ContractAddressLine3" size="40" [attr.maxlength]="40" class="form-control" formControlName="ContractAddressLine3"
                            eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Town' |translate}}</label>
                    <div class="col16">
                        <input type="text" id="ContractAddressLine4" size="40" [attr.maxlength]="40" class="form-control" formControlName="ContractAddressLine4"
                            eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'County' |translate}}</label>
                    <div class="col16">
                        <input type="text" id="ContractAddressLine5" size="40" [attr.maxlength]="40" class="form-control" formControlName="ContractAddressLine5"
                            eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Postcode' |translate}}</label>
                    <div class="col16">
                        <input type="text" id="ContractPostcode" size="40" [attr.maxlength]="40" class="form-control" formControlName="ContractPostcode"
                            eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <div class="col10 pr5">
                        <label class="col24">{{'Value' |translate}}</label>
                        <div class="col24">
                            <input type="text" id="ContractAnnualValue" size="9" [attr.maxlength]="9" class="form-control" formControlName="ContractAnnualValue"
                                eTypeCurrency>
                        </div>
                    </div>
                    <label class="col3 mt20" *ngIf="tdOldEffectiveDate">As of</label>
                    <div class="col9 mt20" *ngIf="tdOldEffectiveDate">

                        <input type="text" id="OldEffectiveDate" size="9" [attr.maxlength]="9" class="form-control" formControlName="OldEffectiveDate" eTypeDate>
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="trOldContractAnnualValue">
                <div class="col-sm-3">
                    <label class="col24">{{'Old Value' |translate}}</label>
                    <div class="col16">
                        <input type="text" id="OldContractAnnualValue" size="40" [attr.maxlength]="40" class="form-control" formControlName="OldContractAnnualValue"
                            eTypeCurrency>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-3">
                    <label class="col24">% {{'Change' |translate}}<span class="mandatory">*</span></label>
                    <div class="col16">
                        <input type="text" id="PercentageChange" size="5" [attr.maxlength]="6" class="form-control" formControlName="PercentageChange" eTypeDecimal2>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Effective Date' |translate}}<span class="mandatory">*</span></label>
                    <div class="col16">
                        <icabs-datepicker tabindex="2" id="EffectiveDate" formControlName="EffectiveDate" (onChange)="effectiveDateSelectedValue($event)"
                            [isDirectiveBased]="false"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3 mt20">
                    <input type="checkbox" id="Decrease" class="form-control" formControlName="Decrease" (change)="onDecreaseChange($event)">
                    <label for="Decrease">% {{'Reduction' |translate}}<span class="mandatory">*</span></label>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-6 mt20">
                    <input type="checkbox" id="DummyCommission" class="form-control" formControlName="DummyCommission" (change)="onDummyCommissionChange($event)">
                    <label for="DummyCommission">{{ 'Assign To Dummy Commission Employee' | translate }}<span class="mandatory">*</span></label>
                </div>
            </div>
            <hr class="mt15 mb15">
        </section>
        <footer class="screen-footer">
            <div class="row mt10">
                <div class="col-sm-6">
                    <input class="btn btn-primary mr10" type="submit" value="{{'Save'|translate}}" formControlName="BtnSubmit">
                    <input type="button" class="btn btn-secondary mr10" value="{{'Cancel'|translate}}" (click)="onCancelClick($event)" formControlName="BtnCancel">
                </div>
            </div>
        </footer>
    </form>
    <icabs-modal #errorModal="child" [(showHeader)]="showErrorHeader">
    </icabs-modal>
    <icabs-prompt-modal #promptModal="child" [(showHeader)]="showMessageHeader" [content]="promptContent" (saveEmit)="promptSave($event)"></icabs-prompt-modal>
    <icabs-routeaway #routeAwayComponent></icabs-routeaway>
</section>