<div class="container-fluid custom-container">
    <form novalidate>
        <div class="row mt5">
            <div class="col-sm-3">
                <label class="col24" for="Accountnumber">Telesales Cross-Reference Account Number</label>
                <div class="col8 pr5">
                    <input id="Accountnumber" size="9" maxlength="9" class="form-control">
                </div>
                <div class="col14 pr5">
                    <input id="Accountname" size="40" maxlength="40" value="" readonly="" class="form-control">
                </div>
                <div class="col2">
                    <icabs-ellipsis [showHeader]="showHeader"></icabs-ellipsis>
                </div>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-sm-6">
                <div class="col24 mt20">
                    <input type="checkbox" id="Telesales" (change)="updateCheckedOptions($event)">
                    <label for="Telesales">Telesales Exempt from Postcode Validations </label>
                </div>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-sm-6">
                <div class="col24 mt20">
                    <input type="checkbox" id="Telesalesgroup" (change)="updateCheckedOptions($event)">
                    <label for="Telesalesgroup">Telesales Always Create New Invoice Group </label>
                </div>
            </div>
        </div>
    </form>
</div>