<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Branch' |translate}} </label>
                    <div class="col24 pr5">
                        <icabs-branchsearch #branchSearchDropDown [inputParams]="inputParams.branchParams" [isDisabled]="true"></icabs-branchsearch>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'From' |translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col12">
                        <icabs-datepicker id="DateFrom" formControlName="DateFrom" [isDirectiveBased]="false"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Contract Type' |translate}} </label>
                    <div class="col24 pr5">
                        <select class="form-control" id="ContractTypeCode" formControlName="ContractTypeCode">
                            <option *ngFor="let item of dropDownConfig.ContractTypeCode.ContractTypeCodeList" [value]="item.value">
                                {{item.text | translate}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'To' |translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col12">
                        <icabs-datepicker id="DateTo" formControlName="DateTo" [isDirectiveBased]="false"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="gridConfig.totalRecords" [itemsPerPage]="gridConfig.pageSize" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (TRDblClick)="riGridBodyOnDblClick($event)" (headerClick)="onRiGridRefresh()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>