<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Branch' |translate }} </label>
                    <div class="col24 pr5">
                        <icabs-branchsearch #branchSearchDropDown [inputParams]="inputParams.branchParams" [isDisabled]="true"></icabs-branchsearch>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-2">
                    <label class="col18">{{ 'From' | translate }}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col18 pr5">
                        <icabs-datepicker id="DateFrom" formControlName="DateFrom" [isDirectiveBased]="false"></icabs-datepicker>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col18"> {{ 'To' | translate }}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col18 pr5">
                        <icabs-datepicker id="DateTo" formControlName="DateTo" [isDirectiveBased]="false"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Contract Type'|translate }}</label>
                    <div class="col15 pr5"></div>
                    <div class="col10 pr5">
                        <select class="form-control" id="ContractTypeCode" formControlName="ContractTypeCode">
                            <option *ngFor="let item of ContractTypeCodeList" [value]="item.value">{{ item.text | translate }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12" id="trInformation" *ngIf="URLReturn">
                    <label class="col24 message-box info-label">
                        {{ URLReturn }}
                    </label>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row mt20">
                <div class="col-sm-6">
                    <div class="col24">
                        <icabs-refresh (click)="onRefresh()"></icabs-refresh>
                        <icabs-pagination *ngIf="totalRecords" [currentPage]="pageCurrent" [itemsPerPage]="pageSize" [totalItems]="itemsTotal" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                    </div>
                </div>
                <div class="col-sm-4 pull-right">
                    <label class="col24">Report Destination</label>
                    <div class="col12 pr10">
                        <select class="form-control" formControlName="RepDest" id="RepDest">
                            <option value="ReportViewer">{{ 'Report Viewer'|translate}}</option>
                            <option value="Email">{{'Email'|translate}}</option>
                        </select>
                    </div>
                    <div class="col8 text-right">
                        <input class="btn btn-primary" type="button" value="{{'Submit Report Generation'|translate}}" (click)="onGenerateReport($event)">
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid id="riGrid" (bodyDblClick)="onGridDblClick($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
    <icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
</section>