<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">

            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="ContractNumber">{{'Contract Number'|translate}}</label>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" id="ContractNumber" formControlName="ContractNumber"
                            size="7" [attr.maxlength]="8" (change)="onContractNumberChange()" icabsZeroPad eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" class="form-control" id="ContractName" formControlName="ContractName"
                            size="35" [attr.maxlength]="35" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsis.contractSearch.childConfigParams"
                            [contentComponent]="ellipsis.contractSearch.component" [showHeader]="true"
                            (ellipsisData)="onContractSearchDataReturn($event)"></icabs-ellipsis>
                    </div>
                </div>

                <div class="col-sm-4">
                    <label class="col20">{{'Branch' | translate}} </label>
                    <div class="col24 pr5">
                        <icabs-branchsearch #branchSearchDropDown [inputParams]="dropdown.branchParams"
                            (receivedbranchsearch)="onBranchDataRecived($event)"></icabs-branchsearch>
                    </div>
                </div>

                <div class="col-sm-4">
                    <label for="ServiceType" class="col24">{{ 'Service Type' | translate }}</label>
                    <div class="col17 pr5">
                        <icabs-servicetype-search #serviceTypeSearch [inputParams]="dropdown.serviceTypeSearch"
                            [active]="dropdown.serviceTypeSearch.active"
                            (receivedServiceTypeData)="onServiceTypeChange($event)">
                        </icabs-servicetype-search>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="PremiseNumber">{{'Premises Number'|translate}}</label>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" id="PremiseNumber" formControlName="PremiseNumber"
                            size="7" [attr.maxlength]="5" (change)="onPremiseNumberChange()" eTypeInteger>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" class="form-control" id="PremiseName" formControlName="PremiseName" size="35"
                            [attr.maxlength]="35" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsis.premiseSearch.childConfigParams"
                            [contentComponent]="ellipsis.premiseSearch.component" [showHeader]="true"
                            (ellipsisData)="onPremiseSearchDataReturn($event)"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="col24" for="BranchServiceAreaCode">{{ 'Service Area' | translate}}</label>
                            <div class="col20 pr5">
                                <input #formBranchServiceAreaCode id="BranchServiceAreaCode" class="form-control"
                                    formControlName="BranchServiceAreaCode" type="text" size="7" maxlength="6"
                                    (change)="onChangeBranchServiceAreaCode()" eTypeCode>
                            </div>
                            <div class="col2">
                                <icabs-ellipsis [showCloseButton]="true"
                                    [childConfigParams]="ellipsis.serviceAreaEllipsis.childparams"
                                    [contentComponent]="ellipsis.serviceAreaEllipsis.component"
                                    (ellipsisData)="onDataReceivedServiceSearch($event)" [showHeader]="true">
                                </icabs-ellipsis>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <label class="col24" for="EmployeeCode">{{ 'Employee' | translate}} </label>
                            <div class="col7 pr5">
                                <input #employeeCode id="EmployeeCode" class="form-control"
                                    formControlName="EmployeeCode" type="text" size="6" maxlength="6"
                                    (change)="onEmployeeChange()" eTypeCode>
                            </div>
                            <div class="col15 pr5">
                                <input id="EmployeeSurname" class="form-control" formControlName="EmployeeSurname"
                                    type="text" size="30" maxlength="30" eTypeText>
                            </div>
                            <div class="col2">
                                <icabs-ellipsis [showCloseButton]="true" [showHeader]="true"
                                    [childConfigParams]="ellipsis.employee.childConfigParams"
                                    [contentComponent]="ellipsis.employee.component"
                                    [disabled]="this['pageParams'].employeeDisable"
                                    (ellipsisData)="onEmployeeDataReceived($event)"></icabs-ellipsis>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="VisitTypeCode">{{ 'Only Include Visit Types' | translate }} </label>
                    <div class="col17 pr5">
                        <icabs-visit-type-search #visitTypeSearch id="VisitTypeCode"
                            [active]="dropdown.visitTypeSearch.active" (receivedVisitType)="onVisitTypeReceived($event)"
                            [inputParams]="dropdown.visitTypeSearch.params" [isMultiSelect]="true">
                        </icabs-visit-type-search>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Product Code'|translate}}</label>
                    <div class="col6 pr5">
                        <input type="text" id="ProductCode" formControlName="ProductCode" class="form-control" size="8"
                            maxlength="6" (change)="onProductCodeChange()" eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" id="ProductDesc" formControlName="ProductDesc" class="form-control" size="30"
                            maxlength="30" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsis.productSearch.childConfigParams"
                            [contentComponent]="ellipsis.productSearch.component" [showHeader]="true"
                            [showCloseButton]="true" (ellipsisData)="onProductSearchReceive($event)"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="DateFrom" class="col24">{{'From' | translate}}
                                <span class="mandatory">*</span>
                            </label>
                            <div class="col24">
                                <icabs-datepicker formControlName="DateFrom" [isDirectiveBased]="false"
                                    (onChange)="onDateSelect()">
                                </icabs-datepicker>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="DateTo" class="col24">{{'To' | translate}}
                                <span class="mandatory">*</span>
                            </label>
                            <div class="col24">
                                <icabs-datepicker formControlName="DateTo" [isDirectiveBased]="false"
                                    (onChange)="onDateSelect()">
                                </icabs-datepicker>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="NumOfVisits">{{ 'Number Of Last Visits' | translate }} </label>
                    <div class="col17 pr5">
                        <input id="NumOfVisits" class="form-control" formControlName="NumOfVisits" type="text" size="30"
                            maxlength="30" eTypeInteger>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh(setCacheRefresh.bind(this))"></icabs-refresh>
                    <icabs-pagination #riGridPagination [canExport]="true"
                        [exportOptions]="{dateColumns: '1,2,17', durationColumns: '3'}"
                        [ngClass]="{hidden: !hasGridData}" [totalItems]="this['pageParams'].gridConfig.totalRecords"
                        [itemsPerPage]="this['pageParams'].gridConfig.pageSize"
                        [currentPage]="this['pageParams'].gridCurrentPage" (getCurrentPage)="getCurrentPage($event)">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (headerClick)="onRiGridRefresh()"
                        (bodyDblClick)="riGridBodyOnDblClick()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>