<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <div class="row mt5">
            <div class="col-sm-3" *ngIf="!this['riExchange'].getParentHTMLValue('type')">
                <label class="col24">{{'Business'|translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="BusinessCode" size="10" [attr.maxlength]="6" class="form-control"
                        formControlName="BusinessCode" eTypeCode>
                </div>
                <div class="col16">
                    <input type="text" id="BusinessDesc" size="40" [attr.maxlength]="40" class="form-control"
                        formControlName="BusinessDesc" eTypeText>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="this['riExchange'].getParentHTMLValue('type')">
                <label class="col24">{{'Branch'|translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="BranchNumber" size="6" [attr.maxlength]="5" class="form-control"
                        formControlName="BranchNumber" eTypeCode>
                </div>
                <div class="col16">
                    <input type="text" id="BranchName" size="30" [attr.maxlength]="38" class="form-control"
                        formControlName="BranchName" eTypeText>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24">{{ 'Date From' | translate }}<span class="mandatory">*</span>
                </label>
                <div class="col16">
                    <icabs-datepicker id="DateFrom" formControlName="DateFrom" [isDirectiveBased]="false">
                    </icabs-datepicker>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24">{{ 'Date To' | translate }}<span class="mandatory">*</span>
                </label>
                <div class="col16">
                    <icabs-datepicker id="DateTo" formControlName="DateTo" [isDirectiveBased]="false">
                    </icabs-datepicker>
                </div>
            </div>
        </div>
        <hr class="mt15 mb15">
        <div class="row">
            <div class="col-sm-6">
                <icabs-refresh (onRefresh)="this['commonGridFunction'].onRefreshClick()"></icabs-refresh>
                <icabs-pagination #riGridPagination  [ngClass]="{hidden: !hasGridData}" [totalItems]="this['pageParams'].totalRecords"
                [itemsPerPage]="10" [currentPage]="this['pageParams'].gridCurrentPage"
                (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)">
            </icabs-pagination>
            </div>
            <div class="col-sm-12 mt10">
                <icabs-grid-advanced #riGrid (bodyDblClick)="onGridBodyDoubleClick()" (headerClick)="this['commonGridFunction'].onRefreshClick()">
                </icabs-grid-advanced>
            </div>
        </div>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>