<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5" *ngIf="isContractNumber">
                <div class="col-sm-4">
                    <div class="col12 pr5">
                        <label class="col24">{{'Contract' |translate}} </label>
                        <input type="text" size="10" [attr.maxlength]="10" class="form-control" id="ContractNumber"
                            formControlName="ContractNumber" eTypeCode>
                    </div>
                    <div class="col12">
                        <label class="col24">{{'Premises' |translate}} </label>
                        <input type="text" size="10" [attr.maxlength]="10" class="form-control" id="PremiseNumber"
                            formControlName="PremiseNumber" eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Branch' |translate}} </label>
                    <div class="col24 pr5">
                        <icabs-branchsearch #branchSearchDropDown [inputParams]="inputParams.branchParams"
                            (receivedbranchsearch)="onBranchDataReceived($event)" [isDisabled]="true"
                            [active]="branchSelected"></icabs-branchsearch>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'From' |translate}}<span class="mandatory">*</span></label>
                    <div class="col12">
                        <icabs-datepicker id="DateFrom" formControlName="DateFrom" [isDirectiveBased]="false"
                            (onChange)="datePickerFromValue($event)"></icabs-datepicker>
                    </div>
                </div>

            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Employee' |translate}} </label>
                    <div class="col8 pr5">
                        <input type="text" size="6" [attr.maxlength]="6" class="form-control" id="EmployeeCode"
                            formControlName="EmployeeCode" (change)="onEmployeeCodeChange($event)" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" size="30" [attr.maxlength]="30" class="form-control" id="EmployeeSurname"
                            formControlName="EmployeeSurname" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="ellipsisConfig.employee.showCloseButton"
                            [showHeader]="ellipsisConfig.employee.showHeader"
                            [disabled]="ellipsisConfig.employee.disabled"
                            [childConfigParams]="ellipsisConfig.employee.childConfigParams"
                            [contentComponent]="ellipsisConfig.employee.component"
                            (ellipsisData)="onEmployeeDataReceived($event)"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'To' |translate}}<span class="mandatory">*</span></label>
                    <div class="col12">
                        <icabs-datepicker id="DateTo" formControlName="DateTo" [isDirectiveBased]="false"
                            (onChange)="datePickerToValue($event)"></icabs-datepicker>
                    </div>
                </div>

            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Occupation' |translate}} </label>
                    <div class="col8 pr5">
                        <input type="text" size="6" [attr.maxlength]="2" class="form-control" id="OccupationCode"
                            formControlName="OccupationCode" (change)="onOccupationCodeChange($event)" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" size="30" [attr.maxlength]="20" class="form-control" id="OccupationDesc"
                            formControlName="OccupationDesc" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="ellipsisConfig.occupation.showCloseButton"
                            [showHeader]="ellipsisConfig.occupation.showHeader"
                            [disabled]="ellipsisConfig.occupation.disabled"
                            [childConfigParams]="ellipsisConfig.occupation.childConfigParams"
                            [contentComponent]="ellipsisConfig.occupation.component"
                            (ellipsisData)="onOccupationDataReceived($event)"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="ShowType">{{'Show' |translate}} </label>
                    <div class="col12">
                        <icabs-dropdown-static id="ShowType" #showTypeOptionDropdown class=""
                            [inputData]="showTypeOptionList" (onSelect)="showTypeOnChange($event)">
                        </icabs-dropdown-static>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Visit Type' |translate}} </label>
                    <div class="col24 pr5">
                        <icabs-visit-type-search #visitTypeSearch id="VisitTypeCode"
                            (receivedVisitType)="visitTypeSelectedValue($event)"
                            (emitVisitTypeData)="visitTypeDataRecieved($event)"
                            [isRequired]="dropDown.VisitTypeCode.isRequired"
                            [isDisabled]="dropDown.VisitTypeCode.isDisabled"
                            [triggerValidate]="dropDown.VisitTypeCode.triggerValidate"
                            [active]="dropDown.VisitTypeCode.active" [inputParams]="dropDown.VisitTypeCode.inputParams"
                            [controlName]="'VisitTypeCode'"></icabs-visit-type-search>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="refresh()"></icabs-refresh>
                    <icabs-pagination #riPagination [ngClass]="{'hidden': isHidePagination}"
                        [totalItems]="gridParams.totalRecords" [currentPage]="gridParams.pageCurrent"
                        [itemsPerPage]="gridParams.itemsPerPage" [canExport]="true"
                        (getCurrentPage)="getCurrentPage($event)" [exportOptions]="{datecolumns: '1'}">
                    </icabs-pagination>
                </div>

            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (headerClick)="riGridSort($event)"
                        (bodyDblClick)="onGridDblClick($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
