<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-3">
                    <div class="col24 pr5">
                        <label class="col24">{{'Branch Number' | translate}}</label>
                        <icabs-branchsearch #branchSearchDropDown [inputParams]="dropdown.branchParams"
                            (receivedbranchsearch)="onDataRcv($event)" [active]="dropdown.branchParams.active"
                            [isRequired]="true"></icabs-branchsearch>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col24 pr5">
                        <label class="col24">{{'Show Contracts' | translate}}</label>
                        <select class="form-control" formControlName="ShowContracts"
                            (change)="this['commonGridFunction'].resetGrid()">
                            <option value="All">{{'All' | translate }}</option>
                            <option value="PT">{{'Pending Termination' | translate }}</option>
                            <option value="PD">{{'Pending Deletion' | translate }}</option>
                            <option value="XPTD">{{'Excluding Pending Termination/Deletion' | translate }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row mt10">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="this['pageParams'].gridConfig.totalItem"
                        [canExport]="true" [exportOptions]="{dateColumns: '4,9'}"
                        [currentPage]="this['pageParams'].gridCurrentPage"
                        [itemsPerPage]="this['pageParams'].gridConfig.itemsPerPage"
                        (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)"
                        [ngClass]="{hidden: !this['pageParams'].hasGridData}">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (headerClick)="onRiGridRefresh()"
                        (bodyDblClick)="onGridBodyDoubleClick()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>