<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="UserTypeCode">{{'User Type Code'|translate}}<span class="mandatory">*</span></label>
                    <div class="col22 pr5">
                        <input type="text" class="form-control" id="UserTypeCode" formControlName="UserTypeCode" size="3" [attr.maxlength]="3" (change)="onUserTypeChange()"
                            eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [autoOpen]="ellipsisParams['autoOpen']" [childConfigParams]="ellipsisParams['childConfig']" [modalConfig]="ellipsisParams['modalConfig']"
                            [contentComponent]="ellipsisParams['component']" (ellipsisData)="onUserTypeDataReceived($event)"
                            [showHeader]="ellipsisParams['showHeader']" [disabled]="ellipsisParams['isDisabled']"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col24 mt20">
                        <input type="checkbox" class="form-control" id="UserTypeAllow" formControlName="UserTypeAllow" eTypeCheckBox>
                        <label for="UserTypeAllow">{{'Allow User Type Update'|translate}}</label>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="UserTypeDescription">{{'User Type Description'|translate}}<span class="mandatory">*</span></label>
                    <div class="col24">
                        <input type="text" class="form-control" id="UserTypeDescription" formControlName="UserTypeDescription" size="20" [attr.maxlength]="20"
                            eTypeText>
                    </div>
                </div>
            </div>
        </section>
        <hr class="mt15 mb15">
        <footer class="screen-footer">
            <div class="row">
                <div class="col-sm-6">
                    <input type="button" class="btn btn-primary mr10" [disabled]="isSaveDisable" value="{{'Save' | translate}}" (click)="onSave()">
                    <input type="button" class="btn btn-secondary mr10" [disabled]="isCancelDisable" value="{{'Cancel' | translate}}" (click)="cancel()">
                    <input type="button" class="btn btn-additional" [disabled]="isDeleteDisable" [ngClass]="isDeleteHidden ? 'hidden' : ''" value="{{'Delete' | translate}}"
                        (click)="onDelete()">
                </div>
            </div>
        </footer>
    </form>
</section>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>