<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ 'Service Action Monitor - Employee' | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <!-- Left segement -->
            <div class="col-sm-5">
                <div class="row mt5">
                    <div class="col-sm-12">
                        <label class="col24" for="BranchServiceAreaCode">{{ 'Service Area' | translate}}</label>
                        <div class="col6 pr5">
                            <input type="text" #BranchServiceAreaCode class="form-control" id="BranchServiceAreaCode"
                                formControlName="BranchServiceAreaCode" size="8" [attr.maxLength]="8"
                                (change)="branchServiceAreaCodeOnchange()" eTypeCode>
                        </div>
                        <div class="col16 pr5">
                            <input type="text" class="form-control" id="BranchServiceAreaDesc"
                                formControlName="BranchServiceAreaDesc" size="25" [attr.maxLength]="30">
                        </div>
                        <div class="col2">
                            <icabs-ellipsis [childConfigParams]="branchServiceAreaSearchParams"
                                [contentComponent]="branchServiceAreaComponent"
                                (ellipsisData)="setBranchServiceArea($event)" [showHeader]="true"
                                [disabled]="this['uiForm'].controls.BranchServiceAreaCode.disabled"></icabs-ellipsis>
                        </div>
                    </div>
                </div>
                <div class="row mt2">
                    <div class="col-sm-12">
                        <label class="col24" for="EmployeeCode">{{ 'Employee' | translate}}</label>
                        <div class="col6 pr5">
                            <input type="text" class="form-control" id="EmployeeCode" formControlName="EmployeeCode"
                                size="8" [attr.maxLength]="10" (change)="employeeCodeOnchange()" eTypeCode>
                        </div>
                        <div class="col16 pr5">
                            <input type="text" class="form-control" id="EmployeeSurname"
                                formControlName="EmployeeSurname" size="25" [attr.maxLength]="30">
                        </div>
                        <div class="col2">
                            <icabs-ellipsis [showHeader]="true" [childConfigParams]="employeeSearchParams"
                                [contentComponent]="employeeSearchComponent" (ellipsisData)="employeeOnchange($event)"
                                [disabled]="this['uiForm'].controls.EmployeeCode.disabled">
                            </icabs-ellipsis>
                        </div>
                    </div>
                </div>
                <div class="row mt2">
                    <div class="col-sm-12">
                        <label class="col24" for="DebriefNumber">{{ 'Debrief' | translate}}</label>
                        <div class="col6 pr5">
                            <input type="text" class="form-control" id="DebriefNumber" formControlName="DebriefNumber"
                                size="8" [attr.maxLength]="10" eTypeInteger (change)="debriefNumberOnchange()">
                        </div>
                        <div class="col2">
                            <icabs-ellipsis [showHeader]="true" [childConfigParams]="debriefSearchParams"
                                [contentComponent]="debriefSearchComponent" (ellipsisData)="debriefOnchange($event)"
                                [disabled]="this['uiForm'].controls.DebriefNumber.disabled">
                            </icabs-ellipsis>
                        </div>
                    </div>
                </div>
                <div class="row mt2">
                    <div class="col-sm-12">
                        <label class="col24">{{ 'Start Date' | translate}}</label>
                        <div class="col8">
                            <icabs-datepicker formControlName="DebriefFromDate" [isDirectiveBased]="false"
                                (change)="debriefFromDateOnchange()" (onChange)="debriefFromDateOnchange()">
                            </icabs-datepicker>
                        </div>
                    </div>
                </div>
                <div class="row mt2">
                    <div class="col-sm-12">
                        <label class="col24">{{ 'End Date' | translate}}</label>
                        <div class="col8">
                            <icabs-datepicker formControlName="DebriefToDate" [isDirectiveBased]="false"
                                (change)="debriefToDateOnchange()" (onChange)="debriefFromDateOnchange()">
                            </icabs-datepicker>
                        </div>
                    </div>
                </div>
                <div class="row mt2">
                    <div class="col-sm-12">
                        <div class="col7 pr10">
                            <label class="col24" for="LastSyncDate">{{ 'Last Sync' | translate}}</label>
                            <div class="col24 pr5">
                                <input type="text" class="form-control" id="LastSyncDate" formControlName="LastSyncDate"
                                    size="10" eTypeDate>
                            </div>
                        </div>
                        <div class="col7">
                            <label class="col24" for="LastSyncTime">&nbsp;</label>
                            <div class="col24">
                                <input type="text" class="form-control" id="LastSyncTime" formControlName="LastSyncTime"
                                    size="10">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Right Segment -->
            <div class="col-sm-6">
                <div class="row mt5">
                    <div class="col-sm-12">
                        <div class="col6">
                            <label class="col24" for="cmdShow">&nbsp;</label>
                            <input type="button" class="btn btn-primary mr10" value="{{ cmdShowText | translate}}"
                                id="cmdShow" formControlName="cmdShow" (click)="cmdShowOnclick()">
                        </div>
                        <div class="col8" *ngIf="this['pageParams'].tbFilterDetails1">
                            <label class="col24" for="ServicePlanNumber">{{ 'Service Plan' | translate}}</label>
                            <div class="col24 pr5">
                                <input type="text" class="form-control" id="ServicePlanNumber"
                                    formControlName="ServicePlanNumber" size="10" (change)="servicePlanNumberOnChange()"
                                    eTypeInteger>
                            </div>
                        </div>
                        <div class="col4" *ngIf="this['pageParams'].tbFilterDetails1">
                            <label class="col24" for="cmdVisitMap">&nbsp;</label>
                            <input type="button" class="btn btn-primary" value="{{'Visit Map' | translate}}"
                                id="cmdVisitMap" formControlName="cmdVisitMap" (click)="cmdVisitMapOnclick()"
                                *ngIf="this['pageParams'].cmdVisitMap">
                        </div>
                        <div class="col8" *ngIf="this['pageParams'].tbSyncDetails1">
                            <label class="col24" for="VehicleCheckedInd">&nbsp;</label>
                            <input type="checkbox" class="form-control" formControlName="VehicleCheckedInd"
                                id="VehicleCheckedInd" size="1" eTypeCheckBox>
                            <label class="col24" for="VehicleCheckedInd">{{ 'Vehicle Checked' | translate}}</label>
                        </div>
                    </div>
                </div>
                <div class="row mt20">
                    <div class="col-sm-8" *ngIf="this['pageParams'].tbSyncDetails2">
                        <div class="col9 pr10">
                            <label class="col24" for="VehicleStartMileage">{{ 'Start Mileage' | translate}}</label>
                            <div class="col24 pr5">
                                <input type="text" class="form-control" id="VehicleStartMileage"
                                    formControlName="VehicleStartMileage" size="10" eTypeInteger>
                            </div>
                        </div>
                        <div class="col9">
                            <label class="col24" for="VehicleEndMileage">{{ 'End' | translate}}</label>
                            <div class="col24">
                                <input type="text" class="form-control" id="VehicleEndMileage"
                                    formControlName="VehicleEndMileage" size="10" eTypeInteger>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt2">
                    <div class="col-sm-8" *ngIf="this['pageParams'].tbSyncDetails2">
                        <div class="col9 pr10">
                            <label class="col24" for="DayLocationStart">{{ 'Start Location' | translate}}</label>
                            <div class="col24 pr5">
                                <input type="text" class="form-control" id="DayLocationStart"
                                    formControlName="DayLocationStart" size="10">
                            </div>
                        </div>
                        <div class="col9">
                            <label class="col24" for="DayLocationEnd">{{ 'End' | translate}}</label>
                            <div class="col24">
                                <input type="text" class="form-control" id="DayLocationEnd"
                                    formControlName="DayLocationEnd" size="10">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt2">
                    <div class="col-sm-8" *ngIf="this['pageParams'].tbSyncDetails2">
                        <div class="col9 pr10">
                            <label class="col24" for="DayTimeStart">{{ 'Start Time' | translate}}</label>
                            <div class="col24 pr5">
                                <input type="text" class="form-control" id="DayTimeStart" formControlName="DayTimeStart"
                                    size="10" eTypeTime>
                            </div>
                        </div>
                        <div class="col9">
                            <label class="col24">{{ 'End' | translate}}</label>
                            <div class="col24" for="DayTimeEnd">
                                <input type="text" class="form-control" id="DayTimeEnd" formControlName="DayTimeEnd"
                                    size="10" eTypeTime>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt2">
                    <div class="col-sm-9" *ngIf="this['pageParams'].tbFilterDetails2">
                        <label class="col24" for="ContractNumber">{{ 'Contract' | translate}}</label>
                        <div class="col6 pr5">
                            <input type="text" class="form-control" id="ContractNumber" formControlName="ContractNumber"
                                size="10" [attr.maxLength]="8" (change)="contractNumberOnchange()" icabsZeroPad
                                eTypeCode>
                        </div>
                        <div class="col16 pr5">
                            <input type="text" class="form-control" id="ContractName" formControlName="ContractName"
                                size="25" [attr.maxLength]="30">
                        </div>
                        <div class="col2">
                            <icabs-ellipsis #contractSearch [childConfigParams]="inputParamsContractSearch"
                                [contentComponent]="contractSearchComponent" (ellipsisData)="setContractNumber($event)"
                                [showHeader]="true"></icabs-ellipsis>
                        </div>
                    </div>
                </div>
                <div class="row mt2" *ngIf="this['pageParams'].tbFilterDetails2">
                    <div class="col-sm-9">
                        <label class="col24" for="PremiseNumber">{{ 'Premises' | translate}}</label>
                        <div class="col6 pr5">
                            <input type="text" class="form-control" id="PremiseNumber" formControlName="PremiseNumber"
                                size="10" [attr.maxLength]="10" (change)="premiseNumberOnchange()" eTypeInteger>
                        </div>
                        <div class="col16 pr5">
                            <input type="text" class="form-control" id="PremiseName" formControlName="PremiseName"
                                size="25" [attr.maxLength]="30">
                        </div>
                        <div class="col2">
                            <icabs-ellipsis #premiseSearch [childConfigParams]="inputParamsAccountPremise"
                                [contentComponent]="premiseSearchComponent"
                                (ellipsisData)="onPremiseSearchDataReceived($event)" [showHeader]="true">
                            </icabs-ellipsis>
                        </div>
                    </div>
                </div>
                <div class="row mt2" *ngIf="this['pageParams'].tbFilterDetails2">
                    <div class="col-sm-4">
                        <label class="col24" for="FilterStatus">{{ 'Status' | translate}}</label>
                        <select id="FilterStatus" formControlName="FilterStatus" class="form-control">
                            <option value="All"> {{ 'All' | translate}}</option>
                            <option value="ToDo">{{ 'To Do' | translate}}</option>
                            <option value="Completed">{{ 'Completed' | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="row mt2" *ngIf="this['pageParams'].tbFilterDetails2">
                    <div class="col-sm-4">
                        <label class="col24" for="FilterAction">{{ 'Action' | translate}}</label>
                        <select id="FilterAction" class="form-control" formControlName="FilterAction">
                            <option value="All">{{'All' | translate}}</option>
                            <option value="Action">{{'Action Required' | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="row mt20">
                    <div class="col-sm-4">
                        <label class="col24" for="NumberOfDaysWorked">{{ 'Planned Work Days' | translate}}</label>
                        <div class="col12 pr5">
                            <input type="text" class="form-control" id="NumberOfDaysWorked"
                                formControlName="NumberOfDaysWorked" size="5" eTypeInteger>
                        </div>
                    </div>
                </div>
                <div class="row mt2">
                    <div class="col-sm-4">
                        <label class="col24" for="NumberOfPremises">{{ 'Planned Premises' | translate}}</label>
                        <div class="col12 pr5">
                            <input type="text" class="form-control" id="NumberOfPremises"
                                formControlName="NumberOfPremises" size="5" eTypeInteger>
                        </div>
                    </div>
                </div>
                <div class="row mt2">
                    <div class="col-sm-4">
                        <label class="col24" for="PercentageComplete">{{ 'Percentage Complete' | translate}}</label>
                        <div class="col12 pr5">
                            <input type="text" class="form-control" id="PercentageComplete"
                                formControlName="PercentageComplete" size="5" eTypeInteger>
                        </div>
                    </div>
                </div>
                <div class="row mt2">
                    <div class="col-sm-8 mt10">
                        <input type="button" class="btn btn-primary mr10" value="{{'Leads/Alerts' | translate}}"
                            id="cmdLeadAlert" formControlName="cmdLeadAlert" (click)="cmdLeadAlertOnclick()">
                        <input type="button" class="btn btn-primary mr10" value="{{'Debrief' | translate}}"
                            id="cmdDebrief" formControlName="cmdDebrief" (click)="cmdDebriefOnclick()">
                    </div>
                </div>
            </div>
        </section>

        <div class="row mt20">
            <div class="col-sm-6 mt10">
                <icabs-refresh (click)="refresh()"> </icabs-refresh>
                <icabs-pagination #riGridPagination [totalItems]="totalRecords"
                    [currentPage]="this['pageParams']['currentPage']" [itemsPerPage]="10" [canExport]="true"
                    [exportOptions]="exportConfig" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>

                <div class="col9 pull-right">
                    <label class="col5 mt2" for="DisplayNumberOfRows">{{ 'Display' | translate}}</label>
                    <div class="col4 pr5">
                        <input type="text" class="form-control" id="DisplayNumberOfRows"
                            formControlName="DisplayNumberOfRows" [attr.maxLength]="2"
                            (change)="displayNumberOfRowsOnchange()" eTypeInteger>
                    </div>
                    <label class="col4 mt2" for="DisplayNumberOfRows">{{ 'Rows' | translate}}</label>
                </div>
            </div>
        </div>
        <div class="row mt10">
            <div class="col-sm-12 ">
                <icabs-grid-advanced #riGrid id="riGrid" (bodyDblClick)="tbodyGridOnDblClick($event)"
                    (headerClick)="riGridSort($event)"></icabs-grid-advanced>
            </div>
        </div>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>