<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt10">
                <div class="col-sm-4">
                    <div class="col8">
                        <label class="col24" id="TaxCode" for="TaxCode">{{'Tax Code' | translate }}<span class="mandatory">*</span>
                        </label>
                        <div class="col18 pr5">
                            <input #TaxCode id="TaxCode" type="text" class="form-control" placeholder="" formControlName="TaxCode"
                                [attr.maxlength]="9" fetchDescription table="TaxCode" query="TaxCode" select="TaxCodeDesc">
                        </div>
                        <div class="col4">
                            <icabs-ellipsis #TaxCodeEllipsis
                                [childConfigParams]="ellipsisQueryParams.taxCode.childConfigParams"
                                [disabled]="false"
                                [modalConfig]="ellipsisQueryParams.taxCode.modalConfig"
                                [contentComponent]="ellipsisQueryParams.taxCode.contentComponent"
                                [showHeader]="true"
                                [showCloseButton]= "true"
                                (ellipsisData)="onDefaultTaxChange($event)"></icabs-ellipsis>
                        </div>
                    </div>
                    <div class="col16">
                        <div class="col24">
                            <label class="col24"></label>
                            <input type="text" #TaxCode id="TaxCodeDesc" formControlName="TaxCodeDesc" class="form-control"
                                placeholder="" size="40">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <div class="col8">
                        <input type="button" class="btn btn-primary" value="{{'Submit Generation'|translate}}" (click)="generateReport()">
                    </div>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>