<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1> {{ 'User Details ' }}</h1>
            </div>
        </div>
    </header>
    <form novalidate>
        <section class="screen-body">
            <div class="row mt10">
                <div class="col-sm-3">
                    <div class="col24">
                        <label class="col24">{{'User Code'}}</label>
                        <div class="col8">
                            <input id="UserName" size="40" maxlength="40">
                        </div>
                    </div>
                </div>
            </div>
            <hr class=" mb15 mt15">
            <div class="row mt2">
                <div class="col-sm-12">
                    <icabs-table></icabs-table>
                </div>
            </div>
        </section>
        <footer class="screen-footer">
        </footer>
    </form>
</section>