<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ 'Sales Area Postcode Rezoning' | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <!-- Left segement -->
            <div class="col-sm-5">
                <div class="row mt5">
                    <div class="col-sm-24">
                        <label class="col24" for="SalesAreaCode">{{ 'From Sales Area' | translate }}</label>
                        <div class="col6 pr5">
                            <input #SalesAreaCode id="SalesAreaCode" formControlName="SalesAreaCode" class="form-control" size="4" maxlength="4" type="text"
                                (change)="salesAreaCodeOnchange()" eTypeCode>
                        </div>
                        <div class="col16 pr5">
                            <input id="SalesAreaDesc" formControlName="SalesAreaDesc" class="form-control" size="20" maxlength="20">
                        </div>
                        <div class="col2">
                            <icabs-ellipsis [disabled]="this['uiForm'].controls.SalesAreaCode.disabled" [showHeader]="true" [childConfigParams]="ellipsisConfig.codeFrom.childConfigParams"
                                [contentComponent]="ellipsisConfig.codeFrom.component" (ellipsisData)="onSalesAreaSelect($event, 'from')"></icabs-ellipsis>
                        </div>
                    </div>
                </div>
                <div class="row mt2">
                    <div class="col-sm-24">
                        <label class="col24" for="SalesAreaCodeTo">{{ 'To Sales Area' | translate }}</label>
                        <div class="col6 pr5">
                            <input id="SalesAreaCodeTo" formControlName="SalesAreaCodeTo" class="form-control" size="4" maxlength="4" type="text" (change)="salesAreaCodeToOnchange()"
                                eTypeCode>
                        </div>
                        <div class="col16 pr5">
                            <input id="SalesAreaDescTo" formControlName="SalesAreaDescTo" class="form-control" size="20" maxlength="20">
                        </div>
                        <div class="col2">
                            <icabs-ellipsis [disabled]="this['uiForm'].controls.SalesAreaCodeTo.disabled" [showHeader]="true" [childConfigParams]="ellipsisConfig.codeTo.childConfigParams"
                                [contentComponent]="ellipsisConfig.codeTo.component" (ellipsisData)="onSalesAreaSelect($event, 'to')"></icabs-ellipsis>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Right Segment -->
            <div class="col-sm-6">
                <div class="row mt5">
                    <div class="col-sm-6">
                        <label class="col24" for="Town">{{ 'Town' | translate }}</label>
                        <div class="col24">
                            <input id="Town" size="20" maxlength="40" class="form-control" type="text" formControlName="Town" (change)="townOnChange()">
                        </div>
                    </div>
                </div>
                <div class="row mt5">
                    <div class="col-sm-6">
                        <label class="col24" for="County">{{ 'County' | translate }}</label>
                        <div class="col24">
                            <input id="County" size="20" maxlength="40" class="form-control" type="text" formControlName="County" (change)="countyOnChange()">
                        </div>
                    </div>
                </div>
                <div class="row mt5">
                    <div class="col-sm-3">
                        <input type="button" id="cmdRezone" formControlName="cmdRezone" class="btn btn-primary mt20" value="{{ 'Rezone All' | translate }}"
                            (click)="cmdRezoneOnclick()">
                    </div>
                </div>
            </div>
        </section>
        <div class="row mt20">
            <div class="col-sm-12">
                <hr class="mt15 mb15">
            </div>
            <div class="col-sm-6">
                <icabs-refresh (click)="onRefresh()"></icabs-refresh>
                <icabs-pagination [totalItems]="totalRecords" [itemsPerPage]="itemsPerPage" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
            </div>
            <div class="col-sm-12 mt10">
                <icabs-grid-advanced #riGrid (bodyClick)="riGridBodyOnClick($event)" (bodyDblClick)="riGridBodyOnClick($event)" (onSuccess)="riGridAfterExecute()"
                    (headerClick)="onRefresh()"></icabs-grid-advanced>
            </div>
        </div>

        <div id="trBatchInformation" class="alert alert-info mt10" *ngIf="isBatchInformationShown">
            <strong id="trBatchInformation" colspan="6">{{batchInformation}}</strong>
        </div>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>