<div class="row mobile-header">
    <div class="sd-float-left">
        <div class="env-sticker">
            <a class="logo" href="#/postlogin">
                <img alt="Rentokil Initial plc - link to home page" src="/assets/images/logo.svg">
            </a>
        </div>
    </div>
    <div class="sd-float-right">
        <div class="sd-float-right"><input type="button" class="btn" value="Sign Out" (click)="onSignOut.emit($event)"></div>
    </div>
    <div class="row hide">
        <div class="user-info">Welcome: {{userName}}</div>
    </div>
</div>