<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>

    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt2">
                <div class="col-sm-2">
                    <label class="col24">{{ labelFilter | translate }}</label>
                    <div class="col24 pr5">
                        <select class="form-control" formControlName="RenegsFilter" id="RenegsFilter" (change)="onUpdateSelectedFilter()" name="RenegsFilter">
                            <option *ngFor="let option of renegsFilterOptions;let idx=index;" [value]="option.value">{{option.title
                                | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col24"></label>
                    <input class="btn btn-primary" id="btnAddNewReneg" type="button" value="Add Reneg" (click)='onAddNewReneg()'>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRefreshRiGrid()"> </icabs-refresh>
                    <icabs-pagination #riPagination *ngIf="this['pageParams']['totalRecords'] > 0" [totalItems]="this['pageParams']['totalRecords']"
                        [itemsPerPage]="actualPageSize" (getCurrentPage)="getCurrentPage($event)" [currentPage]="this['pageParams'].gridCurPage"></icabs-pagination>
                </div>
            </div>

            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid id="riGrid" (headerClick)="onGridSort()" (bodyDblClick)="OnDblClickRiGridBody($event)" (bodyClick)="onCellClick($event)"
                        (bodyKeyDown)="onKeyDownRiGridBody($event)" (getCellData)="onGridCellClick($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-custom-alert [messageType]="messageType" [alertMessage]="customAlertMsg"></icabs-custom-alert>