<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Menu Description Level 1' | translate}}</label>
                    <div class="col24">
                        <select id="Module" formControlName="Module" class="form-control"
                            (change)="onModuleChange($event.target.value)">
                            <option *ngFor="let module of moduleArray" [value]="module.value">{{module.text}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Menu Description Level 2' | translate }}</label>
                    <div class="col24">
                        <select id="ProgramL2" formControlName="ProgramL2" class="form-control"
                            (change)="onProgramL2Change($event.target.value)">
                            <option *ngFor="let programL2 of programL2Array" [value]="programL2.value">
                                {{programL2.text}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Menu Description Level 3' | translate }}</label>
                    <div class="col24">
                        <select id="ProgramL3" formControlName="ProgramL3" class="form-control"
                            (change)="onProgramL3Change()">
                            <option *ngFor="let programL3 of programL3Array" [value]="programL3.value">
                                {{programL3.text}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Search text' | translate }}</label>
                    <div class="col24">
                        <input class="form-control" type="text" id="TextFilter" size="50" formControlName="TextFilter"
                            (change)="onTextFilterChange()">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-12">
                    <icabs-refresh (click)="btnRefresh()"></icabs-refresh>
                    <icabs-pagination [totalItems]="totalRecords" [currentPage]="currentPage"
                        [itemsPerPage]="itemsPerPage" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <div class="gridHScroll">
                        <icabs-grid-advanced #riGrid id="riGrid" (bodyDblClick)="onDblClick()"></icabs-grid-advanced>
                    </div>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>