<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt10">
                <div class="col-sm-3">
                    <label class="col24">{{ isSummary ? 'Employee' : pageType | translate }}</label>
                    <div class="col24 pr5" *ngIf="pageType === 'Business'">
                        <input type="text" id="BusinessName" formControlName="BusinessName" size="40" maxlength="60"
                            class="form-control">
                    </div>
                    <div class="col6 pr5" *ngIf="isBranch">
                        <input type="text" id="BranchNumber" formControlName="BranchNumber" size="6" maxlength="6"
                            class="form-control">
                    </div>
                    <div class="col18" *ngIf="isBranch">
                        <input type="text" id="BranchName" formControlName="BranchName" size="30" maxlength="30"
                            class="form-control">
                    </div>
                    <div class="col8 pr5" *ngIf="isSummary">
                        <input type="text" id="EmployeeCode" formControlName="EmployeeCode" size="6" maxlength="6"
                            class="form-control" placeholder="" (change)="onSupervisorChange()" eTypeCode>
                    </div>
                    <div class="col14 pr5" *ngIf="isSummary">
                        <input type="text" id="EmployeeSurname" formControlName="EmployeeSurname" class="form-control">
                    </div>
                    <div class="col2" *ngIf="isSummary">
                        <icabs-ellipsis [childConfigParams]="ellipsis.employee.childParams" [showCloseButton]="true"
                            [contentComponent]="ellipsis.employee.component" (ellipsisData)="onDataRecieved($event)"
                            [disabled]="isEmployeeDisbaled" [showHeader]="true" (change)="onDataRecieved('Supervisor')">
                        </icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-2" *ngIf="pageType === 'Business'">
                    <label class="col24">{{ 'View By' | translate }}</label>
                    <div class="col24 pr5">
                        <select id="ViewBy" formControlName="ViewBy" class="form-control">
                            <option value="Region">{{ 'Region' | translate}}</option>
                            <option value="Branch">{{ 'Branch' | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-sm-6 pl0">
                        <label class="col24">{{ 'From' | translate }} <span class="mandatory">*</span></label>
                        <div class="col24 pr5">
                            <icabs-datepicker id="DateFrom" formControlName="DateFrom" (onChange)="onDtChange()"
                                [isDirectiveBased]="false">
                            </icabs-datepicker>
                        </div>
                    </div>
                    <div class="col-sm-6 pr0">
                        <label class="col24">{{ 'To' | translate }} <span class="mandatory">*</span></label>
                        <div class="col24 pr5">
                            <icabs-datepicker id="DateTo" formControlName="DateTo" (onChange)="onDtChange()"
                                [isDirectiveBased]="false">
                            </icabs-datepicker>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Display Lines' |translate}} <span class="mandatory">*</span></label>
                    <div class="col12">
                        <input type="text" id="GridPageSize" formControlName="GridPageSize" size="2"
                            [attr.maxlength]="2" class="form-control" eTypeInteger>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row mt10">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="gridConfig.totalItem"
                        [currentPage]="this['pageParams'].gridCurrentPage" [itemsPerPage]="gridConfig.itemsPerPage"
                        (getCurrentPage)="this['getCurrentPage']($event)" [ngClass]="{hidden: !hasGridData}" [canExport]="isSummary || isBranch" [exportOptions]="expCfg">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="onGridBodyDoubleClick()"
                        (headerClick)="onHeaderClick()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
