<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Reference Number' | translate }}</label>
                    <div class="col8">
                        <input type="text" class="form-control" id="CustomerContactNumber" eTypeCode size="6" maxlength="50" formControlName="CustomerContactNumber">
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Status' | translate }}</label>
                    <div class="col16">
                        <select id="selectStatus" formControlName="selectStatus" class="form-control">
                            <option selected value="open">{{'Open' | translate }}</option>
                            <option value="open-unassigned">{{'Open - Unassigned' | translate }}</option>
                            <option value="open-passed">{{'Open - Passed' | translate }}</option>
                            <option value="open-notpassed">{{'Open - Not Passed' | translate }}</option>
                            <option value="closed">{{'Closed' | translate }}</option>
                            <option value="all">{{'All' | translate }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Contract Number' | translate }}</label>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" id="ContractNumber" eTypeCode size="9" maxlength="8" formControlName="ContractNumber">
                    </div>
                    <div class="col16 pr5">
                        <input type="text" class="form-control" id="ContractName" size="40" maxlength="40" formControlName="ContractName">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #customerContactCalloutEllipsis [childConfigParams]="ellipsisQueryParams.ContractNumber.childConfigParams"
                            [disabled]="ellipsisQueryParams.ContractNumber.disabled" [modalConfig]="ellipsisQueryParams.ContractNumber.modalConfig"
                            [contentComponent]="ellipsisQueryParams.ContractNumber.contentComponent" (ellipsisData)="onContractNumberDataReceive($event)"
                            [showHeader]="ellipsisQueryParams.ContractNumber.isShowHeader" [showCloseButton]="ellipsisQueryParams.ContractNumber.isShowCloseButton"
                            [autoOpen]="ellipsisQueryParams.ContractNumber.autoOpenSearch"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Immediate' | translate }}</label>
                    <div class="col12 pr5">
                        <select id="selectImmediate" formControlName="selectImmediate" class="form-control">
                            <option value="all">{{'All' | translate }}</option>
                            <option value="yes">{{'Yes' | translate }}</option>
                            <option value="no">{{'No' | translate }}</option>
                        </select>
                    </div>
                    <div class="col12 hidden">
                        <select id="selectBranch" formControlName="selectBranch" class="form-control">
                            <option value="this">{{'This Branch' | translate }}</option>
                            <option value="all">{{'All Branches' | translate }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Premises Number' | translate }}</label>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" id="PremiseNumber" eTypeInteger size="9" maxlength="8" formControlName="PremiseNumber">
                    </div>
                    <div class="col16 pr5">
                        <input type="text" class="form-control" id="PremiseName" size="40" maxlength="40" formControlName="PremiseName">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #customerContactCalloutEllipsis [childConfigParams]="ellipsisQueryParams.PremiseNumber.childConfigParams"
                            [disabled]="ellipsisQueryParams.PremiseNumber.disabled" [modalConfig]="ellipsisQueryParams.PremiseNumber.modalConfig"
                            [contentComponent]="ellipsisQueryParams.PremiseNumber.contentComponent" (ellipsisData)="onPremiseNumberDataReceive($event)"
                            [showHeader]="ellipsisQueryParams.PremiseNumber.isShowHeader" [showCloseButton]="ellipsisQueryParams.PremiseNumber.isShowCloseButton"
                            [autoOpen]="ellipsisQueryParams.PremiseNumber.autoOpenSearch"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">
                        <div class="col12">{{'Employee' | translate }}</div>
                        <div class="col12" [ngClass]="!isHidden ? 'hidden' : ''">{{'Number' | translate}}</div>
                    </label>
                    <div class="col12 pr5">
                        <select id="selectEmployee" formControlName="selectEmployee" class="form-control" (change)="employeeOnChange($event)">
                            <option selected value="all">{{'All' | translate }}</option>
                            <option value="employee">{{'is' | translate }}</option>
                            <option value="supervisor">{{'Supervisior is' | translate }}</option>
                        </select>
                    </div>
                    <div class="col12" [ngClass]="!isHidden ? 'hidden' : ''">
                        <div class="col22 pr5">
                            <input type="text" class="form-control" id="EmployeeCode" size="6" maxlength="8" formControlName="EmployeeCode">
                        </div>
                        <div class="col2">
                            <icabs-ellipsis #customerContactCalloutEllipsis [childConfigParams]="ellipsisQueryParams.EmployeeSearch.childConfigParams"
                                [disabled]="ellipsisQueryParams.EmployeeSearch.disabled" [modalConfig]="ellipsisQueryParams.EmployeeSearch.modalConfig"
                                [contentComponent]="ellipsisQueryParams.EmployeeSearch.contentComponent" (ellipsisData)="onEmployeeSearchDataReceive($event)"
                                [showHeader]="ellipsisQueryParams.EmployeeSearch.isShowHeader" [showCloseButton]="ellipsisQueryParams.EmployeeSearch.isShowCloseButton"
                                [autoOpen]="ellipsisQueryParams.EmployeeSearch.autoOpenSearch"></icabs-ellipsis>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <label class="col24">{{'Overdue' | translate }}</label>
                    <div class="col12">
                        <select id="selectOverdue" formControlName="selectOverdue" class="form-control">
                            <option selected value="all">{{'All' | translate }}</option>
                            <option value="yes">{{'Yes' | translate }}</option>
                            <option value="no">{{'No' | translate }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <label class="col24">{{'Service Area' | translate }}</label>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" id="BranchServiceAreaCode" size="4" maxlength="4" formControlName="BranchServiceAreaCode">
                    </div>
                    <div class="col16 pr5">
                        <input type="text" class="form-control" id="BranchServiceAreaDesc" formControlName="BranchServiceAreaDesc">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #customerContactCalloutEllipsis [childConfigParams]="ellipsisQueryParams.ServiceArea.childConfigParams" [disabled]="ellipsisQueryParams.ServiceArea.disabled"
                            [modalConfig]="ellipsisQueryParams.ServiceArea.modalConfig" [contentComponent]="ellipsisQueryParams.ServiceArea.contentComponent"
                            (ellipsisData)="onServiceAreaDataReceive($event)" [showHeader]="ellipsisQueryParams.ServiceArea.isShowHeader"
                            [showCloseButton]="ellipsisQueryParams.ServiceArea.isShowCloseButton" [autoOpen]="ellipsisQueryParams.ServiceArea.autoOpenSearch"></icabs-ellipsis>
                    </div>
                </div>
            </div>
        </section>
        <hr class="mt15 mb15">
        <div class="row">
            <div class="col-sm-6">
                <icabs-refresh (click)="refresh()"></icabs-refresh>
                <icabs-pagination #customerContactCallOutPagination [currentPage]="pageCurrent" [itemsPerPage]="itemsPerPage" [totalItems]="itemsTotal"
                    (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
            </div>
        </div>
        <div class="row mt10">
            <div class="col-sm-12">
                <icabs-grid-advanced #riGrid (bodyDblClick)="onGridRowClick($event)" (headerClick)="riGridSort($event)"></icabs-grid-advanced>
            </div>
        </div>
    </form>
</section>