<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{ 'View By' | translate }}</label>
                    <div class="col12 pr5">
                        <input type="radio" class="form-control" id="ReportTypeTicket" name="ReportType"
                            formControlName="ReportType" value="ReportTypeTicket">
                        <label for="ReportTypeTicket">{{ 'Ticket Analysis' | translate }}</label>
                    </div>
                    <div class="col12 pr5">
                        <input type="radio" class="form-control" id="ReportTypeRootCause" name="ReportType"
                            formControlName="ReportType" value="ReportTypeRootCause">
                        <label for="ReportTypeRootCause">{{ 'Root Cause' | translate }}</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{ 'Contact Type' | translate }}</label>
                    <div class="col24 pr5">
                        <select class="form-control" id="ContactType" formControlName="ContactType"
                            (change)="onContactTypeChange()">
                            <option value="all">{{ 'All' | translate }}</option>
                            <option *ngFor="let item of this['pageParams'].contactTypes" value="{{ item.value }}">
                                {{ item.text | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{ 'Contact Type Detail' | translate }}</label>
                    <div class="col24 pr5">
                        <select class="form-control" id="ContactTypeDetail" formControlName="ContactTypeDetail">
                            <option *ngFor="let item of this['pageParams'].contactTypeDetails" value="{{ item.value }}">
                                {{ item.text | translate }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-2">
                    <label class="col24">{{ 'Created From' | translate }}</label>
                    <div class="col24 pr5">
                        <icabs-datepicker id="DateFrom" [isDirectiveBased]="false" formControlName="DateFrom">
                        </icabs-datepicker>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col24">{{ 'Created To' | translate }}<span class="mandatory">*</span></label>
                    <div class="col24 pr5">
                        <icabs-datepicker id="DateTo" [isDirectiveBased]="false" formControlName="DateTo"
                            required="true">
                        </icabs-datepicker>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col24">{{ 'Export Limit' | translate }}</label>
                    <div class="col24 pr5">
                        <input type="text" id="ExportThreshold" class="form-control" size="40" [attr.maxlength]="50"
                            formControlName="ExportThreshold" eTypeInteger>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col24">{{ 'Report Name' | translate }}</label>
                    <div class="col24 pr5">
                        <input type="text" id="ReportName" class="form-control" size="40" [attr.maxlength]="50"
                            formControlName="ReportName">
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24"></label>
                    <div class="col24 pr5">
                        <input class="btn btn-primary" type="button" value="{{ 'Submit Report Generation' |translate}}"
                            (click)="onGenerateReport()">
                        <input class="btn btn-primary" type="button" value="{{ 'Clear Additional Filters' |translate}}"
                            (click)="clearAdditionalFilters()">
                    </div>
                </div>
            </div>
            <div class="row mt10" *ngIf="reportMessage">
                <div class="col-sm-12">
                    <label class="col24 message-box info-label">
                        {{ reportMessage | translate }}
                    </label>
                    <label class="col24 message-box info-label mt10">
                        {{ c_s_WARNING | translate }}
                    </label>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row mt30">
                <div class="col-sm-12">
                    <ul class="nav nav-tabs">
                        <li class="nav-item" id="grdContractMaintenance" [ngClass]="{'active': selectedMainTab === 0 }">
                            <a class="nav-link" (click)="selectedMainTab = 0;">
                                <span>{{'Results' | translate}}</span>
                            </a>
                        </li>
                        <li class="nav-item" id="grdServiceCovers" [ngClass]="{'active': selectedMainTab === 1  }">
                            <a class="nav-link" (click)="selectedMainTab = 1;">
                                <span>{{'Additional Filters' | translate}}</span>
                                <span *ngIf="additionalFilters.hasSelected" class="selected-extra-filters"></span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" [ngClass]="{'active': selectedMainTab === 0 }">
                            <div class="row mt20">
                                <div class="col-sm-6">
                                    <icabs-refresh (onRefresh)="onRefreshClick()"></icabs-refresh>
                                    <icabs-pagination #riGridPagination
                                        [currentPage]="this['pageParams'].gridCurrentPage"
                                        [totalItems]="gridConfig.totalRecords" [itemsPerPage]="gridConfig.pageSize"
                                        (getCurrentPage)="this['commonGrid'].getCurrentPage($event)">
                                    </icabs-pagination>
                                </div>
                            </div>
                            <div class="row mt10">
                                <div class="col-sm-12">
                                    <icabs-grid-advanced #riGrid (bodyDblClick)="onGridBodyDoubleClick()">
                                    </icabs-grid-advanced>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" [ngClass]="{'active': selectedMainTab === 1 }">
                            <div class="col-sm-12 mt10">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item" id="grdEmployee" [ngClass]="{'active': selectedSubTab === 0 }">
                                        <a class="nav-link" (click)="selectedSubTab = 0;">
                                            <span>{{'Employee' | translate}}</span>
                                            <span *ngIf="additionalFilters.hasSelectedEmployee"
                                                class="selected-extra-filters sub"></span>
                                        </a>
                                    </li>
                                    <li class="nav-item" id="grdTeam" [ngClass]="{'active': selectedSubTab === 1 }">
                                        <a class="nav-link" (click)="selectedSubTab = 1;">
                                            <span>{{'Team' | translate}}</span>
                                            <span *ngIf="additionalFilters.hasSelectedTeam"
                                                class="selected-extra-filters sub"></span>
                                        </a>
                                    </li>
                                    <li class="nav-item" id="grdBranch" [ngClass]="{'active': selectedSubTab === 2 }">
                                        <a class="nav-link" (click)="selectedSubTab = 2;">
                                            <span>{{'Branch' | translate}}</span>
                                            <span *ngIf="additionalFilters.hasSelectedBranch"
                                                class="selected-extra-filters sub"></span>
                                        </a>
                                    </li>
                                    <li class="nav-item" id="grdRegion" [ngClass]="{'active': selectedSubTab === 3 }">
                                        <a class="nav-link" (click)="selectedSubTab = 3;">
                                            <span>{{'Region' | translate}}</span>
                                            <span *ngIf="additionalFilters.hasSelectedRegion"
                                                class="selected-extra-filters sub"></span>
                                        </a>
                                    </li>
                                    <li class="nav-item" id="grdAccount" [ngClass]="{'active': selectedSubTab === 4 }">
                                        <a class="nav-link" (click)="selectedSubTab = 4;">
                                            <span>{{'Account' | translate}}</span>
                                            <span *ngIf="additionalFilters.hasSelectedAccount"
                                                class="selected-extra-filters sub"></span>
                                        </a>
                                    </li>
                                    <li class="nav-item" id="grdStatus" [ngClass]="{'active': selectedSubTab === 5 }">
                                        <a class="nav-link" (click)="selectedSubTab = 5;">
                                            <span>{{'Status' | translate}}</span>
                                            <span *ngIf="additionalFilters.hasSelectedStatus"
                                                class="selected-extra-filters sub"></span>
                                        </a>
                                    </li>
                                    <li class="nav-item" id="grdGroupAccount"
                                        [ngClass]="{'active': selectedSubTab === 6 }">
                                        <a class="nav-link" (click)="selectedSubTab = 6;">
                                            <span>{{'Group Account' | translate}}</span>
                                            <span *ngIf="additionalFilters.hasSelectedGroupAccount"
                                                class="selected-extra-filters sub"></span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane" [ngClass]="{'active': selectedSubTab === 0 }">
                                        <icabs-ticket-filter-select [type]="'Employee'"
                                            (onSelect)="onAdditionalFilterSelect($event)"></icabs-ticket-filter-select>
                                    </div>
                                    <div class="tab-pane" [ngClass]="{'active': selectedSubTab === 1 }">
                                        <icabs-ticket-filter-select [type]="'Team'"
                                            (onSelect)="onAdditionalFilterSelect($event)"></icabs-ticket-filter-select>
                                    </div>
                                    <div class="tab-pane" [ngClass]="{'active': selectedSubTab === 2 }">
                                        <icabs-ticket-filter-select [type]="'Branch'"
                                            (onSelect)="onAdditionalFilterSelect($event)"></icabs-ticket-filter-select>
                                    </div>
                                    <div class="tab-pane" [ngClass]="{'active': selectedSubTab === 3 }">
                                        <icabs-ticket-filter-select [type]="'Region'"
                                            (onSelect)="onAdditionalFilterSelect($event)"></icabs-ticket-filter-select>
                                    </div>
                                    <div class="tab-pane" [ngClass]="{'active': selectedSubTab === 4 }">
                                        <icabs-ticket-filter-select [type]="'Account'"
                                            (onSelect)="onAdditionalFilterSelect($event)"></icabs-ticket-filter-select>
                                    </div>
                                    <div class="tab-pane" [ngClass]="{'active': selectedSubTab === 5 }">
                                        <icabs-ticket-filter-select [type]="'ContactStatus'"
                                            (onSelect)="onAdditionalFilterSelect($event)"></icabs-ticket-filter-select>
                                    </div>
                                    <div class="tab-pane" [ngClass]="{'active': selectedSubTab === 6 }">
                                        <icabs-ticket-filter-select [type]="'GroupAccount'"
                                            (onSelect)="onAdditionalFilterSelect($event)">
                                        </icabs-ticket-filter-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
