<div [formGroup]="this['uiForm']">
	<input id="LostBusinessRequestNumber" formControlName="LostBusinessRequestNumber" >
	<input id="ShowValueButton" formControlName="ShowValueButton" >
	<input id="ContractTypeCode" formControlName="ContractTypeCode" >
	<input id="NegBranchNumber" formControlName="NegBranchNumber" >
	<input id="DisableList" formControlName="DisableList" >
	<input id="NewContract" formControlName="NewContract" >
	<input id="AccountName" formControlName="AccountName" >
	<input id="NegBranchName" formControlName="NegBranchName" >
	<input id="ErrorMessageDesc" formControlName="ErrorMessageDesc" >
	<input id="NationalAccountBranch" formControlName="NationalAccountBranch" >
	<input id="NationalAccountChecked" formControlName="NationalAccountChecked" >
	<input id="NationalAccount" formControlName="NationalAccount" >
	<input id="CreateNewInvoiceGroupInd" formControlName="CreateNewInvoiceGroupInd" >
	<input id="CustomerInfoAvailable" formControlName="CustomerInfoAvailable" >
	<input id="ForceRefresh" formControlName="ForceRefresh" >
	<input id="ContractHasExpired" formControlName="ContractHasExpired" >
	<input id="RunningReadOnly" formControlName="RunningReadOnly" >
	<input id="origPNOL" formControlName="origPNOL" >
	<input id="origPNOLiCABSLevel" formControlName="origPNOLiCABSLevel" >
	<input id="origPNOLSiteRef" formControlName="origPNOLSiteRef" >
	<input id="origPNOLEffectiveDate" formControlName="origPNOLEffectiveDate" >
	<input id="PNOLEffectiveDefault" formControlName="PNOLEffectiveDefault" >
	<input id="CallLogID" formControlName="CallLogID" >
	<input id="CurrentCallLogID" formControlName="CurrentCallLogID" >
	<input id="WindowClosingName" formControlName="WindowClosingName" >
	<input id="ClosedWithChanges" formControlName="ClosedWithChanges" >
	<input id="SelectedSRA" formControlName="SelectedSRA" >
	<input id="SelectedTrigger" formControlName="SelectedTrigger" >
	<input id="SelectedRCM" formControlName="SelectedRCM" >
	<input id="EmployeeLimitChildDrillOptions" formControlName="EmployeeLimitChildDrillOptions" >
	<input id="ProspectNumber" formControlName="ProspectNumber" >
	<input id="RoutingSource" formControlName="RoutingSource" >
	<input id="AddressError" formControlName="AddressError" >
	<input id="NewPremiseRowID" formControlName="NewPremiseRowID" >
	<input id="PrintRequired" formControlName="PrintRequired" >
	<input id="CustomerIndicationNumber" formControlName="CustomerIndicationNumber" >
	<input id="TelesalesInd" formControlName="TelesalesInd"  type="checkbox">
	<input id="GridUniqueID" formControlName="GridUniqueID"  >
	<input id="RCMNumber" formControlName="RCMNumber" >
	<input id="OriPremiseVtxGeoCode" formControlName="OriPremiseVtxGeoCode" >
	<input id="ServiceNotifyTemplateEmail" formControlName="ServiceNotifyTemplateEmail" >
	<input id="ServiceNotifyTemplateSMS" formControlName="ServiceNotifyTemplateSMS" >
	<input id="DefaultWindowStart01" formControlName="DefaultWindowStart01"><input id="DefaultWindowEnd01" formControlName="DefaultWindowEnd01">
	<input id="DefaultWindowStart02" formControlName="DefaultWindowStart02"><input id="DefaultWindowEnd02" formControlName="DefaultWindowEnd02">
	<input id="DefaultWindowStart03" formControlName="DefaultWindowStart03"><input id="DefaultWindowEnd03" formControlName="DefaultWindowEnd03">
	<input id="DefaultWindowStart04" formControlName="DefaultWindowStart04"><input id="DefaultWindowEnd04" formControlName="DefaultWindowEnd04">
	<input id="DefaultWindowStart05" formControlName="DefaultWindowStart05"><input id="DefaultWindowEnd05" formControlName="DefaultWindowEnd05">
	<input id="DefaultWindowStart06" formControlName="DefaultWindowStart06"><input id="DefaultWindowEnd06" formControlName="DefaultWindowEnd06">
	<input id="DefaultWindowStart07" formControlName="DefaultWindowStart07"><input id="DefaultWindowEnd07" formControlName="DefaultWindowEnd07">
	<input id="DefaultWindowStart08" formControlName="DefaultWindowStart08"><input id="DefaultWindowEnd08" formControlName="DefaultWindowEnd08">
	<input id="DefaultWindowStart09" formControlName="DefaultWindowStart09"><input id="DefaultWindowEnd09" formControlName="DefaultWindowEnd09">
	<input id="DefaultWindowStart10" formControlName="DefaultWindowStart10"><input id="DefaultWindowEnd10" formControlName="DefaultWindowEnd10">
	<input id="DefaultWindowStart11" formControlName="DefaultWindowStart11"><input id="DefaultWindowEnd11" formControlName="DefaultWindowEnd11">
	<input id="DefaultWindowStart12" formControlName="DefaultWindowStart12"><input id="DefaultWindowEnd12" formControlName="DefaultWindowEnd12">
	<input id="DefaultWindowStart13" formControlName="DefaultWindowStart13"><input id="DefaultWindowEnd13" formControlName="DefaultWindowEnd13">
	<input id="DefaultWindowStart14" formControlName="DefaultWindowStart14"><input id="DefaultWindowEnd14" formControlName="DefaultWindowEnd14">
</div>