<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ 'Contract Select' | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" id="labelContractNumber">{{'Contract Number' | translate}}<span class="mandatory">*</span></label>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" id="ContractNumber" size="9" maxlength="8" formControlName="ContractNumber" (change)="onContractNumberChange($event)"
                            eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" class="form-control" id="ContractName" size="42" maxlength="40" formControlName="ContractName">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="ellipsisParams.showCloseButton" [childConfigParams]="ellipsisParams.contractSearchParams"
                            [modalConfig]="modalConfig" [contentComponent]="contractSearchComponent" (ellipsisData)="onContractDataReceived($event)"
                            [showHeader]="ellipsisParams.showHeader" [autoOpen]="autoOpen"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" id="labelPremiseNumber">{{'Premises Number' | translate}}<span class="mandatory">*</span></label>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" id="PremiseNumber" size="9" maxlength="5" formControlName="PremiseNumber" (change)="onPremisesNumberChange($event)"
                            eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" class="form-control" id="PremiseName" size="42" maxlength="40" formControlName="PremiseName">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="ellipsisParams.showCloseButton" [childConfigParams]="ellipsisParams.premiseSearchParams"
                            [modalConfig]="modalConfig" [contentComponent]="premiseSearchComponent" (ellipsisData)="onPremiseDataReceived($event)"
                            [showHeader]="ellipsisParams.showHeader" [disabled]="elementDisabled.isPremisesDisabled"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-3">
                    <label class="col24" id="labelPremiseAddress1">{{'Premises Address Line 1' | translate}}</label>
                    <div class="col24">
                        <input type="text" class="form-control" id="PremiseAddressline1" size="42" maxlength="40" formControlName="PremiseAddressLine1">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Change Servicing Branch' | translate}}</label>
                    <div class="col12 pr5">
                        <label class="col7 pr5" id="labelServiceBranch">{{'From' | translate}}</label>
                        <div class="col17">
                            <input class="form-control" id="ServiceBranchNumber" size="7" maxlength="5" formControlName="ServiceBranchNumber" eTypeInteger>
                        </div>
                    </div>
                    <div class="col12">
                        <label class="col4 text-right pr5" id="spanNewServiceBranchNumber">{{'To' | translate}}<span class="mandatory">*</span></label>
                        <div class="col20">
                            <input type="text" class="form-control" id="NewServiceBranchNumber" size="7" maxlength="5" ritabindex="20" formControlName="NewServiceBranchNumber"
                                disabled="elementDisabled.newServiceBranchNumber" (change)="onNewServiceBranchNumberChange()"
                                eTypeInteger>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" id="labelPremiseAddress2">{{'Premises Address Line 2' | translate}}</label>
                    <div class="col24">
                        <input type="text" class="form-control" id="PremiseAddressline2" size="42" maxlength="40" formControlName="PremiseAddressLine2">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Premises Sales Employee' | translate}}</label>
                    <div class="col12 pr5">
                        <label class="col7 pr5" id="labelPremiseSalesEmployee">{{'From' | translate}}</label>
                        <div class="col17">
                            <input class="form-control" id="PremiseSalesEmployee" size="7" maxlength="6" formControlName="PremiseSalesEmployee" eTypeCode>
                        </div>
                    </div>
                    <div class="col12">
                        <label class="col4 text-right pr5" id="spanNewPremiseSalesEmployee">{{'To' | translate}}<span class="mandatory">*</span></label>
                        <div class="col16 pr5">
                            <input type="class" class="form-control" id="NewPremiseSalesEmployee" size="7" maxlength="6" ritabindex="21" formControlName="NewPremiseSalesEmployee"
                                eTypeCode>
                        </div>
                        <div class="col2">
                            <icabs-ellipsis [showCloseButton]="ellipsisParams.showCloseButton" [childConfigParams]="ellipsisParams.newPremiseSalesEmployeeSearchParams"
                                [modalConfig]="modalConfig" [contentComponent]="employeeSearchComponent" (ellipsisData)="onEmployeeDataReceived('NewPremiseSalesEmployee', $event)"
                                [showHeader]="ellipsisParams.showHeader" [disabled]="isControlDisabled('NewPremiseSalesEmployee')"></icabs-ellipsis>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" id="labelPremiseAddress3">{{'Premises Address Line 3' | translate}}</label>
                    <div class="col24">
                        <input type="text" class="form-control" id="PremiseAddressline3" size="42" maxlength="40" formControlName="PremiseAddressLine3">
                    </div>
                </div>
                <div class="col-sm-3 pt20">
                    <input id="ProcessAsTransfer" type="checkbox" class="form-control" Name="Processas1" value="Transfer" formControlName="Processas1"
                        (change)="onProcessAsTransferChange($event)">
                    <label for="ProcessAsTransfer">{{'Process as Transfer' | translate}}</label>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" id="labelPremiseAddress4">{{'Town' | translate}}<span class="mandatory" *ngIf="this.elementShowHide.isControlRequired">*</span></label>
                    <div class="col22 pr5">
                        <input type="text" class="form-control" id="PremiseAddressline4" size="42" maxlength="40" formControlName="PremiseAddressLine4"
                            (change)="onPremisesStateTownPostcodeChange($event)">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="ellipsisParams.showCloseButton" [childConfigParams]="ellipsisParams.postcodeSearchParams"
                            [modalConfig]="modalConfig" [contentComponent]="postcodeSearchComponent" (ellipsisData)="onPostcodeDataReceived($event)"
                            [showHeader]="ellipsisParams.showHeader" [disabled]="isControlDisabled('PremiseAddressLine4')"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3 pt20">
                    <input id="Cancellation" type="checkbox" class="form-control" Name="Processas2" value="Cancellation" formControlName="Processas2"
                        (change)="onCancellationChange($event)">
                    <label for="Cancellation">{{'Cancellation' | translate}}</label>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" id="labelPremiseAddress5">{{'County' | translate}}<span class="mandatory" *ngIf="this.elementShowHide.isControlRequired">*</span></label>
                    <div class="col22 pr5">
                        <input type="text" class="form-control" id="PremiseAddressline5" size="42" maxlength="40" formControlName="PremiseAddressLine5"
                            (change)="onPremisesStateTownPostcodeChange($event)">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="ellipsisParams.showCloseButton" [childConfigParams]="ellipsisParams.postcodeSearchParams"
                            [modalConfig]="modalConfig" [contentComponent]="postcodeSearchComponent" (ellipsisData)="onPostcodeDataReceived($event)"
                            [showHeader]="ellipsisParams.showHeader" [disabled]="isControlDisabled('PremiseAddressLine5')"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Commission Employee' | translate}}</label>
                    <div class="col12 pr5">
                        <label class="col7 pr5" id="labelCommissionEmployee">{{'From' | translate}}<span class="mandatory">*</span></label>
                        <div class="col13 pr5">
                            <input class="form-control" id="CommissionEmployeeCode" size="7" maxlength="6" formControlName="CommissionEmployeeCode" eTypeCode>
                        </div>
                        <div class="col4">
                            <icabs-ellipsis [showCloseButton]="ellipsisParams.showCloseButton" [childConfigParams]="ellipsisParams.commisssionEmployeeSearchParams"
                                [modalConfig]="modalConfig" [contentComponent]="employeeSearchComponent" (ellipsisData)="onEmployeeDataReceived('CommissionEmployeeCode', $event)"
                                [showHeader]="ellipsisParams.showHeader" [disabled]="isControlDisabled('NewCommissionEmployeeCode')"></icabs-ellipsis>
                        </div>
                    </div>
                    <div class="col12">
                        <label class="col4 text-right pr5" id="SpanNewCommissionEmployeeCode">{{'To' | translate}}<span class="mandatory">*</span></label>
                        <div class="col16 pr5">
                            <input type="text" class="form-control" id="NewCommissionEmployeeCode" size="7" maxlength="6" ritabindex="35" formControlName="NewCommissionEmployeeCode"
                                eTypeCode>
                        </div>
                        <div class="col4">
                            <icabs-ellipsis [showCloseButton]="ellipsisParams.showCloseButton" [childConfigParams]="ellipsisParams.newCommisssionEmployeeSearchParams"
                                [modalConfig]="modalConfig" [contentComponent]="employeeSearchComponent" (ellipsisData)="onEmployeeDataReceived('NewCommissionEmployeeCode', $event)"
                                [showHeader]="ellipsisParams.showHeader" [disabled]="isControlDisabled('NewCommissionEmployeeCode')"></icabs-ellipsis>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" id="labelPremisePostcode">{{'Postcode' | translate}}<span class="mandatory">*</span></label>
                    <div class="col22 pr5">
                        <input type="text" class="form-control" id="PremisePostcode" size="17" maxlength="15" ritabindex="10" formControlName="PremisePostcode"
                            (change)="onPremisesStateTownPostcodeChange($event)" eTypeCode>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="ellipsisParams.showCloseButton" [childConfigParams]="ellipsisParams.postcodeSearchParams"
                            [modalConfig]="modalConfig" [contentComponent]="postcodeSearchComponent" (ellipsisData)="onPostcodeDataReceived($event)"
                            [showHeader]="ellipsisParams.showHeader" [disabled]="isControlDisabled('PremisePostcode')"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3" *ngIf="elementShowHide.salesAreaCode">
                    <label class="col24" id="labelSalesAreaCode">{{'New Sales Area' | translate}}<span class="mandatory">*</span></label>
                    <div class="col12">
                        <input type="text" class="form-control" id="BranchSalesAreaCode" size="7" maxlength="5" ritabindex="40" formControlName="BranchSalesAreaCode"
                            (change)="capitialize('BranchSalesAreaCode')" eTypeCode>
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="elementShowHide.serviceAreaCode">
                <div class="col-sm-3 col-sm-offset-3">
                    <label class="col24" id="labelServiceAreaCode">{{'New Service Area' | translate}}<span class="mandatory">*</span></label>
                    <div class="col12">
                        <input type="text" class="form-control" id="BranchServiceAreaCode" size="7" maxlength="5" ritabindex="45" formControlName="BranchServiceAreaCode"
                            (change)="capitialize('BranchServiceAreaCode')" eTypeCode>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col24" id="labelContractAddress1">{{'Contract Address Line 1' | translate}}</label>
                    <div class="col24">
                        <input type="text" class="form-control" id="ContractAddressline1" size="42" maxlength="40" formControlName="ContractAddressLine1">
                    </div>
                </div>
                <div class="col-sm-3" [ngClass]="!sysCharParams['enableRecordingOfNegEmpMoves'] ? '': 'hidden'">
                    <label class="col24" id="labelNegBranch">{{'Change Negotiating Branch ' | translate}}</label>
                    <div class="col12 pr5">
                        <input type="checkbox" class="form-control" id="MoveNegBranchYes" value="Yes" formControlName="MoveNegBranchYes" (change)="onMoveNegBranchYesChange($event)">
                        <label for="MoveNegBranchYes">{{'Yes' | translate}}</label>
                    </div>
                    <div class="col12">
                        <input type="checkbox" class="form-control" id="MoveNegBranchNO" value="No" formControlName="MoveNegBranchNo" (change)="onMoveNegBranchNoChange($event)">
                        <label for="MoveNegBranchNO">{{'No' | translate}}</label>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" id="labelContractAddress2">{{'Contract Address Line 2' | translate}}</label>
                    <div class="col24">
                        <input type="text" class="form-control" id="ContractAddressline2" size="42" maxlength="40" formControlName="ContractAddressLine2">
                    </div>
                </div>
                <div class="col-sm-3" [ngClass]="!sysCharParams['enableRecordingOfNegEmpMoves'] ? '': 'hidden'">
                    <label class="col24" id="labelNegEmployee">{{'Branch' | translate}}</label>
                    <div class="col12 pr5">
                        <label class="col7 pr5">{{'From' | translate}}</label>
                        <div class="col17">
                            <input class="form-control" id="NegBranchNumber" size="7" maxlength="5" formControlName="NegBranchNumber" eTypeInteger>
                        </div>
                    </div>
                    <div class="col12">
                        <label class="col4 text-right pr5">{{'To' | translate}}<span class="mandatory">*</span></label>
                        <div class="col20">
                            <input class="form-control" id="NewNegBranchNumber" size="7" maxlength="5" formControlName="NewNegBranchNumber" (change)="onNewNegBranchNumberChange()"
                                eTypeInteger>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" id="labelContractAddress3">{{'Contract Address Line 3' | translate}}</label>
                    <div class="col24">
                        <input type="text" class="form-control" id="ContractAddressline3" size="42" maxlength="40" formControlName="ContractAddressLine3">
                    </div>
                </div>
                <div class="col-sm-3" [ngClass]="!sysCharParams['enableRecordingOfNegEmpMoves'] ? '': 'hidden'">
                    <label class="col24" id="labelNegEmployee">{{'Negotiating Employee' | translate}}</label>
                    <div class="col12 pr5">
                        <label class="col7 pr5">{{'From' | translate}}</label>
                        <div class="col17">
                            <input class="form-control" id="ContractSalesEmployee" size="7" maxlength="6" formControlName="ContractSalesEmployee" eTypeCode>
                        </div>
                    </div>
                    <div class="col12">
                        <label class="col4 text-right pr5">{{'To' | translate}}<span class="mandatory">*</span></label>
                        <div class="col16 pr5">
                            <input class="form-control" id="NewContractSalesEmployee" size="7" maxlength="6" formControlName="NewContractSalesEmployee"
                                eTypeCode>
                        </div>
                        <div class="col2">
                            <icabs-ellipsis [showCloseButton]="ellipsisParams.showCloseButton" [childConfigParams]="ellipsisParams.newContractSalesEmployeeSearchParams"
                                [modalConfig]="modalConfig" [contentComponent]="employeeSearchComponent" (ellipsisData)="onEmployeeDataReceived('NewContractSalesEmployee', $event)"
                                [showHeader]="ellipsisParams.showHeader" [disabled]="isControlDisabled('NewContractSalesEmployee')"></icabs-ellipsis>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" id="labelContractAddress4">{{'Town' | translate}}</label>
                    <div class="col24">
                        <input type="text" class="form-control" id="ContractAddressline4" size="42" maxlength="40" formControlName="ContractAddressLine4">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" id="labelContractAddress5">{{'County' | translate}}</label>
                    <div class="col24">
                        <input type="text" class="form-control" id="ContractAddressline5" size="42" maxlength="40" formControlName="ContractAddressLine5">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" id="labelContractPostcode">{{'Postcode' | translate}}</label>
                    <div class="col12">
                        <input type="text" class="form-control" id="ContractPostcode" size="17" maxlength="15" formControlName="ContractPostcode"
                            eTypeCode>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row mt5" *ngIf="elementShowHide.transferTurnover">
                <div class="col-sm-12">
                    <input type="checkbox" class="form-control" id="TransferTurnover" Name="TransferTurnover" formControlName="TransferTurnover">
                    <label for="TransferTurnover" id="labelTransferTurnover">{{'Transfer All Unposted Turnover From Today' | translate}}</label>
                </div>
            </div>
        </section>
        <div class="hidden">
            <input id="ErrorMessageDesc">
            <input id="ProcessType" formControlName="ProcessType">
            <input id="MoveNegBranch" formControlName="MoveNegBranch">
            <input id="vSuccessful">
            <input id="PremisePostcodeDefaults" formControlName="PremisePostcodeDefaults">
            <textarea id="InfoMessage" style="display:none"></textarea>
        </div>
        <footer class="screen-footer">
            <div class="row mt10">
                <div class="col-sm-12">
                    <button id="" class="btn btn-primary mr10" (click)="confirmSave()">{{'Save' | translate}}</button>
                    <input type="button" class="btn btn-secondary mr10" value="{{'Cancel' | translate}}" (click)="cancelData()">
                </div>
            </div>
        </footer>
    </form>
    <icabs-spinner [isRunning]="isRequesting"></icabs-spinner>
    <icabs-modal #infoModal="child" [(title)]="pageTitle" [(showHeader)]="showHeader" [config]="modalConfig" [showCloseButton]="true">
        <div class="container-fluid custom-container">
            <div class="row">
                <div class="col-sm-12 page-title mt10">
                    <h1>{{ 'Move Branch By Postcode' | translate }}</h1>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12 center-align">
                    <div class="message-center">
                        <p>{{'This menu was designed to be used only as a corrective action, when a user has keyed in the wrong
                            postcode and this has caused the premises to fall into the wrong branch.' | translate }}</p>
                        <p>{{ 'The business must be made aware that moving portfolio to another branch where there are any remaining
                            future dated changes on a Service Cover will cause issues with Portfolio Movement.' | translate}}</p>
                        <p>{{'In addition, if portfolio is moved from Branch A to Branch B and then onwards to Branch C or even
                            back to Branch A, this will cause issues on the sales stats.' | translate}}</p>
                        <p>{{'The menu must only be accessible for Key Users who understand these risks and who must check the
                            status of the premises before moving it.' | translate}}&nbsp;{{'Before moving the premises, we
                            must cancel any forward dated transactions, and reprocess them in the new branch, once the premises
                            has been moved.' | translate}}&nbsp;{{'In addition, if service planning is used in your business,
                            please ensure that any visits for the premises have not been planned in, and if they have,' |
                            translate}}&nbsp;{{'please cancel them and reinstate in the new branch.' | translate}}&nbsp;{{'This
                            will help to alleviate any issues.' | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="row mt15">
                <div class="col-sm-12 center-align">
                    <input type="button" id="btnClose" class="btn btn-primary" value="{{ 'OK' | translate }}" (click)="onMessageClose()">
                </div>
            </div>
        </div>
    </icabs-modal>
    <icabs-modal #messageModal="child" [(showHeader)]="showMessageHeader" (modalClose)="onMessageModalClose()"></icabs-modal>
    <icabs-modal #errorModal="child" [(showHeader)]="showMessageHeader"></icabs-modal>
    <icabs-prompt-modal #promptConfirmModal="child" [(showHeader)]="showPromptMessageHeader" [title]="promptConfirmTitle" [content]="promptConfirmContent"
        (saveEmit)="saveData($event)"></icabs-prompt-modal>
    <icabs-routeaway #routeAwayComponent></icabs-routeaway>
</section>