<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="PrepCode">{{ 'Preparation Code' | translate}} <span
                            class="mandatory">*</span></label>
                    <div class="col8 pr5">
                        <input type="text" id="PrepCode" size="5" maxlength="3" class="form-control"
                            formControlName="PrepCode" (change)="enableChargeRate()" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="PrepDesc" size="40" maxlength="40" class="form-control"
                            formControlName="PrepDesc" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis (ellipsisData)="onPrepCodeDataReceived($event)"
                            [childConfigParams]="ellipsisQueryParams.prepCodeEllipsis.childConfigParams"
                            [disabled]="ellipsisQueryParams.prepCodeEllipsis.disabled"
                            [contentComponent]="ellipsisQueryParams.prepCodeEllipsis.contentComponent"
                            [modalConfig]="ellipsisConfig"
                            [autoOpen]="ellipsisQueryParams.prepCodeEllipsis.autoOpenSearch" [showHeader]="true"
                            [showCloseButton]="true"></icabs-ellipsis>

                        <icabs-ellipsis #prepChargeRateSearchComponent [showCloseButton]="true" [showHeader]="true"
                            [childConfigParams]="ellipsisQueryParams.prepChargeRateEllipsis.childConfigParams"
                            [contentComponent]="ellipsisQueryParams.prepChargeRateEllipsis.contentComponent"
                            (ellipsisData)="onPrepChargeRateDataReceived($event)" [modalConfig]="ellipsisConfig"
                            [autoOpen]="ellipsisQueryParams.prepChargeRateEllipsis.autoOpenSearch" [hideIcon]="true">
                        </icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="ChargeRateCode">{{ 'Charge Rate Code' | translate}} <span
                            class="mandatory">*</span></label>
                    <div class="col24 pr5">
                        <icabs-common-dropdown [inputParams]="dropdown.chargeRateSearch.params" [isRequired]="true"
                            [isDisabled]="dropdown.chargeRateSearch.isDisabled"
                            [displayFields]="dropdown.chargeRateSearch.displayFields"
                            [isActive]="dropdown.chargeRateSearch.isActive"
                            [isTriggerValidate]="dropdown.chargeRateSearch.isTriggerValidate"
                            (onDataReceived)="onChargeRateSearchDataRecieved($event)"></icabs-common-dropdown>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="PrepPriceEffectDate">{{ 'Effect Date' | translate}} <span
                            class="mandatory">*</span></label>
                    <div class="col8">
                        <icabs-datepicker id="PrepPriceEffectDate" formControlName="PrepPriceEffectDate"
                            [required]="true" (onChange)="dateFromSelectedValue($event)" [isDirectiveBased]="false">
                        </icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="PrepPrice">{{ 'Preparation Price' | translate}} <span
                            class="mandatory">*</span></label>
                    <div class="col8">
                        <input type="text" id="PrepPrice" size="10" maxlength="10" class="form-control"
                            formControlName="PrepPrice" eTypeDecimal4>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
        </section>
    </form>
    <footer class="screen-footer">
        <div class="row">
            <div class="col-sm-12">
                <input type="submit" class="btn btn-primary mr5" [disabled]="this['pageParams']['isSaveDisabled']"
                    value="{{'Save' | translate}}" (click)="saveData()">
                <input type="button" class="btn btn-secondary mr5" [disabled]="this['pageParams']['isCancelDisabled']"
                    value="{{'Cancel' | translate}}" (click)="resetData()">
                <input type="button" class="btn btn-additional mr5" [disabled]="this['pageParams']['isSearchDisabled']"
                    value="{{'Search' | translate}}" (click)="searchData()">
                <input type="button" class="btn btn-additional" [disabled]="this['pageParams']['isDeleteDisabled']"
                    value="{{'Delete' | translate}}" (click)="deleteData()">
            </div>
        </div>
    </footer>
</section>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>