<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ 'Business Registry Maintenance' | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col24">{{ 'Module' | translate }}</label>
                    <div class="col16">
                        <select (change)="onModuleSelectionChange($event.target.value)" #moduleDropDown id="moduleDropDown" class="form-control">
                            <option *ngFor="let module of moduleValue"
                                [value]="module.value">{{module.text}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col12 mt20">
                        <input type="checkbox" class="form-control" id="LatestInd" formControlName="LatestInd">
                        <label for="LatestInd">{{'Latest only'|translate}}</label>
                    </div>
                    <div class="col12 mt20">
                        <input type="button" class="btn btn-primary" value="{{'Add' | translate}}" (click)="onAddBtnClicked($event)">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="onRiGridRefresh($event)"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="this['pageParams'].gridConfig.totalRecords" [itemsPerPage]="this['pageParams'].gridConfig.pageSize"
                        [currentPage]="this['pageParams'].gridConfig.currentPage" (getCurrentPage)="onGetCurrentPage($event)"></icabs-pagination>
                </div>
                <div class="col-sm-12 mt10">
                    <icabs-grid-advanced #riGrid id="riGrid" (bodyDblClick)="onGridBodyDbClick($event)" (bodyColumnBlur)="onUpdateBusinessRegistry($event)"
                        (headerClick)="onRiGridRefresh($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>