<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-3">
                    <div class="col24" *ngIf="isBusiness">
                        <div class="col24">
                            <label class="col24">{{pageType|translate}} </label>
                        </div>
                        <input type="text" id="BusinessDesc" formControlName="BusinessDesc" size="40" maxlength="40"
                            class="form-control" eTypeText>
                    </div>
                    <div class="col24" *ngIf="(isBranch || isDetail) && level !==  'DetailBranch'">
                        <div class="col24">
                            <label class="col24">{{pageType|translate}} </label>
                        </div>
                        <div class="col6 pr5">
                            <input type="text" id="BranchNumber" formControlName="BranchNumber" class="form-control"
                                eTypeInteger>
                        </div>
                        <div class="col12">
                            <input type="text" id="BranchName" formControlName="BranchName" class="form-control"
                                eTypeText>
                        </div>
                    </div>
                    <div class="col24" *ngIf="level ===  'DetailBranch'">
                        <label class="col24">{{'Employee'|translate}} </label>
                        <div class="col6 pr5">
                            <input type="text" id="EmployeeCode" formControlName="EmployeeCode" class="form-control"
                                eTypeCode>
                        </div>
                        <div class="col12">
                            <input type="text" id="EmployeeSurname" formControlName="EmployeeSurname"
                                class="form-control" eTypeText>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="col24">{{'Date From'| translate}}<span class="mandatory">*</span>
                            </label>
                            <div class="col24">
                                <icabs-datepicker id="FromDate" formControlName="FromDate" [isDirectiveBased]="false"
                                    (change)="onChangeCommon()">
                                </icabs-datepicker>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="col24">{{'Date To' | translate}}<span class="mandatory">*</span>
                            </label>
                            <div class="col24">
                                <icabs-datepicker id="ToDate" formControlName="ToDate" [isDirectiveBased]="false"
                                    (change)="onChangeCommon()">
                                </icabs-datepicker>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3" *ngIf="isBusiness">
                    <div class="col16">
                        <label class="col24" for="GroupBy">{{'View By' | translate}}</label>
                        <select class="form-control" id="GroupBy" formControlName="GroupBy" (change)="onChangeCommon()">
                            <option value="Branch">{{'Branch' | translate}}</option>
                            <option value="Region">{{'Region' | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3" *ngIf="level">
                    <div class="col16">
                        <label class="col24">{{'Column' | translate}}</label>
                        <input type="text" id="Column" formControlName="Column" class="form-control" eTypeText>
                    </div>
                </div>
            </div>

            <hr class="mt15 mb15">
            <div class="row mt10">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [canExport]="true" [ngClass]="{hidden: !hasGridData}"
                        [totalItems]="gridConfig.totalItem" [currentPage]="this['pageParams'].gridCurrentPage"
                        [itemsPerPage]="gridConfig.itemsPerPage"
                        (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)"
                        [ngClass]="{hidden: !hasGridData}" [exportOptions]="{dateColumns: '5'}">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="onGridBodyDoubleClick()"
                        (headerClick)="onHeaderClick()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>