<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1> {{ pageTitle | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <div class="row mt5">
            <div class="col-sm-3">
                <label class="col24">{{'Branch'|translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="BranchNumber" size="5" maxlength="5" class="form-control"
                        formControlName="BranchNumber" eTypeText>
                </div>
                <div class="col16">
                    <input type="text" id="BranchName" size="30" maxlength="40" class="form-control"
                        formControlName="BranchName" eTypeText>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col16">
                    <label class="col24" for="WhatDate">{{'Show' | translate}}</label>
                    <select class="form-control" id="WhatDate" formControlName="WhatDate">
                        <option value="Effective">{{'Earliest Effective Date' | translate}}</option>
                        <option value="Processed">{{'Processed Date' | translate}}</option>
                        <option value="All">{{'All' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3" *ngIf="getControlValue('WhatDate')!== 'All'">
                <label class="col24">{{ 'Between' | translate }}<span class="mandatory">*</span>
                </label>
                <div class="col16">
                    <icabs-datepicker id="FromDate" formControlName="FromDate" [isDirectiveBased]="false">
                    </icabs-datepicker>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="getControlValue('WhatDate')!== 'All'">
                <label class="col24">{{ 'And' | translate }}<span class="mandatory">*</span>
                </label>
                <div class="col16">
                    <icabs-datepicker id="ToDate" formControlName="ToDate" [isDirectiveBased]="false">
                    </icabs-datepicker>
                </div>
            </div>
        </div>
        <hr class="mt15 mb15">
        <div class="row">
            <div class="col-sm-6">
                <icabs-refresh (click)="onRiGridRefresh()"></icabs-refresh>
                <icabs-pagination #riGridPagination [canExport]="true" [ngClass]="{hidden: !hasGridData}"
                    [totalItems]="this['pageParams'].gridConfig.totalRecords"
                    [itemsPerPage]="this['pageParams'].gridConfig.pageSize"
                    [currentPage]="this['pageParams'].gridConfig.currentPage" (getCurrentPage)="getCurrentPage($event)"
                    [exportOptions]="{dateColumns: '5,6,7,9,10'}">
                </icabs-pagination>
            </div>
            <div class="col-sm-12 mt10">
                <icabs-grid-advanced #riGrid (bodyDblClick)="onGridBodyDoubleClick()" (headerClick)="onRiGridRefresh()">
                </icabs-grid-advanced>
            </div>
        </div>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
