<section class="container-fluid custom-container">
    <header>
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row">
                <div class="col-sm-2">
                    <label class="col24">{{ 'Business' | translate }}</label>
                    <div class="col24">
                        <input type="text" id="BusinessDesc" formControlName="BusinessDesc">
                    </div>
                </div>
                <div class="col-sm-2" *ngIf="isBranch">
                    <label class="col24">{{'Branch'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="BranchNumber" size="6" [attr.maxlength]="6" class="form-control"
                            formControlName="BranchNumber" eTypeInteger>
                    </div>
                    <div class="col16">
                        <input type="text" id="BranchName" size="20" [attr.maxlength]="30" class="form-control"
                            formControlName="BranchName" eTypeText>
                    </div>
                </div>
                <div class="col-sm-2 mt20">
                    <input type="checkbox" id="IncTermInd" class="form-control" formControlName="IncTermInd"
                        (change)="onChangeControls('IncTermInd')">
                    <label for="IncTermInd" class="col24">{{ 'Include Term/Del' | translate }}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2" *ngIf="isBusiness">
                    <label class="col24">{{ 'View By' | translate }}</label>
                    <div class="col24 pr5">
                        <select class="form-control" id="ViewBy" formControlName="ViewBy">
                            <option *ngFor="let viewByvaluesOptions of viewByvalues"
                                value="{{viewByvaluesOptions.value}}">
                                {{ viewByvaluesOptions.text | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col24">{{ 'View' | translate }}</label>
                    <div class="col24">
                        <select id="ViewVADD" class="form-control" formControlName="ViewVADD"
                            (change)="onChangeControls('ViewVADD')">
                            <option *ngFor="let options of viewVADDValues" value="{{options.value}}">
                                {{ options.text | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col24">{{ 'For' | translate }}</label>
                    <div class="col24">
                        <select id="ViewFor" class="form-control" formControlName="ViewFor"
                            (change)="onChangeControls('ViewFor')">
                            <option *ngFor="let viewForOptions of viewForValues" value="{{viewForOptions.value}}">
                                {{ viewForOptions.text | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-5" *ngIf="isBranch">
                    <input type="radio" name="IncludeText" id="Include" class="form-control"
                        formControlName="IncludeText" value="true" [checked]="true">
                    <label for="Include" class="col12 mt20 pr10">{{ 'Reason Include' | translate }}</label>
                    <input type="radio" name="IncludeText" id="Exclude" class="form-control"
                        formControlName="IncludeText" value="false">
                    <label for="Exclude" class="col12 mt20 pr10">{{ 'Exclude' | translate }}</label>
                    <div class="col10 mt20">
                        <input type="text" id="FilterText" class="form-control" formControlName="FilterText" size="20"
                            maxlength="40">
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="isBranch">
                <div class="col-sm-2">
                    <label class="col24">{{ 'Show' | translate }}</label>
                    <div class="col24">
                        <select id="ShowType" class="form-control" formControlName="ShowType">
                            <option *ngFor="let showTypeOptions of showTypeValues" value="{{showTypeOptions.value}}">
                                {{ showTypeOptions.text | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col24">{{ 'Level' | translate }}</label>
                    <div class="col24">
                        <select id="Level" class="form-control" formControlName="Level"
                            (change)="onChangeControls('Level')">
                            <option *ngFor="let levelOptions of levelValues" value="{{levelOptions.value}}">
                                {{ levelOptions.text | translate }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="gridConfig.totalItem"
                        [currentPage]="this['pageParams'].gridCurrentPage" [canExport]="isBranch"
                        [itemsPerPage]="gridConfig.itemsPerPage"
                        (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)"
                        [exportOptions]="{dateColumns: dateCollist}" [ngClass]="{hidden: !hasGridData}">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="onGridBodyDoubleClick()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>