<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>

    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Branch' | translate }} </label>
                    <div class="col8 pr5">
                        <input type="text" id="BranchNumber" class="form-control" formControlName="BranchNumber"
                            eTypeText disabled>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" id="BranchName" class="form-control" formControlName="BranchName" eTypeText
                            disabled>
                    </div>
                    <label class="col24">{{'Report Type' | translate}} </label>
                    <div class="col24 pr5">
                        <select class="form-control" id="DateType" formControlName="DateType"
                            (change)="onChangeFilterBy($event, 'DateType')">
                            <option *ngFor="let dateType of dateTypeValues" value="{{dateType.key}}">
                                {{dateType.value | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="col24 pr5">
                        <label class="col16">{{'Date From' | translate}}
                        </label>
                        <div class="col23">
                            <icabs-datepicker id="SelectDateFrom" formControlName="SelectDateFrom"
                                [isDirectiveBased]="false" (change)="onChangeFilterBy($event, 'dateFrom')">
                            </icabs-datepicker>
                        </div>
                        <label class="col16">{{'Date To' | translate}}<span class="mandatory">*</span>
                        </label>
                        <div class="col23">
                            <icabs-datepicker id="SelectDate" formControlName="SelectDate" [isDirectiveBased]="false"
                                (change)="onChangeFilterBy($event, 'dateTo')">
                            </icabs-datepicker>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col24">{{ 'View' | translate }} </label>
                    <select id="ViewType" formControlName="ViewType" class="form-control"
                        (change)="onChangeFilterBy($event, 'ViewType')">
                        <option *ngFor="let viewFilter of viewTypeValues" value={{viewFilter.key}}>
                            {{ viewFilter.value | translate }}</option>
                    </select>
                    <label class="col24">{{'Level' | translate}} </label>
                    <div class="col24 pr5">
                        <select class="form-control" id="menu" formControlName="menu"
                            (change)="onChangeFilterBy($event, 'menu')">
                            <option *ngFor="let menu of levelValues" value="{{menu.key}}">
                                {{menu.value | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col24">{{'Tier' | translate}} </label>
                    <div class="col24 pr5">
                        <select class="form-control" id="TierCodeFilter" formControlName="TierCodeFilter"
                            (change)="onChangeFilterBy($event, 'TierCodeFilter')">
                            <option value="all">All - Tiers</option>
                            <option *ngFor="let tierCode of tierCodeValues" value="{{tierCode.TierCode}}">
                                {{tierCode.TierSystemDescription | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <hr class="mt15 mb15">

            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [canExport]="this['pageParams'].gridConfig.totalRecords > 0"
                        [totalItems]="this['pageParams'].gridConfig.totalRecords"
                        [itemsPerPage]="this['pageParams'].gridConfig.pageSize"
                        [currentPage]="this['pageParams'].gridConfig.currentPage"
                        (getCurrentPage)="getCurrentPage($event)" [exportOptions]="{dateColumns: '3,4'}">
                    </icabs-pagination>
                </div>

                <div class="mt10">
                    <div class="col-sm-12">
                        <icabs-grid-advanced #riGrid (headerClick)="onRiGridRefresh()"
                            (bodyDblClick)="onGridBodyDoubleClick($event)"></icabs-grid-advanced>
                    </div>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
