
.dusk .env-sticker{background-image: none;}
.dusk .custom-container.onMobile{
    padding-top: 0;
    overflow-y: hidden;

    .mobile-header{
        background-color:#354a55;
        padding:1em 1em .02em 1em;
        position:fixed;
        width:100%;
        top:0;
        z-index: 9999;

        .user-info{
            color:#fff;
            padding:10px;
            clear:both;
        }
    }

    .display-filters{
        background-color: #abdff8; border-radius: 5px; padding: 10px 5px;
        border: 1px solid #fff;
        transition: all 700ms ease-in-out;
        box-shadow:0px 0px 10px 1px rgba(189,189,189,0.72);

        .date-picker-mobile{
            .btn{padding: 0 12px;}
        }
    }

    .screen-body-full .screen-body{
        overflow-y: scroll;
        overflow-x: hidden;
        padding-top:0;

        .page-msg{text-align: center; }
        .slide-details{transition: 2s ease-in;}
        .active-slide{
            border:1px solid #fff;
            box-shadow:0px 0px 10px 1px rgba(189,189,189,0.72);
        }
        .active-slide .text-bold{font-weight: bold;}

        .thumbnail{
            word-break: break-word;
            margin-bottom:.8em;
            height:10em;
            overflow: hidden;
            position: relative;
            padding:1em;

            .ellipsesText{
                height: auto;
                overflow: hidden;
                position: relative;
                display:block;
                white-space: nowrap;
                text-overflow: ellipsis;
                background:transparent;
            }

            .slide-sign{
                position: absolute;
                right: -0.2em;
                top: .5em;
            }
        }
        .active-slide.thumbnail{
            height:100%;

            .ellipsesText{
                text-overflow: initial;
                white-space: normal;
                line-height: normal;
            }
        }
    }

    .floatL{float:left;}
    .floatR{float:right;}
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .screen-body-full .screen-body{
        height:21em;
        background-color: transparent;
    }
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .screen-body-full .screen-body{
        height:27.75em;
        background-color: transparent;
    }
}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {
    .screen-body-full .screen-body{
        height:31em;
        background-color: transparent;
    }
}

/* Portrait */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
    .screen-body-full .screen-body{
        height:31em;
        background-color: transparent;
    }
}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {

}
