<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{this['pageTitle']|translate}}
                </h1>
            </div>
        </div>
    </header>

    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Depot Number' | translate}}</label>
                    <div class="col4 pr5">
                        <input *ngIf="this['pageParams']['pageMode'] == MntConst.eModeAdd; else EditModeInputBox"
                            id="DepotNumber" class="form-control" formControlName="DepotNumber" eTypeInteger type="text"
                            size="2" [attr.maxlength]="2">
                        <ng-template #EditModeInputBox>
                            <input id="DepotNumber" class="form-control" formControlName="DepotNumber" eTypeInteger
                                type="text" size="2" [attr.maxlength]="2" (change)="onDepotNumberChange()">
                        </ng-template>
                    </div>
                    <div class="col18 pr5">
                        <input id="DepotName" class="form-control" formControlName="DepotName" type="text" size="40"
                            [attr.maxlength]="40" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis-generic #depotSearchEllipsis [autoOpen]="depotSearchConfig.autoOpen"
                            [showCloseButton]="true" [showHeader]="true"
                            [ellipsisTitle]="depotSearchConfig.ellipsisTitle"
                            [ellipsisColumn]="depotSearchConfig.tableColumn"
                            [configParams]="depotSearchConfig.configParams" [disabled]="depotSearchConfig.disable"
                            (ellipsisData)="onEllipsisDataRecived($event)">
                        </icabs-ellipsis-generic>
                    </div>
                </div>
            </div>
            <!--Tab function-->
            <div class="row mt15">
                <div class="col-sm-12">
                    <ul class="nav nav-tabs">
                        <li class="nav-item active" id="grdDepotAddress"
                            [ngClass]="{'active': tab.tab1.active, 'hidden': !tab.tab1.visible}"
                            (click)="riTab.TabFocus(1)">
                            <a class="nav-link" [ngClass]="{'active': tab.tab1.active}"
                                (click)="commonMaintenanceFunction.setFocusToTabElement()">
                                <span>{{tab.tab1.name | translate}}</span>
                            </a>
                        </li>
                        <li class="nav-item" id="grdWasteInfo"
                            [ngClass]="{'active': tab.tab2.active, 'hidden': !tab.tab2.visible}"
                            (click)="riTab.TabFocus(2)">
                            <a class="nav-link" [ngClass]="{'active': tab.tab2.active}"
                                (click)="commonMaintenanceFunction.setFocusToTabElement()">
                                <span>{{tab.tab2.name | translate}}</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" [ngClass]="{'active': tab.tab1.active, 'hidden': !tab.tab1.visible}">
                            <div id="grdDepotAddress" class="mt10">

                                <div class="row mt5">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Address Line 1' | translate}}<span
                                                class="mandatory">*</span></label>
                                        <div class="col16">
                                            <input type="text" eTypeText id="DepotAddressLine1" class="form-control"
                                                size="35" [attr.maxlength]="40" formControlName="DepotAddressLine1">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt5">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Address Line 2' | translate}}</label>
                                        <div class="col16">
                                            <input type="text" eTypeText id="DepotAddressLine2" class="form-control"
                                                size="35" [attr.maxlength]="40" formControlName="DepotAddressLine2">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt5">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Address Line 3' | translate}}</label>
                                        <div class="col16">
                                            <input type="text" eTypeText id="DepotAddressLine3" class="form-control"
                                                size="35" [attr.maxlength]="40" formControlName="DepotAddressLine3">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt5">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Town' | translate}}<span
                                                class="mandatory">*</span></label>
                                        <div class="col16">
                                            <input type="text" eTypeText id="DepotAddressLine4" class="form-control"
                                                size="35" [attr.maxlength]="40" formControlName="DepotAddressLine4">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt5">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'County' | translate}}</label>
                                        <div class="col16">
                                            <input type="text" eTypeText id="DepotAddressLine5" class="form-control"
                                                size="35" [attr.maxlength]="40" formControlName="DepotAddressLine5">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt5">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'PostCode' | translate}}<span
                                                class="mandatory">*</span></label>
                                        <div class="col8">
                                            <input type="text" eTypeText id="DepotPostCode" class="form-control"
                                                size="15" [attr.maxlength]="15" formControlName="DepotPostCode">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt5">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Telephone' | translate}}<span
                                                class="mandatory">*</span></label>
                                        <div class="col10">
                                            <input type="text" eTypeText id="DepotContactTelephone" class="form-control"
                                                size="20" [attr.maxlength]="20" formControlName="DepotContactTelephone">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt5">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Fax' | translate}}</label>
                                        <div class="col10">
                                            <input type="text" eTypeText id="DepotContactFax" class="form-control"
                                                size="20" [attr.maxlength]="20" formControlName="DepotContactFax">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt5">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Email' | translate}}</label>
                                        <div class="col16">
                                            <input type="text" eTypeText id="DepotContactEmail" class="form-control"
                                                size="35" [attr.maxlength]="50" formControlName="DepotContactEmail">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt5">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Contact Name' | translate}}<span
                                                class="mandatory">*</span></label>
                                        <div class="col16">
                                            <input type="text" eTypeText id="DepotContactName" class="form-control"
                                                size="35" [attr.maxlength]="50" formControlName="DepotContactName">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt5">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Position' | translate}}<span
                                                class="mandatory">*</span></label>
                                        <div class="col16">
                                            <input type="text" eTypeText class="form-control" id="DepotContactPosition"
                                                size="35" [attr.maxlength]="50" formControlName="DepotContactPosition">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane" [ngClass]="{'active': tab.tab2.active, 'hidden': !tab.tab2.visible}">
                            <div id="grdWasteInfo" class="mt10">

                                <div class="row mt5">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Consignor Address Text' | translate}}</label>
                                        <div class="col16">
                                            <input type="text" eTypeText id="ConsignorAddressText" class="form-control"
                                                size="35" [attr.maxlength]="40" formControlName="ConsignorAddressText">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt5">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Waste Chemical Text 1' | translate}}</label>
                                        <div class="col16">
                                            <input type="text" eTypeText id="WasteChemicalText1" class="form-control"
                                                size="35" [attr.maxlength]="40" formControlName="WasteChemicalText1">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt5">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'2' | translate}}</label>
                                        <div class="col16">
                                            <input type="text" eTypeText id="WasteChemicalText2" class="form-control"
                                                size="35" [attr.maxlength]="40" formControlName="WasteChemicalText2">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt5">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Waste Chemical Percentage 1' | translate}}</label>
                                        <div class="col16">
                                            <input type="text" eTypeText id="WasteChemicalPercentageText1"
                                                class="form-control" size="35" [attr.maxlength]="40"
                                                formControlName="WasteChemicalPercentageText1">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt5">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'2' | translate}}</label>
                                        <div class="col16">
                                            <input type="text" eTypeText id="WasteChemicalPercentageText2"
                                                class="form-control" size="35" [attr.maxlength]="40"
                                                formControlName="WasteChemicalPercentageText2">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt5">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Waste Colour' | translate}}</label>
                                        <div class="col16">
                                            <input type="text" eTypeText id="WasteColourText" class="form-control"
                                                size="35" [attr.maxlength]="40" formControlName="WasteColourText">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt5">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Waste Description' | translate}}</label>
                                        <div class="col16">
                                            <input type="text" eTypeText id="WasteDescriptionText" class="form-control"
                                                size="35" [attr.maxlength]="40" formControlName="WasteDescriptionText">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt5">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'EWC Codes Text 1' | translate}}</label>
                                        <div class="col16">
                                            <input type="text" eTypeText id="WasteEWCCodesText1" class="form-control"
                                                size="35" [attr.maxlength]="40" formControlName="WasteEWCCodesText1">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt5">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'2' | translate}}</label>
                                        <div class="col16">
                                            <input type="text" eTypeText id="WasteEWCCodesText2" class="form-control"
                                                size="35" [attr.maxlength]="40" formControlName="WasteEWCCodesText2">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt5">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'3' | translate}}</label>
                                        <div class="col16">
                                            <input type="text" eTypeText id="WasteEWCCodesText3" class="form-control"
                                                size="35" [attr.maxlength]="40" formControlName="WasteEWCCodesText3">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt5">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Waste Hazard List' | translate}}</label>
                                        <div class="col16">
                                            <input type="text" eTypeText id="WasteHazardList" class="form-control"
                                                size="35" [attr.maxlength]="40" formControlName="WasteHazardList">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt5">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Waste Management Operation' | translate}}</label>
                                        <div class="col16">
                                            <input type="text" eTypeText id="WasteManagementOperationText"
                                                class="form-control" size="35" [attr.maxlength]="40"
                                                formControlName="WasteManagementOperationText">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt5">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Waste Process Description' | translate}}</label>
                                        <div class="col16">
                                            <input type="text" eTypeText id="WasteProcessDescription"
                                                class="form-control" size="35" [attr.maxlength]="40"
                                                formControlName="WasteProcessDescription">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt5">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Waste Management License' | translate}}<span
                                                class="mandatory">*</span></label>
                                        <div class="col8">
                                            <input type="text" eTypeTextFree id="WasteManagementLicenseNumber"
                                                class="form-control" size="15" [attr.maxlength]="15"
                                                formControlName="WasteManagementLicenseNumber">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt5">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Waste Operation Code' | translate}}</label>
                                        <div class="col6">
                                            <input type="text" eTypeText id="WasteOperationCode" class="form-control"
                                                size="8" [attr.maxlength]="8" formControlName="WasteOperationCode">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="mt15 mb15">
        <footer class="screen-footer">
            <div class="row mt10">
                <div class="col-sm-8">
                    <input type="submit" id="save" class="btn btn-primary" value="{{ 'Save' | translate }}"
                        (click)="onBtnClick('Save')" [disabled]="isDisabled"
                        (keyup)="commonMaintenanceFunction.onSaveFocus($event)">
                    <input type="button" id="cancel" class="btn btn-secondary" value="{{ 'Cancel' | translate }}"
                        (click)="onBtnClick('Cancel')" [disabled]="isDisabled">
                    <input type="submit" id="delete" class="btn btn-additional" value="{{ 'Delete' | translate }}"
                        (click)="onBtnClick('Delete')" *ngIf="this['pageParams']['pageMode'] !== MntConst.eModeAdd"
                        [disabled]="isDisabled">
                </div>
            </div>
        </footer>
    </form>
</section>

<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>