<section class="container-fluid custom-container">
  <header class="screen-header">
    <div class="row">
      <div class="col-sm-12 page-title mt10">
        <h1>{{ this['pageTitle'] | translate }}</h1>
      </div>
    </div>
  </header>
  <form novalidate [formGroup]="this['uiForm']">
    <section class="screen-body">
      <div *ngIf="pageType !== 'Detail'">
        <div class="row mt5">
          <div class="col-sm-4" *ngIf="pageType==='Business'">
            <label class="col24">{{'Business' |translate}} </label>
            <div class="col6 pr5">
              <input type="text" id="BusinessCode" formControlName="BusinessCode" size="2" maxlength="9"
                class="form-control" style="display:none" eTypeCode>
            </div>
            <div class="col20">
              <input type="text" id="BusinessDesc" formControlName="BusinessDesc" size="30" maxlength="40"
                class="form-control" eTypeText>
            </div>
          </div>
          <div class="col-sm-4" *ngIf="pageType==='Region'">
            <label class="col24">{{'Region' |translate}} </label>
            <div class="col6 pr5">
              <input type="text" id="RegionCode" formControlName="RegionCode" size="2" maxlength="2"
              class="form-control" eTypeCode icabsZeroPad>
            </div>
            <div class="col14">
              <input type="text" id="RegionDesc" formControlName="RegionDesc" size="40" maxlength="40"
                class="form-control" eTypeText>
            </div>
          </div>
          <div class="col-sm-4"
            *ngIf="pageType==='Branch' || this['parentMode'] === 'Region' || this['parentMode'] === 'Branch'">
            <label class="col24">{{'Branch' |translate}} </label>
            <div class="col6 pr5">
              <input type="text" id="BranchNumber" formControlName="BranchNumber" size="9" maxlength="9"
                class="form-control" eTypeInteger>
            </div>
            <div class="col14">
              <input type="text" id="BranchName" formControlName="BranchName" size="40" maxlength="40"
                class="form-control" eTypeText>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="col20">{{'Level' |translate}} </label>
            <div class="col20 pr5">
              <select id="LevelType" class="form-control" formControlName="LevelType"
                (change)="onLevelTypeChange();this['commonGridFunction'].resetGrid()">
                <option *ngFor="let levelTypeOptions of levelListValues" value="{{levelTypeOptions.value}}">
                  {{ levelTypeOptions.text | translate }}</option>
              </select>
            </div>
          </div>
          <div class="col-sm-4" *ngIf="pageType==='Business'">
            <label class="col20">{{'View By' |translate}} </label>
            <div class="col20 pr5">
              <select id="ViewBy" class="form-control" formControlName="ViewBy"
                (change)="this['commonGridFunction'].resetGrid()">
                <option *ngFor="let viewByOptions of viewByValues" value="{{viewByOptions.value}}">
                  {{ viewByOptions.text | translate }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mt5" *ngIf="pageType==='Employee'">
          <div class="col-sm-4">
            <label class="col24">{{'Employee' |translate}}<span class="mandatory">*</span></label>
            <div class="col6 pr5">
              <input type="text" id="EmployeeCode" size="6" maxlength="6" eTypeCode formControlName="EmployeeCode"
                class="form-control" fetchDescription table="Employee" query="EmployeeCode" select="EmployeeSurname"
                [shouldTrigger]="trigger">
            </div>
            <div class="col14 pr5">
              <input type="text" id="EmployeeSurname" size="40" maxlength="40" formControlName="EmployeeSurname"
                class="form-control">
            </div>
            <div class="col2">
              <icabs-ellipsis [showHeader]="true" [childConfigParams]="ellipsis.employeeConfig.inputParams"
                [contentComponent]="ellipsis.employeeConfig.component" [disabled]="ellipsis.employeeConfig.disabled"
                (ellipsisData)="filterOptionSelection('EmployeeDetails',$event)">
              </icabs-ellipsis>
            </div>
          </div>
        </div>
        <div class="row mt5">
          <div class="col-sm-4" *ngIf="levelType === 'BusinessSource'">
            <div class="col20">
              <label>{{'Business Source' |translate}} </label>
              <icabs-dropdown #businessOriginSourceDropdown
                [itemsToDisplay]="dropdown.businessOriginSouceLang.displayFields"
                [disabled]="dropdown.businessOriginSouceLang.isDisabled"
                [isRequired]="dropdown.businessOriginSouceLang.isRequired"
                [triggerValidate]="dropdown.businessOriginSouceLang.triggerValidate"
                [active]="dropdown.businessOriginSouceLang.active"
                (selectedValue)="filterOptionSelection('BusinessSource',$event)">
              </icabs-dropdown>
            </div>
          </div>
          <div class="col-sm-4" *ngIf="(levelType === 'BusinessOrigin' || levelType === 'BusinessOriginDetail')">
            <div class="col20">
              <label>{{'Business Origin' |translate}} </label>
              <icabs-business-origin-language-search #businessOriginDropdown
                [inputParams]="dropdown.businessOriginLang.inputParams"
                [isRequired]="dropdown.businessOriginLang.isRequired"
                [isDisabled]="dropdown.businessOriginLang.isDisabled"
                [triggerValidate]="dropdown.businessOriginLang.triggerValidate"
                [active]="dropdown.businessOriginLang.active"
                (receivedLostBusinessLangSearch)="filterOptionSelection('BusinessOrigin',$event)">
              </icabs-business-origin-language-search>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="col20">{{'Filter' |translate}} </label>
            <div class="col20 pr5">
              <select id="FilterType" class="form-control" formControlName="FilterType"
                (change)="this['commonGridFunction'].resetGrid()">
                <option *ngFor="let filterOptions of filterListValues" value="{{filterOptions.value}}">
                  {{ filterOptions.text | translate }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mt5" *ngIf="levelType === 'BusinessOriginDetail'">
          <div class="col-sm-4">
            <div class="col20">
              <label>{{'Business Origin Detail' |translate}} </label>
              <icabs-dropdown #businessOriginDetailDropdown
                [itemsToDisplay]="dropdown.businessOriginDetailLang.displayFields"
                [disabled]="dropdown.businessOriginDetailLang.isDisabled"
                [isRequired]="dropdown.businessOriginDetailLang.isRequired"
                [triggerValidate]="dropdown.businessOriginDetailLang.triggerValidate"
                [active]="dropdown.businessOriginDetailLang.active"
                (selectedValue)="filterOptionSelection('BusinessOriginDetail',$event)">
              </icabs-dropdown>
            </div>
          </div>
        </div>
        <div class="row mt5">
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-5">
                <label for="From" class="col24">{{'Processed Date From' | translate}}
                  <span class="mandatory">*</span>
                </label>
                <div class="col24">
                  <icabs-datepicker formControlName="DateFrom" (change)="this['commonGridFunction'].resetGrid()"
                    [isDirectiveBased]="false">
                  </icabs-datepicker>
                </div>
              </div>
              <div class="col-sm-5">
                <label for="To" class="col24">{{'To' | translate}}
                  <span class="mandatory">*</span>
                </label>
                <div class="col24">
                  <icabs-datepicker formControlName="DateTo" [isDirectiveBased]="false">
                  </icabs-datepicker>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div *ngIf="pageType ==='Business' || pageType === 'Branch' || pageType === 'Region'">
              <label class="col20">{{'Sales Type' |translate}} </label>
              <div class="col20 pr5">
                <select id="SalesType" class="form-control" formControlName="SalesType"
                  (change)="this['commonGridFunction'].resetGrid()">
                  <option *ngFor="let salesTypeOptions of salesTypeValues" value="{{salesTypeOptions.value}}">
                    {{ salesTypeOptions.text | translate }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="pageType === 'Detail'">
        <div class="row mt5">
          <div class="col-sm-4">
            <div *ngIf="this['parentMode'] === 'Business'">
              <label class="col24">{{'Business' |translate}} </label>
              <div class="col6 pr5">
                <input type="text" id="BusinessCode" formControlName="BusinessCode" size="2" maxlength="9"
                  class="form-control" style="display:none" eTypeCode>
              </div>
              <div class="col20">
                <input type="text" id="BusinessDesc" formControlName="BusinessDesc" size="30" maxlength="40"
                  class="form-control" eTypeText>
              </div>
            </div>
            <div *ngIf="this.viewByValue === 'Region' || this['parentMode'] === 'Region'">
              <label class="col24">{{'Region' |translate}} </label>
              <div class="col6 pr5">
                <input type="text" id="RegionCode" formControlName="RegionCode" size="9" maxlength="9"
                  class="form-control" eTypeInteger>
              </div>
              <div class="col14">
                <input type="text" id="RegionDesc" formControlName="RegionDesc" size="40" maxlength="40"
                  class="form-control" eTypeText>
              </div>
            </div>
            <div *ngIf="this.viewByValue === 'Branch' || this['parentMode'] === 'Branch' || this['parentMode'] === 'Region'">
              <label class="col24">{{'Branch' |translate}} </label>
              <div class="col6 pr5">
                <input type="text" id="BranchNumber" formControlName="BranchNumber" size="9" maxlength="9"
                  class="form-control" eTypeInteger>
              </div>
              <div class="col14">
                <input type="text" id="BranchName" formControlName="BranchName" size="40" maxlength="40"
                  class="form-control" eTypeText>
              </div>
            </div>
            <div *ngIf="displayEmpField">
              <label class="col24">{{'Employee' |translate}}<span class="mandatory">*</span></label>
              <div class="col6 pr5">
                <input type="text" id="EmployeeCode" size="6" maxlength="6" eTypeCode formControlName="EmployeeCode"
                  class="form-control" fetchDescription table="Employee" query="EmployeeCode" select="EmployeeSurname"
                  [shouldTrigger]="trigger">
              </div>
              <div class="col14 pr5">
                <input type="text" id="EmployeeSurname" size="40" maxlength="40" formControlName="EmployeeSurname"
                  class="form-control">
              </div>
              <div class="col2">
                <icabs-ellipsis [showHeader]="true" [childConfigParams]="ellipsis.employeeConfig.inputParams"
                  [contentComponent]="ellipsis.employeeConfig.component" [disabled]="ellipsis.employeeConfig.disabled"
                  (ellipsisData)="filterOptionSelection('EmployeeDetails',$event)">
                </icabs-ellipsis>
              </div>
            </div>
            <div *ngIf="displaySourceField">
              <div class="col20">
                <label>{{'Business Source' |translate}} </label>
                <icabs-dropdown #businessOriginSourceDropdown
                  [itemsToDisplay]="dropdown.businessOriginSouceLang.displayFields"
                  [disabled]="dropdown.businessOriginSouceLang.isDisabled"
                  [isRequired]="dropdown.businessOriginSouceLang.isRequired"
                  [triggerValidate]="dropdown.businessOriginSouceLang.triggerValidate"
                  [active]="dropdown.businessOriginSouceLang.active"
                  (selectedValue)="filterOptionSelection('BusinessSource',$event)">
                </icabs-dropdown>
              </div>
            </div>
            <div *ngIf="displayOriginField && levelType !== 'BusinessSource'">
              <div class="col20">
                <label>{{'Business Origin' |translate}} </label>
                <icabs-business-origin-language-search #businessOriginDropdown
                  [inputParams]="dropdown.businessOriginLang.inputParams"
                  [isRequired]="dropdown.businessOriginLang.isRequired"
                  [isDisabled]="dropdown.businessOriginLang.isDisabled"
                  [triggerValidate]="dropdown.businessOriginLang.triggerValidate"
                  [active]="dropdown.businessOriginLang.active"
                  (receivedLostBusinessLangSearch)="filterOptionSelection('BusinessOrigin',$event)">
                </icabs-business-origin-language-search>
              </div>
            </div>
            <div *ngIf="levelType === 'BusinessOriginDetail'">
              <div class="col20">
                <label>{{'Business Origin Detail' |translate}} </label>
                <icabs-dropdown #businessOriginDetailDropdown
                  [itemsToDisplay]="dropdown.businessOriginDetailLang.displayFields"
                  [disabled]="dropdown.businessOriginDetailLang.isDisabled"
                  [isRequired]="dropdown.businessOriginDetailLang.isRequired"
                  [triggerValidate]="dropdown.businessOriginDetailLang.triggerValidate"
                  [active]="dropdown.businessOriginDetailLang.active"
                  (selectedValue)="filterOptionSelection('BusinessOriginDetail',$event)">
                </icabs-dropdown>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-5">
                <label for="From" class="col24">{{'Processed Date From' | translate}}
                  <span class="mandatory">*</span>
                </label>
                <div class="col24">
                  <icabs-datepicker formControlName="DateFrom" (change)="this['commonGridFunction'].resetGrid()"
                    [isDirectiveBased]="false">
                  </icabs-datepicker>
                </div>
              </div>
              <div class="col-sm-5">
                <label for="To" class="col24">{{'To' | translate}}
                  <span class="mandatory">*</span>
                </label>
                <div class="col24">
                  <icabs-datepicker formControlName="DateTo" [isDirectiveBased]="false">
                  </icabs-datepicker>
                </div>
              </div>
            </div>
            <div>
              <label class="col24">{{'Contract Type' |translate}} </label>
              <div class="col6 pr5">
                <input type="text" id="ContractTypeCode" formControlName="ContractTypeCode" size="3" maxlength="3"
                  class="form-control" style="display:none" eTypeCode>
              </div>
              <div class="col20">
                <input type="text" id="ContractTypeDesc" formControlName="ContractTypeDesc" size="10" maxlength="10"
                  class="form-control" eTypeText>
              </div>
            </div>
            <div>
              <label class="col24">{{'Filter' |translate}} </label>
              <div class="col20 pr5">
                <select id="FilterType" class="form-control" formControlName="FilterType"
                  (change)="this['commonGridFunction'].resetGrid()">
                  <option *ngFor="let filterOptions of filterListValues" value="{{filterOptions.value}}">
                    {{ filterOptions.text | translate }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="mt15 mb15">
      <div class="row">
        <div class="col-sm-6">
          <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
          <icabs-pagination #riGridPagination [totalItems]="this['pageParams'].gridConfig.totalItem"
            [currentPage]="this['pageParams'].gridCurrentPage"
            [canExport]="true" [exportOptions]="{dateColumns: dateCollist}"
            [itemsPerPage]="this['pageParams'].gridConfig.itemsPerPage"
            (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)"
            [ngClass]="{hidden: !this['pageParams'].hasGridData}">
          </icabs-pagination>
        </div>
      </div>
      <div class="row mt10">
        <div class="col-sm-12">
          <div style="overflow-x:auto;">
            <icabs-grid-advanced #riGrid (headerClick)="onRiGridRefresh()" (bodyDblClick)="riGridBodyOnDblClick()">
            </icabs-grid-advanced>
          </div>
        </div>
      </div>
    </section>
  </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>