<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{this['pageTitle']|translate}}
                </h1>
            </div>
        </div>
    </header>

    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">

            <div class="row mt10">
                <div class="col-sm-6 pr0">
                    <div class="col11 pr5">
                        <label class="col24">{{'Manufacturer' | translate}}<span class="mandatory">*</span></label>
                        <div class="col24">
                            <input type="text" eTypeText id="Manufacturer" size="40" [attr.maxlength]="40"
                                class="form-control" formControlName="Manufacturer" (change)="onInputChange()">
                        </div>
                    </div>
                    <div class="col11 pr5">
                        <label class="col24">{{'Model' | translate}}<span class="mandatory">*</span></label>
                        <div class="col24">
                            <input type="text" eTypeText id="Model" class="form-control" size="40" [attr.maxlength]="40"
                                formControlName="Model" (change)="onInputChange()">
                        </div>
                    </div>
                    <div class="col2 mt23">
                        <icabs-ellipsis-generic #vehicleManufacturerModelEllipsis
                            [autoOpen]="vehicleManufacturerModelEllipsisConfig.autoOpen" [showCloseButton]="true"
                            [showHeader]="true" [ellipsisTitle]="vehicleManufacturerModelEllipsisConfig.ellipsisTitle"
                            [ellipsisColumn]="vehicleManufacturerModelEllipsisConfig.tableColumn"
                            [configParams]="vehicleManufacturerModelEllipsisConfig.configParams"
                            [disabled]="vehicleManufacturerModelEllipsisConfig.disable"
                            (ellipsisData)="onEllipsisDataRecived($event)">
                        </icabs-ellipsis-generic>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
        </section>
        <footer class="screen-footer">
            <div class="row mt10">
                <div class="col-sm-8">
                    <input type="submit" id="save" class="btn btn-primary" value="{{ 'Save' | translate }}"
                        (click)="onBtnClick('Save')" [disabled]="isDisabled" *ngIf="pageMode === MntConst.eModeAdd">
                    <input type="submit" id="delete" class="btn btn-additional" value="{{ 'Delete' | translate }}"
                        (click)="onBtnClick('Delete')" *ngIf="pageMode !== MntConst.eModeAdd" [disabled]="isDisabled">
                    <input type="button" id="cancel" class="btn btn-secondary" value="{{ 'Cancel' | translate }}"
                        (click)="onBtnClick('Cancel')" [disabled]="isDisabled">
                </div>
            </div>
        </footer>
    </form>
</section>

<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>