<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1> {{ this.pageTitle | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate novalidate [formGroup]="this['uiForm']">
        <div class="row mt5">
            <div class="col-sm-3">
                <label class="col24">{{'Business'|translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="BusinessCode" size="6" maxlength="5" class="form-control"
                        formControlName="BusinessCode" eTypeInteger>
                </div>
                <div class="col16">
                    <input type="text" id="BusinessDesc" size="30" maxlength="40" class="form-control"
                        formControlName="BusinessDesc" eTypeText>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24">{{'Servicing Branch'|translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="BranchNumber" size="6" [attr.maxlength]="6" class="form-control"
                        formControlName="BranchNumber" eTypeInteger>
                </div>
                <div class="col16">
                    <input type="text" id="BranchName" size="20" [attr.maxlength]="30" class="form-control"
                        formControlName="BranchName" eTypeText>
                </div>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-sm-3">
                <label class="col24">{{'Supervisor Employee (blank=all)'|translate}}</label>
                <div class="col8 pr5">
                    <input id="SupervisorEmployeeCode" size="6" [attr.maxlength]="6" class="form-control"
                        formControlName="SupervisorEmployeeCode" (change)="onSuperVisorEmployeeChnage()" eTypeCode>
                </div>
                <div class="col14 pr5">
                    <input type="text" id="SupervisorSurname" size="20" [attr.maxlength]="30" class="form-control"
                        formControlName="SupervisorSurname" eTypeText>
                </div>
                <div class="col2">
                    <icabs-ellipsis [childConfigParams]="ellipsis.superVisorEmployeeEllipsis.childparams"
                        [contentComponent]="ellipsis.superVisorEmployeeEllipsis.component" [showHeader]="true"
                        (ellipsisData)="onSuperVisorEmployeeDataReceived($event)"></icabs-ellipsis>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24">{{'Employee Code (blank=all)'|translate}}</label>
                <div class="col8 pr5">
                    <input id="EmployeeCode" size="6" [attr.maxlength]="6" class="form-control"
                        formControlName="EmployeeCode" (change)="onEmployeeChnage()" eTypeCode>
                </div>
                <div class="col14 pr5">
                    <input type="text" id="EmployeeSurname" size="20" [attr.maxlength]="30" class="form-control"
                        formControlName="EmployeeSurname" eTypeText>
                </div>
                <div class="col2">
                    <icabs-ellipsis [childConfigParams]="ellipsis.employeeEllipsis.childparams"
                        [contentComponent]="ellipsis.employeeEllipsis.component" [showHeader]="true"
                        (ellipsisData)="onEmployeeDataReceived($event)"></icabs-ellipsis>
                </div>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-sm-3">
                <label class="col24">{{ 'Date From' | translate }}<span class="mandatory">*</span>
                </label>
                <div class="col16">
                    <icabs-datepicker id="VisitDateFrom" formControlName="VisitDateFrom" [isDirectiveBased]="false">
                    </icabs-datepicker>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24">{{ 'To' | translate }}<span class="mandatory">*</span>
                </label>
                <div class="col16">
                    <icabs-datepicker id="VisitDateTo" formControlName="VisitDateTo" [isDirectiveBased]="false">
                    </icabs-datepicker>
                </div>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-sm-3">
                <div class="col16">
                    <label class="col24" for="RepDest">{{'Show' | translate}}</label>
                    <select class="form-control" id="RepDest" formControlName="RepDest">
                        <option value="direct">{{'Report Viewer' | translate}}</option>
                        <option value="Email">{{'Email' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt10">
            <div class="col-sm-3">
                <div class="col16">
                    <input class="btn btn-primary" type="button" value="{{'Submit Report Generation' | translate}}"
                        (click)="onReportGeneration($event)" />
                </div>
            </div>
        </div>
        <div class="row mt5" *ngIf="reportMessage">
            <div class="col-sm-12">
                <label class="col24 message-box info-label">{{ reportMessage | translate }}</label>
            </div>
        </div>
    </form>
</section>
<icabs-custom-alert #customAlert [alertMessage]="alertMessage" [messageType]="messageType">