<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="PrepCode">{{ 'Preparation Code' | translate}}<span class="mandatory">*</span></label>
                    <div class="col6 pr5">
                        <input id="PrepCode" class="form-control" formControlName="PrepCode" type="text" size="5" [attr.maxlength]="3" (blur)="doLookUpCall()"
                            eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input id="PrepDesc" class="form-control" formControlName="PrepDesc" type="text" size="43" [attr.maxlength]="40" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsis.PrepCode.childConfigParams" [contentComponent]="ellipsis.PrepCode.contentComponent"
                            [showHeader]="true" [showCloseButton]="true" [autoOpen]="ellipsis.PrepCode.autoOpen" [modalConfig]="ellipsis.PrepCode.modalConfig"
                            (ellipsisData)="onPrepSearchSelect($event)"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <div class="col24">
                        <label class="col24" for="LOSName">{{ 'Line of Service Code' | translate}}<span *ngIf="isLOS" class="mandatory">*</span></label>
                        <div class="col24">
                            <icabs-common-dropdown #losSearchDropDown [inputParams]="dropDown.losSearch.inputParams" [isActive]="activeLos" [displayFields]="['LOSCode', 'LOSName']"
                                (onDataReceived)="onLOSSearcheDataReceived($event)"></icabs-common-dropdown>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m2">
                <div class="col-sm-4">
                    <label class="col24" for="UsedFor">{{ 'Used For' | translate}}</label>
                    <div class="col24">
                        <input id="UsedFor" class="form-control" formControlName="UsedFor" type="text" size="53" [attr.maxlength]="80" eTypeTextFree>
                    </div>
                </div>
            </div>
            <div class="row m2">
                <div class="col-sm-4">
                    <label class="col24" for="MeasureBy">{{ 'Measure By' | translate}}<span *ngIf="isMeasureBy"class="mandatory">*</span></label>
                    <div class="col24">
                        <input id="MeasureBy" class="form-control" formControlName="MeasureBy" type="text" size="20" [attr.maxlength]="20" eTypeTextFree>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="MaximumValue">{{ 'Maximum Value' | translate}}</label>
                    <div class="col8">
                        <input id="MaximumValue" class="form-control" formControlName="MaximumValue" type="text" size="13" [attr.maxlength]="8" eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <div class="col24">
                        <input type="checkbox" class="form-control" id="PassToPDAInd" formControlName="PassToPDAInd">
                        <label class="col24" for="PassToPDAInd">{{'Pass To PDA'|translate}}</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col24">
                        <input type="checkbox" class="form-control" id="RejectPrepInd" formControlName="RejectPrepInd">
                        <label class="col24" for="RejectPrepInd">{{'Reject from PDA'|translate}}</label>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <div class="col24">
                        <input type="checkbox" class="form-control" id="PestNetInd" formControlName="PestNetInd">
                        <label class="col24" for="PestNetInd">{{'MyRentokil'|translate}}</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col24">
                        <input type="checkbox" class="form-control" id="PestControlInd" formControlName="PestControlInd">
                        <label class="col24" for="PestControlInd">{{'Pest Control'|translate}}</label>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <div class="col24">
                        <input type="checkbox" class="form-control" id="EnvironmentalMetricInd" formControlName="EnvironmentalMetricInd" (change)="onEnvironmentalMetricIndChange($event)">
                        <label class="col24" for="EnvironmentalMetricInd">{{'Environmental Metric'|translate}}</label>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="isSelEnvironmentUsageHide">
                    <div class="col24">
                        <div class="col12">
                            <label class="col24" for="WeightingFactor">{{ 'Weighting Factor' | translate}}</label>
                            <input id="WeightingFactor" class="form-control" formControlName="WeightingFactor" type="text" size="6" eTypeDecimal2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="isSelEnvironmentUsageHide">
                <div class="col-sm-4">
                    <div class="col24">
                        <label class="col24" for="SelEnvironmentUsage">{{ 'Environmental Usage' | translate}}</label>
                        <select class="form-control" formControlName="SelEnvironmentUsage" id="SelEnvironmentUsage">
                             <option *ngFor="let selEnvironmentUsage of selEnvironmentUsageOption" value="{{selEnvironmentUsage.value}}" >{{selEnvironmentUsage.text | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <div class="col24">
                        <input type="checkbox" class="form-control" id="EBCRInd" formControlName="EBCRInd">
                        <label class="col24" for="EBCRInd">{{'European Biocide Control Regime'|translate}}</label>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="EPANumber">{{ 'EPA Number' | translate}}</label>
                    <div class="col6">
                        <input id="EPANumber" class="form-control" formControlName="EPANumber" type="text" size="25" [attr.maxlength]="25" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="ItemCode">{{ 'Item Code' | translate}}</label>
                    <div class="col6">
                        <input id="ItemCode" class="form-control" formControlName="ItemCode" type="text" size="12" [attr.maxlength]="12" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="WHOClass">{{ 'WHO Class' | translate}}</label>
                    <div class="col6">
                        <input id="WHOClass" class="form-control" formControlName="WHOClass" type="text" size="5" [attr.maxlength]="5" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="PreMixPercentage">{{ 'Pre Mix Percentage' | translate}}</label>
                    <div class="col6">
                        <input id="PreMixPercentage" class="form-control" formControlName="PreMixPercentage" type="text" size="10" [attr.maxlength]="10"
                            eTypeDecimal6>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="Percentage">{{ 'Percentage' | translate}}</label>
                    <div class="col6">
                        <input id="Percentage" class="form-control" formControlName="Percentage" type="text" size="10" [attr.maxlength]="10" eTypeDecimal6>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="LowPercentage">{{ 'Low Percentage' | translate}}</label>
                    <div class="col6">
                        <input id="LowPercentage" class="form-control" formControlName="LowPercentage" type="text" size="10" [attr.maxlength]="10"
                            eTypeDecimal6>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="HighPercentage">{{ 'High Percentage' | translate}}</label>
                    <div class="col6">
                        <input id="HighPercentage" class="form-control" formControlName="HighPercentage" type="text" size="10" [attr.maxlength]="10"
                            eTypeDecimal6>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="PreMixRatio">{{ 'Pre Mix Ratio' | translate}}</label>
                    <div class="col6">
                        <input id="PreMixRatio" class="form-control" formControlName="PreMixRatio" type="text" size="10" [attr.maxlength]="10" eTypeDecimal6>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="HighMixRatio">{{ 'High Mix Ratio' | translate}}</label>
                    <div class="col6">
                        <input id="HighMixRatio" class="form-control" formControlName="HighMixRatio" type="text" size="10" [attr.maxlength]="10"
                            eTypeDecimal6>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="LowMixRatio">{{ 'Low Mix Ratio' | translate}}</label>
                    <div class="col6">
                        <input id="LowMixRatio" class="form-control" formControlName="LowMixRatio" type="text" size="10" [attr.maxlength]="10" eTypeDecimal6>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <div class="col24">
                        <label class="col24" for="ActiveIngredient">{{ 'Active Ingredient' | translate}}</label>
                        <textarea id="ActiveIngredient" class="form-control" formControlName="ActiveIngredient" rows="3" cols="65" eTypeText></textarea>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <div class="col24">
                        <label class="col24" for="PrecautionaryStatements">{{ 'Precautionary Statements' | translate}}</label>
                        <textarea id="PrecautionaryStatements" class="form-control" formControlName="PrecautionaryStatements" size="20" [attr.maxlength]="400"
                            eTypeText></textarea>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <div class="col24">
                        <label class="col24" for="CounterAgents">{{ 'Counter Agents' | translate}}</label>
                        <textarea id="CounterAgents" class="form-control" formControlName="CounterAgents" size="50" [attr.maxlength]="400" eTypeText></textarea>
                    </div>
                </div>
            </div>
        </section>
        <hr class="mt15 mb15">
        <footer class="screen-footer">
            <div class="row">
                <div class="col-sm-6">
                    <input type="submit" class="btn btn-primary mr5" [disabled]="this['uiForm']['controls']['BtnSubmit']['disabled']" value="{{'Save' | translate}}"
                        (click)="updatePrep()">
                        <input type="button" class="btn btn-secondary mr5" [disabled]="this['uiForm']['controls']['BtnCancel']['disabled']" value="{{'Cancel' | translate}}"
                            (click)="onCancelClick()">
                            <input *ngIf="isDeleteShow" type="button" class="btn btn-additional" [disabled]="this['uiForm']['controls']['BtnDelete']['disabled']"
                                value="{{'Delete' | translate}}" (click)="deletePrep()">
                </div>
                <div class="col-sm-offset-4 col-sm-2">
                    <div class="col24">
                        <select id="menu" class="form-control" formControlName="menu" (change)="onMenuChange($event)">
                     <option value="">{{ 'Options' | translate}}</option>
                     <option  value="PrepMix">{{ 'Prep Mix' | translate}}</option>
                 </select>
                    </div>
                </div>
            </div>
        </footer>
    </form>
</section>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>