<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{this['pageTitle'] | translate}}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <!-- flag -->
        <div class="flag-fixed" [hidden]="hideObj.tdContractHasExpired">
            <ul>
                <li>
                    <strong> {{'Contract Expired'| translate}}</strong>
                </li>

            </ul>
        </div>
        <!-- flag -->
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Contract Number'| translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" formControlName="ContractNumber" size="8" [attr.maxlength]="8" eTypeCode>
                    </div>
                    <div class="col15 pr5">
                        <input type="text" class="form-control" formControlName="ContractName" size="25" [attr.maxlength]="40" eTypeText>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col8 pr5">
                        <label class="col24">{{'Plan From'| translate}}</label>
                        <div>
                            <input type="text" class="form-control" formControlName="StartDate" size="10" [attr.maxlength]="10" eTypeDate>
                        </div>
                    </div>
                    <div class="col8 pr5">
                        <label class="col24">{{'To'| translate}}</label>
                        <div class="col24">
                            <input type="text" class="form-control" formControlName="EndDate" size="10" [attr.maxlength]="10" eTypeDate>
                        </div>
                    </div>
                    <div class="col1 pr5 mt15">
                        <span class="glyphicon glyphicon-plus plusmin"></span>
                        <span class="glyphicon glyphicon-minus plusmin"></span>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Premises Number'| translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" formControlName="PremiseNumber" size="8" [attr.maxlength]="5" eTypeInteger>
                    </div>
                    <div class="col15 pr5">
                        <input type="text" class="form-control" formControlName="PremiseName" size="25" [attr.maxlength]="40" eTypeText>
                    </div>
                    <div class="col1 mt3">
                        <span class="glyphicon glyphicon-info-sign glyphicon-info pointer" id="PremiseLookup" title="{{premiseInfo}}"></span>
                    </div>
                </div>
                <div class=" col-sm-4">
                    <label class="col24">{{'Week' | translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" formControlName="WeekNumber" size="2" [attr.maxlength]="2" eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Product Code'| translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" formControlName="ProductCode" size="8" [attr.maxlength]="6" eTypeCode>
                    </div>
                    <div class="col15 pr5">
                        <input type="text" class="form-control" formControlName="ProductDesc" size="25" [attr.maxlength]="25" eTypeText>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Default Visit Date' | translate}}</label>
                    <div class="col8 pr5">
                        <icabs-dropdown-static #defaultSelectDropdown [inputData]="defaultDayOptions" [disabled]="isDefaultDayDisabled" (onSelect)="defaultDayOptionsChange($event)"></icabs-dropdown-static>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <div class="col8">
                        <label class="col24">{{'Original Visit Duration'| translate}}</label>
                        <input type="text" class="form-control" formControlName="OriginalVisitDuration" size="5" [attr.maxlength]="6" eTypeText (change)="durationOnChange()">
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Default Start Time' | translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" formControlName="DefaultStartTime" size="5" [attr.maxlength]="5" eTypeTime (change)="defaultStartTimeOnChange()">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <div class="col8">
                        <label class="col24">{{'Planned Visit Duration'| translate}}</label>
                        <input type="text" class="form-control" formControlName="PlannedVisitDuration" size="5" [attr.maxlength]="6" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-9 mt10">
                    <input type="button" id="SplitService" class="btn btn-additional mr5" value="{{ btnText.splitBtn| translate}}" (click)="splitServiceOnClick()">
                    <input type="button" id="UnPlanAll" class="btn btn-additional mr5" value="{{ btnText.unplanBtn| translate}}" (click)="unPlanAllOnClick()">
                    <input type="button" id="btnComments" class="btn btn-additional mr5" value="{{ btnText.showBtn| translate}}" (click)="btnCommentsOnClick()">
                    <input type="button" id="ViewDetails" class="btn btn-additional mr5" value="{{ btnText.viewBtn| translate}}" (click)="viewDetailsOnClick()">
                    <input type="button" id="btnConfirmApp" class="btn btn-additional" value="{{ btnText.confirmBtn| translate}}" (click)="btnConfirmAppOnClick()">
                </div>
            </div>
            <hr class="mt15 mb15">
            <div [hidden]="hideObj.divComments">
                <div class="row">
                    <div class="col-sm-12">
                        <textarea cols="180" rows="5" formControlName="Comments" id="Comments" (blur)="commentsOndeactivate()"></textarea>
                    </div>
                </div>
                <hr class="mt15 mb15">
            </div>
            <div class="row mt2">
                <div class="col-sm-11">
                    <div class="col8 pr5">
                        <label class="col24">{{'Technician' | translate}}</label>
                    </div>
                    <div class="col5 pr5">
                        <label class="col24">{{'Day'|translate}}</label>
                    </div>
                    <div class="col4 pr5">
                        <label class="col24">{{'Duration'|translate}}</label>
                    </div>
                    <div class="col4 pr5">
                        <label class="col24">{{'Start Time'|translate}}</label>
                    </div>
                    <div class="col3 pr5">
                        <label class="col24">{{'Booked'|translate}}</label>
                    </div>
                </div>
            </div>
            <div class="pos-relative" *ngIf="vSCRowCount > 0">
                <div class="row mt2">
                    <div class="col-sm-11 mb10" *ngFor="let index of vSCRowCountArray">
                        <div id="TechnicianTD{{index}}" class="col8 pr5 pl5 ptb3">
                            <div class="col8 pr5">
                                <div class="col24">
                                    <input type="text" class="form-control" formControlName="Technician{{index}}" id="Technician{{index}}" size="6" [attr.maxlength]="6"
                                        eTypeText (blur)="technicianOndeactivate(index)">
                                </div>
                            </div>
                            <div class="col14 pr5">
                                <div class="col24">
                                    <input type="text" class="form-control" formControlName="TechnicianDesc{{index}}" id="TechnicianDesc{{index}}" size="40"
                                        [attr.maxlength]="40" eTypeText>
                                </div>
                            </div>
                            <div class="col2">
                                <icabs-ellipsis #employeeSearchEllipsis [showCloseButton]="ellipsisConfig.showCloseButton" [childConfigParams]="ellipsisConfig.employee[index-1].inputParamsEmployeeSearch"
                                    [modalConfig]="ellipsisConfig.modalConfig" [contentComponent]="ellipsisConfig.employee[index-1].contentComponent"
                                    (ellipsisData)="onEmployeeDataReceived($event, index)" [showHeader]="ellipsisConfig.showHeader"
                                    [disabled]="ellipsisConfig.employee[index-1].disabled"></icabs-ellipsis>
                            </div>
                        </div>
                        <div class="col5 pr5 ptb3" id="SelectDayTD{{index}}">
                            <div class="col24">
                                <icabs-dropdown-static #selectDayDropdown [inputData]="selectDayDropdownObj[index-1].selectDayOptions" [disabled]="selectDayDropdownObj[index-1].isSelectDayDisabled"
                                    (onSelect)="selectDayOptionsChange($event,index)"></icabs-dropdown-static>
                            </div>
                        </div>
                        <div class="col4 pr5 ptb3" id="DurationTD{{index}}">
                            <div class="col22">
                                <input type="text" class="form-control" formControlName="Duration{{index}}" size="5" [attr.maxlength]="5" eTypeTime>
                            </div>
                            <div class="col2"><span class="mandatory" *ngIf="isDurationRequired[index - 1]">*</span></div>
                        </div>
                        <div class="col4 pr5 ptb3" id="StartTimeTD{{index}}">
                            <div class="col24">
                                <input type="text" class="form-control" formControlName="StartTime{{index}}" size="5" [attr.maxlength]="5" eTypeTime>
                            </div>
                        </div>
                        <div class="col3 pr5">
                            <div class="col22 ptb3 pr5" id="BookedTD{{index}}">
                                <input type="text" class="form-control" formControlName="Booked{{index}}" size="5" [attr.maxlength]="5" eTypeText>
                            </div>
                            <div class="col1 pl5 mt3">
                                <span class="glyphicon glyphicon-info-sign glyphicon-info pointer" id="InfoImage{{index}}" title="{{infoText[index]|translate}}{{dynamicText[index]}}"
                                    (click)="infoImageClick(index)"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1" [hidden]="hideObj.addButton">
                        <input type="button" class="btn btn-additional" value="{{'Add'| translate}}" [disabled]="isAddDisabled" (click)="addDetailLine()">
                    </div>
                </div>
            </div>

        </section>
        <hr class="mt10">
        <footer class="screen-footer">
            <div class="row mt10">
                <div class="col-sm-12">
                    <input type="button" class="btn btn-primary" value="{{ 'Save'|translate}}" (click)="saveData()">
                    <input type="button" class="btn btn-secondary" value="{{ 'Cancel'|translate}}" (click)="cancelChange()">
                </div>
            </div>
        </footer>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>