<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate}}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Contract Number' |translate}}<span class="mandatory">*</span></label>
                    <div class="col6 pr5">
                        <input type="text" id="ContractNumber" formControlName="ContractNumber" size="9" [attr.maxlength]="8" class="form-control"
                            (change)="onContractChange()" eTypeCode icabsZeroPad>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" id="ContractName" formControlName="ContractName" size="40" [attr.maxlength]="40" class="form-control"
                            eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #contractSearchEllipsis [childConfigParams]="inputParams.contractParams" [contentComponent]="inputParams.contractParams.contractSearchComponent"
                            (ellipsisData)="ellipsisData($event, 'ContractNumber')" [disabled]="this['pageParams']['isAddMode']"
                            [showHeader]="isShowHeader"></icabs-ellipsis>
                    </div>
                </div>

            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Premises Number' |translate}}<span class="mandatory">*</span></label>
                    <div class="col6 pr5">
                        <input type="text" id="PremiseNumber" formControlName="PremiseNumber" size="9" [attr.maxlength]="6" class="form-control"
                            (change)="onPremiseChange()" eTypeInteger>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" id="PremiseName" formControlName="PremiseName" size="40" [attr.maxlength]="40" class="form-control" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="inputParams.premiseParams" [contentComponent]="inputParams.premiseParams.premiseSearchComponent"
                            (ellipsisData)="ellipsisData($event, 'PremiseNumber')" [disabled]="this['pageParams']['isAddMode']"
                            [showHeader]="isShowHeader"></icabs-ellipsis>
                    </div>
                </div>

            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Product Code' |translate}}<span class="mandatory">*</span></label>
                    <div class="col6 pr5">
                        <input type="text" id="ProductCode" formControlName="ProductCode" size="9" [attr.maxlength]="6" class="form-control" (change)="onProductChange()"
                            eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" id="ProductDesc" formControlName="ProductDesc" size="40" [attr.maxlength]="40" class="form-control" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #sCSearchEllipsis [childConfigParams]="inputParams.serviceCoverSearchParams" [contentComponent]="inputParams.serviceCoverSearchParams.serviceCoverSearchComponent"
                            (ellipsisData)="ellipsisData($event, 'ProductCode')" [disabled]="this['pageParams']['isAddMode']"
                            [showHeader]="isShowHeader"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Status' |translate}}</label>
                    <div class="col16">
                        <input type="text" id="Status" formControlName="Status" size="20" [attr.maxlength]="20" class="form-control" eTypeText>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-4">
                    <label class="col24">{{'Visit Frequency' |translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="ServiceVisitFrequency" formControlName="ServiceVisitFrequency" size="3" [attr.maxlength]="3" class="form-control"
                            eTypeInteger>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Value' |translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="ServiceAnnualValue" formControlName="ServiceAnnualValue" size="20" [attr.maxlength]="23" class="form-control"
                            eTypeCurrency>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Service Quantity' |translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="ServiceQuantity" formControlName="ServiceQuantity" size="3" [attr.maxlength]="3" class="form-control"
                            eTypeInteger>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Suspend Quantity' |translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="SuspendQuantity" formControlName="SuspendQuantity" size="3" [attr.maxlength]="3" class="form-control"
                            [icabsDirFocus]="setFocusOnSuspendQuantity" eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Commence Date' |translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="ServiceCommenceDate" formControlName="ServiceCommenceDate" size="10" [attr.maxlength]="10" class="form-control"
                            eTypeDate>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Visit Anniversary Date' |translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="ServiceVisitAnnivDate" formControlName="ServiceVisitAnnivDate" size="9" [attr.maxlength]="9" class="form-control"
                            eTypeDate>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-4">
                    <label class="col24">{{'Suspension Start Date' |translate}}<span class="mandatory" *ngIf="this['pageParams']['isSuspendStartDateReq']">*</span></label>
                    <div class="col8 pr5">
                        <icabs-datepicker id="SuspendStartDate" formControlName="SuspendStartDate" [isDirectiveBased]="false" (onChange)="onSuspendStartDateChange($event)"></icabs-datepicker>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'End Date' |translate}}<span class="mandatory" *ngIf="this['pageParams']['isSuspendEndDateReq']">*</span></label>
                    <div class="col8 pr5">
                        <icabs-datepicker id="SuspendEndDate" formControlName="SuspendEndDate" [isDirectiveBased]="false" (onChange)="onSuspendEndDateChange($event)"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 mt20">
                    <div class="col16">
                        <input type="checkbox" id="ServiceVisitAnnivDateInd" formControlName="ServiceVisitAnnivDateInd" size="1" [attr.maxlength]="1"
                            class="form-control" (change)="onServiceVisitAnnivDateIndCheck()" eTypeCheckBox>
                        <label for="ServiceVisitAnnivDateInd">{{ 'Reset Visit Anniv Date' | translate }}</label>
                    </div>
                </div>
                <div class="col-sm-4 mt2">
                    <label class="col24">{{'Updated Visit Anniv Date' |translate}}</label>
                    <div class="col8 pr5">
                        <icabs-datepicker id="UpdatedAnnivDate" formControlName="UpdatedAnnivDate" [icabsDirFocus]="setFocusOnUpdatedAnnivDate" [isDirectiveBased]="false"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 mt20">
                    <div class="col16">
                        <input type="checkbox" id="CreditSuspendServiceInd" formControlName="CreditSuspendServiceInd" size="1" [attr.maxlength]="1"
                            class="form-control" eTypeCheckBox>
                        <label for="CreditSuspendServiceInd">{{ 'Issue Credit' | translate }}</label>
                    </div>
                </div>
                <div class="col-sm-4 mt2">
                    <label class="col24">{{'Account Balance' |translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="AccountBalance" formControlName="AccountBalance" size="10" [attr.maxlength]="10" class="form-control"
                            eTypeCurrency>

                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Suspend Reason Code' |translate}}</label>
                    <div class="col16">
                        <icabs-common-dropdown #suspendReasonSearch [inputParams]="suspendReasonSearchInputParams" [displayFields]="suspendReasonSearchColumns"
                            (onDataReceived)="suspendReasonSearchDataRecieved($event)" [isDisabled]="isSuspendReasonSearchDisabled"
                            [isActive]="this['pageParams']['suspendReasonSelected']"></icabs-common-dropdown>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Suspend Location' |translate}}</label>
                    <div class="col16">
                        <input type="text" id="SuspendLocation" formControlName="SuspendLocation" size="35" [attr.maxlength]="40" class="form-control"
                            eTypeText>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
        </section>
        <footer class="screen-footer">
            <div class="row">
                <div class="col-sm-6">
                    <input type="button" id="cmdSuspend" class="btn btn-additional mr10" *ngIf="this['pageParams']['isCmdSuspendShow']" [disabled]="isCmdSuspend"
                        value="{{'Add'|translate}}" (click)="onAddClick()">
                    <input type="button" class="btn btn-primary mr10" [disabled]="isSaveDisable" value="{{'Save'|translate}}" (click)="beforeSave()">
                    <input type="button" class="btn btn-secondary" [disabled]="isCancelDisable" value="{{'Cancel'|translate}}" (click)="onCancelClick()">
                </div>
                <div class="col-sm-3 pull-right">
                    <input type="button" id="cmdCancel" class="btn btn-additional" *ngIf="this['pageParams']['isCmdCancelShow']" [disabled]="isCmdCancel"
                        value="{{'Cancel'|translate}}" (click)="onCmdCancelClick()">
                    <div class="col16 pull-right">
                        <select class="form-control" id="Menu" formControlName="Menu" (change)="onMenuChange()">
                            <option value="options">{{'Options' |translate}}</option>
                            <option value="PlanVisit">{{'Planned Visits' | translate}}</option>
                            <option value="StaticVisit">{{'Static Visits'| translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </footer>
    </form>
</section>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>