<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ 'Notification Group Employee Maintenance' | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="NotifyGroupCode">{{ 'Group Code' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col16">
                        <icabs-common-dropdown [inputParams]="groupCodeSearchDropdown" [displayFields]="groupCodeColumns" [isActive]="groupCodeActive"
                            (onDataReceived)="onGroupCodeDataReceived($event)" [isDisabled]="isGroupCodeDisabled"></icabs-common-dropdown>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-5">
                    <label class="col24" for="NotifyEmployeeTypeSelect">{{ 'Notify Who' | translate}}</label>
                    <div class="col16">
                        <icabs-dropdown-static #employeeSelectFilter id="employeeSelectFilter" [inputData]="staticDropdownParams.employeeSelectFilter.inputData"
                            [defaultOption]="staticDropdownParams.employeeSelectFilter.defaultOption" (change)="onDropdownStaticChange('employeeSelectFilter',$event.target.value)"
                            [disabled]="staticDropdownParams.employeeSelectFilter.isDisbaled"></icabs-dropdown-static>
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="isVisisbleOccupation">
                <div class="col-sm-4">
                    <label class="col24" for="OccupationCodeSelect">{{ 'Occupation Code' | translate}}</label>
                    <div class="col16">
                        <select (change)="onDropdownStaticChange('occupationDropDown',$event.target.value)" #occupationFilter id="occupationFilter"
                            class="form-control">
                            <option *ngFor="let occupation of staticDropdownParams.occupationFilter.inputData | orderBy: 'text'" [selected]="selectedOccupation === occupation.value"
                                [value]="occupation.value">{{occupation.text | translate}}</option>
                                </select>
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="isVisisbleNotification">
                <div class="col-sm-4">
                    <label class="col24" for="NotifyContactList">{{ 'Notification List' | translate}}</label>
                    <div class="col24">
                        <textarea id="NotifyContactList" class="form-control" formControlName="NotifyContactList" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="NotifyTypeSelect">{{ 'Notify Using' | translate}}</label>
                    <div class="col16">
                        <icabs-dropdown-static #notifyTypeFilter id="notifyTypeFilter" [inputData]="staticDropdownParams.notifyTypeFilter.inputData"
                            [defaultOption]="staticDropdownParams.notifyTypeFilter.defaultOption" (change)="onDropdownStaticChange('notifyTypeFilter',$event.target.value)"
                            [disabled]="staticDropdownParams.notifyTypeFilter.isDisbaled"></icabs-dropdown-static>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
        </section>
    </form>
    <footer class="screen-footer">
        <div class="row">
            <div class="col-sm-12">
                <input *ngIf="isVisibleAdd" type="submit" class="btn btn-additional mr5" value="{{'Add' | translate}}" (click)="buttonClicked('add')">
                <input type="submit" class="btn btn-primary mr5" value="{{'Save' | translate}}" (click)="buttonClicked('save')" [disabled]="isDisableButton">
                <input type="button" class="btn btn-secondary mr5" value="{{'Cancel' | translate}}" (click)="buttonClicked('cancel')" [disabled]="isDisableButton">
                <input *ngIf="isVisisbleDelete" type="button" class="btn btn-additional" value="{{'Delete' | translate}}" (click)="buttonClicked('delete')"
                    [disabled]="isDisableButton">
            </div>
        </div>
    </footer>
</section>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>