<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']" (ngSubmit)="onSubmit($event)">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="ContractNumber">{{ 'Contract Number' | translate }}<span class="mandatory">*</span></label>
                    <div class="col8 pr5">
                        <input type="text" id="ContractNumber" size="9" [attr.maxlength]="8" formControlName="ContractNumber" class="form-control" eTypeCode>
                    </div>
                    <div class="col16">
                        <input type="text" id="ContractName" size="35" [attr.maxlength]="40" formControlName="ContractName" class="form-control" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="PremiseNumber">{{ 'Premises Number' | translate }}<span class="mandatory">*</span></label>
                    <div class="col8 pr5">
                        <input type="text" id="PremiseNumber" size="9" [attr.maxlength]="8" formControlName="PremiseNumber" class="form-control right" eTypeInteger>
                    </div>
                    <div class="col16">
                        <input type="text" id="PremiseName" size="35" [attr.maxlength]="40" formControlName="PremiseName" class="form-control" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="ProductCode">{{ 'Product Code' | translate }}<span class="mandatory">*</span></label>
                    <div class="col8 pr5">
                        <input type="text" id="ProductCode" size="9" [attr.maxlength]="6" formControlName="ProductCode" class="form-control right" eTypeCode>
                    </div>
                    <div class="col16">
                        <input type="text" id="ProductDesc" size="40" [attr.maxlength]="40" formControlName="ProductDesc" class="form-control" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="ServiceCommenceDate">{{ 'Commence Date' | translate }}</label>
                    <div class="col8">
                        <input type="text" id="ServiceCommenceDate" size="10" [attr.maxlength]="10" formControlName="ServiceCommenceDate" class="form-control"
                            eTypeDate>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="ServiceVisitAnnivDate">{{ 'Service Anniversary Date' | translate }}</label>
                    <div class="col8">
                        <input type="text" id="ServiceVisitAnnivDate" size="10" [attr.maxlength]="10" formControlName="ServiceVisitAnnivDate" class="form-control"
                            eTypeDate>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="ServiceVisitFrequency">{{ 'Visit Frequency' | translate }}</label>
                    <div class="col8">
                        <input type="text" id="ServiceVisitFrequency" size="10" [attr.maxlength]="5" formControlName="ServiceVisitFrequency" class="form-control right"
                            eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="ServiceQuantity">{{ 'Service Quantity' | translate }}</label>
                    <div class="col8">
                        <input type="text" id="ServiceQuantity" size="10" [attr.maxlength]="5" formControlName="ServiceQuantity" class="form-control right"
                            eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="ServiceAnnualValue">{{ 'Annual Value' | translate }}</label>
                    <div class="col8">
                        <input type="text" id="ServiceAnnualValue" size="10" [attr.maxlength]="10" formControlName="ServiceAnnualValue" class="form-control right"
                            eTypeCurrency>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="BranchServiceAreaSeqNo">{{ 'Old Service Number' | translate }}</label>
                    <div class="col8">
                        <input type="text" id="BranchServiceAreaSeqNo" size="6" [attr.maxlength]="6" formControlName="BranchServiceAreaSeqNo" class="form-control right"
                            eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="NewBranchServiceAreaSeqNo">{{ 'New Sequence Number' | translate }}<span class="mandatory">*</span></label>
                    <div class="col8">
                        <input type="text" #NewBranchServiceAreaSeqNo id="NewBranchServiceAreaSeqNo" size="6" [attr.maxlength]="6" formControlName="NewBranchServiceAreaSeqNo"
                            class="form-control right" eTypeInteger>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <footer class="screen-footer">
                <div class="row mt10">
                    <div class="col-sm-6">
                        <input type="submit" class="btn btn-primary mr5" value="{{'Save' | translate}}" [disabled]="this['pageParams'].disableSave">
                        <input type="button" class="btn btn-secondary" value="{{'Cancel' | translate}}" (click)="cancel_OnClick($event)" [disabled]="this['pageParams'].disableCancel">
                    </div>
                </div>
            </footer>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>