<section class="container-fluid custom-container">
    <header>
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <div class="row mt5">
            <div class="col-sm-4">
                <label class="col24" for="labelContractNumber">{{ 'Contract Number' | translate }}</label>
                <div class="col8 pr5">
                    <input type="text" id="ContractNumber" formControlName="ContractNumber" size="10" [attr.maxlength]="8" class="form-control"
                        eTypeCode>
                </div>
                <div class="col16">
                    <input type="text" id="ContractName" formControlName="ContractName" size="40" [attr.maxlength]="40" class="form-control">
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24">{{'Item Description' | translate}}</label>
                <div class="col24">
                    <input type="text" id="ItemDescription" formControlName="ItemDescription" size="30" [attr.maxlength]="20" class="form-control"
                        eTypeText>
                </div>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-4">
                <label class="col24">{{'Premises Number' | translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="PremiseNumber" formControlName="PremiseNumber" size="10" [attr.maxlength]="5" class="form-control"
                        eTypeInteger>
                </div>
                <div class="col16">
                    <input type="text" id="PremiseName" formControlName="PremiseName" size="40" [attr.maxlength]="40" class="form-control">
                </div>
            </div>
            <div class="col-sm-4">
                <label class="col24">{{'Location' | translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="PremiseLocationNumber" formControlName="PremiseLocationNumber" size="10" class="form-control" eTypeInteger>
                </div>
                <div class="col16 pr5">
                    <input type="text" id="PremiseLocationDesc" formControlName="PremiseLocationDesc" size="40" [attr.maxlength]="40" class="form-control"
                        eTypeText>
                </div>

            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-4">
                <label class="col24">{{'Product Code' | translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="ProductCode" formControlName="ProductCode" size="10" [attr.maxlength]="6" class="form-control" eTypeCode>
                </div>
                <div class="col16">
                    <input type="text" id="ProductDesc" formControlName="ProductDesc" size="40" [attr.maxlength]="30" class="form-control">
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24" id="spanReplacementReasonCode">{{'Replacement Reason' | translate}}
                    <span class="mandatory">*</span>
                </label>
                <div class="col24">
                    <icabs-common-dropdown [inputParams]="dropdown.reasoncode.inputParams" [displayFields]="dropdown.reasoncode.displayFields"
                        (onDataReceived)="replacementReasonCodeOnChange($event)" [isFirstItemSelected]="dropdown.reasoncode.isFirstItemSelected"
                        [isDisabled]="dropdown.reasoncode.isDisabled" [isTriggerValidate]="dropdown.reasoncode.isTriggerValidate"
                        [isRequired]="dropdown.reasoncode.isRequired" [isActive]="dropdown.reasoncode.activeSelected"></icabs-common-dropdown>
                </div>
            </div>
        </div>
        <hr class="mt15">
        <div class="row">
            <div class="col-sm-12">
                <h4>{{'Original Component Details' | translate}}</h4>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-sm-4">
                <label class="col24">{{'Component Type'| translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="ComponentTypeCode" formControlName="ComponentTypeCode" size="2" [attr.maxlength]="2" class="form-control"
                        eTypeCode>
                </div>
                <div class="col16">
                    <input type="text" id="ComponentTypeDesc" formControlName="ComponentTypeDesc" size="20" [attr.maxlength]="30" class="form-control"
                        eTypeCode>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24">{{ 'Quantity' | translate }}</label>
                <div class="col16">
                    <input type="text" id="ComponentQuantity" formControlName="ComponentQuantity" size="6" [attr.maxlength]="4" class="form-control"
                        eTypeInteger>
                </div>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-sm-4">
                <label class="col24">{{'Product' | translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="ProductComponentCode" formControlName="ProductComponentCode" size="8" [attr.maxlength]="6" class="form-control"
                        eTypeCode>
                </div>
                <div class="col16">
                    <input type="text" id="ProductComponentDesc" formControlName="ProductComponentDesc" size="35" [attr.maxlength]="30" class="form-control"
                        eTypeCode>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24">{{'Removal Quantity' | translate}}
                    <span class="mandatory">*</span>
                </label>
                <div class="col16">
                    <input type="text" id="RemovalQty" formControlName="RemovalQty" [readonly]="this['pageParams']['isReadOnly']" size="6" [attr.maxlength]="4"
                        class="form-control" eTypeInteger>
                </div>
            </div>
        </div>
        <hr class="mt15">
        <div class="row">
            <div class="col-sm-12">
                <h4>{{'Replacement Component Details' | translate}}</h4>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-sm-4">
                <label class="col24">{{'Product' | translate}}
                    <span class="mandatory">*</span>
                </label>
                <div class="col14 pr5">
                    <input type="text" id="ProductComponentCodeRep" formControlName="ProductComponentCodeRep" [readonly]="this['pageParams']['isReadOnly']"
                        size="8" [attr.maxlength]="6" class="form-control" (change)="productComponentCodeRepOnchange()" eTypeCode>
                </div>
                <div class="col2">
                    <icabs-ellipsis [autoOpen]="ellipsis.productSearch.autoOpenSearch" [showCloseButton]="ellipsis.productSearch.showCloseButton"
                        [childConfigParams]="ellipsis.productSearch.childConfigParams" [modalConfig]="ellipsis.productSearch.modalConfig"
                        [contentComponent]="ellipsis.productSearch.contentComponent" (ellipsisData)="productComponentCodeRepOnSelect($event)"
                        [showHeader]="ellipsis.productSearch.showHeader" [disabled]='ellipsis.productSearch.isDisabled'>
                    </icabs-ellipsis>
                </div>
            </div>
            <div class="col-sm-3">
                <input id="AdditionalChargeReq" formControlName="AdditionalChargeReq" type="checkbox" size="10" (change)="additionalChargeReqOnclick()">
                <label for="AdditionalChargeReq" class="gray mt20">{{'Additional Charge Required' | translate}}</label>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-4">
                <label class="col24">{{'Alternate Code' | translate}}</label>
                <div class="col14 pr5">
                    <input type="text" id="AlternateProductCode" formControlName="AlternateProductCode" [readonly]="this['pageParams']['isReadOnly']"
                        size="20" [attr.maxlength]="20" class="form-control" (change)="alternateProductCodeOnchange()" eTypeCode>
                </div>
                <div class="col2">
                    <icabs-ellipsis [autoOpen]="ellipsis.alternateProductSearch.autoOpenSearch" [showCloseButton]="ellipsis.alternateProductSearch.showCloseButton"
                        [childConfigParams]="ellipsis.alternateProductSearch.childConfigParams" [modalConfig]="ellipsis.alternateProductSearch.modalConfig"
                        [contentComponent]="ellipsis.alternateProductSearch.contentComponent" (ellipsisData)="alternateProductCodeOnSelect($event)"
                        [showHeader]="ellipsis.alternateProductSearch.showHeader" [disabled]='ellipsis.alternateProductSearch.isDisabled'>
                    </icabs-ellipsis>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="this['pageParams']['isReplacementValue']">
                <label class="col24" id="spanReplacementValue">{{'Replacement Value' | translate}}
                    <span class="mandatory">*</span>
                </label>
                <div class="col16">
                    <input type="text" id="ReplacementValue" formControlName="ReplacementValue" [readonly]="this['pageParams']['isReadOnly']"
                        size="20" [attr.maxlength]="23" class="form-control" eTypeCurrency>
                </div>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-4">
                <label class="col24">{{'Description' | translate}}</label>
                <div class="col24">
                    <input type="text" id="ProductComponentDescReplace" formControlName="ProductComponentDescReplace" [icabsDirFocus]="setFocusOnProductCompDesc"
                        size="35" [attr.maxlength]="30" class="form-control" eTypeCode>
                </div>

            </div>
            <div class="col-sm-3">
                <input id="VisitRequired" formControlName="VisitRequired" type="checkbox" (change)="visitRequiredOnclick()">
                <label for="VisitRequired" class="gray mt20">
                    {{'Exchange Required' | translate}}
                </label>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-4">
                <label class="col24">{{'Quantity' | translate}}
                    <span class="mandatory">*</span>
                </label>
                <div class="col16">
                    <input type="text" id="ReplacementQty" formControlName="ReplacementQty"  size="6"
                        [attr.maxlength]="4" class="form-control" eTypeInteger>
                </div>

            </div>
            <div class="col-sm-3">
                <input id="VisitDone" formControlName="VisitDone" type="checkbox" size="" (change)="visitDoneOnclick()">
                <label for="VisitDone" class="gray mt20">{{'Exchange Done' | translate}}</label>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-4">
                <label class="col24" id="ReplacementCostLabel">{{'Replacement Cost' | translate}}</label>
                <div class="col16">
                    <input type="text" id="ReplacementCost" formControlName="ReplacementCost" [readonly]="this['pageParams']['isReadOnly']" size="0"
                        [attr.maxlength]="23" class="form-control" eTypeCurrency>
                </div>

            </div>
            <div class="col-sm-3">
                <label class="col24" id="spanVisitDate">{{'Visit Date' | translate}}
                    <span class="mandatory">*</span>
                </label>
                <div class="col16 pr5">
                    <icabs-datepicker id="VisitDate" formControlName="VisitDate" (onChange)="dateSelectedValue($event)" [isDirectiveBased]="false"></icabs-datepicker>
                </div>
                <div class="col2">
                    <icabs-ellipsis #planVisitSearchEllipsis [autoOpen]="ellipsis.planVisit.autoOpenSearch" [showCloseButton]="ellipsis.planVisit.showCloseButton"
                        [childConfigParams]="ellipsis.planVisit.childConfigParams" [modalConfig]="ellipsis.planVisit.modalConfig"
                        [contentComponent]="ellipsis.planVisit.contentComponent" (ellipsisData)="planVisitSearchOnSelect($event)"
                        [showHeader]="ellipsis.planVisit.showHeader" [disabled]='ellipsis.planVisit.isDisabled'>
                    </icabs-ellipsis>
                </div>
            </div>
        </div>
        <div class="row mt2" *ngIf="this['pageParams']['isBranchServiceAreaCode']">
            <div class="col-sm-4 col-sm-offset-4">
                <label class="col24" id="spanBranchServiceAreaCode">{{'Service Area Code' | translate}}
                    <span class="mandatory">*</span>
                </label>
                <div class="col8 pr5">
                    <input type="text" id="BranchServiceAreaCode" formControlName="BranchServiceAreaCode" [readonly]="this['pageParams']['isReadOnly']"
                        size="7" [attr.maxlength]="4" class="form-control" (change)="branchServiceAreaCodeOnChange($event)" eTypeCode>
                </div>
                <div class="col14 pr5" id="spanBranchServiceAreaDesc">
                    <input type="text" id="BranchServiceAreaDesc" formControlName="BranchServiceAreaDesc" size="40" [attr.maxlength]="30" class="form-control"
                        eTypeText>
                </div>
                <div class="col2">
                    <icabs-ellipsis #BranchServiceAreaEllipsis [autoOpen]="ellipsis.branch.autoOpenSearch" [showCloseButton]="ellipsis.branch.showCloseButton"
                        [childConfigParams]="ellipsis.branch.childConfigParams" [modalConfig]="ellipsis.branch.modalConfig" [contentComponent]="ellipsis.branch.contentComponent"
                        (ellipsisData)="branchServiceAreaCodeOnSelect($event)" [showHeader]="ellipsis.branch.showHeader" [disabled]='ellipsis.branch.isDisabled'>
                    </icabs-ellipsis>
                </div>
            </div>
        </div>
        <div class="row mt2" *ngIf="this['pageParams']['isServiceEmployeeCode']">
            <div class="col-sm-4 col-sm-offset-4">
                <label class="col24" id="spanServiceEmployeeCode">{{'Service Employee' | translate}}
                    <span class="mandatory">*</span>
                </label>
                <div class="col8 pr5">
                    <input type="text" id="ServiceEmployeeCode" formControlName="ServiceEmployeeCode" size="7" [attr.maxlength]="6" class="form-control"
                        eTypeCode>
                </div>
                <div class="col16" id="spanServiceEmployeeSurname">
                    <input type="text" id="ServiceEmployeeSurname" formControlName="ServiceEmployeeSurname" size="30" [attr.maxlength]="30" class="form-control"
                        eTypeText>
                </div>
            </div>
        </div>
        <div class="row mt2" *ngIf="this['pageParams']['isEmployeeCode']">
            <div class="col-sm-4 col-sm-offset-4">
                <label class="col24" id="spanEmployeeCode">{{'Service Employee' | translate}}
                    <span class="mandatory">*</span>
                </label>
                <div class="col8 pr5">
                    <input type="text" id="EmployeeCode" formControlName="EmployeeCode" size="7" [attr.maxlength]="6" class="form-control" eTypeCode>
                </div>
                <div class="col14 pr5" id="spanEmployeeSurname">
                    <input type="text" id="EmployeeSurname" formControlName="EmployeeSurname" size="40" [attr.maxlength]="30" class="form-control"
                        eTypeText>
                </div>
                <div class="col2">
                    <icabs-ellipsis #EmployeeSearchEllipsis [autoOpen]="ellipsis.employee.autoOpen" [showCloseButton]="ellipsis.employee.showCloseButton"
                        [childConfigParams]="ellipsis.employee.childConfigParams" [modalConfig]="ellipsis.employee.modalConfig"
                        [contentComponent]="ellipsis.employee.contentComponent" (ellipsisData)="employeeCodeOnSelect($event)"
                        [showHeader]="ellipsis.employee.showHeader" [disabled]='ellipsis.employee.isDisabled'>
                    </icabs-ellipsis>
                </div>
            </div>
        </div>
        <hr class="mt15 mb15">
        <div class="row mt5">
            <div class="col-xs-12" *ngIf="isEnableSave">
                <input class="btn btn-primary" type="button" value="{{ 'Save' | translate}}" (click)="save()">
                <input class="btn btn-secondary" type="button" value="{{ 'Cancel' | translate}} " (click)="cancel()">
            </div>
            <div class="col-xs-12" *ngIf="!isEnableSave">
                <input class="btn btn-primary" type="button" value="{{ 'Add' | translate}} " (click)="btnAddOnClick()">
                <input class="btn btn-secondary" type="button" value="{{ 'Delete' | translate}} " (click)="delete()">
            </div>
        </div>
    </form>
</section>

<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>