<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ strDocTitleNew | translate }} </h1>
            </div>
        </div>
    </header>
    <section class="screen-body">
        <form novalidate [formGroup]="this['uiForm']">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{strInpTitleNew | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col6 pr5">
                        <input type="text" size="9" formControlName="ContractNumber" [attr.maxlength]="8" icabsZeroPad class="form-control" id="ContractNumber"
                            (change)="sendContractNumber()" eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" size="40" formControlName="ContractName" [attr.maxlength]="40" class="form-control" placeholder="" id="ContractName"
                            eTypeText>
                    </div>
                    <div *ngIf="visibleContractNumberSelectionEllipsis" class="col2">
                        <icabs-ellipsis #contractNumberEllipsis [disabled]="ellipsis.contractNumberEllipsis.disabled" [showCloseButton]="ellipsis.contractNumberEllipsis.showCloseButton"
                            [showHeader]="ellipsis.contractNumberEllipsis.showHeader" [childConfigParams]="ellipsis.contractNumberEllipsis.childparams"
                            [contentComponent]="ellipsis.contractNumberEllipsis.component" (ellipsisData)="onContractSearchDataReceived($event)"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Premises Number'|translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col6 pr5">
                        <input type="text" size="9" [attr.maxlength]="9" formControlName="PremiseNumber" class="form-control" placeholder="" id="PremiseNumber"
                            (blur)="sendContractPremiseNumber()" eTypeInteger>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" size="40" [attr.maxlength]="40" formControlName="PremiseName" class="form-control" placeholder="" id="PremiseName"
                            eTypeText>
                    </div>
                    <div class="col2" *ngIf="visiblePremiseNumberSelectionEllipsis">
                        <icabs-ellipsis #premiseNumberEllipsis [disabled]="ellipsis.premiseNumberEllipsis.disabled" [showCloseButton]="ellipsis.premiseNumberEllipsis.showCloseButton"
                            [showHeader]="ellipsis.premiseNumberEllipsis.showHeader" [childConfigParams]="ellipsis.premiseNumberEllipsis.childparams"
                            [contentComponent]="ellipsis.premiseNumberEllipsis.component" (ellipsisData)="onPremiseSearchhDataReceived($event)"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Product Code'|translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col6 pr5">
                        <input type="text" size="9" [attr.maxlength]="9" formControlName="ProductCode" (change)="productCodeOnchange()"
                            class="form-control" placeholder="" id="ProductCode" eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" size="40" [attr.maxlength]="40" formControlName="ProductDesc" class="form-control" placeholder="" id="ProductDesc"
                            eTypeText>
                    </div>
                    <div class="col2" *ngIf="visibleProductCodeSelectionEllipsis">
                        <icabs-ellipsis #ProductCodeEllipsis [disabled]="ellipsis.ProductCodeEllipsis.disabled" [showCloseButton]="ellipsis.ProductCodeEllipsis.showCloseButton"
                            [showHeader]="ellipsis.ProductCodeEllipsis.showHeader" [childConfigParams]="ellipsis.ProductCodeEllipsis.childparams"
                            [contentComponent]="ellipsis.ProductCodeEllipsis.component" (ellipsisData)="onProductCodeDataReceived($event)">></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Product Detail Code'|translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col6 pr5">
                        <input type="text" size="9" [attr.maxlength]="9" formControlName="ProductDetailCode" (blur)="ProductDetailCodeOnchange()"
                            (change)="LookUpProductDetailDesc()" class="form-control" placeholder="" id="ProductDetailCode" eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" size="40" [attr.maxlength]="40" formControlName="ProductDetailDesc" class="form-control" placeholder=""
                            id="ProductDetailDesc" eTypeText>
                    </div>
                    <div class="col2" *ngIf="visibleProductDetailSelectionEllipsis">
                        <icabs-ellipsis *ngIf="visibleOpenProductCodeEllipsis" #productDetailsEllipsis [disabled]="ellipsis.productDetailsEllipsis.disabled"
                            [showCloseButton]="ellipsis.productDetailsEllipsis.showCloseButton" [showHeader]="ellipsis.productDetailsEllipsis.showHeader"
                            [childConfigParams]="ellipsis.productDetailsEllipsis.childparams" [contentComponent]="ellipsis.productDetailsEllipsis.component"
                            (ellipsisData)="onProductDetailDataReceived($event)"></icabs-ellipsis>

                        <icabs-ellipsis *ngIf="visibleOpenServiceCoverDetailEllipsis" #serviceCoverDetailsEllipsis [disabled]="ellipsis.serviceCoverDetailsEllipsis.disabled"
                            [showCloseButton]="ellipsis.serviceCoverDetailsEllipsis.showCloseButton" [showHeader]="ellipsis.serviceCoverDetailsEllipsis.showHeader"
                            [childConfigParams]="ellipsis.serviceCoverDetailsEllipsis.childparams" [contentComponent]="ellipsis.serviceCoverDetailsEllipsis.component"
                            (ellipsisData)="onServiceCoverDetailDataReceived($event)">></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-4">
                    <label class="col24">{{'Commence Date'|translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col16">
                        <icabs-datepicker [isDisabled]="disableDetailCommenceDate" id="DetailCommenceDate" [dt]="dtDetailCommenceDate" [isRequired]="true"
                            [icabsDirFocus]="setFocusDetailCommenceDate" (selectedValue) = "setDetailCommenceDate($event)" ></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Delete Date'|translate}}</label>
                    <div class="col16">
                        <icabs-datepicker [isDisabled]="disableDetailDeleteDate" id="DetailDeleteDate" [dt]="dtDetailDeleteDate" (selectedValue)="DetailDeleteDateValue($event)"
                            [icabsDirFocus]="setFocusDetailDeleteDate"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="displayReinstateInd">
                <div class="col-sm-4">
                    <label class="col24" for="ReinstateInd">{{'Reinstate'|translate}}</label>
                    <div class="col3 pr5">
                        <input type="checkbox" (change)="ReinstateInd_onclick()" formControlName="ReinstateInd" id="ReinstateInd" [icabsDirFocus]="setFocusReinstateInd">
                        <label for="ReinstateInd"></label>
                    </div>
                    <div class="col16">
                        <icabs-datepicker id="DetailReinstateDate" [dt]="dtDetailReinstateDate" (selectedValue)="DetailReinstateDateValue($event)"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row" *ngIf="visibleServiceDetailQty">
                <div class="col-sm-4">
                    <label class="col24">{{'Product Detail Qty'|translate}}</label>
                    <div class="col8">
                        <input type="text" size="6" [attr.maxlength]="4" formControlName="ServiceDetailQty" class="form-control" id="ServiceDetailQty"
                            [icabsDirFocus]="setFocusServiceDetailQty" eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Service Cover Annual Value'|translate}}</label>
                    <div class="col12">
                        <input type="text" formControlName="ServiceAnnualValue" class="form-control" id="ServiceAnnualValue" eTypeCurrency>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Value Change'|translate}}</label>
                    <div class="col12">
                        <input type="text" [attr.maxlength]="20" formControlName="AnnualValueChange" (change)="AnnualValueChange_onchange()" class="form-control"
                            id="AnnualValueChange" eTypeCurrency>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4" *ngIf="visibleLostBusiness">
                    <label class="col24">{{'Reason Code'|translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col16 pr5">
                        <icabs-lostbusinesslanguagesearch #lostbusinesslanguagesearchDropDown [inputParams]="dropdown.languageSearch.inputParams"
                            [isRequired]="dropdown.languageSearch.isRequired" [isDisabled]="dropdown.languageSearch.isDisabled"
                            (receivedlostbusinesslangsearch)="onLostBusinessLanguageSearch($event)">
                        </icabs-lostbusinesslanguagesearch>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4" *ngIf="visibleLostBusinessDetail">
                    <label class="col24">{{'Detail Code'|translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col16 pr5">
                        <icabs-lostbusinessdetails #icabsLostBusinessLang [inputParams]="lostBusinessInputParams" (receivedbranchsearch)="onLostBusinessDetailLangDataReceived($event)"></icabs-lostbusinessdetails>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Commission Employee'|translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col6 pr5">
                        <input type="text" size="9" formControlName="ServiceSalesEmployee" (blur)="doLookupEmployee()" [attr.maxlength]="9" class="form-control"
                            placeholder="" id="ServiceSalesEmployee" eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" size="40" formControlName="EmployeeSurname" [attr.maxlength]="40" class="form-control" placeholder=""
                            id="EmployeeSurname" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #employeeSearcEllipsis [disabled]="ellipsis.employeeSearcEllipsis.disabled" [showCloseButton]="ellipsis.employeeSearcEllipsis.showCloseButton"
                            [showHeader]="ellipsis.employeeSearcEllipsis.showHeader" [childConfigParams]="ellipsis.employeeSearcEllipsis.childparams"
                            [contentComponent]="ellipsis.employeeSearcEllipsis.component" (ellipsisData)="onemployeeSearchDataReceived($event)">></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <!--For implementing business logic-->
            <div class="hidden">
                <input type="text" class="form-control" id="LostBusinessRequestNumber" formControlName="LostBusinessRequestNumber" size="1"
                    eTypeInteger>
                <input type="text" class="form-control" id="ServiceBranchNumber" formControlName="ServiceBranchNumber" size="1" eTypeInteger>
                <input type="text" class="form-control" id="ServiceCoverRowID" formControlName="ServiceCoverRowID" size="1" eTypeText>
            </div>
        </form>
    </section>
    <footer class="screen-footer">
        <div class="row mt15">
            <div class="col-sm-3">
                <input class="btn btn-primary" type="submit" value="{{ 'Save' | translate}}" (click)="promptSave($event)">
                <input class="btn btn-secondary" type="button" value="{{'Cancel' | translate}}" (click)="clearForm()">
                <icabs-prompt-modal #promptModal="child" [showHeader]="true" [showCloseButton]="false" [content]="promptContent" (saveEmit)="saveData()"></icabs-prompt-modal>
            </div>
        </div>
    </footer>
</section>

<icabs-modal #messageModal [showCloseButton]="true" [showHeader]="true"></icabs-modal>
<icabs-modal #errorModal [showCloseButton]="true" [showHeader]="true"></icabs-modal>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>