<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="RegulatoryAuthorityNumber">{{ 'Regulatory Authority Number' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col6 pr5">
                        <input id="RegulatoryAuthorityNumber" class="form-control" formControlName="RegulatoryAuthorityNumber" type="text" size="7"
                            maxlength="7" (change)="onRegulatoryNumberChange()" eTypeInteger pattern="^[0-9]*$">
                    </div>
                    <div class="col16 pr5">
                        <input id="RegulatoryAuthorityName" class="form-control" formControlName="RegulatoryAuthorityName" type="text" size="60"
                            maxlength="50" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="inputParamsRegulatoryAuthoritySearch" [contentComponent]="regulatoryAuthoritySearch"
                            [showHeader]="showHeader" (ellipsisData)="onRegulatoryAuthorityDataReceived($event)" [autoOpen]="autoOpenRegulatoryAuthority"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="WasteConsignmentNoteRangeType">{{ 'Waste Consignment Note Range Type' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col6 pr5">
                        <input id="WasteConsignmentNoteRangeType" class="form-control" formControlName="WasteConsignmentNoteRangeType" type="text"
                            size="7" maxlength="2" eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input id="ConsignmentNoteRangeTypeDesc" class="form-control" formControlName="ConsignmentNoteRangeTypeDesc" type="text"
                            size="60" maxlength="50" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="inputParamsWasteConsignmentNoteRangeSearch" [contentComponent]="WasteConsignmentNoteRangeTypeSearch"
                            [showHeader]="showHeader" (ellipsisData)="onWasteConsignmentNoteRange($event)" [autoOpen]="autoOpenSearch"
                            [disabled]="wasteConsignmentEllipsisFlag"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <div class="col24">
                        <input type="checkbox" class="form-control" id="ConsignmentNoteRange" formControlName="ConsignmentNoteRange">
                        <label class="col24" for="ConsignmentNoteRange">{{'Consignment Note Range'|translate}}</label>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <div class="col24">
                        <input type="checkbox" class="form-control" id="PrenotificationRange" formControlName="PrenotificationRange">
                        <label class="col24" for="PrenotificationRange">{{'Carry-on Range'|translate}}</label>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <hr class="mt15 mb15">
    <footer class="screen-footer">
        <div class="row">
            <div class="col-sm-6">
                <input type="submit" class="btn btn-primary mr5" [disabled]="disableSave" value="{{'Save' | translate}}" (click)="saveClicked()">
                <input type="button" class="btn btn-secondary mr5" [disabled]="disableCancel" value="{{'Cancel' | translate}}" (click)="cancelClicked()">
                <input type="button" class="btn btn-additional" [disabled]="disableDelete" value="{{'Delete' | translate}}" (click)="deleteClicked()">
            </div>
        </div>
    </footer>
</section>
<icabs-spinner [isRunning]="isRequesting"></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>