<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="NotifyTemplateCode">{{ 'Template Code' | translate}}<span class="mandatory">*</span></label>
                    <div class="col24">
                        <icabs-common-dropdown #templateCodeDropDown [inputParams]="dropdown.NotificationTemplateSearch.params" [isRequired]="dropdown.NotificationTemplateSearch.isRequired"
                            [isDisabled]="dropdown.NotificationTemplateSearch.isDisabled" [displayFields]="dropdown.NotificationTemplateSearch.displayFields"
                            [isActive]="dropdown.NotificationTemplateSearch.isActive" [isDisabled]="dropdown.NotificationTemplateSearch.isDisabled"
                            [isTriggerValidate]="dropdown.NotificationTemplateSearch.isTriggerValidate" (onDataReceived)="onNotificationTemplateReceived($event)">
                        </icabs-common-dropdown>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="LanguageCode">{{ 'Language Code' | translate}}<span class="mandatory">*</span></label>
                    <div class="col6 pr5">
                        <input id="LanguageCode" class="form-control" formControlName="LanguageCode" id="LanguageCode" type="text" size="3" [attr.maxlength]="3"
                            eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input id="LanguageDescription" class="form-control" formControlName="LanguageDescription" type="text" size="30" [attr.maxlength]="40"
                            eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="true" [showHeader]="true" [childConfigParams]="ellipsis.LanguageSearch.childConfigParams"
                            [contentComponent]="ellipsis.LanguageSearch.component" [hideIcon]="ellipsis.LanguageSearch.isHide"
                            [disabled]="ellipsis.LanguageSearch.isDisabled" (ellipsisData)="onLanguageSearchRecieved($event)"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2" [hidden] = "isDisplaySubjectText">
                <div class="col-sm-6">
                    <div class="col24">
                        <label class="col24" for="NotifySubjectText">{{ 'Subject Text' | translate}}</label>
                        <textarea id="NotifySubjectText" class="form-control" formControlName="NotifySubjectText" rows="4" cols="80" eTypeTextFree></textarea>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-6">
                    <div class="col24">
                        <label class="col24" for="NotifyBodyText">{{ 'Body Text' | translate}}</label>
                        <textarea id="NotifyBodyText" class="form-control" formControlName="NotifyBodyText" rows="10" cols="80" eTypeTextFree></textarea>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="CustomerContactNumber">{{ 'Customer Reference' | translate}}</label>
                    <div class="col12 pr5">
                        <input id="CustomerContactNumber" class="form-control" formControlName="CustomerContactNumber" type="text" size="10" [attr.maxlength]="10"
                            eTypeInteger>
                    </div>
                    <div class="col12">
                        <input type="button" class="btn btn-primary" value="{{'Test Template As Email' | translate}}" [disabled]="isTestDisabled"
                            (click)="testTemplateClick()">
                    </div>
                </div>
            </div>
        </section>
    </form>
    <hr class="mt15 mb15">
    <footer class="screen-footer">
        <div class="row">
            <div class="col-sm-6">
                <input type="button" class="btn btn-additional mr5" value="{{'Add' | translate}}" (click)="addMode()" *ngIf="isShowButtons.Add">
                <input type="submit" class="btn btn-primary mr5" value="{{'Save' | translate}}" (click)="saveData()" *ngIf="isShowButtons.Save">
                <input type="button" class="btn btn-secondary mr5" value="{{'Cancel' | translate}}" *ngIf="isShowButtons.Cancel" (click)="cancelButtonClick()">
                <input type="button" class="btn btn-additional" value="{{'Delete' | translate}}" (click)="deleteData()" *ngIf="isShowButtons.Delete">
            </div>
        </div>
    </footer>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>