<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{pageTitle | translate}}</h1>
            </div>
        </div>
    </header>

    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Contract Number' | translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="ContractNumber" size="9" [attr.maxlength]="8" class="form-control" formControlName="ContractNumber">
                    </div>
                    <div class="col16">
                        <input type="text" id="ContractName" size="35" [attr.maxlength]="40" class="form-control" formControlName="ContractName">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Premises Number' | translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="PremiseNumber" size="9" [attr.maxlength]="5" class="form-control" formControlName="PremiseNumber">
                    </div>
                    <div class="col16">
                        <input type="text" id="PremiseName" size="35" [attr.maxlength]="40" class="form-control" formControlName="PremiseName">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Product Code' |translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="ProductCode" size="9" [attr.maxlength]="6" class="form-control" formControlName="ProductCode">
                    </div>
                    <div class="col16">
                        <input type="text" id="ProductDesc" size="35" [attr.maxlength]="40" class="form-control" formControlName="ProductDesc">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="col8 pr5">
                        <label class="col24">{{'Value'|translate}}<span class="mandatory">*</span></label>
                        <input type="text" id="AnnualValueChange" size="10" class="form-control" formControlName="AnnualValueChange" [attr.maxlength]="10"
                            eTypeCurrency>
                    </div>
                    <div class="col16">
                        <label class="col24">{{'Proposed Annual Value' |translate}}<span class="mandatory">*</span></label>
                        <input type="text" id="ProposedAnnualValue" size="10" [attr.maxlength]="10" class="form-control" formControlName="ProposedAnnualValue"
                            eTypeCurrency>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Commission Employee'|translate}}<span class="mandatory">*</span></label>
                    <div class="col8 pr5">
                        <input type="text" id="ServiceSalesEmployee" size="10" [attr.maxlength]="6" class="form-control" formControlName="ServiceSalesEmployee"
                            [ngClass]="{ 'red-bdr': validateEmployee}" (blur)="onEmployeeBlurClick($event)" eTypeCode>
                    </div>
                    <div class="col16">
                        <input type="text" id="EmployeeSurname" size="40" [attr.maxlength]="40" class="form-control" formControlName="EmployeeSurname" eTypeText>
                    </div>
                </div>
            </div>
        </section>
        <footer class="screen-footer">
            <div class="row mt10">
                <div class="col-sm-12">
                    <input type="button" class="btn btn-primary mr10" value="{{'Save'|translate}}" (click)="onSaveClick()">
                    <input type="button" class="btn btn-secondary" value="{{'Cancel' |translate}}" (click)="onCancelClick()">
                </div>
            </div>
        </footer>
    </form>
    <icabs-prompt-modal #promptModal="child" [(showHeader)]="showMessageHeader" [title]="promptTitle" [content]="promptContent"
        (saveEmit)="promptSave($event)"></icabs-prompt-modal>
        <icabs-modal #errorModal="child" [(showHeader)]="showErrorHeader">
        </icabs-modal>
        <icabs-routeaway #routeAwayComponent></icabs-routeaway>
</section>