<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{'Waste Consignment Note Maintenance'|translate}}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Contract Number' | translate}}
                        <span class="mandatory">* </span>
                    </label>
                    <div class="col6 pr5">
                        <input type="text" id="ContractNumber" size="8" maxlength="8" formControlName="ContractNumber" class="form-control" (change)="getContractNameFromNumber()"
                            eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" id="ContractName" size="25" maxlength="25" formControlName="ContractName" class="form-control" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsisConfig.contractSearchParams" [showCloseButton]="true" [contentComponent]="contractSearchComponent"
                            (ellipsisData)="onContractNumberSelectFromEllipsis($event)" [showHeader]="true" [disabled]="isContractNumberDisabled"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Premises Number' | translate}}
                        <span class="mandatory">* </span>
                    </label>
                    <div class="col6 pr5">
                        <input type="text" id="PremiseNumber" size="8" maxlength="5" formControlName="PremiseNumber" class="form-control" (change)="premiseNameFromNumber()"
                            eTypeInteger>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" id="PremiseName" size="25" maxlength="25" formControlName="PremiseName" class="form-control" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsisConfig.premiseSearchParams" [showCloseButton]="true" [contentComponent]="premiseSearchComponent"
                            (ellipsisData)="onPremiseNumberSelectFromEllipsis($event)" [showHeader]="true" [disabled]="isPremiseNumberDisabled"></icabs-ellipsis>

                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Waste Consignment Note Number' | translate}}
                        <span class="mandatory">* </span>
                    </label>
                    <div class="col24">
                        <input type="text" id="WasteConsignmentNoteNumber" size="50" maxlength="50" formControlName="WasteConsignmentNoteNumber"
                            class="form-control" (change)="fetchWasteConsignmentNoteNumberDetails()" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <input type="checkbox" id="WasteConsignmentVoid" formControlName="WasteConsignmentVoid" class="form-control" eTypeCheckBox>
                    <label class="col24" for="WasteConsignmentVoid">{{'Void' | translate}}</label>
                </div>
            </div>

            <div class="row mt15">
                <div class="col-sm-12">
                    <ul class="nav nav-tabs">
                        <li class="nav-item" id="grdMain" [ngClass]="{'active': uiDisplay['tab']['tab1']['active']}">
                            <a class="nav-link" [ngClass]="{'active': uiDisplay['tab']['tab1']['active']}" (click)="renderTab(1)">
                                <span>{{ 'General' | translate}}</span>
                            </a>
                        </li>
                        <li class="nav-item" id="grdConsignor" [ngClass]="{'active': uiDisplay['tab']['tab2']['active']}">
                            <a class="nav-link" [ngClass]="{'active': uiDisplay['tab']['tab2']['active']}" (click)="renderTab(2)">
                                <span>{{ 'Consignor' | translate}}</span>
                            </a>
                        </li>
                        <li class="nav-item" id="grdDepot" [ngClass]="{'active': uiDisplay['tab']['tab3']['active']}">
                            <a class="nav-link" [ngClass]="{'active': uiDisplay['tab']['tab3']['active']}" (click)="renderTab(3)">
                                <span>{{ 'Depot' | translate}}</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" [hidden]="uiDisplay['tab']['tab1']['visible'] === false" [ngClass]="{'active': uiDisplay['tab']['tab1']['active']}">
                            <div id="grdMain" class="mt10">
                                <div class="row mt2">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Service Branch' | translate}}</label>
                                        <div class="col6 pr5">
                                            <input type="text" id=ServiceBranchNumber size="5" maxlength="5" formControlName="ServiceBranchNumber" class="form-control"
                                                eTypeInteger>
                                        </div>
                                        <div class="col18">
                                            <input type="text" id=BranchName size="40" maxlength="40" formControlName="BranchName" class="form-control" eTypeText>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Branch Service Area' | translate}}
                                            <span class="mandatory">* </span>
                                        </label>
                                        <div class="col6 pr5">
                                            <input type="text" id=BranchServiceAreaCode size="6" maxlength="4" formControlName="BranchServiceAreaCode" class="form-control"
                                                (change)="getBranchServiceAreaDesc()" eTypeCode>
                                        </div>
                                        <div class="col16 pr5">
                                            <input type="text" id=BranchServiceAreaDesc size="40" maxlength="40" formControlName="BranchServiceAreaDesc" class="form-control"
                                                eTypeText>
                                        </div>
                                        <div class="col2">
                                            <icabs-ellipsis [childConfigParams]="ellipsisConfig.branchServiceAreaSearchParams" [showCloseButton]="true" [contentComponent]="branchServiceAreaSearchComponent"
                                                (ellipsisData)="onBranchServiceAreaSelectFromEllipsis($event)" [showHeader]="true"
                                                [disabled]="isBranchServiceAreaDisabled"></icabs-ellipsis>

                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Employee Code' | translate}}</label>
                                        <div class="col6 pr5">
                                            <input type="text" id=EmployeeCode size="6" maxlength="6" formControlName="EmployeeCode" (change)="getEmployeeName()" class="form-control"
                                                eTypeCode>
                                        </div>
                                        <div class="col2">
                                            <icabs-ellipsis [childConfigParams]="ellipsisConfig.employeeSearchParams" [showCloseButton]="true" [contentComponent]="employeeSearchComponent"
                                                (ellipsisData)="onEmployeeSearchSelectFromEllipsis($event)" [showHeader]="true"
                                                [disabled]="isEmployeeSearchDisabled"></icabs-ellipsis>

                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Employee Forename' | translate}}</label>
                                        <div class="col24">
                                            <input type="text" id=EmployeeForename size="50" maxlength="50" formControlName="EmployeeForename" class="form-control" eTypeText>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Employee Surname' | translate}}</label>
                                        <div class="col24">
                                            <input type="text" id=EmployeeSurname size="50" maxlength="50" formControlName="EmployeeSurname" class="form-control" eTypeText>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Regulatory Authority' | translate}}
                                            <span class="mandatory">* </span>
                                        </label>
                                        <div class="col6 pr5">
                                            <input type="text" id=RegulatoryAuthorityNumber size="7" maxlength="7" formControlName="RegulatoryAuthorityNumber" class="form-control"
                                                eTypeInteger>
                                        </div>
                                        <div class="col18">
                                            <input type="text" id=RegulatoryAuthorityName size="60" maxlength="50" formControlName="RegulatoryAuthorityName" class="form-control"
                                                eTypeText>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Waste Transfer Type' | translate}}
                                            <span class="mandatory">* </span>
                                        </label>
                                        <div class="col6 pr5">
                                            <input type="text" id=WasteTransferTypeCode size="7" maxlength="1" formControlName="WasteTransferTypeCode" class="form-control"
                                                (change)="getWasteTransferTypeDesc()" eTypeCode>
                                        </div>
                                        <div class="col16 pr5">
                                            <input type="text" id=WasteTransferTypeDesc size="60" maxlength="50" formControlName="WasteTransferTypeDesc" class="form-control"
                                                eTypeText>
                                        </div>
                                        <div class="col2">
                                            <icabs-ellipsis [childConfigParams]="ellipsisConfig.wasteTransferTypeSearchParams" [showCloseButton]="true" [contentComponent]="wasteTransferTypeSearchComponent"
                                                (ellipsisData)="onWasteTransferTypeSearchSelectFromEllipsis($event)" [showHeader]="true"
                                                [disabled]="isWasteTransferTypeSearchDisabled"></icabs-ellipsis>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Waste Regulatory Premises Ref' | translate}}</label>
                                        <div class="col24">
                                            <input type="text" id="WasteRegulatoryPremiseRef" size="50" maxlength="50" formControlName="WasteRegulatoryPremiseRef" class="form-control"
                                                eTypeText>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Prenotification Number' | translate}}</label>
                                        <div class="col24">
                                            <input type="text" id="PrenotificationNumber" size="50" maxlength="50" formControlName="PrenotificationNumber" class="form-control"
                                                eTypeText>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'SIC Code' | translate}}</label>
                                        <div class="col6 pr5">
                                            <input type="text" id="SICCode" size="7" maxlength="6" formControlName="SICCode" class="form-control" eTypeCode>
                                        </div>
                                        <div class="col18">
                                            <input type="text" id="SICDescription" size="60" maxlength="50" formControlName="SICDescription" class="form-control" eTypeText>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-6">
                                        <label class="col24">{{'Visit Due Date' | translate}}
                                            <span class="mandatory">* </span>
                                        </label>
                                        <div class="col6 pr5">
                                            <input size="15" formControlName="VisitDueDate" [attr.maxlength]="15" class="form-control hidden" eTypeDate>
                                            <icabs-datepicker [isRequired]="true" [isDisabled]="isVisitDueDateDisabled" id="VisitDueDate" [dt]="visitDueDate" (onChange)="visitDueDateSelectedValue($event)"></icabs-datepicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Vehicle Registration' | translate}}</label>
                                        <div class="col24">
                                            <input type="text" id="VehicleRegistration" size="15" maxlength="15" formControlName="VehicleRegistration" class="form-control"
                                                eTypeCode>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" [hidden]="uiDisplay['tab']['tab2']['visible'] === false" [ngClass]="{'active': uiDisplay['tab']['tab2']['active']}">
                            <div id="grdConsignor" class="mt10">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Consignor Name' | translate}}</label>
                                        <div class="col24">
                                            <input type="text" id=ConsigneeName size="50" maxlength="50" formControlName="ConsigneeName" class="form-control" eTypeText>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Consignor Address 1' | translate}}</label>
                                        <div class="col24">
                                            <input type="text" id=ConsigneeAddressLine1 size="50" maxlength="50" formControlName="ConsigneeAddressLine1" class="form-control"
                                                eTypeText>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Consignor Address 2' | translate}}</label>
                                        <div class="col24">
                                            <input type="text" id=ConsigneeAddressLine2 size="50" maxlength="50" formControlName="ConsigneeAddressLine2" class="form-control"
                                                eTypeText>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Consignor Address 3' | translate}}</label>
                                        <div class="col24">
                                            <input type="text" id=ConsigneeAddressLine3 size="50" maxlength="50" formControlName="ConsigneeAddressLine3" class="form-control"
                                                eTypeText>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Consignor Address 4' | translate}}</label>
                                        <div class="col24">
                                            <input type="text" id=ConsigneeAddressLine4 size="50" maxlength="50" formControlName="ConsigneeAddressLine4" class="form-control"
                                                eTypeText>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Consignor Address 5' | translate}}</label>
                                        <div class="col24">
                                            <input type="text" id=ConsigneeAddressLine5 size="50" maxlength="50" formControlName="ConsigneeAddressLine5" class="form-control"
                                                eTypeText>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Consignor Postcode' | translate}}</label>
                                        <div class="col24">
                                            <input type="text" id=ConsigneePostCode size="20" maxlength="20" formControlName="ConsigneePostCode" class="form-control"
                                                eTypeCode>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" [hidden]="uiDisplay['tab']['tab3']['visible'] === false" [ngClass]="{'active': uiDisplay['tab']['tab3']['active']}">
                            <div id="grdDepot" class="mt10">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Depot Number' | translate}}
                                            <span class="mandatory">* </span>
                                        </label>
                                        <div class="col6 pr5">
                                            <input type="text" (change)="getDepotValues()" id=DepotNumber size="6" maxlength="2" formControlName="DepotNumber" class="form-control"
                                                eTypeInteger>
                                        </div>
                                        <div class="col2">
                                            <icabs-ellipsis [childConfigParams]="ellipsisConfig.depotSearchParams" [showCloseButton]="true" [contentComponent]="deportSearchComponent"
                                                (ellipsisData)="onDepotSearchSelectFromEllipsis($event)" [showHeader]="true"
                                                [disabled]="isDepotSearchDisabled"></icabs-ellipsis>

                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Depot Name' | translate}}</label>
                                        <div class="col24">
                                            <input type="text" id="DepotName" size="40" maxlength="40" formControlName="DepotName" class="form-control" eTypeText>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Depot Address 1' | translate}}</label>
                                        <div class="col24">
                                            <input type="text" id="DepotAddressLine1" size="40" maxlength="40" formControlName="DepotAddressLine1" class="form-control"
                                                eTypeText>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Depot Address 2' | translate}}</label>
                                        <div class="col24">
                                            <input type="text" id="DepotAddressLine2" size="40" maxlength="40" formControlName="DepotAddressLine2" class="form-control"
                                                eTypeText>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Depot Address 3' | translate}}</label>
                                        <div class="col24">
                                            <input type="text" id="DepotAddressLine3" size="40" maxlength="40" formControlName="DepotAddressLine3" class="form-control"
                                                eTypeText>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Depot Address 4' | translate}}</label>
                                        <div class="col24">
                                            <input type="text" id="DepotAddressLine4" size="40" maxlength="40" formControlName="DepotAddressLine4" class="form-control"
                                                eTypeText>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Depot Address 5' | translate}}</label>
                                        <div class="col24">
                                            <input type="text" id="DepotAddressLine5" size="40" maxlength="40" formControlName="DepotAddressLine5" class="form-control"
                                                eTypeText>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Depot Postcode' | translate}}</label>
                                        <div class="col12">
                                            <input type="text" id="DepotPostCode" size="20" maxlength="20" formControlName="DepotPostCode" class="form-control" eTypeCode>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Waste Operation Code' | translate}}</label>
                                        <div class="col24">
                                            <input type="text" id="WasteOperationCode" size="8" maxlength="8" formControlName="WasteOperationCode" class="form-control"
                                                eTypeCode>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="mt15 mb15">
        <footer class="screen-footer">
            <div class="row mt10">
                <div class="col-sm-4">
                    <input type="button" class="btn btn-additional" value="{{'Add'| translate}}" [disabled]="isAddDisabled" (click)="onAddClicked()"
                        *ngIf="!this['pageParams'].isVoidMode">
                    <input type="button" class="btn btn-primary" value="{{'Save'| translate}}" [disabled]="isSaveCancelOptionDisabled" (click)="onSaveClicked()"
                        *ngIf="!isFormSaveDisabled">
                    <input type="button" class="btn btn-secondary" value="{{'Cancel'| translate}}" [disabled]="isSaveCancelOptionDisabled" (click)="onCancelClicked()">
                </div>
                <div class="col-sm-3 pull-right">
                    <div class="col16 pull-right">
                        <select id="menu" class="form-control" [disabled]="isDropDownDisabled" (change)="onChangeFn($event)">
                            <option selected value="">{{'Options' | translate}}</option>
                            <option value="WasteConsignmentNoteDetail">{{'Waste Consignment Note Details' | translate}}</option>
                        </select>
                    </div>
                    <div class="col8 pull-right">
                        <input type="button" class="btn btn-additional mr10" value="{{'Print'| translate}}" (click)="onPrintClick()">
                    </div>
                </div>
            </div>
        </footer>
    </form>
</section>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>