<div class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{'Advantage Contract Maintenance' | translate}}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']" [ngClass]="{hidden: pageisLoading}">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col24">{{'Quote Ref' | translate}}</label>
                    <div class="col24">
                        <input type="text" class="form-control" id="dlContractRef" formControlName="dlContractRef" size="30" [attr.maxlength]="30"
                            [attr.disabled]="true">
                    </div>
                </div>
                <div class="col-sm-1">
                    <label class="col24">{{'Type' | translate}}</label>
                    <div class="col10">
                        <input type="text" class="form-control" id="ContractTypeCode" formControlName="ContractTypeCode" [attr.disabled]="true">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Status' | translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="dlStatusCode" formControlName="dlStatusCode" [attr.disabled]="uiDisableFlag.dlStatusCode">
                    </div>
                    <div class="col16">
                        <input type="text" class="form-control" id="dlStatusDesc" formControlName="dlStatusDesc" size="10" [attr.disabled]="uiDisableFlag.dlStatusDesc">
                    </div>
                </div>
            </div>
            <div id="grdClientType" *ngIf="uiDisplayFlag.grdClientType">
                <hr class="mt15 mb15">
                <div class="row">
                    <div class="col-sm-3" *ngIf="uiDisplayFlag.tdClientTypeLabel">
                        <label class="col24">{{'Client Type' | translate}}
                            <span class="mandatory">*</span>
                        </label>
                        <div class="col24">
                            <select class="form-control" formControlName="ClientTypeCodeSel" (change)="onChange($event,'ClientTypeCodeSel')" [attr.disabled]="uiDisableFlag.ClientTypeCodeSel">
                                <option *ngFor="let item of uiSelectDropdownValues.ClientTypeCodeSel" [value]="item.value">
                                    {{item.text}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mt2">
                    <div class="col-sm-3" *ngIf="uiDisplayFlag.tdSalutationLabel">
                        <label class="col24">{{'Salutation' | translate}}
                            <span class="mandatory">*</span>
                        </label>
                        <div class="col24">
                            <select class="form-control" formControlName="SalutationNameSel" (change)="onChange($event,'SalutationNameSel')">
                                <option *ngFor="let item of uiSelectDropdownValues.SalutationNameSel" [value]="item.value">
                                    {{item.text}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3" *ngIf="uiDisplayFlag.ClientTypeValue1">
                        <label class="col24">{{this['uiForm'].controls['ClientTypeLabel1'].value | translate}}
                            <span class="mandatory">*</span>
                        </label>
                        <div class="col24">
                            <input type="text" class="form-control" id="ClientTypeValue1" formControlName="ClientTypeValue1" size="25" [attr.maxlength]="40"
                                (change)="toCamelCase('ClientTypeValue1');PopulateNameFromClientDetailsBefore('ClientTypeValue1')"
                                [ngClass]="{'red-bdr': !tabValidationObj.SectionMiddleFields.ClientTypeValue1.isValid}">
                        </div>
                    </div>
                    <div class="col-sm-3" *ngIf="uiDisplayFlag.ClientTypeValue2">
                        <label class="col24">{{this['uiForm'].controls['ClientTypeLabel2'].value | translate}}</label>
                        <div class="col24">
                            <input type="text" class="form-control" id="ClientTypeValue2" formControlName="ClientTypeValue2" size="25" [attr.maxlength]="40"
                                (change)="toCamelCase('ClientTypeValue2');PopulateNameFromClientDetailsBefore('ClientTypeValue2')">
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-12 mt5">
                    <ul class="nav nav-tabs">
                        <li class="nav-item" id="General" [ngClass]="{'active': tabNameMap.General, 'red-bdr': tabValidationObj.General}" (keyup)="changeTabKeypress($event, 'General')">
                            <a class="nav-link" [ngClass]="tabNameMap.General == true? 'active':''" href="javascript:void(0);" (click)="changeTab('General')"
                                (keyup)="changeTabKeypress($event, 'General')">
                                <span>{{'Invoice Address' | translate }}</span>
                            </a>
                        </li>
                        <li class="nav-item" id="SpecialInstructions" [ngClass]="{'active': tabNameMap.SpecialInstructions, 'red-bdr': tabValidationObj.SpecialInstructions}"
                            (keyup)="changeTabKeypress($event, 'SpecialInstructions')">
                            <a class="nav-link" [ngClass]="tabNameMap.SpecialInstructions == true? 'active':''" href="javascript:void(0);" (click)="changeTab('SpecialInstructions')"
                                (keyup)="changeTabKeypress($event, 'SpecialInstructions')">
                                <span>{{'Details' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                    <!-- Invoice address -->
                    <div class="tab-content">
                        <div class="tab-pane active" [ngClass]="{hidden: !tabNameMap.General}">
                            <div id="grdAddress" class="mt10">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Name' | translate}}
                                            <span class="mandatory">*</span>
                                        </label>
                                        <div class="col24">
                                            <input type="text" class="form-control" id="ContractName" formControlName="ContractName" size="40" [attr.maxlength]="40"
                                                value="" [attr.disabled]="uiDisableFlag.ContractName" [ngClass]="{'red-bdr': !tabValidationObj.GeneralTab.ContractName.isValid}">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="col24 mt20">
                                            <input type="button" id="cmdCopyName" class="btn btn-primary" value="{{'Copy To Contact Name' | translate }}" [attr.disabled]="uiDisableFlag.isCmdCopyName"
                                                (click)="cmdCopyName_onclick()">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Address Line 1' | translate}}
                                            <span class="mandatory" *ngIf="tabValidationObj.GeneralTab.ContractAddressLine1.required">*</span>
                                        </label>
                                        <div class="col24">
                                            <input type="text" class="form-control" id="ContractAddressLine1" formControlName="ContractAddressLine1" size="40" [attr.maxlength]="40"
                                                value="" [attr.maxlength]="sysCharParams['vSCEnableMaxAddressValue']" [ngClass]="{'red-bdr': !tabValidationObj.GeneralTab.ContractAddressLine1.isValid}">
                                        </div>
                                    </div>
                                    <div class="col-sm-3" *ngIf="uiDisplayFlag.cmdGetAddress">
                                        <div class="col24 mt20">
                                            <input type="button" class="btn btn-primary" id="cmdGetAddress" value="{{'Get Address'|translate }}" (click)="cmdGetAddress_onclick()"
                                                [attr.disabled]="uiDisableFlag.cmdGetAddress || uiDisableFlag.isCmdCopyName"
                                                tabindex="1">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Address Line 2' | translate}}</label>
                                        <div class="col24">
                                            <input type="text" class="form-control" id="ContractAddressLine2" formControlName="ContractAddressLine2" size="40" [attr.maxlength]="40"
                                                value="" [attr.maxlength]="sysCharParams['vSCEnableMaxAddressValue']" tabindex="2">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2" *ngIf="uiDisplayFlag.trContractAddressLine3">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Address Line 3' | translate}}</label>
                                        <div class="col24">
                                            <!-- Removing the validation on  ContractAddressLine3 as per IUI-15452-->
                                            <input type="text" class="form-control" id="ContractAddressLine3" formControlName="ContractAddressLine3" value="" [attr.maxlength]="sysCharParams['vSCEnableMaxAddressValue']"
                                                [ngClass]="{'red-bdr': !tabValidationObj.GeneralTab.ContractAddressLine3.isValid}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Town' | translate}}
                                            <span class="mandatory" *ngIf="tabValidationObj.GeneralTab.ContractAddressLine4.required">*</span>
                                        </label>
                                        <div class="col24">
                                            <input type="text" class="form-control" id="ContractAddressLine4" formControlName="ContractAddressLine4" [attr.maxlength]="sysCharParams['vSCEnableMaxAddressValue']"
                                                value="" [ngClass]="{'red-bdr': !tabValidationObj.GeneralTab.ContractAddressLine4.isValid}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'County' | translate}}
                                            <span *ngIf="tabValidationObj.GeneralTab.ContractAddressLine5.required" class="mandatory">*</span>
                                        </label>
                                        <div class="col24">
                                            <input type="text" class="form-control" id="ContractAddressLine5" formControlName="ContractAddressLine5" [attr.maxlength]="sysCharParams['vSCEnableMaxAddressValue']"
                                                value="" [ngClass]="{'red-bdr': !tabValidationObj.GeneralTab.ContractAddressLine5.isValid}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Postcode' | translate}}
                                            <span class="mandatory" *ngIf="tabValidationObj.GeneralTab.ContractPostcode.required">*</span>
                                        </label>
                                        <div class="col24">
                                            <input type="text" class="form-control" id="ContractPostcode" formControlName="ContractPostcode" size="15" [attr.maxlength]="15"
                                                value="" (change)="ContractPostcode_onfocusout()" [ngClass]="{'red-bdr': !tabValidationObj.GeneralTab.ContractPostcode.isValid}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-12">
                                        <label class="col24">
                                            <strong>{{'Please Note: This is the Invoice Address and will need amendment if this differs
                                                from the Service Address.' | translate}}</strong>
                                        </label>
                                    </div>
                                </div>
                                <hr class="mt15 mb15">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Contact Name' | translate}}
                                            <span class="mandatory">*</span>
                                        </label>
                                        <div class="col24">
                                            <input type="text" class="form-control" id="ContractContactName" formControlName="ContractContactName" size="25" [attr.maxlength]="40"
                                                value="">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Position' | translate}}
                                            <span class="mandatory" *ngIf="tabValidationObj.GeneralTab.ContractContactPosition.required">*</span>
                                        </label>
                                        <div class="col24">
                                            <input type="text" class="form-control" id="ContractContactPosition" formControlName="ContractContactPosition" size="25"
                                                [attr.maxlength]="30" value="" [ngClass]="{'red-bdr': !tabValidationObj.GeneralTab.ContractContactPosition.isValid}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3 mt15">
                                        <input type="checkbox" class="form-control" id="DecisionMakerInd" formControlName="DecisionMakerInd">
                                        <label for="DecisionMakerInd">{{'Decision Maker' | translate}}</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Mobile Number' | translate}}</label>
                                        <div class="col24">
                                            <input type="text" class="form-control" id="ContractContactMobile" formControlName="ContractContactMobile" size="20" [attr.maxlength]="20"
                                                value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Landline Telephone' | translate}}
                                            <span class="mandatory" *ngIf="tabValidationObj.GeneralTab.ContractContactTelephone.required">*</span>
                                        </label>
                                        <div class="col24">
                                            <input type="text" class="form-control" id="ContractContactTelephone" formControlName="ContractContactTelephone" size="20"
                                                [attr.maxlength]="20" value="" [ngClass]="{'red-bdr': !tabValidationObj.GeneralTab.ContractContactTelephone.isValid}">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Fax' | translate}}</label>
                                        <div class="col24">
                                            <input type="text" class="form-control" id="ContractContactFax" formControlName="ContractContactFax" size="20" [attr.maxlength]="20"
                                                value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Email' | translate}}</label>
                                        <div class="col24">
                                            <input type="text" class="form-control" id="ContractContactEmail" formControlName="ContractContactEmail" size="50" [attr.maxlength]="50"
                                                value="">
                                            <input type="button" id="dummy" class="btn dummy" value="" (focus)="focusSave()">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- invoice address completed -->
                        <!-- Details -->
                        <div class="tab-pane active" [ngClass]="{hidden: !tabNameMap.SpecialInstructions}">
                            <div id="grdDetails" class="mt10">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Commence/Effective Date' | translate}}
                                            <span class="mandatory">*</span>
                                        </label>
                                        <div class="col16 datePicker1">
                                            <div [ngClass]="{'red-bdr': !tabValidationObj.SpecialInstructionsTab.ContractCommenceDate.isValid}">
                                                <icabs-datepicker #ContractCommenceDate [dt]='parentValues.ContractCommenceDateValue' [isDisabled]="uiDisableFlag.ContractCommenceDate"
                                                    (selectedValue)="selDate($event.value, 'ContractCommenceDate')"></icabs-datepicker>
                                            </div>
                                            <input type="hidden" formControlName="ContractCommenceDate" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3 mt15" [ngClass]="{hidden: !uiDisplayFlag.trContinuousInd}">
                                        <input type="checkbox" class="form-control" id="ContinuousInd" formControlName="ContinuousInd" value="" (change)="ContinuousInd_onclick($event)"
                                            [disabled]="uiDisableFlag.ContinuousInd">
                                        <label for="ContinuousInd">{{'Continuous Contract' | translate}}</label>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3" *ngIf="uiDisplayFlag.trContractDurationCode">
                                        <label class="col24">{{'Contract Duration' | translate}}
                                            <span class="mandatory">*</span>
                                        </label>
                                        <div class="col14 pr5">
                                            <div [ngClass]="{'red-bdr': !tabValidationObj.SpecialInstructionsTab.ContractDurationCode.isValid}">
                                                <icabs-contractduration #contractDurationDropDown [inputParams]="inputParamsContractDuration" [validForNewContract]="true"
                                                    (receivedcontractDuration)="receivedcontractDuration($event)" [isDisabled]="uiDisableFlag.ContractDurationCode"
                                                    [active]="contractDurationActive" [isRequired]="!tabValidationObj.SpecialInstructionsTab.ContractDurationCode.isValid"></icabs-contractduration>
                                            </div>
                                            <input type="hidden" class="form-control" id="ContractDurationCode" formControlName="ContractDurationCode" size="2" [attr.maxlength]="2">
                                            <input type="hidden" class="form-control" id="ContractDurationDesc" formControlName="ContractDurationDesc" size="40" [attr.maxlength]="40">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3 mt15 hidden" *ngIf="uiDisplayFlag.trRenewalInd">
                                        <input class="form-control" id="RenewalInd" formControlName="RenewalInd" size="2" [attr.maxlength]="2" type="checkbox" value=""
                                            (click)="RenewalInd_onclick()">
                                        <label for="RenewalInd">{{'Contract Renewal' | translate}}</label>
                                    </div>
                                </div>
                                <div class="row mt2" *ngIf="uiDisplayFlag.trContractExpiryDate">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Expiry Date' | translate}}</label>
                                        <div class="col10">
                                            <input type="text" class="form-control" id="ContractExpiryDate" formControlName="ContractExpiryDate" size="9" [attr.maxlength]="10"
                                                [attr.disabled]="uiDisableFlag.ContractExpiryDate" eTypeDate>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3" *ngIf="uiDisplayFlag.trInvoiceFrequency">
                                        <label class="col24">{{'Invoice Frequency' | translate}}</label>
                                        <div class="col8 pr5">
                                            <input type="text" class="form-control" id="InvoiceFrequencyCode" formControlName="InvoiceFrequencyCode" size="2" [attr.maxlength]="2"
                                                (change)="validateFormValues('InvoiceFrequencyCode', 'number', true)" [ngClass]="{'red-bdr': !tabValidationObj.NonRequiredFields.InvoiceFrequencyCode.isValid}">
                                        </div>
                                        <div class="col12 pr5">
                                            <input type="text" class="form-control" id="InvoiceFrequencyDesc" formControlName="InvoiceFrequencyDesc" size="40" [attr.maxlength]="40"
                                                [attr.disabled]="true">
                                        </div>
                                        <div class="col4 pl2">
                                            <icabs-ellipsis [showCloseButton]="showCloseButton" [childConfigParams]="inputParamsInvoiceFrequency" [modalConfig]="modalConfig"
                                                [contentComponent]="invoiceFrequencySearchComponent" (ellipsisData)="onInvoiceFrequencyDataReceived($event)"
                                                [showHeader]="showHeader" [disabled]="uiDisableFlag.isInvoiceFrequencyEllipsisDisabled"></icabs-ellipsis>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Payment Method' | translate}}</label>
                                        <div class="col8 pr5">
                                            <input type="text" class="form-control" id="PaymentTypeCode" formControlName="PaymentTypeCode" size="3" [attr.maxlength]="3"
                                                (change)="lookupSearchAPI('PaymentTypeKeyDown')">
                                        </div>
                                        <div class="col13 pr5">
                                            <input type="text" class="form-control" id="PaymentDesc" formControlName="PaymentDesc" size="40" [attr.maxlength]="40" [attr.disabled]="true">
                                        </div>
                                        <div class="col2">
                                            <icabs-ellipsis [showCloseButton]="showCloseButton" [childConfigParams]="inputParamsPaymentType" [modalConfig]="modalConfig"
                                                [contentComponent]="paymentTypeCodeComponent" (ellipsisData)="onPaymentTypeDataReceived($event)"
                                                [showHeader]="showHeader" [disabled]="uiDisableFlag.inputParamsPaymentType"></icabs-ellipsis>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Credit Reference' | translate}}</label>
                                        <div class="col24">
                                            <input type="text" class="form-control" id="CreditReference" formControlName="CreditReference" size="40">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3" *ngIf="uiDisplayFlag.trAccountNumber">
                                        <label class="col24">{{'Account Number' | translate}}</label>
                                        <div class="col8 pr5">
                                            <input type="text" class="form-control" id="AccountNumber" formControlName="AccountNumber" size="9" [attr.maxlength]="9"
                                            fetchDescription table="Account" query="AccountNumber" select="AccountName" field="AccountName" [shouldTrigger]="accNumTrigger">
                                        </div>
                                        <div class="col14 pr5">
                                            <input type="text" class="form-control" id="AccountName" formControlName="AccountName" size="30" [attr.disabled]="true">
                                        </div>
                                        <div class="col2">
                                            <icabs-ellipsis [showCloseButton]="showCloseButton" [childConfigParams]="inputParamsAccountNumber" [contentComponent]="accountSearchComponent"
                                                [showHeader]="showHeader" (ellipsisData)="setAccountNumber($event)" [disabled]="uiDisableFlag.inputParamsAccountNumber"></icabs-ellipsis>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Group Account Number' | translate}}</label>
                                        <div class="col8 pr5">
                                            <input type="text" class="form-control" id="GroupAccountNumber" formControlName="GroupAccountNumber" size="9" [attr.maxlength]="9"
                                                [attr.disabled]="uiDisableFlag.GroupAccountNumber">
                                        </div>
                                        <div class="col16">
                                            <input type="text" class="form-control" id="GroupName" formControlName="GroupName" size="30" [attr.disabled]="uiDisableFlag.GroupAccountNumber">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Group Account Price Group' | translate}}</label>
                                        <div class="col8 pr5">
                                            <input type="text" class="form-control" id="GroupAccountPriceGroupID" formControlName="GroupAccountPriceGroupID" size="2"
                                                [attr.maxlength]="2" [attr.disabled]="uiDisableFlag.GroupAccountPriceGroupID">
                                        </div>
                                        <div class="col16">
                                            <input type="text" class="form-control" id="GroupAccountPriceGroupDesc" formControlName="GroupAccountPriceGroupDesc" size="40"
                                                [attr.maxlength]="40" [attr.disabled]="uiDisableFlag.GroupAccountPriceGroupID">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Company Registration Number' | translate}}</label>
                                        <div class="col24">
                                            <input type="text" class="form-control" id="CompanyRegistrationNumber" formControlName="CompanyRegistrationNumber" size="20"
                                                [attr.maxlength]="20">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Company VAT Number' | translate}}
                                            <span class="mandatory" *ngIf="tabValidationObj.SpecialInstructionsTab.CompanyVATNumber.required">*</span>
                                        </label>
                                        <div class="col24">
                                            <input type="text" class="form-control" id="CompanyVATNumber" formControlName="CompanyVATNumber" size="20" [attr.maxlength]="20"
                                                [ngClass]="{'red-bdr': !tabValidationObj.SpecialInstructionsTab.CompanyVATNumber.isValid}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3" *ngIf="uiDisplayFlag.trNegotiatingBranch">
                                        <label class="col24">{{'Negotiating Branch' | translate}}</label>
                                        <div class="col8 pr5">
                                            <input type="text" class="form-control" id="NegBranchNumber" formControlName="NegBranchNumber" size="6" [attr.maxlength]="6"
                                                [attr.disabled]="uiDisableFlag.NegBranchNumber">
                                        </div>
                                        <div class="col16">
                                            <input type="text" class="form-control" id="BranchName" formControlName="BranchName" size="35" [attr.maxlength]="35" [attr.disabled]="uiDisableFlag.NegBranchNumber">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Negotiating Employee' | translate}}</label>
                                        <div class="col8 pr5">
                                            <input type="text" class="form-control" id="ContractSalesEmployee" formControlName="ContractSalesEmployee" size="6" [attr.maxlength]="6">
                                        </div>
                                        <div class="col14 pr5">
                                            <input type="text" class="form-control" id="SalesEmployeeSurname" formControlName="SalesEmployeeSurname" size="35" [attr.maxlength]="35"
                                                [attr.disabled]="true">
                                        </div>
                                        <div class="col2">
                                            <icabs-ellipsis [disabled]="ellipsisConfig.employee.disabled" [showCloseButton]="ellipsisConfig.employee.showCloseButton"
                                                [showHeader]="ellipsisConfig.employee.showHeader" [childConfigParams]="ellipsisConfig.employee"
                                                [contentComponent]="ellipsisConfig.employee.component" (ellipsisData)="employeeEllipseDataReceive($event)"></icabs-ellipsis>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3 mt15">
                                        <input class="form-control" id="EmailInd" formControlName="EmailInd" size="2" [attr.maxlength]="2" type="checkbox" value=""
                                            (ngModelChange)="changeMode('updateMode', true)">
                                        <label for="EmailInd">{{'Email Notification' | translate}}</label>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-2 mt15">
                                        <input class="form-control" id="LetterInd" formControlName="LetterInd" type="checkbox" value="">
                                        <label for="LetterInd">{{'Letter Notification' | translate}}</label>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Price Variation Reason' | translate}}</label>
                                        <div class="col24">
                                            <input type="text" class="form-control" id="VarianceText" formControlName="VarianceText" size="40" [attr.maxlength]="500">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- details completed -->
                        <hr class="mt15 mb15">
                    </div>
                </div>
            </div>
        </section>
        <footer class="screen-footer">
            <div class="row">
                <div class="col-sm-6">
                    <input type="button" class="btn btn-primary mr10" value="{{'Save' | translate}}" (click)="saveFormData()" [attr.disabled]="uiDisableFlag.isSave">
                    <input type="button" class="btn btn-secondary" value="{{'Cancel' | translate}}" (click)="cancelForm()" [attr.disabled]="uiDisableFlag.isCancel">
                </div>
                <div class="col-sm-3 pull-right">
                    <select class="form-control" [(ngModel)]="menu" (change)="menuOnchange()" [ngModelOptions]="{standalone: true}">
                        <option selected="selected" value=""> {{'Options' | translate}} </option>
                        <option value="Premises"> {{'Premises' | translate}} </option>
                    </select>
                </div>
            </div>
        </footer>
        <input type="checkbox" formControlName="ReferenceRequired" style="display:none">
        <input type="checkbox" formControlName="MandateRequired" style="display:none">
        <input type="hidden" formControlName="ClientTypeDescription" />
        <input type="hidden" formControlName="PaymentTypeCodeDefault" />
        <input type="hidden" formControlName="PaymentTypeDescDefault" />
        <input type="hidden" formControlName="ClientTypeSalutationInd" />
        <input type="hidden" formControlName="ClientTypeLabel1" />
        <input type="hidden" formControlName="ClientTypeLabel2" />
        <input type="hidden" formControlName="ClientTypeCompanyNoInd" />
        <input type="hidden" formControlName="ClientTypePrefixText" />
        <input type="hidden" formControlName="ClientTypeSuffixText" />
        <input type="hidden" formControlName="DefaultSalutationName" />
        <input type="hidden" formControlName="PipelineAmendMode" />
        <input type="hidden" formControlName="CurrentContractType" />
        <input type="hidden" formControlName="SalutationName" />
    </form>
</div>
<icabs-spinner [isRunning]="pageisLoading"></icabs-spinner>
<icabs-spinner [isRunning]="isRequesting"></icabs-spinner>
<icabs-prompt-modal #promptConfirmModal="child" [(showHeader)]="showPromptMessageHeader" [title]="promptConfirmTitle" [content]="promptConfirmContent"
    (saveEmit)="promptConfirm($event)" (cancelEmit)="promptCancel($event)"></icabs-prompt-modal>
<icabs-modal #messageModal="child" [(showHeader)]="showMessageHeader" (modalClose)="messageModalClose()"></icabs-modal>