<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="EmployeeCode">{{ 'Employee' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col6 pr5">
                        <input id="EmployeeCode" class="form-control" eTypeCode formControlName="EmployeeCode" type="text" size="6" [attr.maxlength]="6"
                            (change)="employeeCodeOnChange()">
                    </div>
                    <div class="col16 pr5">
                        <input id="EmployeeSurname" class="form-control" formControlName="EmployeeSurname" type="text" size="50" [attr.maxlength]="40"
                            eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsisParams.Employee.childConfigParams" [contentComponent]="ellipsisParams.Employee.contentComponent"
                            (ellipsisData)="onEllipsisDataReceived('Employee', $event)" [modalConfig]="ellipsisParams.common.modalConfig"
                            [disabled]="ellipsisParams.Employee.isDisabled" [showCloseButton]="ellipsisParams.Employee.isShowCloseButton"
                            [showHeader]="ellipsisParams.Employee.isShowHeader"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" for="AdjustmentNumber">{{ 'Adjustment Number' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col12">
                        <input id="AdjustmentNumber" class="form-control" formControlName="AdjustmentNumber" type="text" size="6" [attr.maxlength]="6"
                            (change)="adjustmentNumberOnChange()" eTypeAutoNumber>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" for="BranchNumber">{{ 'Branch Number' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col12">
                        <icabs-branchsearch #branchSearchDropDown [isDisabled]="isBranchSearchDisabled" [inputParams]="inputParamsBranchSearch" (receivedbranchsearch)="onBranchDataReceived($event)"
                            [active]="branchNumberSelected" [isRequired]="true" [isTriggerValidate]="isBranchNumberValidate"></icabs-branchsearch>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" for="AdjustmentDate">{{ 'Effective Date' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col12">
                        <icabs-datepicker [isDisabled]="datePickerConfig.AdjustmentDate.isDisabled" [isRequired]="datePickerConfig.AdjustmentDate.isRequired"
                            [isDirectiveBased]="false" formControlName="AdjustmentDate" (onChange)="onSelectedDateValue($event)"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" for="AdjustmentValue">{{ 'Adjustment Value' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col12">
                        <input id="AdjustmentValue" class="form-control" eTypeCurrency formControlName="AdjustmentValue" type="text" size="10" [attr.maxlength]="10">
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="isAdjustmentTimeVisible">
                <div class="col-sm-3">
                    <label class="col24" for="AdjustmentTime">{{ 'Adjustment Time' | translate}} </label>
                    <div class="col12">
                        <input id="AdjustmentTime" class="form-control" eTypeTime formControlName="AdjustmentTime" type="text" size="5" [attr.maxlength]="5">
                    </div>
                </div>
            </div>
            <div class="row mt10" *ngIf="isAdjustmentTimeNegVisible">
                <div class="col-sm-3">
                    <div class="col24">
                        <input type="checkbox" id="AdjustmentTimeNeg" formControlName='AdjustmentTimeNeg' class="form-control" eTypeCheckBox>
                        <label class="col22" for="AdjustmentTimeNeg">{{' Select If Negative ' | translate}}</label>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" for="AdjustmentText">{{'Adjustment Reason' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col24">
                        <textarea id="AdjustmentText" formControlName='AdjustmentText' [attr.maxlength]="100" rows="2" cols="50" eTypeTextFree></textarea>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <footer class="screen-footer">
        <div class="row mt15">
            <div class="col-sm-6">
                <input type="submit" class="btn btn-additional mr5" (click)="addMode()" value="{{'Add' | translate}}" [disabled]="isbtnAdd">
                <input type="submit" class="btn btn-primary mr5" (click)="showSaveConfirm()" value="{{'Save' | translate}}" [disabled]="isbtnSave">
                <input type="button" class="btn btn-additional mr5" (click)="showDeleteConfirm()" value="{{'Delete' | translate}}" [disabled]="isbtnDelete">
                <input type="button" class="btn btn-secondary" (click)="onCancel()" value="{{'Cancel' | translate}}" [disabled]="isbtnCancel">
            </div>
        </div>
    </footer>
</section>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>