<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{this['pageTitle']|translate}}
                </h1>
            </div>
        </div>
    </header>

    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4" *ngIf="pageMode !== 'eModeAdd'">
                    <label class="col24">{{'Team Code' |translate}}<span class="mandatory">*</span></label>
                    <div class="col20 pr5">
                        <select id="TeamID" class="form-control" formControlName="TeamID" (change)="onTeamSelect()">
                            <option *ngFor="let item of teamCodeValues" value="{{item.TeamID}}">
                                {{ item.TeamID }} - {{ item.TeamSystemName}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-4" *ngIf="pageMode === 'eModeAdd'">
                    <label class="col20">{{'Team Code' |translate}}<span class="mandatory">*</span></label>
                    <div class="col20 pr5">
                        <input type="text" id="TeamID" formControlName="TeamID" size="12" maxlength="12"
                            class="form-control" required eTypeText>
                    </div>
                </div>

                <div class="col-sm-4">
                    <label class="col20">{{'Team System Name' |translate}}<span class="mandatory">*</span></label>
                    <div class="col20 pr5">
                        <input type="text" id="TeamSystemName" formControlName="TeamSystemName" size="30" maxlength="30"
                            class="form-control" eTypeText>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="col20 mt20">
                        <input type="checkbox" class="form-control" id="SystemDefaultTeamInd"
                            formControlName="SystemDefaultTeamInd">
                        <label for="SystemDefaultTeamInd">{{'System Default' | translate}}</label>
                    </div>
                </div>
            </div>

            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col20">{{'Team Closure Security Level' |translate}} </label>
                    <div class="col20 pr5">
                        <select id="TeamClosureSecurityLevel" class="form-control"
                            formControlName="TeamClosureSecurityLevel">
                            <option *ngFor="let item of TeamClosureValues" value="{{item.value}}">
                                {{ item.text | translate }}</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-5">
                    <label class="col20">{{'When An Employee Attempts To Keep Ticket Ownership' |translate}} </label>
                    <div class="col16 pr5">
                        <select id="AssignOwnerToTeamAdministrator" class="form-control"
                            formControlName="AssignOwnerToTeamAdministrator">
                            <option *ngFor="let item of OwnershipChangeValues" value="{{item.value}}">
                                {{ item.text | translate }}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row mt5">
                <div class="col-sm-2">
                    <div class="col20 mt20">
                        <input type="checkbox" class="form-control" id="KeyAccountInd" formControlName="KeyAccountInd">
                        <label for="KeyAccountInd">{{'Key Accounts Team' | translate}}</label>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="col20 mt20">
                        <input type="checkbox" class="form-control" id="ResidentialTeamInd"
                            formControlName="ResidentialTeamInd">
                        <label for="ResidentialTeamInd">{{'Residential Team' | translate}}</label>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="col20 mt20">
                        <input type="checkbox" class="form-control" id="ComplaintsTeamInd"
                            formControlName="ComplaintsTeamInd">
                        <label for="ComplaintsTeamInd">{{'Complaints Team' | translate}}</label>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="col20 mt20">
                        <input type="checkbox" class="form-control" id="LedgerTeamInd" formControlName="LedgerTeamInd">
                        <label for="LedgerTeamInd">{{'Ledger Team' | translate}}</label>
                    </div>
                </div>
            </div>

            <div class="row mt5">
                <div class="col-sm-4">
                    <div class="col22 mt20">
                        <input type="checkbox" class="form-control" id="AllowOtherTeamOwnerCloseInd"
                            formControlName="AllowOtherTeamOwnerCloseInd">
                        <label
                            for="AllowOtherTeamOwnerCloseInd">{{'Allow Assignee To Close (Ignoring Team Membership)' | translate}}</label>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="col20 mt20">
                        <input type="checkbox" class="form-control" id="AllowOtherTeamAssigneeCloseInd"
                            formControlName="AllowOtherTeamAssigneeCloseInd">
                        <label
                            for="AllowOtherTeamAssigneeCloseInd">{{'Allow Owner To Close (Ignoring Team Membership)' | translate}}</label>
                    </div>
                </div>
            </div>

            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col20">{{'From Email Address' |translate}} </label>
                    <div class="col20 pr5">
                        <input type="email" id="FromEmailAddress" formControlName="FromEmailAddress" size="50"
                            maxlength="75" class="form-control">
                    </div>
                </div>

                <div class="col-sm-4">
                    <label class="col20">{{'Team Telephone' |translate}} </label>
                    <div class="col20 pr5">
                        <input type="tel" id="TeamTelephone" formControlName="TeamTelephone" size="20" maxlength="20"
                            class="form-control">
                    </div>
                </div>
            </div>
        </section>
    </form>

    <hr class="mt15 mb15">
    <footer class="screen-footer">
        <div class="row mt10">
            <div class="col-sm-8">
                <input type="button" id="add" class="btn btn-additional mr20" value="{{ 'Add' | translate }}"
                    (click)="onAddClick()" *ngIf="pageMode !== 'eModeAdd'">
                <input type="button" id="save" class="btn btn-primary mr20" value="{{ 'Save' | translate }}"
                    (click)="onSaveClick()" [disabled]="isDisabled">
                <input type="button" id="cancel" class="btn btn-secondary mr20" value="{{ 'Cancel' | translate }}"
                    (click)="onCancelClick()" [disabled]="isDisabled">
                <input type="button" id="delete" class="btn btn-additional mr20" value="{{ 'Delete' | translate }}"
                    (click)="onDelete()" *ngIf="pageMode !== 'eModeAdd'" [disabled]="isDisabled">
            </div>
            <div class="col-sm-4">
                <input type="button" class="btn btn-primary mr10" value="{{ 'Team Members' | translate }}"
                    (click)="selectTeamMembers()">
            </div>
        </div>
    </footer>
</section>

<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-prompt-modal #promptModal="child" [showHeader]="true" [content]="promptConfirmContent" [showCloseButton]="true"
    [showCancelBtn]="true" [disableEscape]="true" (saveEmit)="confirmed($event)">
</icabs-prompt-modal>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>