<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <div class="row mt5">
            <div class="col-sm-4">
                <div class="col24" *ngIf="pageType ==='PremiseSuspend'">
                    <label class="col24"> {{'Group Account' | translate}} </label>
                    <div class="col6 pr5">
                        <input type="text" id="GroupAccountNumber" formControlName="GroupAccountNumber"
                            class="form-control" (change)='onChangeControls("GroupAccount")' size="5" maxlength="5"
                            eTypeInteger>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" id="GroupName" size="40" [attr.maxlength]="40" class="form-control"
                            formControlName="GroupName">
                    </div>
                    <div class="col2 pl5">
                        <icabs-ellipsis [childConfigParams]="ellipsis.commonProperties.childConfigParams"
                            [showCloseButton]="ellipsis.commonProperties.showCloseButton"
                            [contentComponent]="ellipsis.groupAccount.contentComponent"
                            (ellipsisData)="onEllipsisDataRecieved($event, 'GroupAccount')"
                            [showHeader]="ellipsis.commonProperties.showHeader"
                            [disabled]="this['pageParams']['groupAccountEllipsis']">
                        </icabs-ellipsis>
                    </div>
                </div>
                <div class="col24">
                    <label class="col24">{{ 'Account Number' | translate}}<span
                            [ngClass]="!this['pageParams'].isMandatory ? 'hidden' : ''"
                            class="mandatory">*</span></label>
                    <div class="col6 pr5">
                        <input id="AccountNumber" formControlName="AccountNumber" class="form-control"
                            (change)='onChangeControls("Account")' size="8" [attr.maxlength]="9" eTypeCode icabsZeroPad>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" id="AccountName" size="40" [attr.maxlength]="40" class="form-control"
                            formControlName="AccountName">
                    </div>
                    <div class="col2 pl5">
                        <icabs-ellipsis [childConfigParams]="ellipsis.account.childConfigParams"
                            [showCloseButton]="ellipsis.commonProperties.showCloseButton"
                            [contentComponent]="ellipsis.account.contentComponent"
                            (ellipsisData)="onEllipsisDataRecieved($event, 'Account')"
                            [showHeader]="ellipsis.commonProperties.showHeader" [disabled]="ellipsis.account.disabled">
                        </icabs-ellipsis>
                    </div>
                </div>
                <div class="col24" *ngIf="pageType ==='PremiseSuspend'">
                    <label class="col24">{{ 'Suspension Start Date' | translate }}<span
                            [ngClass]="!isSuspendDatesRequired ? 'hidden' : ''" class="mandatory">*</span></label>
                    <div class="col8">
                        <icabs-datepicker id="SuspensionStartDate" formControlName="SuspensionStartDate"
                            [isDirectiveBased]="false">
                        </icabs-datepicker>
                    </div>
                    <label class="col24">{{'Suspension Reason' | translate}}<span
                            [ngClass]="!isSuspendDatesRequired ? 'hidden' : ''" class="mandatory">*</span></label>
                    <div class="col24 pr5">
                        <icabs-common-dropdown #suspendReasonSearch [inputParams]="suspendReasonSearchInputParams"
                            [displayFields]="suspendReasonSearchColumns"
                            (onDataReceived)="suspendReasonSearchDataRecieved($event)"
                            [isDisabled]="isSuspendReasonSearchDisabled"
                            [isActive]="this['pageParams'].suspendReasonSelected" [isRequired]="isSuspendDatesRequired"
                            [isTriggerValidate]="isSuspendDatesRequired">
                        </icabs-common-dropdown>
                    </div>
                </div>
                <div class="col24 mt20" *ngIf="pageType ==='PremiseSuspend'">
                    <div class="col24">
                        <input type="checkbox" id="ResetAnnivDateChk" formControlName="ResetAnnivDateChk"
                            class="form-control" (change)="onChangeControls('ResetAnnivDateChk')">
                        <label class="col24"
                            for="ResetAnnivDateChk">{{ 'Reset Visit Anniversary Date' | translate }}</label>
                    </div>
                </div>
                <div class="col24" *ngIf="pageType ==='PremiseSuspend'">
                    <div class="col8 mt10">
                        <icabs-datepicker id="ResetAnnivDate" formControlName="ResetAnnivDate"
                            [isDirectiveBased]="false">
                        </icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col24">
                    <label class="col24"> {{'Contract Number' | translate}} </label>
                    <div class="col6 pr5">
                        <input id="ContractNumber" formControlName="ContractNumber" class="form-control"
                            (change)='onChangeControls("Contract")' size="8" [attr.maxlength]="8" eTypeCode
                            icabsZeroPad>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" id="ContractName" size="40" [attr.maxlength]="40" class="form-control"
                            formControlName="ContractName">
                    </div>
                    <icabs-ellipsis [showCloseButton]="ellipsis.commonProperties.showCloseButton"
                        [childConfigParams]="ellipsis.contract.childConfigParams"
                        [contentComponent]="contractSearchComponent"
                        (ellipsisData)="onEllipsisDataRecieved($event, 'Contract')"
                        [showHeader]="ellipsis.commonProperties.showHeader" [disabled]="isContractEllipsisDisabled">
                    </icabs-ellipsis>
                </div>
                <div class="col24">
                    <label class="col24">{{ 'Premises Number' | translate}}</label>
                    <div class="col6 pr5">
                        <input type="text" id="PremiseNumber" formControlName="PremiseNumber" class="form-control"
                            (change)='onChangeControls("Premise")' size="5" maxlength="5" eTypeInteger>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" id="PremiseName" size="40" [attr.maxlength]="40" class="form-control"
                            formControlName="PremiseName">
                    </div>
                    <div class="col2 pl5">
                        <icabs-ellipsis [childConfigParams]="ellipsis.premise.childConfigParams"
                            [showCloseButton]="ellipsis.commonProperties.showCloseButton"
                            [contentComponent]="premiseSearchComponent"
                            (ellipsisData)="onEllipsisDataRecieved($event, 'Premise')"
                            [showHeader]="ellipsis.commonProperties.showHeader" [disabled]="isPremisesEllipsisDisabled">
                        </icabs-ellipsis>
                    </div>
                </div>
                <div class="col24" *ngIf="pageType ==='PremiseSuspend'">
                    <label class="col24">{{ 'Suspension End Date' | translate }}<span
                            [ngClass]="!isSuspendDatesRequired ? 'hidden' : ''" class="mandatory">*</span></label>
                    <div class="col24">
                        <div class="col8">
                            <icabs-datepicker id="SuspensionEndDate" formControlName="SuspensionEndDate"
                                [isDirectiveBased]="false" (onChange)="onChangeControls('SuspensionEndDate')">
                            </icabs-datepicker>
                        </div>
                    </div>
                    <div class="col24 mt20">
                        <div class="col12">
                            <input type="checkbox" id="IssueCredit" formControlName="IssueCredit" class="form-control">
                            <label for="IssueCredit" class="col24">{{ 'Issue Credit' | translate }}</label>
                        </div>
                    </div>
                    <div class="col24 mt20">
                        <div class="col12">
                            <button type="submit" id="CancelSuspension" class="btn btn-primary"
                                (click)="onBtnClick('CancelSuspension')"
                                [disabled]="isSaveDisabled">{{'Cancel Suspension' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" *ngIf="pageType ==='PremiseSuspend'">
                <label class="col24">{{ 'Show' | translate }}</label>
                <div class="col12">
                    <select id="Show" formControlName="Show" class="form-control">
                        <option value="all">{{ 'All' | translate}}</option>
                        <option value="unsuspended">{{ 'Premises with No Suspensions' | translate}}</option>
                        <option value="suspended">{{ 'Premises with Suspensions' | translate}}</option>
                        <option value="PartSuspended">{{ 'Premises Part Suspended' | translate}}</option>
                    </select>
                </div>
                <label class="col24">{{ 'No.of Lines' | translate }}<span class="mandatory">*</span></label>
                <div class="col8">
                    <input type="text" id="Lines" formControlName="Lines" class="form-control" maxlength="2">
                </div>
                <label class="col24">{{ 'Only Suspend Product Codes' | translate }}</label>
                <div class="col12">
                    <input type="text" id="Lines" formControlName="OnlyWithProductCode" class="form-control"
                        (change)="onChangeControls('OnlyWithProductCode')">
                </div>
                <div class="col2 pl5">
                    <icabs-ellipsis [childConfigParams]="ellipsis.product.childParams"
                        [contentComponent]="ellipsis.product.component" [showHeader]="true" [showCloseButton]="true"
                        (ellipsisData)="onEllipsisDataRecieved($event, 'Product')"
                        [disabled]="isOnlyWithProductEllipsisDisabled">
                    </icabs-ellipsis>
                </div>
                <label class="col24">{{ 'Excluding Product Codes' | translate }}</label>
                <div class="col12">
                    <input type="text" id="Lines" formControlName="ExcludingProductCode" class="form-control"
                        (change)="onChangeControls('ExcludingProductCode')">
                </div>
                <div class="col2 pl5">
                    <icabs-ellipsis [childConfigParams]="ellipsis.excludeProduct.childParams"
                        [contentComponent]="ellipsis.excludeProduct.component" [showHeader]="true"
                        [showCloseButton]="true" (ellipsisData)="onEllipsisDataRecieved($event, 'ExcludingProductCode')"
                        [disabled]="isExcludingProductEllipsisDisabled">
                    </icabs-ellipsis>
                </div>
                <div class="col24 mt10">
                    <button id="SelectAll" class="btn btn-primary" (click)="onBtnClick('SelectAll')"
                        [disabled]="isSelectAllDisabled">{{'Select All' | translate}}</button>
                </div>
                <div class="col24 mt10">
                    <button id="ClearAll" class="btn btn-primary" (click)="onBtnClick('ClearAll')"
                        [disabled]="isSelectAllDisabled">{{'Clear All' | translate}}</button>
                </div>
            </div>
        </div>
        <div class="row mt5" *ngIf="pageType ==='PremiseSuspend'">
            <div class="col-sm-4">
                <div class="col6">
                    <button id="Save" class="btn btn-primary" (click)="onBtnClick('Save')"
                        [disabled]="isSaveDisabled">{{'Save' | translate}}</button>
                </div>
                <div class="col6">
                    <button id="Cancel" class="btn btn-primary" (click)="onBtnClick('Cancel')"
                        [disabled]="isSaveDisabled">{{'Cancel' | translate}}</button>
                </div>
            </div>
        </div>
        <hr class="mt15 mb15">
        <div class="row mt10">
            <div class="col-sm-6">
                <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                <icabs-pagination #riGridPagination [totalItems]="gridConfig.totalItem"
                    [currentPage]="this['pageParams'].gridCurrentPage" [itemsPerPage]="gridConfig.itemsPerPage"
                    (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)"
                    [ngClass]="{hidden: !hasGridData}">
                </icabs-pagination>
            </div>
        </div>
        <div class="row mt10">
            <div class="col-sm-12">
                <icabs-grid-advanced #riGrid (bodyDblClick)="onGridBodyDoubleClick()">
                </icabs-grid-advanced>
            </div>
        </div>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-prompt-modal #promptModal="child" [showHeader]="true" [content]="promptConfirmContent" [showCloseButton]="true"
    [showCancelBtn]="true" [disableEscape]="true" (saveEmit)="confirmed($event)">
</icabs-prompt-modal>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>