<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="ContractNumber">{{ 'Contract Number' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="ContractNumber" eTypeCode formControlName="ContractNumber" size="9" [attr.maxlength]="8">
                    </div>
                    <div class="col16">
                        <input type="text" class="form-control" id="ContractName" eTypeText formControlName="ContractName" size="40" [attr.maxlength]="40">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="PremiseNumber">{{ 'Premises Number' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="PremiseNumber" eTypeInteger formControlName="PremiseNumber" size="9" [attr.maxlength]="8">
                    </div>
                    <div class="col16">
                        <input type="text" class="form-control" id="PremiseName" eTypeText formControlName="PremiseName" size="40" [attr.maxlength]="40">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="ProductCode">{{ 'Product Code' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="ProductCode" eTypeCode formControlName="ProductCode" size="9" [attr.maxlength]="6">
                    </div>
                    <div class="col16">
                        <input type="text" class="form-control" id="ProductDesc" eTypeText formControlName="ProductDesc" size="40" [attr.maxlength]="40">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="PrepCode">{{ 'Prep Code' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="PrepCode" eTypeCode formControlName="PrepCode" size="9" [attr.maxlength]="3"
                            (change)="riExchangeCBORequest()">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" id="PrepDesc" formControlName="PrepDesc" size="40" [attr.maxlength]="40">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #PrepCodeEllipsis [showCloseButton]="ellipsis.PrepCode.isCloseButtonEnabled" [showHeader]="ellipsis.PrepCode.isHeaderEnabled"
                            [childConfigParams]="ellipsis.PrepCode.childparams" [contentComponent]="ellipsis.PrepCode.component"
                            (ellipsisData)="ellipsisRespHandler($event, 'PrepCode')"></icabs-ellipsis>
                    </div>
                </div>
            </div>
        </section>
        <hr class="mt15 mb10">
        <!-- tabs start here -->
        <div class="row mt15">
            <div class="col-xs-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item" id="grdGeneral" [ngClass]="{'active': tab.tab1.active, 'hidden': !tab.tab1.visible}" (click)="riTab.TabFocus(1)">
                        <a class="nav-link" [ngClass]="{'active': tab.tab1.active}">
                            <span>{{ 'General' | translate}}</span>
                        </a>
                    </li>
                    <li class="nav-item" id="grdTreatment" [ngClass]="{'active': tab.tab2.active, 'hidden': !tab.tab2.visible}" (click)="riTab.TabFocus(2)">
                        <a class="nav-link" [ngClass]="{'active': tab.tab2.active}">
                            <span>{{ 'Treatment' | translate}}</span>
                        </a>
                    </li>
                    <li class="nav-item" id="grdConditions" [ngClass]="{'active': tab.tab3.active, 'hidden': !tab.tab3.visible}" (click)="riTab.TabFocus(3)">
                        <a class="nav-link" [ngClass]="{'active': tab.tab3.active}">
                            <span>{{ 'Conditions' | translate}}</span>
                        </a>
                    </li>
                    <li class="nav-item" id="grdNotes" [ngClass]="{'active': tab.tab4.active, 'hidden': !tab.tab4.visible}" (click)="riTab.TabFocus(4)">
                        <a class="nav-link" [ngClass]="{'active': tab.tab4.active}">
                            <span>{{ 'Notes' | translate}}</span>
                        </a>
                    </li>
                    <li class="nav-item" id="grdTargetedPests" [ngClass]="{'active': tab.tab5.active, 'hidden': !tab.tab5.visible}" (click)="riTab.TabFocus(5)">
                        <a class="nav-link" [ngClass]="{'active': tab.tab5.active}">
                            <span>{{ 'Targeted Pests' | translate}}</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <!-- General Tab -->
                    <div class="tab-pane" [ngClass]="{'active': tab.tab1.active, 'hidden': !tab.tab1.visible}">
                        <div id="grdGeneral">
                            <div class="row mt10">
                                <div class="col-sm-3">
                                    <label class="col24" for="MeasureBy">{{ 'Measure By' | translate}}</label>
                                    <div class="col16">
                                        <input type="text" class="form-control" id="MeasureBy" eTypeText formControlName="MeasureBy" size="20" [attr.maxlength]="20">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24" for="PrepVolume">{{ 'Volume' | translate}}
                                        <span class="mandatory">*</span>
                                    </label>
                                    <div class="col16">
                                        <input type="text" class="form-control" id="PrepVolume" eTypeDecimal2 formControlName="PrepVolume" size="10" [attr.maxlength]="10"
                                            (change)="riExchangeCBORequest()">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24" for="PrepValue">{{ 'Prep Value' | translate}}
                                        <span class="mandatory">*</span>
                                    </label>
                                    <div class="col16">
                                        <input type="text" class="form-control" id="PrepValue" eTypeCurrency formControlName="PrepValue" size="10" [attr.maxlength]="10">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24" for="MixRatio">{{ 'Mix Ratio' | translate}}</label>
                                    <div class="col16">
                                        <input type="text" class="form-control" id="MixRatio" eTypeDecimal6 formControlName="MixRatio" size="10" [attr.maxlength]="10">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-4">
                                    <label class="col24" for="EPANumber">{{ 'EPA Number' | translate}}</label>
                                    <div class="col24">
                                        <input type="text" class="form-control" id="EPANumber" eTypeText formControlName="EPANumber" size="60" [attr.maxlength]="50">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-4">
                                    <label class="col24" for="PrepUsedText">{{ 'Text' | translate}}</label>
                                    <div class="col24">
                                        <input type="text" class="form-control" id="PrepUsedText" eTypeText formControlName="PrepUsedText" size="50" [attr.maxlength]="50">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24" for="PrepBatchNumber">{{ 'Batch Number' | translate}}</label>
                                    <div class="col16">
                                        <input type="text" class="form-control" id="PrepBatchNumber" PrepBatchNumber formControlName="PrepBatchNumber" size="30"
                                            [attr.maxlength]="30">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Treatment Tab -->
                    <div class="tab-pane" [ngClass]="{'active': tab.tab2.active, 'hidden': !tab.tab2.visible}">
                        <div id="grdTreatment">
                            <div class="row mt10">
                                <div class="col-sm-3">
                                    <label class="col24" for="AreaCovered">{{ 'Area Covered' | translate}}</label>
                                    <div class="col8">
                                        <input type="text" class="form-control" id="AreaCovered" eTypeDecimal2 formControlName="AreaCovered" size="10" [attr.maxlength]="9">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt10">
                                <div class="col-sm-3">
                                    <label class="col24">{{ 'Area Measurement' | translate}}</label>
                                    <div class="col8 pr5">
                                        <input type="text" class="form-control" id="AreaMeasurementID" eTypeInteger formControlName="AreaMeasurementID" size="10"
                                            [attr.maxlength]="9" (change)="onChangeAreaMeasurementID()">
                                    </div>
                                    <div class="col16">
                                        <input type="text" class="form-control" formControlName="AreaMeasurementDesc" size="30">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt10">
                                <div class="col-sm-3">
                                    <label class="col24">{{ 'Hardware' | translate}}</label>
                                    <div class="col8 pr5">
                                        <input type="text" class="form-control" id="HardwareID" eTypeInteger formControlName="HardwareID" size="10" [attr.maxlength]="9"
                                            (change)="onChangeHardwareID()">
                                    </div>
                                    <div class="col16">
                                        <input type="text" class="form-control" formControlName="HardwareDesc" size="30">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt10">
                                <div class="col-sm-3">
                                    <label class="col24">{{ 'Treatment Method ID' | translate}}</label>
                                    <div class="col8 pr5">
                                        <input type="text" class="form-control" id="TreatmentMethodID" eTypeInteger formControlName="TreatmentMethodID" size="10"
                                            [attr.maxlength]="4" (change)="onChangeTreatmentMethodID()">
                                    </div>
                                    <div class="col16">
                                        <input type="text" class="form-control" formControlName="TreatmentMethodDesc" size="30">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Conditions Tab -->
                    <div class="tab-pane" [ngClass]="{'active': tab.tab3.active, 'hidden': !tab.tab3.visible}">
                        <div id="grdConditions">
                            <div class="row mt10">
                                <div class="col-sm-3">
                                    <label class="col24">{{ 'Sky Condition' | translate}}</label>
                                    <div class="col8 pr5">
                                        <input type="text" class="form-control" id="SkyConditionID" eTypeInteger formControlName="SkyConditionID" size="10" [attr.maxlength]="9"
                                            (change)="onChangeSkyConditionID()">
                                    </div>
                                    <div class="col16">
                                        <input type="text" class="form-control" formControlName="SkyConditionDesc" size="30">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt10">
                                <div class="col-sm-3">
                                    <label class="col24" for="Temperature">{{ 'Temperature' | translate}}</label>
                                    <div class="col8">
                                        <input type="text" class="form-control" id="Temperature" eTypeInteger formControlName="Temperature" size="10" [attr.maxlength]="9">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt10">
                                <div class="col-sm-3">
                                    <label class="col24" for="Humidity">{{ 'Humidity' | translate}}</label>
                                    <div class="col8">
                                        <input type="text" class="form-control" id="Humidity" eTypeInteger formControlName="Humidity" size="10" [attr.maxlength]="9">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt10">
                                <div class="col-sm-3">
                                    <label class="col24">{{ 'Wind Direction' | translate}}</label>
                                    <div class="col8 pr5">
                                        <input type="text" class="form-control" id="WindDirectionID" eTypeInteger formControlName="WindDirectionID" size="10" [attr.maxlength]="9"
                                            (change)="onChangeWindDirectionID()">
                                    </div>
                                    <div class="col16">
                                        <input type="text" class="form-control" formControlName="WindDirectionDesc" size="30">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt10">
                                <div class="col-sm-3">
                                    <label class="col24" for="WindSpeed">{{ 'Wind Speed' | translate}}</label>
                                    <div class="col8">
                                        <input type="text" class="form-control" id="WindSpeed" eTypeInteger formControlName="WindSpeed" size="10" [attr.maxlength]="9">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Notes Tab -->
                    <div class="tab-pane" [ngClass]="{'active': tab.tab4.active, 'hidden': !tab.tab4.visible}">
                        <div id="grdNotes">
                            <div class="row mt10">
                                <div class="col-sm-6">
                                    <textarea class="form-control" id="ApplicationNote" eTypeTextFree formControlName="ApplicationNote" rows="10" cols="" (keydown)="onkeypressApplicationNote($event)"
                                        (blur)="onblurApplicationNote()"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Targeted Pests Tab -->
                    <div class="tab-pane" [ngClass]="{'active': tab.tab5.active, 'hidden': !tab.tab5.visible}">
                        <div id="grdTargetedPests">
                            <div class="row mt2">
                                <div class="col-sm-4 mt20">
                                    <icabs-refresh (click)="refresh()"></icabs-refresh>
                                    <icabs-pagination #riGridPagination [totalItems]="totalRecords" [itemsPerPage]="pageSize" [currentPage]="curPage" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-12">
                                    <icabs-grid-advanced #riGrid (bodyDblClick)="riGridBodyDblClick($event)"></icabs-grid-advanced>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mt15 mb10">
        <footer class="screen-footer">
            <div class="row mt10">
                <div class="col-sm-6">
                    <input type="button" id="dummy" class="btn dummy" value="" (focus)="focusSave($event)">
                    <input type="button" id="save" class="btn btn-primary mr10" value="{{'Save'|translate}}" (click)="save()">
                    <input type="button" id="cancel" class="btn btn-secondary mr10" value="{{'Cancel'|translate}}" (click)="cancel()">
                    <input type="button" id="delete" class="btn btn-additional" value="{{'Delete'|translate}}" *ngIf="pageMode !== 'eModeAdd'"
                        (click)="delete()">
                </div>
            </div>
        </footer>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>