<section class="container-fluid custom-container" [ngClass]="{ hidden: this.uiDisplayObject.pageLoad }">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
    <section class="screen-body">
        <div class="row mt5">
            <div class="col-sm-3">
                <label class="col24" for="BranchNumberText">{{ 'Branch' | translate }}</label>
                <div class="col24">
                    <input type="text" class="form-control" id="BranchNumberText" size="7" maxlength="4" formControlName="BranchNumberText" [attr.disabled]="uiDisabled.BranchNumberText" eTypeInteger>
                </div>
            </div>
            <div class="col-sm-5">
                <label class="col24" for="BranchServiceAreaCode">{{ 'Service Area' | translate }}</label>
                <div class="col6 pr5">
                    <input type="text" class="form-control" id="BranchServiceAreaCode" size="7" maxlength="20" formControlName="BranchServiceAreaCode" (change) = "branchServiceAreaCodeOnChange()" eTypeCode>
                </div>
                <div class="col16 pr5">
                    <input type="text" class="form-control" id="EmployeeSurname" size="45" maxlength="45" formControlName="EmployeeSurname" eTypeText>
                </div>
                <div class="col2">
                    <icabs-ellipsis #branchserviceareacodeEllipsis [autoOpen]="ellipsisConfig.branchServiceAreaCode.autoOpenSearch" [showCloseButton]="ellipsisConfig.branchServiceAreaCode.showCloseButton"
                    [childConfigParams]="ellipsisConfig.branchServiceAreaCode.childConfigParams" [modalConfig]="ellipsisConfig.modalConfig"
                    [contentComponent]="ellipsisConfig.branchServiceAreaCode.contentComponent" (ellipsisData)="branchServiceAreaCodeEllispseReturnData($event, true)"
                    [showHeader]="ellipsisConfig.branchServiceAreaCode.showHeader" [disabled]='ellipsisConfig.branchServiceAreaCode.disabled'>
                </icabs-ellipsis>
                </div>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-3">
                <div class="col12 pr5">
                    <label class="col24" for="StartDate">{{ 'Plan From' | translate }}</label>
                    <div class="col24">
                        <icabs-datepicker id="StartDate" [dt]="startDateDt" [isDisabled]="false" (selectedValue)="startDateSelectedValue($event)"
                         #startDate></icabs-datepicker>
                    </div>
                </div>
                <div class="col12">
                    <label class="col24" for="EndDate">{{ 'To' | translate }}</label>
                    <div class="col24">
                        <icabs-datepicker id="EndDate" [dt]="endDateDt" [isDisabled]="false" (selectedValue)="endDateSelectedValue($event)" #endDate></icabs-datepicker>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mt15 mb15">
        <section [ngClass]="{ hidden: this.uiDisplayObject.cmdShowFilterText }">
        <div class="row mt2">
            <div class="col-sm-3">
                <label class="col24" for="">{{'Neg Branch' | translate }}</label>
                <div class="col24">
                    <icabs-branchsearch #branchDropdown [inputParams]="dropDownConfig.branch.childConfigParams" (receivedbranchsearch)="negBranchNumberOnChange($event)"
                    [active]="pageParams.servicebranchSelected"></icabs-branchsearch>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="this['uiDisplayObject']['tdServicePlanNumber']">
                <label class="col24" for="ServicePlanNumber">{{ 'Service Plan Number' | translate }}</label>
                <div class="col24">
                    <input type="text" class="form-control" id="ServicePlanNumber" size="10" maxlength="10" formControlName="ServicePlanNumber">
                </div>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-3">
                <label class="col24">{{ 'Service Type' | translate }}</label>
                <div class="col24">
                    <icabs-servicetype-search #serviceTypeCodeDropDown [inputParams]="serviceTypeCodeSearchParams" [isDisabled]="disabledControls.ServiceTypeCode"  [active]="this['pageParams'].ServiceTypeCodeSelected"
                    (receivedServiceTypeData)="serviceTypeCodeChange($event)">
                </icabs-servicetype-search>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24" for="VisitTypeFilter">{{ 'Visit Type' | translate }}</label>
                <div class="col16">
                    <select class="form-control" formControlName="VisitTypeFilter">
                        <option *ngFor="let item of pageParams.visitTypeFilterDropdownValues" [value]="item.value">
                            {{item.text | translate}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-3">
                <label class="col24" for="ContractTypeFilter">{{ 'Contract Type' | translate }}</label>
                <div class="col16">
                <select class="form-control" formControlName="ContractTypeFilter">
                    <option *ngFor="let item of pageParams.contractTypeDropdownValues" [value]="item.value">
                        {{item.text | translate}}
                    </option>
                </select>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24" for="selCustomerIndicationNumber">{{ 'Customer Type' | translate }}</label>
                <div class="col16">
                    <select class="form-control" formControlName="CustomerIndicationNumber">
                        <option [value]="'All'">{{'All' | translate}}</option>
                        <option *ngFor="let item of pageParams.customerIndicationNumberDropdownValues" [value]="item.value">
                            {{item.text | translate}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-3">
                <label class="col24" for="ContractNameSearch">{{ 'Name begins' | translate }}</label>
                <div class="col16">
                    <input type="text" class="form-control" id="ContractNameSearch" size="42" maxlength="40" formControlName="ContractNameSearch" eTypeText>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24" for="ConfirmedStatus">{{ 'Confirmed Status' | translate }}</label>
                <div class="col16">
                    <select class="form-control" formControlName="ConfirmedStatus">
                        <option *ngFor="let item of pageParams.confirmedStatusDropdownValues" [value]="item.value">
                            {{item.text | translate}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-3">
                <label class="col24" for="TownSearch">{{ 'Town' | translate }}</label>
                <div class="col16">
                    <input type="text" class="form-control" id="TownSearch" size="20" maxlength="40" formControlName="TownSearch" eTypeText>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24" for="selBehindStatus">{{ 'Behind Status' | translate }}</label>
                <div class="col16">
                    <select class="form-control" formControlName="BehindStatus">
                        <option *ngFor="let item of pageParams.behindStatusDropdownValues" [value]="item.value">
                            {{item.text | translate}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-3">
                <label class="col24" for="PostCode">{{ 'Postcode' | translate }}</label>
                <div class="col16">
                    <input type="text" class="form-control" id="PostCode" size="20" maxlength="20" formControlName="PostCode">
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24" for="selVisitStatus">{{ 'Visit Status' | translate }}</label>
                <div class="col16">
                    <select class="form-control" formControlName="VisitStatus">
                        <option *ngFor="let item of pageParams.visitStatusDropdownValues" [value]="item.value">
                            {{item.text | translate}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </section>
        <hr class="mt15 mb15">
        <div class="row mt2">
            <div class="col-sm-3">
                <div class="col12 mt20 pr5">
                    <input type="radio" name="ExportReport" id="ExportReport1" formControlName="ExportReport" value="0" [checked]="true">
                    <label for="ExportReport1">{{ 'Schedulling' | translate }}</label>
                </div>
                <div class="col12 mt20 pr5">
                    <input type="radio" name="ExportReport" id="ExportReport2" formControlName="ExportReport" value="1">
                    <label for="ExportReport2">{{ 'Unplanned' | translate }}</label>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="col4 mt20">
                    <input type="button" class="btn btn-primary mr10" value="{{ 'Visit Conflicts' | translate }}" id="cmdVisitConflicts" *ngIf="this['uiDisplayObject']['TechDiaryView']" (click) = "cmdVisitConflictsOnClick()" [attr.disabled]="uiDisabled.cmdVisitConflicts">
                </div>
                <div class="col4 pr5">
                    <label class="col24" for="TotalNoOfCalls">{{ 'Filtered Visits' | translate }}</label>
                    <div class="col24">
                        <input type="text" class="form-control" id="TotalNoOfCalls" maxlength="6" size="6" formControlName="TotalNoOfCalls" eTypeInteger>
                    </div>
                </div>
                <div class="col4 pr5">
                    <label class="col24" for="TotalNoOfExchanges">{{ 'Units' | translate }}</label>
                    <div class="col24">
                        <input type="text" class="form-control" id="TotalNoOfExchanges" maxlength="6" size="6" formControlName="TotalNoOfExchanges" eTypeInteger>
                    </div>
                </div>
                <div class="col4 pr5">
                    <label class="col24" for="TotalTime">{{ 'Time' | translate }}</label>
                    <div class="col24">
                        <input type="text" class="form-control" id="TotalTime" maxlength="6" size="6" formControlName="TotalTime" eTypeText>
                    </div>
                </div>
                <div class="col4 pr5">
                    <label class="col24" for="TotalNettValue">{{ 'Nett Value' | translate }}</label>
                    <div class="col24">
                        <input type="text" class="form-control" id="TotalNettValue" maxlength="23" size="20" formControlName="TotalNettValue" eTypeCurrency>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mt15 mb15">
        <div class="row">
            <div class="col-sm-6">
                <icabs-refresh (click)="refresh()" [disabled] = "isRefreshDisabled"></icabs-refresh>
                <icabs-pagination [ngClass]="isHidePagination ? 'hidden' : ''" [totalItems]="gridParams.totalRecords"
                    [itemsPerPage]="gridParams.itemsPerPage" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
            </div>
        </div>
        <div class="row mt10">
            <div class="col-sm-12">
                <icabs-grid-advanced #riGrid (headerClick)="riGridSort($event)" (TRClick)="tbodyServicePlanningOnClick($event)" (TRDblClick)="tbodyServicePlanningOnDblClick($event)" (bodyColumnBlur)="onCellBlur($event)"></icabs-grid-advanced>
            </div>
        </div>
        <div class="row mt10">
            <div class="col-sm-12 text-left">
                <label class="pr5"></label>
                <div class="inline-block pr10" *ngIf="uiDisplayObject.trNewPlan">
                    <div class="legend inline-block mr5" [style.background-color]="'#FFFFFF'"></div>
                    <label>{{ 'Up To Date' | translate }}</label>
                </div>
                <div class="inline-block pr10" *ngIf="uiDisplayObject.trNewPlan">
                    <div class="legend inline-block mr5" [style.background-color]="'#CCFFCC'"></div>
                    <label>{{ 'Unplanned (Late)' | translate }}</label>
                </div>
                <div class="inline-block pr10" *ngIf="uiDisplayObject.trNewPlan">
                    <div class="legend inline-block mr5" [style.background-color]="'#f4a433'"></div>
                    <label>{{ 'Appointment Confirmed' | translate }}</label>
                </div>
                <div class="inline-block pr10" *ngIf="uiDisplayObject.trNewPlan" [style.display]="'none'">
                    <div class="legend inline-block mr5" [style.background-color]="'#333333'"></div>
                    <label>{{ 'Closed' | translate }}</label>
                </div>
                <div class="inline-block pr10" *ngIf="uiDisplayObject.trAdjustPlan">
                    <div class="legend inline-block mr5" [style.background-color]="'#CCFFCC'"></div>
                    <label>{{ 'Late' | translate }}</label>
                </div>
                <div class="inline-block pr10" *ngIf="uiDisplayObject.trAdjustPlan">
                    <div class="legend inline-block mr5" [style.background-color]="'#FFFFCC'"></div>
                    <label>{{ 'Not Completed' | translate }}</label>
                </div>
                <div class="inline-block pr10" *ngIf="uiDisplayObject.trAdjustPlan">
                    <div class="legend inline-block mr5" [style.background-color]="'#FFFFFF'"></div>
                    <label>{{ 'Visit Done' | translate }}</label>
                </div>
                <div class="inline-block pr10" *ngIf="uiDisplayObject.trAdjustPlan" [style.display]="'none'">
                    <div class="legend inline-block mr5" [style.background-color]="'#333333'"></div>
                    <label>{{ 'Closed' | translate }}</label>
                </div>
            </div>
        </div>
        <footer class="screen-footer">
            <div class="row mt10">
                <div class="col-sm-8">
                    <input type="button" class="btn btn-primary mr10" value="{{ 'Summary' | translate }}" id="cmdSummary" [attr.disabled]="uiDisabled.cmdSummary" (click)="cmdSummaryOnClick()">
                    <input type="button" class="btn btn-primary mr10" value="{{ cmdShowFilterText | translate }}" id="cmdShowFilter" (click)="cmdShowFilterOnClick()">
                    <input type="button" class="btn btn-primary mr10" value="{{ 'Optimise' | translate }}" id="cmdOptimise" (click)="cmdOptimiseOnClick()">
                    <input type="button" class="btn btn-primary mr10" value="{{ 'Exc From Opt' | translate }}" id="cmdExcFromOpt" (click)="cmdExcFromOptOnClick(true)">
                    <input type="button" class="btn btn-primary mr10" value="{{ 'Inc In Opt' | translate }}" id="cmdIncInOpt" (click)="cmdExcFromOptOnClick(false)">
                    <input type="button" class="btn btn-primary mr10" value="{{ 'Tech Diary View' | translate }}" id="cmdTechDiaryView" *ngIf="this['uiDisplayObject']['TechDiaryView']" (click)="cmdTechDiaryViewOnClick()">
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12" *ngIf="uiDisplayObject.BatchProcessInformation">
                    <label class="col24 message-box info-label">{{ batchInformation }}</label>
                </div>
            </div>
        </footer>
    </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>