<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-5">
                    <label class="col24" for="SalesAreaCode">{{ 'Sales Area Code' | translate}}<span class="mandatory">*</span></label>
                    <div class="col4 pr5">
                        <input id="SalesAreaCode" class="form-control" formControlName="SalesAreaCode" type="text" size="7" maxlength="4" eTypeCode>
                    </div>
                    <div class="col18 pr5">
                        <input id="SalesAreaDesc" class="form-control" formControlName="SalesAreaDesc" type="text" size="40" maxlength="40" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="branchServiceAreaSearchParams" [contentComponent]="branchServiceAreaComponent" (ellipsisData)="setBranchServiceArea($event)"
                            [showHeader]="true" [disabled]="this['uiForm'].controls.SalesAreaCode.disabled"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-5">
                    <label class="col24" for="EmployeeCode">{{ 'Employee Code' | translate}}<span class="mandatory">*</span></label>
                    <div class="col4 pr5">
                        <input id="EmployeeCode" class="form-control" formControlName="EmployeeCode" type="text" size="6" maxlength="6" (change)="riExchangeCBORequest()"
                            eTypeCode>
                    </div>
                    <div class="col18 pr5">
                        <input id="EmployeeSurname" class="form-control" formControlName="EmployeeSurname" type="text" size="40" maxlength="40">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showHeader]="true" [childConfigParams]="employeeSearchParams" [contentComponent]="employeeSearchComponent"
                            (ellipsisData)="employeeOnChange($event)" [disabled]="this['uiForm'].controls.EmployeeCode.disabled">
                        </icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <div class="col24">
                        <input type="checkbox" class="form-control" id="LiveSalesArea" formControlName="LiveSalesArea">
                        <label class="col24" for="LiveSalesArea">{{'Live Sales Area'|translate}}<span class="mandatory">*</span></label>
                    </div>
                </div>
            </div>
        </section>
        <hr class="mt15 mb15">
        <footer class="screen-footer">
            <div class="row">
                <div class="col-sm-6">
                    <input type="submit" class="btn btn-primary mr10" formControlName="save" id="save" value="{{'Save' | translate}}" (click)="handleSaveOnClick()">
                    <input type="button" class="btn btn-secondary mr10" formControlName="cancel" id="cancel" value="{{'Cancel' | translate}}"
                        (click)="handleCancelOnClick()">
                    <input type="button" class="btn btn-additional mr10" *ngIf="this['pageParams'].CurrentMode === 'eModeUpdate'" formControlName="delete"
                        id="delete" value="{{'Delete' | translate}}" (click)="handleDeleteOnClick()">
                </div>
                <div class="col-sm-offset-4 col-sm-2">
                    <div class="col24">
                        <select class="form-control" formControlName="menu" id="menu" (change)="menuOnchange()">
                            <option value="Options">{{ 'Options' | translate}}</option>
                            <option value="PostCode">{{ 'Postcode' | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </footer>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>