<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <section class="screen-body" [formGroup]="this['uiForm']">
        <div class="row mt5">
            <div class="col-sm-4">
                <label class="col24" for="ProspectNumber">{{'Prospect Number' | translate }}</label>
                <div class="col6 pr5">
                    <input type="text" class="form-control" formControlName="ProspectNumber" id="ProspectNumber" size="8" eTypeInteger>
                </div>
                <div class="col18">
                    <input type="text" class="form-control" formControlName="ProspectName" id="ProspectName" size="40" eTypeTextFree>
                </div>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-4">
                <label class="col24" for="ProspectTypeDesc">{{'Business Origin' | translate }}</label>
                <div class="col24">
                    <input type="text" class="form-control" formControlName="ProspectTypeDesc" id="ProspectTypeDesc" size="50" eTypeTextFree>
                </div>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-4">
                <label class="col24" for="ProspectStatusCode">{{'Status Code' | translate }}<span class="mandatory">*</span></label>
                <div class="col6 pr5">
                    <input type="text" class="form-control" formControlName="ProspectStatusCode" id="ProspectStatusCode" size="2" [attr.maxlength]="2"
                        (change)="onProspectStatusCodeChange($event)" [icabsDirFocus]="setFocusOnStatusCode" eTypeCode>
                </div>
                <div class="col16 pr5">
                    <input type="text" class="form-control" formControlName="ProspectStatusDesc" id="ProspectStatusDesc" size="40" [attr.maxlength]="40"
                        eTypeTextFree>
                </div>
                <div class="col2">
                    <icabs-ellipsis [contentComponent]="inputParams['prospectStatus']['component']" [childConfigParams]="inputParams['prospectStatus']"
                        (ellipsisData)="onProspectStatusDataReceived($event)" [disabled]="inputParams['prospectStatus']['isDisabled']"
                        [showHeader]="showHeader" [showCloseButton]="showCloseButton"></icabs-ellipsis>
                </div>
            </div>
        </div>
        <div class="row mt2" *ngIf="isTrLostBusiness">
            <div class="col-sm-4">
                <label class="col24" for="LostBusinessCode">{{'Customer Rejection Reason' | translate }}<span class="mandatory">*</span></label>
                <div class="col24">
                    <icabs-lostbusinesslanguagesearch #lostbusinesslanguagesearchDropDown [inputParams]="dropdown.lostBusiness.inputParams" [isRequired]="dropdown.lostBusiness.isRequired"
                        [isDisabled]="dropdown.lostBusiness.isDisabled" [isTriggerValidate]="dropdown.lostBusiness.isTriggerValidate"
                        [active]="activeLostBusinessSearch" (receivedlostbusinesslangsearch)="onLostBusinessLanguageSearch($event)"></icabs-lostbusinesslanguagesearch>
                </div>
            </div>
        </div>
        <div class="row mt2" [ngClass]="{'hidden': !isTrLostBusinessDetail }">
            <div class="col-sm-4">
                <label class="col24" for="LostBusinessDetailCode">{{'Customer Rejection Detail' | translate }}<span class="mandatory">*</span></label>
                <div class="col6 pr5">
                    <input type="text" class="form-control" formControlName="LostBusinessDetailCode" id="LostBusinessDetailCode" size="4" [attr.maxlength]="4"
                        eTypeCode>
                </div>
                <div class="col16 pr5">
                    <input type="text" class="form-control" formControlName="LostBusinessDetailDesc" id="LostBusinessDetailDesc" size="40" [attr.maxlength]="40"
                        eTypeText>
                </div>
                <div class="col2">
                    <icabs-ellipsis [contentComponent]="inputParams['lostBusinessDetail']['component']" [childConfigParams]="inputParams['lostBusinessDetail']"
                        (ellipsisData)="onLostBusinessDetailLangDataReceived($event)" [disabled]="inputParams['lostBusinessDetail']['isDisabled']"
                        [showHeader]="showHeader" [showCloseButton]="showCloseButton"></icabs-ellipsis>
                </div>
            </div>
        </div>
        <div class="row mt2" *ngIf="isTrEstimatedValue">
            <div class="col-sm-4">
                <label class="col24" for="EstimatedValue">{{'Estimated Lost Value' | translate }}</label>
                <div class="col12">
                    <input type="text" class="form-control" formControlName="EstimatedValue" id="EstimatedValue" size="10" eTypeCurrency>
                </div>
            </div>
        </div>
        <div class="row mt2" *ngIf="isTrContractDurationCode">
            <div class="col-sm-4">
                <label class="col24" for="ContractDurationCode">{{'Estimated Duration Code' | translate }}</label>
                <div class="col12" id="ContractDurationCode">
                    <icabs-contractduration #contractDurationDropDown [inputParams]="inputParams.contractDuration" (receivedcontractDuration)="onReceivedContractDuration($event)"
                        [active]="contractDurationDefault"></icabs-contractduration>
                </div>
            </div>
        </div>
        <div class="row mt2" *ngIf="isTrEstimatedExpiryDate">
            <div class="col-sm-4">
                <label class="col24" for="EstimatedExpiryDate">{{'Estimated Expiry Date' | translate }}</label>
                <div class="col12">
                    <icabs-datepicker [isDirectiveBased]="false" id="EstimatedExpiryDate" formControlName="EstimatedExpiryDate" (onChange)="onSelectedDateValue($event)"
                        eTypeDate></icabs-datepicker>
                </div>
            </div>
        </div>
        <div class="row mt10" *ngIf="isTrFollowUpInd">
            <div class="col-sm-4">
                <div class="col24">
                    <input type="checkbox" class="form-control" id="FollowUpInd" formControlName="FollowUpInd" (change)="onFollowUpChange($event)"
                        eTypeCheckbox>
                    <label for="FollowUpInd">{{'Follow Up' | translate }}<span class="mandatory">*</span></label>
                </div>
                <div class="col12 mt5" *ngIf="isTdFollowUpDate">
                    <icabs-datepicker [isDirectiveBased]="false" id="FollowUpDate" formControlName="FollowUpDate" eTypeDate></icabs-datepicker>
                </div>
            </div>
        </div>
        <div class="row mt2" *ngIf="isTrServices">
            <div class="col-sm-4">
                <label class="col24" for="Services">{{'Services' | translate }}</label>
                <div class="col24">
                    <textarea id="Services" formControlName="Services" class="form-control" [attr.maxlength]="500" size="500" eTypeTextFree></textarea>
                </div>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-4">
                <label class="col24" for="HistoryNarrative">{{'Notes' | translate }}</label>
                <div class="col24">
                    <textarea id="HistoryNarrative" formControlName="HistoryNarrative" class="form-control" [attr.maxlength]="500" size="500"
                        eTypeTextFree></textarea>
                </div>
            </div>
        </div>
        <div class="row mt20" *ngIf="isTrEmail">
            <div class="col-sm-4">
                <div class="col24">
                    <input type="checkbox" class="form-control" id="SalesEmailInd" formControlName="SalesEmailInd" eTypeCheckBox>
                    <label for="SalesEmailInd">{{'Email Notification - Sales' | translate }}</label>
                </div>
            </div>
        </div>
        <div class="row mt20" *ngIf="isTrEmail">
            <div class="col-sm-4">
                <div class="col24">
                    <input type="checkbox" class="form-control" id="ManagerEmailInd" formControlName="ManagerEmailInd" eTypeCheckBox>
                    <label for="ManagerEmailInd">{{'Manager' | translate }}</label>
                </div>
            </div>
        </div>
        <div class="row mt2" *ngIf="isTrEmail">
            <div class="col-sm-4">
                <div class="col6 mt20">
                    <input type="checkbox" class="form-control" id="OtherEmailInd" formControlName="OtherEmailInd" (change)="onOtherEmailIndChange($event)"
                        eTypeCheckBox>
                    <label for="OtherEmailInd">{{'Other' | translate }}</label>
                </div>
                <div class="col18" [ngClass]="{'hidden': !isTdOtherEmailAddress}">
                    <label class="col24" for="OtherEmailAddress">{{'Email' | translate }}<span class="mandatory">*</span></label>
                    <input type="text" class="form-control" formControlName="OtherEmailAddress" id="OtherEmailAddress" size="40" [attr.maxlength]="50"
                        eTypeTextFree>
                </div>
            </div>
        </div>
        <hr class="mt15 mb15">
    </section>
    <footer class="screen-footer">
        <div class="row">
            <div class="col-sm-6" *ngIf="isTrStatus">
                <input type="button" class="btn btn-additional mr10" (click)="onStatusClick()" value="{{'Status' | translate}}">
            </div>
            <div class="col-sm-6" *ngIf="isTrSave">
                <input type="button" class="btn btn-primary mr10" (click)="saveData()" value="{{'Save' | translate}}">
                <input type="button" class="btn btn-secondary" (click)="cancelData()" value="{{'Cancel' | translate}}">
            </div>
        </div>
    </footer>
    <icabs-routeaway #routeAwayComponent></icabs-routeaway>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>