<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="col24">
                        <label for="contractNumber">{{ 'Contract Number' | translate }}</label>
                    </div>
                    <div class="col8 pr5">
                        <input id="ContractNumber" #ContractNumber formControlName="ContractNumber"
                            class="form-control padding-left-zero" type="text"
                            (change)="onControlChange('ContractNumber')" [attr.maxlength]="8" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input id="ContractName" #ContractName formControlName="ContractName"
                            class="form-control padding-zero" type="text" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [autoOpen]="false" [showCloseButton]="true"
                            [childConfigParams]="ellipsis.contract.childConfigParams"
                            [contentComponent]="ellipsis.contract.component"
                            (ellipsisData)="onContractDataReceived($event)" [showHeader]="true"
                            [disabled]='isContractDisabled'></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="SpanPremiseNumber">{{ 'Premises Number' | translate }}</label>
                    <div class="col8 pr5">
                        <input id="PremiseNumber" formControlName="PremiseNumber" size="11" maxlength="5"
                            class="form-control" type="text" (change)="onControlChange('PremiseNumber')" eTypeInteger>
                    </div>
                    <div class="col14 pr5">
                        <input id="PremiseName" formControlName="PremiseName" size="40" maxlength="40"
                            class="form-control" type="text" eTypeText>
                    </div>
                    <div class="col2">
                        <div class="col2">
                            <icabs-ellipsis [showHeader]="true"
                                [childConfigParams]="ellipsis.premises.childConfigParams"
                                [contentComponent]="ellipsis.premises.component"
                                (ellipsisData)="onPremiseDataReceived($event)" [disabled]='isPremiseDisabled'>
                            </icabs-ellipsis>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Waste Consignment Note Number' | translate}}</label>
                    <div class="col16">
                        <input type="text" id="WasteConsignmentNoteNumber" size="40"
                            formControlName="WasteConsignmentNoteNumber" class="form-control" eTypeTextFree>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-4">
                    <label for="VisitStatus" class="col24">{{'Visit Status' | translate}}</label>
                    <div class="col16">
                        <select class="form-control" formControlName="VisitStatus" name="VisitStatus">
                            <option *ngFor="let item of visitStatus" [value]="item.value">
                                {{ item.key | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4 mt20">
                    <input type="button" (click)="goWasteConsDetail()" class="btn btn-primary" id="cmdSubmit"
                        value="{{'Add Detail Item'|translate}}">
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row mt10">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="gridConfig.totalItem"
                        [currentPage]="this['pageParams'].gridCurrentPage" [itemsPerPage]="gridConfig.itemsPerPage"
                        (getCurrentPage)="this['commonGrifFunction'].getCurrentPage($event)"
                        [ngClass]="{hidden: !hasGridData}">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (headerClick)="onHeaderClick()"
                        (bodyDblClick)="onGridBodyDoubleClick()" (bodyColumnBlur)="onBodyColumnBlur($event)">
                    </icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
