<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ 'Returned Paperwork Maintenance' | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="ContractNumber">{{ 'Contract Number' | translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="ContractNumber" size="9" maxlength="8" class="form-control" formControlName="ContractNumber" eTypeCode>
                    </div>
                    <div class="col16">
                        <input type="text" id="ContractName" size="35" maxlength="40" class="form-control" formControlName="ContractName" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="PremiseNumber">{{ 'Premises Number' | translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="PremiseNumber" size="9" maxlength="5" class="form-control" formControlName="PremiseNumber" eTypeInteger>
                    </div>
                    <div class="col16">
                        <input type="text" id="PremiseName" size="35" maxlength="40" class="form-control" formControlName="PremiseName" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="ProductCode">{{ 'Product Code' | translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="ProductCode" size="9" maxlength="6" class="form-control" formControlName="ProductCode" eTypeCode>
                    </div>
                    <div class="col16">
                        <input type="text" id="ProductDesc" size="35" maxlength="40" class="form-control" formControlName="ProductDesc" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4 mt10">
                    <input type="checkbox" id="ReturnedPaperworkReceivedIND" size="1" maxlength="1" formControlName="ReturnedPaperworkReceivedIND"
                        class="form-control" (change)="onReturnedPaperworkReceivedINDChange()" eTypeCheckBox>
                        <label class="col24" for="ReturnedPaperworkReceivedIND">{{'Received Paperwork'|translate}}</label>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4 mt10" *ngIf="isReturnedPaperworkReceivedDateVisible">
                    <label class="col24" for="ReturnedPaperworkReceivedDate">{{'Received Date'|translate}}</label>
                    <div class="col8">
                        <icabs-datepicker #ReturnedPaperworkReceivedDate [isDirectiveBased]="false" formControlName="ReturnedPaperworkReceivedDate"
                            (onChange)="onSelectedReceivedDateValue($event)" [isRequired]="datePickerConfig.ReturnedPaperworkReceivedDate.isRequired"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4 mt10" *ngIf="isReturnedPaperworkSatisfactoryINDVisible">
                    <input type="checkbox" id="ReturnedPaperworkSatisfactoryIND" size="1" maxlength="1" formControlName="ReturnedPaperworkSatisfactoryIND"
                        class="form-control" (change)="onReturnedPaperworkSatisfactoryINDChange()" eTypeCheckBox>
                        <label class="col24" for="ReturnedPaperworkSatisfactoryIND">{{'Satisfactory Received'|translate}}</label>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4 mt10" *ngIf="isReturnedPaperworkRejectedDateVisible">
                    <label class="col24" for="ReturnedPaperworkRejectedDate">{{'Rejected Date'|translate}}</label>
                    <div class="col8">
                        <icabs-datepicker #ReturnedPaperworkRejectedDate [isDirectiveBased]="false" formControlName="ReturnedPaperworkRejectedDate"
                            (onChange)="onSelectedRejectedDateValue($event)"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4" *ngIf="isReturnedPaperworkUserCodeVisible">
                    <label class="col24" for="ReturnedPaperworkUserCode">{{'User Code'|translate}}</label>
                    <div class="col8">
                        <input type="text" id="ReturnedPaperworkUserCode" size="12" maxlength="12" formControlName="ReturnedPaperworkUserCode" class="form-control"
                            eTypeCode>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="ReturnedPaperworkNotes">{{'Notes'|translate}}</label>
                    <textarea id="ReturnedPaperworkNotes" cols="50" style="HEIGHT:200px" maxlength="200" size="200" formControlName="ReturnedPaperworkNotes"
                        class="form-control" eTypeTextFree></textarea>
                </div>
            </div>
            <hr class="mt15 mb15">
        </section>
    </form>
    <footer class="screen-footer">
        <div class="row">
            <div class="col-sm-12">
                <input type="submit" class="btn btn-primary mr5" (click)="showSaveConfirm()" value="{{'Save' | translate}}">
                <input type="button" class="btn btn-secondary" (click)="onCancel()" value="{{'Cancel' | translate}}">
            </div>
        </div>
    </footer>
</section>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>