<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ 'Debrief' | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-5">
                    <label class="col24" for="BranchServiceAreaCode"> {{ 'Service Area' | translate }} </label>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" formControlName="BranchServiceAreaCode" id="BranchServiceAreaCode" size="10" eTypeCode>
                    </div>
                    <div class="col18">
                        <input type="text" class="form-control" formControlName="BranchServiceAreaDesc" id="BranchServiceAreaDesc" size="30">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24" for="DaysWorkNumber"> {{ 'Work Days (excl. weekends)' | translate }} </label>
                    <div class="col16">
                        <input type="text" class="form-control" formControlName="DaysWorkNumber" id="DaysWorkNumber" size="6" eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-5">
                    <label class="col24" for="EmployeeCode"> {{ 'Employee' | translate }} </label>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" formControlName="EmployeeCode" id="EmployeeCode" size="10" eTypeCode>
                    </div>
                    <div class="col18">
                        <input type="text" class="form-control" formControlName="EmployeeSurname" id="EmployeeSurname" size="30">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24" for="DebriefUserCode"> {{ 'Debrief By User' | translate }} </label>
                    <div class="col24">
                        <input type="text" class="form-control" formControlName="DebriefUserCode" id="DebriefUserCode" size="20">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-5">
                    <label class="col24" for="DebriefNumber"> {{ 'Debrief Number' | translate }} </label>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" formControlName="DebriefNumber" id="DebriefNumber" size="10" eTypeInteger>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24"> {{ 'Debrief Type' | translate }} </label>
                    <select id="DebriefTypeCode" formControlName="DebriefTypeCode" class="form-control">
                        <option value="1">{{'With Driver' | translate}}</option>
                        <option value="2">{{'Driver Over Phone' | translate}}</option>
                        <option value="3">{{'Without Driver' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-5">
                    <div class="col6">
                        <label class="col24" for="DebriefFromDate"> {{ 'Start Date' | translate }} </label>
                        <div class="col24 pr5">
                            <input type="text" class="form-control" formControlName="DebriefFromDate" id="DebriefFromDate" size="10" eTypeDate>
                        </div>
                    </div>
                    <div class="col6">
                        <label class="col24" for="DebriefToDate"> {{ 'End Date' | translate }} </label>
                        <div class="col24 pr5">
                            <input type="text" class="form-control" formControlName="DebriefToDate" id="DebriefToDate" size="10" eTypeDate>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- tabs start here -->
        <div class="row mt15">
            <div class="col-xs-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item active" id="grdMain" [ngClass]="{'active': uiDisplay.tab.tab1.active}">
                        <a class="nav-link" [ngClass]="{'active': uiDisplay.tab.tab1.active}" (click)="renderTab(1)">
                            <span>{{ 'Main' | translate }}</span>
                        </a>
                    </li>
                    <li class="nav-item" id="grdPlans" [ngClass]="{'active': uiDisplay.tab.tab2.active}">
                        <a class="nav-link" [ngClass]="{'active': uiDisplay.tab.tab2.active}" (click)="renderTab(2)">
                            <span>{{ 'Plans' | translate }}</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <!-- Main Tab -->
                    <div class="tab-pane" [ngClass]="{'active': uiDisplay.tab.tab1.active}">
                        <div id="grdMain">
                            <div class="row mt10">
                                <div class="col-sm-3">
                                    <strong> {{ 'visits' | translate }} </strong>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <div class="col8">
                                        <label class="col24" for="PlannedVisitsNumber"> {{ 'Planned' | translate }} </label>
                                        <div class="col24 pr5">
                                            <input type="text" class="form-control" formControlName="PlannedVisitsNumber" id="PlannedVisitsNumber" size="10" eTypeInteger>
                                        </div>
                                    </div>
                                    <div class="col8">
                                        <label class="col24" for="CompletedVisitsNumber"> {{ 'Completed' | translate }} </label>
                                        <div class="col24 pr5">
                                            <input type="text" class="form-control" formControlName="CompletedVisitsNumber" id="CompletedVisitsNumber" size="10" eTypeInteger>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <div class="col8">
                                        <label class="col24" for="ManualVisitsNumber"> {{ 'Manual' | translate }} </label>
                                        <div class="col24 pr5">
                                            <input type="text" class="form-control" formControlName="ManualVisitsNumber" id="ManualVisitsNumber" size="10" eTypeInteger>
                                        </div>
                                    </div>
                                    <div class="col8">
                                        <label class="col24" for="MissedVisitsNumber"> {{ 'Missed' | translate }} </label>
                                        <div class="col24 pr5">
                                            <input type="text" class="form-control" formControlName="MissedVisitsNumber" id="MissedVisitsNumber" size="10" eTypeInteger>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <div class="col8">
                                        <label class="col24" for="UnactionedVisitsNumber"> {{ 'Unactioned' | translate }} </label>
                                        <div class="col24 pr5">
                                            <input type="text" class="form-control" formControlName="UnactionedVisitsNumber" id="UnactionedVisitsNumber" size="10" eTypeInteger>
                                        </div>
                                    </div>
                                    <div class="col8">
                                        <label class="col24" for="AddedVisitsNumber"> {{ 'Added' | translate }} </label>
                                        <div class="col24 pr5">
                                            <input type="text" class="form-control" formControlName="AddedVisitsNumber" id="AddedVisitsNumber" size="10" eTypeInteger>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <div class="col8">
                                        <label class="col24" for="CancelledVisitsNumber"> {{ 'Cancelled' | translate }} </label>
                                        <div class="col24 pr5">
                                            <input type="text" class="form-control" formControlName="CancelledVisitsNumber" id="CancelledVisitsNumber" size="10" eTypeInteger>
                                        </div>
                                    </div>
                                    <div class="col8">
                                        <label class="col24" for="RejectedVisitsNumber"> {{ 'Rejected' | translate }} </label>
                                        <div class="col24 pr5">
                                            <input type="text" class="form-control" formControlName="RejectedVisitsNumber" id="RejectedVisitsNumber" size="10" eTypeInteger>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="mt15 mb10">
                            <div class="row">
                                <div class="col-sm-3">
                                    <strong>{{ 'Scans' | translate }}</strong>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <div class="col8">
                                        <label class="col24" for="ExpectedScansNumber"> {{ 'Expected' | translate }} </label>
                                        <div class="col24 pr5">
                                            <input type="text" class="form-control" formControlName="ExpectedScansNumber" id="ExpectedScansNumber" size="10" eTypeInteger>
                                        </div>
                                    </div>
                                    <div class="col8">
                                        <label class="col24" for="CapturedScansNumber"> {{ 'Captured' | translate }} </label>
                                        <div class="col24 pr5">
                                            <input type="text" class="form-control" formControlName="CapturedScansNumber" id="CapturedScansNumber" size="10" eTypeInteger>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <div class="col8">
                                        <label class="col24" for="RegisteredScansNumber"> {{ 'Registered' | translate }} </label>
                                        <div class="col24 pr5">
                                            <input type="text" class="form-control" formControlName="RegisteredScansNumber" id="RegisteredScansNumber" size="10" eTypeInteger>
                                        </div>
                                    </div>
                                    <div class="col8">
                                        <label class="col24" for="RejectedScansNumber"> {{ 'No Scan' | translate }} </label>
                                        <div class="col24 pr5">
                                            <input type="text" class="form-control" formControlName="RejectedScansNumber" id="RejectedScansNumber" size="10" eTypeInteger>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="mt15 mb10">
                            <div class="row">
                                <div class="col-sm-3">
                                    <strong>{{ 'Signatures' | translate }}</strong>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <div class="col8">
                                        <label class="col24" for="ExpectedSignaturesNumber"> {{ 'Expected' | translate }} </label>
                                        <div class="col24 pr5">
                                            <input type="text" class="form-control" formControlName="ExpectedSignaturesNumber" id="ExpectedSignaturesNumber" size="10"
                                                eTypeInteger>
                                        </div>
                                    </div>
                                    <div class="col8">
                                        <label class="col24" for="CapturedSignaturesNumber"> {{ 'Captured' | translate }} </label>
                                        <div class="col24 pr5">
                                            <input type="text" class="form-control" formControlName="CapturedSignaturesNumber" id="CapturedSignaturesNumber" size="10"
                                                eTypeInteger>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <div class="col8">
                                        <label class="col24" for="RejectedSignaturesNumber"> {{ 'Rejected' | translate }} </label>
                                        <div class="col24 pr5">
                                            <input type="text" class="form-control" formControlName="RejectedSignaturesNumber" id="RejectedSignaturesNumber" size="10"
                                                eTypeInteger>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="mt15 mb10">
                            <div class="row">
                                <div class="col-sm-3">
                                    <strong>{{ 'Leads/Alerts' | translate }}</strong>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <div class="col8">
                                        <label class="col24" for="LeadsNumber"> {{ 'Leads' | translate }} </label>
                                        <div class="col24 pr5">
                                            <input type="text" class="form-control" formControlName="LeadsNumber" id="LeadsNumber" size="10" eTypeInteger>
                                        </div>
                                    </div>
                                    <div class="col8">
                                        <label class="col24" for="AlertsNumber"> {{ 'Alerts' | translate }} </label>
                                        <div class="col24 pr5">
                                            <input type="text" class="form-control" formControlName="AlertsNumber" id="AlertsNumber" size="10" eTypeInteger>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <div class="col8">
                                        <label class="col24" for="ActionsNumber"> {{ 'Actions' | translate }} </label>
                                        <div class="col24 pr5">
                                            <input type="text" class="form-control" formControlName="ActionsNumber" id="ActionsNumber" size="10" eTypeInteger>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Plans Tab -->
                    <div class="tab-pane" [ngClass]="{'active': uiDisplay.tab.tab2.active}">
                        <div id="grdMain">
                            <div class="row mt10">
                                <div class="col-sm-6">
                                    <icabs-refresh (click)="refresh()"> </icabs-refresh>
                                    <icabs-pagination [totalItems]="totalRecords" [currentPage]="pageCurrent" [itemsPerPage]="10" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                                </div>
                            </div>
                            <div class="row mt10">
                                <div class="col-sm-12">
                                    <icabs-grid-advanced #riGrid id="riGrid" (bodyDblClick)="tbodyGridOnDblClick($event)" (headerClick)="riGridSort($event)"></icabs-grid-advanced>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="screen-footer">
            <div class="row mt10" *ngIf="isUpdateMode">
                <div class="col-sm-6">
                    <input type="button" class="btn btn-primary mr10" value="{{ 'Save' | translate}}" (click)="handleSaveClick()">
                    <input type="button" class="btn btn-secondary mr10" value="{{ 'Cancel' | translate}}" (click)="handleCancelClick()">
                </div>
            </div>
        </footer>
    </form>
</section>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>