<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ 'Service Area Allocation' | translate }} </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Service Area'|translate}}</label>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" id="BranchServiceAreaCode" formControlName="BranchServiceAreaCode" size="6" [attr.maxlength]="4"
                            (change)="populateDescriptions()" eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" class="form-control" id="BranchServiceAreaDesc" formControlName="BranchServiceAreaDesc" size="40" [attr.maxlength]="40"
                            eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #branchserviceareacodeEllipsis [showCloseButton]="true" [childConfigParams]="ellipsis.branchServiceAreaCode.childConfigParams"
                            [modalConfig]="ellipsis.branchServiceAreaCode.modalConfig" [contentComponent]="ellipsis.branchServiceAreaCode.contentComponent"
                            (ellipsisData)="onRecieveBranchServiceAreaCode($event)" [showHeader]="true" [disabled]="false">
                        </icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Frequency'|translate}}</label>
                    <div class="col16">
                        <input type="text" class="form-control" id="ServiceVisitFrequency" formControlName="ServiceVisitFrequency" size="10" [attr.maxlength]="6"
                            eTypeInteger>
                    </div>
                </div>
                <div class="col-sm-3" *ngIf="enableVisitCycles">
                    <label class="col24">{{'Visit Gap'|translate}}</label>
                    <div class="col16">
                        <input type="text" class="form-control" id="VisitCycleInWeeks" formControlName="VisitCycleInWeeks" size="10" [attr.maxlength]="6"
                            eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Service Type'|translate}}</label>
                    <div class="col24">
                        <icabs-servicetype-search #serviceTypeSearchDropDown [inputParams]="inputParams" (receivedServiceTypeData)="onreceivedServiceType($event)"></icabs-servicetype-search>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Next Visit From'|translate}}</label>
                    <div class="col16">
                        <icabs-datepicker [isDirectiveBased]="false" formControlName="NextServiceVisitDateFrom"></icabs-datepicker>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'To'|translate}}</label>
                    <div class="col16">
                        <icabs-datepicker [isDirectiveBased]="false" formControlName="NextServiceVisitDateTo"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Product Service Group'|translate}}</label>
                    <div class="col24">
                        <icabs-sbproductservice-groupsearch #productServiceGroupSearchDropDown [inputParams]="inputParams" (receivedProductServiceGroupSearch)="onreceivedProductServiceGroup($event)"></icabs-sbproductservice-groupsearch>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Postcode Begins'|translate}}</label>
                    <div class="col16">
                        <input type="text" class="form-control" id="PostcodeFilter" formControlName="PostcodeFilter" size="10" [attr.maxlength]="8"
                            eTypeCode>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Town'|translate}}</label>
                    <div class="col16">
                        <input type="text" class="form-control" id="TownFilter" formControlName="TownFilter" size="20" [attr.maxlength]="20">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Show'|translate}}</label>
                    <div class="col24">
                        <icabs-dropdown-static #portfolioStatus class="" [inputData]="portfolioStatusOptions" [disabled]="" (onSelect)="onPortfolioStatusChange($event)"></icabs-dropdown-static>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'State'|translate}}</label>
                    <div class="col16">
                        <input type="text" class="form-control" id="StateFilter" formControlName="StateFilter" size="24" [attr.maxlength]="">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Show'|translate}}</label>
                    <div class="col24">
                        <icabs-dropdown-static #contractType class="" [inputData]="contractTypeOptions" [disabled]="" (onSelect)="onContractTypeChange($event)"></icabs-dropdown-static>
                    </div>
                </div>
                <div class="col-sm-4 mt20">
                    <label class="col16 message-box info-label ">{{'Click FIRST PAGE to refresh'|translate}}</label>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-3">
                    <label class="col24" title="Exclude Current Service Area">
                        <strong>{{ 'Selected Service Cover' |translate}}</strong>
                    </label>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-5">
                    <div class="col24">
                        <label class="col24">{{'Premises'|translate}}</label>
                        <div class="col8 pr5">
                            <input type="text" class="form-control" id="SelectedPremiseNumber" formControlName="SelectedPremiseNumber" size="20" [attr.maxlength]="20"
                                eTypeCode>
                        </div>
                        <div class="col16">
                            <input type="text" class="form-control" id="SelectedPremiseName" formControlName="SelectedPremiseName" size="30" [attr.maxlength]="30"
                                eTypeText>
                        </div>
                    </div>
                    <div class="col24">
                        <div class="col8 pr5">
                            <label class="col24">{{'Product'|translate}}</label>
                            <input type="text" class="form-control" id="SelectedProductCode" formControlName="SelectedProductCode" size="10" [attr.maxlength]="10"
                                eTypeCode>
                        </div>
                        <div class="col6 pr5" *ngIf="enableWed">
                            <label class="col24">{{'W.E.D.'|translate}}</label>
                            <input type="text" class="form-control" id="SelectedWED" formControlName="SelectedWED" size="10" [attr.maxlength]="10">
                        </div>
                        <div class="col6">
                            <label class="col24">{{'Service Type'|translate}}</label>
                            <input type="text" class="form-control" id="SelectedServiceType" formControlName="SelectedServiceType" size="5" [attr.maxlength]="5"
                                eTypeCode>
                        </div>
                    </div>
                    <div class="col24">
                        <div class="col8 pr5">
                            <label class="col24">{{'Frequency'|translate}}</label>
                            <input type="text" class="form-control" id="SelectedFrequency" formControlName="SelectedFrequency" size="8" [attr.maxlength]="10"
                                eTypeInteger>
                        </div>
                        <div class="col6 pr5" *ngIf="enableVisitCycles">
                            <label class="col24">{{'Gap'|translate}}</label>
                            <input type="text" class="form-control" id="SelectedVisitCycle" formControlName="SelectedVisitCycle" size="5" [attr.maxlength]="5"
                                eTypeInteger>
                        </div>
                        <div class="col8">
                            <label class="col24">{{'Quantity'|translate}}</label>
                            <input type="text" class="form-control" id="SelectedQuantity" formControlName="SelectedQuantity" size="5" [attr.maxlength]="5"
                                eTypeInteger>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 verticalLine">
                    <div class="col24">
                        <label class="col24">{{'Product Service Group'|translate}}</label>
                        <div class="col24">
                            <input type="text" class="form-control" id="SelectedProductService" formControlName="SelectedProductService" size="10" [attr.maxlength]="10"
                                eTypeCode>
                        </div>
                    </div>
                    <div class="col24">
                        <label class="col24">{{'Postcode'|translate}}</label>
                        <div class="col24">
                            <input type="text" class="form-control" id="SelectedPostcode" formControlName="SelectedPostcode" size="10" [attr.maxlength]="10"
                                SelectedPostcode>
                        </div>
                    </div>
                    <div class="col24">
                        <label class="col24">{{'Next Visit'|translate}}</label>
                        <div class="col24">
                            <input type="text" class="form-control" id="SelectedNextVisit" formControlName="SelectedNextVisit" size="10" [attr.maxlength]="10"
                                eTypeDate>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col24">
                        <label class="col24">{{'Service Area'|translate}}</label>
                        <div class="col12 pr5">
                            <input type="text" class="form-control" id="SelectedServiceAreaCode" formControlName="SelectedServiceAreaCode" size="10"
                                [attr.maxlength]="10" eTypeCode>
                        </div>
                        <div class="col2 pr5">
                            <input type="checkbox" id="ExcludeSelectedArea" formControlName="ExcludeSelectedArea" eTypeCheckbox>
                            <label for="ExcludeSelectedArea" title="{{'Exclude Current Service Area' | translate}}"></label>
                        </div>
                        <div class="col8">
                            <input type="button" class="btn btn-additional" id="cmdView" value="{{'View'|translate}}" (click)="onClickViewButton()">
                        </div>
                    </div>
                    <div class="col24">
                        <label class="col24">{{'Sequence'|translate}}</label>
                        <div class="col12 pr10">
                            <input type="text" class="form-control" id="SelectedServiceAreaSeq" formControlName="SelectedServiceAreaSeq" size="10" eTypeInteger>
                        </div>
                        <div class="col8 col-sm-offset-1">
                            <input type="button" class="btn btn-additional" id="cmdClear" value="{{'Clear'|translate}}" (click)="onClickClearButton()">
                        </div>
                    </div>
                    <div class="col24">
                        <label class="col24">{{'Anniversary'|translate}}</label>
                        <div class="col12 pr10">
                            <icabs-datepicker [isDirectiveBased]="false" formControlName="SelectedAnniversary" (onChange)="selectedAnniversaryOnChange($event)"></icabs-datepicker>
                        </div>
                        <div class="col8 col-sm-offset-1">
                            <input type="button" class="btn btn-additional" id="cmdSave" value="{{'Save'|translate}}" (click)="onClickSaveButton()">
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="refresh()"> </icabs-refresh>
                    <icabs-pagination *ngIf="isVisiblePagination" [totalItems]="totalRecords" [currentPage]="curPage" [itemsPerPage]="10" 
                        [canExport]="true" [exportOptions]="exportConfig" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (headerClick)="riGridSort($event)" (bodyClick)="riGridBodyOnClick($event)" (bodyDblClick)="riGridBodyOnDblClick($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
    <icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
</section>