<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row">
                <div class="col-sm-4" *ngIf="pageType === 'Business'">
                    <label class="col24">{{ 'Business' | translate }}
                    </label>
                    <div class="col24 pr5">
                        <input type="text" id="BusinessDesc" formControlName="BusinessDesc" size="40"
                            [attr.maxlength]="40" class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="pageType === 'Branch'">
                    <label class="col24">{{ 'Branch' | translate }}
                    </label>
                    <div class="col6 pr5">
                        <input type="text" id="BranchNumber" formControlName="BranchNumber" size="6"
                            [attr.maxlength]="6" class="form-control" eTypeText>
                    </div>
                    <div class="col18 pr5">
                        <input type="text" id="BranchName" formControlName="BranchName" size="40" [attr.maxlength]="40"
                            class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="pageType === 'Region'">
                    <label class="col24">{{ 'Region' | translate }}
                    </label>
                    <div class="col6 pr5">
                        <input type="text" id="RegionCode" formControlName="RegionCode" size="6" [attr.maxlength]="6"
                            class="form-control" eTypeText>
                    </div>
                    <div class="col18 pr5">
                        <input type="text" id="RegionDesc" formControlName="RegionDesc" size="40" [attr.maxlength]="40"
                            class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="col8">
                        <label class="col24">{{ 'From Date Selection' | translate }}
                        </label>
                        <div class="col24 pr5">
                            <select class="form-control" id="DateSelect" formControlName="DateSelect">
                                <option *ngFor="let item of dropdowns.allDateSelectValues" value="{{ item.value }}">
                                    {{ item.text | translate }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col4" *ngIf="dateSelect !== 'AnniversaryDate' && dateSelect !== 'ExcludeFromDate'">
                        <label class="col24">{{ 'From' | translate }}</label>
                        <div class="col24 pr5">
                            <input type="text" id="DateFrom" formControlName="DateFrom" size="10" [attr.maxlength]="10"
                                class="form-control" eTypeDate>
                        </div>
                    </div>
                    <div class="col4">
                        <label class="col24">{{ 'To' | translate }}</label>
                        <div class="col24 pr5">
                            <input type="text" id="DateTo" formControlName="DateTo" size="10" [attr.maxlength]="10"
                                class="form-control" eTypeDate>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Contract Number' | translate }}</label>
                    <div class="col6 pr5">
                        <input type="text" id="ContractNumber" formControlName="ContractNumber" size="8"
                            [attr.maxlength]="8" class="form-control" eTypeCode>
                    </div>
                    <div class="col18 pr5">
                        <input type="text" id="ContractName" formControlName="ContractName" size="40"
                            [attr.maxlength]="40" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="this['pageParams'].enableDoneByDate">
                    <div class="col9 mt20">
                        <input type="checkbox" id="chkDoneBy" formControlName="chkDoneBy" class="form-control">
                        <label for="chkDoneBy">{{ 'Use Done By Date' | translate }}</label>
                    </div>
                    <div class="col7 mt20" *ngIf="getControlValue('chkDoneBy')">
                        <input type="text" id="DateDone" formControlName="DateDone" size="12" [attr.maxlength]="12"
                            class="form-control" eTypeDate>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="col24" *ngIf="this['parentMode'] && this['pageParams'].enableCompanyCode">
                        <label class="col24">{{ 'Company (blank for all)' | translate }}</label>
                        <div class="col4 pr5">
                            <input type="text" id="CompanyCode" formControlName="CompanyCode" size="2"
                                [attr.maxlength]="2" class="form-control" eTypeCode>
                        </div>
                        <div class="col20 pr5">
                            <input type="text" id="CompanyDesc" formControlName="CompanyDesc" size="40"
                                [attr.maxlength]="40" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="col8">
                        <label class="col24">{{ 'Portfolio Type' | translate }}
                        </label>
                        <div class="col24 pr5">
                            <select class="form-control" id="ShowPortfolioType" formControlName="ShowPortfolioType">
                                <option *ngFor="let item of dropdowns.showPortfolioValues" value="{{ item.value }}">
                                    {{ item.text | translate }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col4" *ngIf="pageType === 'Business'">
                        <label class="col24">{{ 'View By' | translate }}</label>
                        <div class="col24 pr5">
                            <select class="form-control" id="ViewBy" formControlName="ViewBy" (change)="resetGrid()">
                                <option *ngFor="let item of dropdowns.viewBy" value="{{ item.value }}">
                                    {{ item.text | translate }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col4" *ngIf="this['pageParams'].reportViewOptions.length > 1">
                        <label class="col24">{{ 'View Type' | translate }}</label>
                        <div class="col24 pr5">
                            <!-- Kept It From pageParams Since This Has Logic Based On SysChars; Might Move Later -->
                            <select class="form-control" id="ReportView" formControlName="ReportView"
                                (change)="resetGrid()">
                                <option *ngFor="let item of this['pageParams'].reportViewOptions"
                                    value="{{ item.value }}">
                                    {{ item.text | translate }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Service Type' | translate }}</label>
                    <div class="col24 pr5">
                        <input type="text" id="ServiceTypeCode" formControlName="ServiceTypeCode" size="40"
                            [attr.maxlength]="30" class="form-control" eTypeCode>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="col8">
                        <label class="col24">{{ 'Show' | translate }}</label>
                        <div class="col24 pr5">
                            <select class="form-control" id="ShowType" formControlName="ShowType"
                                (change)="resetGrid()">
                                <option *ngFor="let item of dropdowns.showTypeValues" value="{{ item.value }}">
                                    {{ item.text | translate }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col8">
                        <label class="col24">{{ 'Show' | translate }}</label>
                        <div class="col12 pr5">
                            <select class="form-control" id="SeasonalSelect" formControlName="SeasonalSelect">
                                <option *ngFor="let item of dropdowns.seasonalOptions" value="{{ item.value }}">
                                    {{ item.text | translate }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Product Group' | translate }}
                    </label>
                    <div class="col24 pr5">
                        <input type="text" id="ProductServiceGroupCode" formControlName="ProductServiceGroupCode"
                            size="40" [attr.maxlength]="30" class="form-control" eTypeCode>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="col8">
                        <label class="col24">{{ 'Filter' | translate }}
                        </label>
                        <div class="col24 pr5">
                            <select class="form-control" id="FilterType" formControlName="FilterType">
                                <option *ngFor="let item of dropdowns.filterValues" value="{{ item.value }}">
                                    {{ item.text | translate }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col8" *ngIf="this.filterType === 'Ahead' || this.filterType === 'Behind'">
                        <label class="col24">{{ 'By' | translate }}</label>
                        <div class="col4 pr5">
                            <input type="text" id="NumberOfVisits" formControlName="NumberOfVisits" size="5"
                                [attr.maxlength]="4" class="form-control" eTypeInteger>
                        </div>
                        <label class="col12">{{ 'Or More Visits' | translate }}</label>
                    </div>
                    <div class="col8" *ngIf="this.pageType === 'Region'">
                        <label class="col24">{{ 'Select Level' | translate }}</label>
                        <div class="col24 pr5">
                            <select id="SelectLevel" formControlName="SelectLevel" class="form-control"
                                (change)="resetGrid()">
                                <option *ngFor="let item of dropdowns.selectLevel" value="{{ item.value }}">
                                    {{ item.text | translate }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Report Group' | translate }}
                    </label>
                    <div class="col18 pr5">
                        <select class="form-control" id="ReportGroupCode" formControlName="ReportGroupCode">
                            <option *ngFor="let item of dropdowns.reportGroup" value="{{ item.ReportGroupCode }}">
                                {{ item.ReportGroupCode }} - {{ item.ReportGroupDesc | translate }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{ 'Visit Frequency' | translate }}
                    </label>
                    <div class="col6 pr5">
                        <input type="text" id="VisitFrequency" formControlName="VisitFrequency" size="5"
                            [attr.maxlength]="3" class="form-control" eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="pageType === 'Branch'">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Supervisor' | translate }}
                    </label>
                    <div class="col7 pr5">
                        <input type="text" id="SupervisorEmployeeCode" formControlName="SupervisorEmployeeCode" size="6"
                            class="form-control" eTypeInteger>
                    </div>
                    <div class="col17 pr5">
                        <input type="text" id="SupervisorSurname" formControlName="SupervisorSurname" size="40"
                            class="form-control" eTypeInteger>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{ 'Group By' | translate }}
                    </label>
                    <div class="col12 pr5">
                        <input type="text" id="GroupBy" formControlName="GroupBy" size="10" class="form-control"
                            eTypeInteger>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRefreshClick()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="gridConfig.totalItem"
                        [currentPage]="this['pageParams'].gridCurrentPage" [itemsPerPage]="gridConfig.itemsPerPage"
                        [canExport]="true" (getCurrentPage)="getCurrentPage($event)">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <div class="auto-scrollable">
                        <icabs-grid-advanced #riGrid (headerClick)="onHeaderClick()"
                            (bodyDblClick)="onGridBodyDoubleClick($event)"></icabs-grid-advanced>
                    </div>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
