<section class="container-fluid custom-container">
    <header>
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <div class="row mt5">
            <div class="col-sm-3">
                <label class="col24">{{'Business'|translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="BusinessCode" size="3" [attr.maxlength]="3" class="form-control"
                        formControlName="BusinessCode" eTypeCode>
                </div>
                <div class="col16">
                    <input type="text" id="BusinessDesc" size="40" [attr.maxlength]="40" class="form-control"
                        formControlName="BusinessDesc" eTypeText>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24">{{'Branch'|translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="BranchNumber" size="6" [attr.maxlength]="5" class="form-control"
                        formControlName="BranchNumber" eTypeCode>
                </div>
                <div class="col16">
                    <input type="text" id="BranchName" size="38" [attr.maxlength]="40" class="form-control"
                        formControlName="BranchName" eTypeText>
                </div>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-sm-3">
                <label class="col24" for="SupervisorEmployeeCode">{{'Supervisor (blank=all)'|translate}}</label>
                <div class="col6 pr5">
                    <input type="text" class="form-control" id="SupervisorEmployeeCode"
                        formControlName="SupervisorEmployeeCode" size="6" [attr.maxlength]="6"
                        (change)="onInputChnage($event)" eTypeCode>
                </div>
                <div class="col16 pr5">
                    <input type="text" class="form-control" id="SupervisorSurname" formControlName="SupervisorSurname"
                        size="38" [attr.maxlength]="40" eTypeText>
                </div>
                <div class="col2">
                    <icabs-ellipsis [childConfigParams]="ellipsis.supervisoreEmployeeEllipsis.childparams"
                        [contentComponent]="ellipsis.supervisoreEmployeeEllipsis.component" [showHeader]="true"
                        (ellipsisData)="onChnage($event,'SupervisorEmployeeCode')"></icabs-ellipsis>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24" for="BranchServiceAreaCode">{{'Service Area (blank=all)'|translate}}</label>
                <div class="col6 pr5">
                    <input type="text" class="form-control" id="BranchServiceAreaCode"
                        formControlName="BranchServiceAreaCode" size="6" [attr.maxlength]="4"
                        (change)="onInputChnage($event)" eTypeCode>
                </div>
                <div class="col16 pr5">
                    <input type="text" class="form-control" id="EmployeeSurname" formControlName="EmployeeSurname"
                        size="38" [attr.maxlength]="40" eTypeText>
                </div>
                <div class="col2">
                    <icabs-ellipsis [childConfigParams]="ellipsis.serviceArea.childparams"
                        [contentComponent]="ellipsis.serviceArea.component" [showHeader]="true" [showCloseButton]="true"
                        (ellipsisData)="onChnage($event, 'BranchServiceAreaCode')">
                    </icabs-ellipsis>
                </div>
            </div>
            <div class="col-sm-3">
                <label for="ServiceType" class="col24">{{ 'Service Type (blank=all)' | translate }}</label>
                <div class="col18">
                    <icabs-servicetype-search #serviceTypeSearch [inputParams]="dropdown.serviceTypeSearch"
                        (receivedServiceTypeData)="onDropDownSelect($event)">
                    </icabs-servicetype-search>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24">{{'Product Group (blank=all)' | translate}}</label>
                <div class="col18">
                    <icabs-sbproductservice-groupsearch [inputParams]="dropdown.productServiceGroupSearch"
                        (receivedProductServiceGroupSearch)="onDropDownSelect($event)">
                    </icabs-sbproductservice-groupsearch>
                </div>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-sm-3">
                <div class="col16">
                    <label class="col24" for="ShowType">{{'Show' | translate}}</label>
                    <select class="form-control" id="ShowType" formControlName="ShowType"
                        (change)="onDropDownChnage($event)">
                        <option value="Contract">{{'Contracts' | translate}}</option>
                        <option value="Job">{{'Jobs' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col16">
                    <label class="col24" for="SeasonalSelect">{{'Show' | translate}}</label>
                    <select class="form-control" id="SeasonalSelect" formControlName="SeasonalSelect"
                        (change)="onDropDownChnage($event)">
                        <option value="All">{{'All' | translate}}</option>
                        <option *ngFor="let item of seasonalSelectArray" value="{{ item.value }}">
                            {{ item.name|translate }}
                        </option>
                    </select>
                </div>
            </div>

        </div>
        <div class="row mt5">
            <div class="col-sm-3">
                <div class="col16">
                    <label class="col24" for="DateSelect">{{'From Date Selection' | translate}}</label>
                    <select class="form-control" id="DateSelect" formControlName="DateSelect"
                        (change)="onDropDownChnage($event)">
                        <option value="SpecifyDate">{{'Specify From Date' | translate}}</option>
                        <option *ngFor="let item of dateSelectArray" value="{{ item.value }}">
                            {{ item.name|translate }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="this.getControlValue('DateSelect')!=='AnniversaryDate'">
                <label class="col24">{{ 'From' | translate }}<span class="mandatory">*</span>
                </label>
                <div class="col16">
                    <icabs-datepicker id="DateFrom" formControlName="DateFrom" [isDirectiveBased]="false">
                    </icabs-datepicker>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="this.getControlValue('DateSelect')!=='ExcludeFromDate'">
                <label class="col24">{{ 'To' | translate }}<span class="mandatory">*</span>
                </label>
                <div class="col16">
                    <icabs-datepicker id="DateTo" formControlName="DateTo" [isDirectiveBased]="false">
                    </icabs-datepicker>
                </div>
            </div>
            <div class="col-sm-3"
                *ngIf="this['pageParams'].enableDoneByDate && this.getControlValue('DateSelect')!=='ExcludeFromDate'">
                <label class="col24">{{ 'Done By' | translate }}<span class="mandatory">*</span>
                </label>
                <div class="col16">
                    <icabs-datepicker id="DateDone" formControlName="DateDone" [isDirectiveBased]="false">
                    </icabs-datepicker>
                </div>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-sm-3">
                <div class="col16">
                    <label class="col24" for="FilterType">{{'Filter' | translate}}<span class="mandatory"
                            *ngIf="showNumOfVisits">*</span></label>
                    <select class="form-control" id="FilterType" formControlName="FilterType"
                        (change)="onDropDownChnage($event)">
                        <option value="All">{{'All' | translate}}</option>
                        <option *ngFor="let item of filterTypeArray" value="{{ item.value }}">
                            {{ item.name|translate }}
                        </option>
                    </select>
                </div>
                <div class="col16 mt10" *ngIf="showNumOfVisits">
                    <label class="pull-left">{{'By ' | translate}}</label>
                    <div class="col8 pr5 ml5">
                        <input type="text" id="NumberOfVisits" size="4" [attr.maxlength]="4" class="form-control"
                            formControlName="NumberOfVisits" eTypeInteger>
                    </div>
                    <label class="pull-left">{{'Or more visits ' | translate}}</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col24">
                    <label class="col24" for="SortBy">{{'Sort By' | translate}}</label>
                    <select class="form-control" id="SortBy" formControlName="SortBy"
                        (change)="onDropDownChnage($event)">
                        <option value="ServiceArea">{{'Service Area/Sequence Number' | translate}}</option>
                        <option value="Contract">{{'Service Area/Contract Number/Premises Number' | translate}}</option>
                        <option value="Postcode">{{'Service Area/Premises Postcode' | translate}}</option>
                        <option value="Priority">{{'Service Area/Priority/Sequence' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col16">
                    <label class="col24" for="RepDest">{{'Report Destination' | translate}}</label>
                    <select class="form-control" id="RepDest" formControlName="RepDest"
                        (change)="onDropDownChnage($event)">
                        <option value="direct">{{'Report Viewer' | translate}}</option>
                        <option value="Email">{{'Email' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt10">
            <div class="col-sm-4">
                <div class="col24">
                    <input type="button" (click)="submitReportGeneration()" class="btn btn-primary" id="cmdSubmit"
                        value="{{'Submit Report Generation'|translate}}">
                </div>
            </div>
        </div>
        <div class="row mt10">
            <div class="col-sm-12" id="trInformation" *ngIf="batchSubmittedText!==''">
                <div class="alert alert-info center-align" id="thInformation">
                    <strong>{{batchSubmittedText}}</strong>
                </div>
            </div>
        </div>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>