<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <div class="col24" *ngIf="pageType === 'Business'">
                        <label class="col24">{{ 'Business' | translate }}</label>
                        <div class="col16">
                            <input type="text" id="BusinessDesc" formControlName="BusinessDesc" size="30" maxlength="30"
                                class="form-control">
                        </div>
                    </div>
                    <div class="col24" *ngIf="pageType === 'Branch'">
                        <label class="col24">{{'Branch'|translate}}</label>
                        <div class="col4 pr5">
                            <input type="text" id="BranchNumber" size="6" [attr.maxlength]="6" class="form-control"
                                formControlName="BranchNumber" eTypeInteger>
                        </div>
                        <div class="col8">
                            <input type="text" id="BranchName" size="20" [attr.maxlength]="30" class="form-control"
                                formControlName="BranchName" eTypeText>
                        </div>
                    </div>
                    <div class="col24" *ngIf="pageType === 'Branch'">
                        <label class="col24">{{'Supervisor' | translate}}
                        </label>
                        <div class="col6 pr5">
                            <input type="text" id="SupervisorEmployeeCode" formControlName="SupervisorEmployeeCode"
                                size="6" maxlength="6" class="form-control" placeholder=""
                                (change)="onControlChange('SupervisorEmployeeCode')" eTypeCode>
                        </div>
                        <div class="col16 pr5">
                            <input type="text" id="SupervisorSurname" formControlName="SupervisorSurname"
                                class="form-control">
                        </div>
                        <div class="col2">
                            <icabs-ellipsis [childConfigParams]="dropdown.employee" [showCloseButton]="true"
                                [contentComponent]="employeeSearchComponent"
                                (ellipsisData)="onDataRecieved($event, dropdown.employee.type)" [showHeader]="true"
                                (change)="onDataRecieved('Supervisor')">
                            </icabs-ellipsis>
                        </div>
                    </div>
                    <div class="col24">
                        <label class="col24">{{ 'Contract Number' | translate }}</label>
                        <div class="col6 pr5">
                            <input type="text" id="ContractNumber" formControlName="ContractNumber" size="10"
                                maxlength="8" class="form-control" (change)="onControlChange('ContractNumber')"
                                icabsZeroPad eTypeCode>
                        </div>
                        <div class="col16 pr5">
                            <input type="text" id="ContractName" formControlName="ContractName" size="35" maxlength="40"
                                class="form-control">
                        </div>
                        <div class="col2">
                            <icabs-ellipsis [showCloseButton]="inputParams.showCloseButton"
                                [childConfigParams]="inputParams" [contentComponent]="contractSearchComponent"
                                (ellipsisData)="onDataRecieved($event, dropdown.contract.type)"
                                [showHeader]="inputParams.showHeader">
                            </icabs-ellipsis>
                        </div>
                    </div>
                    <div class="col24" *ngIf="this['pageParams'].enableCompanyCode">
                        <label class="col24">{{ 'Company (blank for all)' | translate }}</label>
                        <div class="col24">
                            <icabs-business-company-search [inputParams]="companyInputParams"
                                (receivedCompanyCode)="onDataRecieved($event, dropdown.company.type)"
                                [active]="companyDefault">
                            </icabs-business-company-search>
                        </div>
                        <div class="col24" *ngIf="pageType === 'Region'">
                            <label class="col24">{{ 'Region' | translate }}</label>
                            <div class="col6 pr5">
                                <input type="text" id="RegionCode" formControlName="RegionCode" size="30" maxlength="30"
                                    class="form-control">
                            </div>
                            <div class="col18">
                                <input type="text" id="RegionDesc" formControlName="RegionDesc" size="30" maxlength="30"
                                    class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col24">
                        <label class="col24">{{ 'Service Type' | translate }}</label>
                        <div class="col24">
                            <icabs-servicetype-search #serviceType [inputParams]="dropdown.serviceType"
                                (receivedServiceTypeData)="onDataRecieved($event, dropdown.serviceType.type)" [isMultiSelect]=blnAgedReport
                                [active]="serviceTypeDefault">
                            </icabs-servicetype-search>
                        </div>
                    </div>
                    <div class="col24">
                        <label class="col24">{{ 'Product Group' | translate}}<span></span></label>
                        <div class="col24">
                            <icabs-sbproductservice-groupsearch [inputParams]="dropdown.productServiceGroup"
                                [isRequired]="false" [active]="productGroupDefault"
                                (receivedProductServiceGroupSearch)="onDataRecieved($event, dropdown.productServiceGroup.type)">
                            </icabs-sbproductservice-groupsearch>
                        </div>
                    </div>
                    <div class="col24">
                        <label class="col24">
                            {{ 'Report Group' | translate }}<span></span>
                        </label>
                        <div class="col24">
                            <select id="ReportGroupCode" class="form-control" formControlName="ReportGroupCode">
                                <option value=""></option>
                                <option *ngFor="let reportGroups of sosService.reportGroup"
                                    value="{{ reportGroups.ReportGroupCode }}">
                                    {{ reportGroups.ReportGroupCode + ' - ' + reportGroups.ReportGroupDesc | translate}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div *ngIf="!blnAgedReport">

                        <label class="col24">{{ 'Show' | translate }}</label>
                        <div class="col24">
                            <select id="ShowType" class="form-control" formControlName="ShowType"
                                (change)="onControlChange('showTypeValues')">
                                <option *ngFor="let showTypeValues of sosService.showTypeValues"
                                    value="{{ showTypeValues.value }}">
                                    {{ showTypeValues.text | translate }}</option>
                            </select>
                        </div>
                    </div>
                    <label class="col24">{{ 'Portfolio Type' | translate }}</label>
                    <div class="col24">
                        <select id="ShowPortfolioType" class="form-control" formControlName="ShowPortfolioType"
                            (change)="onControlChange('showTypeValues')">
                            <option *ngFor="let showPortfolioValues of sosService.showPortfolioValues"
                                value="{{ showPortfolioValues.value }}">
                                {{ showPortfolioValues.text | translate }}</option>
                        </select>
                    </div>
                    <label class="col24">{{ 'Visit Frequency' | translate }}</label>
                    <div class="col4">
                        <input type="text" id="VisitFrequency" class="form-control" formControlName="VisitFrequency"
                            (change)="this.resetValues()">
                    </div>
                    <div class="col24">
                        <div class="col12" *ngIf="this['pageParams'].fromDateShow">
                            <label class="col24">{{'From' | translate}}
                            </label>
                            <div class="col16">
                                <icabs-datepicker id="DateFrom" formControlName="DateFrom" [isDirectiveBased]="false"
                                    (onChange)="resetValues()">
                                </icabs-datepicker>
                            </div>
                        </div>
                        <div class="col12">
                            <label class="col24">{{'To' | translate}}
                                <span class="mandatory">*</span>
                            </label>
                            <div class="col16">
                                <icabs-datepicker id="DateTo" formControlName="DateTo" [isDirectiveBased]="false"
                                    (onChange)="onControlChange('DateTo')"></icabs-datepicker>
                            </div>
                        </div>
                    </div>
                    <label class="col24">
                        {{ 'From Date Selection' | translate }}<span></span>
                    </label>
                    <div class="col24">
                        <select id="DateSelect" class="form-control" formControlName="DateSelect"
                            (change)="onControlChange('DateSelect')">
                            <option *ngFor="let dateSelectValues of sosService.dateSelectValues"
                                value="{{ dateSelectValues.value }}">
                                {{ dateSelectValues.text | translate }}</option>
                        </select>
                    </div>
                    <div class="col24" *ngIf="this['pageParams'].enableDoneByDate && !blnAgedReport">
                        <div class="col12 mt20">
                            <input type="checkbox" id="chkDoneBy" class="form-control" formControlName="chkDoneBy"
                                (change)="onControlChange('chkDoneBy')">
                            <label for="chkDoneBy" class="col24">
                                {{ 'Use Done By Date' | translate }}<span></span>
                            </label>
                        </div>
                        <div class="col12" *ngIf="this.getControlValue('chkDoneBy') === true">
                            <label class="col24">{{'Done By' | translate}}
                                <span class="mandatory">*</span>
                            </label>
                            <div class="col16">
                                <icabs-datepicker id="DateDone" formControlName="DateDone" [isDirectiveBased]="false"
                                    (onChange)="resetValues()">
                                </icabs-datepicker>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div *ngIf="!blnAgedReport">

                        <label class="col24">{{ 'Group By' | translate }}</label>
                        <div class="col6">
                            <select id="GroupBy" class="form-control" formControlName="GroupBy">
                                <option *ngFor="let groupByValues of sosService.groupByValues"
                                    value="{{ groupByValues.value }}">
                                    {{ groupByValues.text | translate }}</option>
                            </select>
                        </div>
                    </div>
                    <div *ngIf="!blnAgedReport">
                        <label class="col24">{{ 'Filter' | translate }}</label>
                        <div class="col6">
                            <select id="FilterType" class="form-control" formControlName="FilterType"
                                (change)="this.resetValues()">
                                <option *ngFor="let filterValues of sosService.filterValues"
                                    value="{{ filterValues.value }}">
                                    {{ filterValues.text | translate }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col24"
                        *ngIf="(this.getControlValue('FilterType')!== 'All' && this.getControlValue('FilterType')!== 'NoVisits' && this.getControlValue('FilterType')!== 'NotCompleted' && this.getControlValue('FilterType') !== 'NotReleased') || blnAgedReport">
                        <label class="col24">{{ 'By' | translate }}</label>
                        <div class="col4 pr5">
                            <input type="text" id="NumberOfVisits" class="form-control" formControlName="NumberOfVisits"
                                [attr.maxlength]="4" pattern="[0-9]*" (change)="onControlChange('VisitFrequency')">
                        </div>
                        <label class="col8">{{ ' Or More Visits' | translate }}</label>
                    </div>
                    <div class="col24 mt10">
                        <input class="btn btn-primary" type="button" value="{{'Submit Report Generation'|translate}}"
                            (click)="onGenerateReport()">
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12" id="trInformation" *ngIf="URLReturn">
                    <label class="col24 message-box info-label">
                        {{ URLReturn | translate }}
                    </label>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="gridConfig.totalRecords"
                        [currentPage]="this['pageParams'].gridCurrentPage" [itemsPerPage]="gridConfig.pageSize"
                        (getCurrentPage)="getCurrentPage($event)">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="onGridBodyDoubleClick()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
