<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="InfestationGroupCode">{{ 'Infestation Group Code' | translate }}<span class="mandatory">*</span></label>
                    <div class="col24 pr5">
                        <icabs-common-dropdown [inputParams]="searchConfigs.infestationGroupSearch.params" [isRequired]="searchConfigs.infestationGroupSearch.isRequired"
                            [isTriggerValidate]="searchConfigs.infestationGroupSearch.isTriggerValidate" [isDisabled]="searchConfigs.infestationGroupSearch.isDisabled"
                            [isActive]="searchConfigs.infestationGroupSearch.active" [displayFields]="searchConfigs.infestationGroupSearch.displayFields"
                            (onDataReceived)="setInfestationGroupData($event)">
                        </icabs-common-dropdown>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="InfestationLevelCode">{{ 'Infestation Level Code' | translate }}<span class="mandatory">*</span></label>
                    <div class="col8 pr5">
                        <input type="text" id="InfestationLevelCode" size="3" maxlength="2" class="form-control" formControlName="InfestationLevelCode"
                            (change)="fetchInfestationLevelData()" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="InfestationLevelDesc" size="40" maxlength="40" class="form-control" formControlName="InfestationLevelDesc"
                            eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #infestationLevelSearch [showHeader]="true" [showCloseButton]="true" [childConfigParams]="searchConfigs.infestationLevelSearch.params"
                            [contentComponent]="searchConfigs.infestationLevelSearch.component" [disabled]="searchConfigs.infestationLevelSearch.isDisabled"
                            (ellipsisData)="setInfestationLevelData($event)" [autoOpen]="searchConfigs.infestationLevelSearch.isAutoOpen"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Level' | translate }}</label>
                    <div class="col8">
                        <select id="menu" class="form-control" formControlName="Level" [disabled]="this['formMode']===this['c_s_MODE_SELECT']">
                            <option value="1">{{ 'High' | translate }}</option>
                            <option value="2">{{ 'Medium' | translate }}</option>
                            <option value="3">{{ 'Low' | translate }}</option>
                            <option value="0">{{ 'None' | translate }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="LevelScore">{{ 'PNOL Level Score' | translate}}</label>
                    <div class="col8">
                        <input type="text" id="LevelScore" size="3" maxlength="8" class="form-control" formControlName="LevelScore" eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="SortOrder">{{ 'Sort Order' | translate}}</label>
                    <div class="col8">
                        <input type="text" id="SortOrder" size="3" maxlength="3" class="form-control" formControlName="SortOrder" eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <input class="form-control" type="checkbox" id="PassToPDAInd" size="1" maxlength="1" formControlName="PassToPDAInd">
                    <label for="PassToPDAInd">{{'Pass To PDA' | translate}}</label>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <input class="form-control" type="checkbox" id="ExtraInputInd" size="1" maxlength="1" formControlName="ExtraInputInd">
                    <label for="ExtraInputInd">{{'Extra Input' | translate}}</label>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <input class="form-control" type="checkbox" id="PassToTabletInd" size="1" formControlName="PassToTabletInd">
                    <label for="PassToTabletInd">{{'Pass To Tablet' | translate}}</label>
                </div>
            </div>
            <hr class="mt15 mb15">
        </section>
    </form>
    <footer class="screen-footer">
        <div class="row">
            <div class="col-sm-6">
                <input type="submit" class="btn btn-primary" value="{{ 'Save' | translate }}" [disabled]="this['formMode']===this['c_s_MODE_SELECT']"
                    (click)="promptModalForSave()">
                <input type="button" class="btn btn-secondary" value="{{ 'Cancel' | translate }}" [disabled]="this['formMode']===this['c_s_MODE_SELECT']"
                    (click)="cancelInfestationLevel()">
                <input type="button" class="btn btn-additional" value="{{ 'Delete' | translate }}" (click)="promptModalForDelete()" *ngIf="this['formMode']!==this['c_s_MODE_ADD']"
                    [disabled]="this['formMode']===this['c_s_MODE_SELECT']">
            </div>
            <div class="col-sm-6">
                <div class="col8 pull-right">
                    <select class="form-control" (change)="selectedOption($event.target.value)" [disabled]="this['formMode']!==this['c_s_MODE_UPDATE']">
                        <option>{{ 'Options' | translate }}</option>
                        <option value="Add">{{'Add Infestation SLA' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
    </footer>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>