<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="BranchServiceAreaCode">{{ 'Service Area' | translate}}</label>
                    <div class="col8 pr5">
                        <input id="BranchServiceAreaCode" class="form-control" formControlName="BranchServiceAreaCode" type="text" size="7" maxlength="4"
                            eTypeCode [icabsDirFocus]="setFocusBranchServiceAreaCode" (change)="onBranchServiceAreaCodeChange()">
                    </div>
                    <div class="col14 pr5">
                        <input id="EmployeeSurname" class="form-control" formControlName="EmployeeSurname" type="text" size="30" maxlength="35" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [disabled]="ellipsisConfig.serviceArea.isDisabled" [showCloseButton]="true" [showHeader]="true" [childConfigParams]="ellipsisConfig.serviceArea"
                            [contentComponent]="ellipsisConfig.serviceArea.contentComponent" (ellipsisData)="onBranchServiceAreaDataReceived($event)"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3" [hidden]="!isVisible.isPlanVisible">
                    <div class="col12 pr5">
                        <label class="col24" for="StartDate">{{ 'Plan From' | translate}}
                            <span class="mandatory">*</span>
                        </label>
                        <icabs-datepicker id="StartDate" formControlName="StartDate" (change)="onStartDateChange()" [isDirectiveBased]="false"></icabs-datepicker>
                    </div>
                    <div class="col12">
                        <label class="col24" for="EndDate">{{ 'To' | translate}}
                            <span class="mandatory">*</span>
                        </label>
                        <icabs-datepicker id="EndDate" formControlName="EndDate" [isDirectiveBased]="false" (change)="onEndDateChange()"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4" [hidden]="!isVisible.isDateVisible">
                    <div class="col8">
                        <label class="col24" for="DateSelection">{{ 'Plan Date' | translate}}</label>
                        <icabs-dropdown-static #dateSelector [inputData]="dateSelectorDropdown" (change)="onDateSelectorChange()">
                        </icabs-dropdown-static>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col12">
                        <label class="col24" for="GridPageSize">{{ 'Display(Lines)' | translate}}
                            <span class="mandatory">*</span>
                        </label>
                        <input id="GridPageSize" class="form-control" formControlName="GridPageSize" type="text" size="2" maxlength="2" eTypeInteger
                            (change)="onGridPageSizeChange()">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row" [hidden]="!isVisible.isDateVisible">
                <div class="col-sm-4">
                    <div class="col8">
                        <label class="col24" for="LocationStartPostcode">{{ 'Location Start:' | translate}}</label>
                        <input id="LocationStartPostcode" class="form-control" formControlName="LocationStartPostcode" type="text" size="10" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2" [hidden]="!isVisible.isDateVisible">
                <div class="col-sm-4">
                    <div class="col8">
                        <label class="col24" for="LocationEndPostcode">{{ 'End:' | translate}}</label>
                        <input id="LocationEndPostcode" class="form-control" formControlName="LocationEndPostcode" type="text" size="10" eTypeText>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-4">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]=" gridConfig.totalRecords " [itemsPerPage]="pageSize" (getCurrentPage)="getCurrentPage($event)"
                        [disabled]="isDisablePagination"></icabs-pagination>
                </div>
                <div class="col-sm-4">
                    <div class="col14">
                        <input type="button" class="btn btn-additional " value="{{ 'Import Sequence Changes' | translate }}" (click)="onImportSequenceClick()">
                    </div>
                    <div class="col10">
                        <input type="button" class="btn btn-additional" value="{{ 'Apply Changes' | translate }}" (click)="onApplyChangesClick()">
                    </div>
                </div>
                <div class="col-sm-4 pull-right" [hidden]="!isVisible.isMsgBoxVisible">
                    <div class="message-box info-label" role="alert">
                        {{'Sequence Changes Require Confirming' | translate }}
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyColumnBlur)="onSequenceNumberChange($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>