<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageParams']['pageTitle'] | translate }} </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{this['pageParams']['numberLab'] |translate}}</label>
                    <div class="col8 pr5">
                        <input #ContractNumber eTypeCode icabsZeroPad type="text" class="form-control" id="ContractNumber" formControlName="ContractNumber"
                            size="10" [attr.maxlength]="8" (change)="onContractChange()">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" id="ContractName" formControlName="ContractName" size="30" [attr.maxlength]="30">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [disabled]="this['uiForm'].controls['ContractNumber'].disabled" [autoOpen]="ellipsisConfig.contract.autoOpen"
                            [showCloseButton]="true" [showHeader]="true" [childConfigParams]="ellipsisConfig.contract.childConfigParams"
                            [contentComponent]="ellipsisConfig.contract.component" (ellipsisData)="getEllipsisData($event, 'contract')"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Neg Branch'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="NegBranchNumber" formControlName="NegBranchNumber" size="10" [attr.maxlength]="8">
                    </div>
                    <div class="col16">
                        <input type="text" class="form-control" id="BranchName" formControlName="BranchName" size="30" [attr.maxlength]="30">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Premises Number'|translate}}</label>
                    <div class="col8 pr5">
                        <input eTypeInteger type="text" class="form-control" id="PremiseNumber" formControlName="PremiseNumber" size="10" [attr.maxlength]="5"
                            (change)="onPremiseChange()">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" id="PremiseName" formControlName="PremiseName" size="30" [attr.maxlength]="30">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [disabled]="this['uiForm'].controls['PremiseNumber'].disabled" [showCloseButton]="true" [showHeader]="true"
                            [childConfigParams]="ellipsisConfig.premise.childConfigParams" [contentComponent]="ellipsisConfig.premise.component"
                            (ellipsisData)="getEllipsisData($event, 'premise')"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Product Code'|translate}}</label>
                    <div class="col8 pr5">
                        <input eTypeCode type="text" class="form-control" id="ProductCode" formControlName="ProductCode" size="10" [attr.maxlength]="6"
                            (change)="onProductChange()">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" id="ProductDesc" formControlName="ProductDesc" size="30" [attr.maxlength]="30">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #ProductSearch [disabled]="this['uiForm'].controls['ProductCode'].disabled" [showCloseButton]="true" [showHeader]="true"
                            [childConfigParams]="ellipsisConfig.product.childConfigParams" [contentComponent]="ellipsisConfig.product.component"
                            (ellipsisData)="getEllipsisData($event, 'product')"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Status'|translate}}</label>
                    <div class="col12">
                        <input type="text" class="form-control" id="Status" formControlName="Status" size="12" [attr.maxlength]="12">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-4">
                    <label class="col24">{{'Visit Frequency'|translate}}</label>
                    <div class="col8 pr5">
                        <input eTypeInteger type="text" class="form-control" id="ServiceVisitFrequency" formControlName="ServiceVisitFrequency" size="10"
                            [attr.maxlength]="8">
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="this['pageParams']['isServiceAnnualValueVisible']">
                    <label class="col24">{{'Value'|translate}}</label>
                    <div class="col8 pr5">
                        <input eTypeCurrency type="text" class="form-control" id="ServiceAnnualValue" formControlName="ServiceAnnualValue" size="20"
                            [attr.maxlength]="23">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Service Quantity'|translate}}</label>
                    <div class="col8 pr5">
                        <input eTypeInteger type="text" class="form-control" id="ServiceQuantity" formControlName="ServiceQuantity" size="5" [attr.maxlength]="5">
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Commence Date'|translate}}</label>
                    <div class="col8 pr5">
                        <input eTypeDate type="text" class="form-control" id="ServiceCommenceDate" formControlName="ServiceCommenceDate" size="10"
                            [attr.maxlength]="10">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Invoice Anniversary Date'|translate}}</label>
                    <div class="col8 pr5">
                        <input eTypeDate type="text" class="form-control" id="InvoiceAnnivDate" formControlName="InvoiceAnnivDate" size="10" [attr.maxlength]="10">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Invoice Frequency'|translate}}</label>
                    <div class="col8 pr5">
                        <input eTypeCode type="text" class="form-control" id="InvoiceFrequencyCode" formControlName="InvoiceFrequencyCode" size="5"
                            [attr.maxlength]="5">
                    </div>
                    <div class="col16">
                        <input type="text" class="form-control" id="InvoiceFrequencyDesc" formControlName="InvoiceFrequencyDesc" size="20" [attr.maxlength]="40">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row" *ngIf="this['pageParams']['isLostBusinessVisible']">
                <div class="col-sm-4">
                    <label class="col24">{{'Lost Business'|translate}}<span class="mandatory">*</span></label>
                    <div class="col24">
                        <icabs-lostbusinesslanguagesearch #LostbusinessDropDown [inputParams]="dropdownConfig.lostBusiness.inputParams" [isDisabled]="dropdownConfig.lostBusiness.isDisabled"
                            [isRequired]="dropdownConfig.lostBusiness.isRequired" [active]="dropdownConfig.lostBusiness.active"
                            [isTriggerValidate]="dropdownConfig.lostBusiness.triggerValidate" (receivedlostbusinesslangsearch)="onLostBusinessChanged($event)">
                        </icabs-lostbusinesslanguagesearch>
                    </div>
                </div>
            </div>
            <div class="row mt2" [ngClass]="this['pageParams']['isLostBusinessDetailVisible']?'': 'hidden'">
                <div class="col-sm-4">
                    <label class="col24">{{'Detail'|translate}}<span class="mandatory" [ngClass]="this['pageParams']['isLostBusinessDetailReq']?'': 'hidden'">*</span></label>
                    <div class="col24">
                        <icabs-lostbusinessdetails #LostbusinessDetailDropDown [inputParams]="dropdownConfig.lostBusinessDetail.inputParams" [isDisabled]="dropdownConfig.lostBusinessDetail.isDisabled"
                            [isRequired]="dropdownConfig.lostBusinessDetail.isRequired" [isTriggerValidate]="dropdownConfig.lostBusiness.triggerValidate"
                            [active]="dropdownConfig.lostBusinessDetail.active" (receivedbranchsearch)="onLostBusinessDetailChanged($event)"></icabs-lostbusinessdetails>
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="this['pageParams']['isBlankRowVisible']">
            </div>
            <div class="row mt2" *ngIf="this['pageParams']['isEffectDateVisible']">
                <div class="col-sm-4">
                    <label class="col24">{{'Effect Date'|translate}}<span class="mandatory">*</span></label>
                    <div class="col8 pr5">
                        <icabs-datepicker formControlName="InactiveEffectDate" [isDirectiveBased]="false" (onChange)="onInactiveEffectDateChange()"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Commission Employee'|translate}}</label>
                    <div class="col8 pr5">
                        <input eTypeCode type="text" class="form-control" id="CommissionEmployeeCode" formControlName="CommissionEmployeeCode" size="10"
                            [attr.maxlength]="10">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" id="EmployeeSurname" formControlName="EmployeeSurname" size="30" [attr.maxlength]="40">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [disabled]="this['uiForm'].controls['CommissionEmployeeCode'].disabled"
                            [showCloseButton]="true" [showHeader]="true" [childConfigParams]="ellipsisConfig.employee.childConfigParams"
                            [contentComponent]="ellipsisConfig.employee.component" (ellipsisData)="getEllipsisData($event, 'employee')"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Reason'|translate}}</label>
                    <div class="col12">
                        <input eTypeText type="text" class="form-control" id="SalesEmployeeText" formControlName="SalesEmployeeText" size="30" [attr.maxlength]="40">
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="this['pageParams']['isTextVisible']">
                <div class="col-sm-4">
                    <label class="col24">{{'Text'|translate}}</label>
                    <div class="col24">
                        <input eTypeText type="text" class="form-control" id="InactiveServiceCoverText" formControlName="InactiveServiceCoverText"
                            size="40" [attr.maxlength]="50">
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="this['pageParams']['isVisitNarrativeVisible']">
                <div class="col-sm-4">
                    <label class="col24">{{'Removal Visit Narrative Code'|translate}}</label>
                    <div class="col22 pr5">
                        <icabs-common-dropdown [isDisabled]="dropdownConfig.visitNarrative.isDisabled" [isActive]="dropdownConfig.visitNarrative.active"
                            [inputParams]="dropdownConfig.visitNarrative.inputParams" [displayFields]="dropdownConfig.visitNarrative.displayFields"
                            (onDataReceived)="onVisitNarrativeDataReceived($event)" [isFirstItemSelected]="false"></icabs-common-dropdown>
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="this['pageParams']['isRemovalVisitNotesVisible']">
                <div class="col-sm-4">
                    <label class="col24">{{'Removal Visit Notes'|translate}}</label>
                    <div class="col24">
                        <textarea eTypeText class="form-control" id="RemovalVisitText" formControlName="RemovalVisitText"></textarea>
                    </div>
                </div>
            </div>
            <div class="row mt5" *ngIf="this['pageParams']['isContactVisible']">
                <div class="col-sm-4">
                    <div class="col24">
                        <input eTypeCheckBox type="checkbox" class="form-control" id="CreateContact" formControlName="CreateContact" (change)="createContactOnClick()">
                        <label for="CreateContact">{{'Contact Management'|translate}}</label>
                    </div>
                </div>
            </div>
            <div class="row mt5" *ngIf="this['pageParams']['isCancelProRataVisible']">
                <div class="col-sm-4">
                    <div class="col24">
                        <input eTypeCheckBox type="checkbox" class="form-control" id="CancelProRataChargeInd" formControlName="CancelProRataChargeInd">
                        <label for="CancelProRataChargeInd">{{'Cancel Pro Rata Charges'|translate}}</label>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <hr class="mt15 mb15">
    <footer class="screen-footer">
        <div class="row mt10">
            <div class="col-sm-6">
                <input type="button" [disabled]="!isRecordSelected || !this['pageParams']['isUpdateSupport']" class="btn btn-primary mr10"
                    value="{{ 'Save' | translate }}" (click)="onSaveClick()">
                <input type="button" [disabled]="!isRecordSelected || !this['pageParams']['isUpdateSupport']" class="btn btn-secondary" value="{{ 'Cancel' | translate }}"
                    (click)="onCancelClick()">
            </div>
            <div class="col-sm-3 pull-right">
                <div class="col24 pull-right">
                    <select class="form-control" id="menu" [disabled]="!isRecordSelected" (change)="onOptionChange($event.target.value)">             
                        <option selected value="">{{'Options'|translate}}</option>
                        <option value="ServiceCover">{{'Service Cover'|translate}}</option>
                    </select>
                </div>
            </div>
        </div>
    </footer>
    <icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
    <icabs-routeaway #routeAwayComponent></icabs-routeaway>
</section>