<form novalidate="" [formGroup]="maintenanceCFormGroup" (ngSubmit)="$event.preventDefault();">
    <div class="mt10">
        <div class="row mt2">
            <div class="col-sm-3" *ngIf="fieldVisibility.companyCode === true">
                <label class="col24">{{'Company' | translate}}<span *ngIf="fieldRequired.companyCode === true"
                        class="mandatory">* </span></label>
                <div class="col24">
                    <icabs-business-company-search #companySearch [inputParams]="inputParams"
                        (receivedCompanyCode)="onCompanySelected($event)" [active]="companySelected"
                        [isDisabled]="isCompanyDropdownDisabled" [isRequired]='fieldRequired.companyCode'
                        (companyDefaultBlank)="shouldSetDefault">
                    </icabs-business-company-search>
                </div>
            </div>
        </div>
        <div class="row mt2" *ngIf="fieldVisibility.salesEmployee === true">
            <div class="col-sm-3">
                <label class="col24 " for="SalesEmployee">{{'Negotiating Employee' | translate}}<span
                        class="mandatory">* </span></label>
                <div class="col8 pr5">
                    <input class="form-control padding-left-zero" type="text" [attr.maxlength]="6"
                        formControlName="SalesEmployee" id="SalesEmployee" (change)="onSalesEmployeeBlur($event);"
                        eTypeCode>
                </div>
                <div class="col14 pr5">
                    <input class="form-control padding-zero" type="text" [attr.maxlength]="35"
                        formControlName="SalesEmployeeSurname" eTypeText>
                </div>
                <div class="col2">
                    <icabs-ellipsis [autoOpen]='false' [showCloseButton]="showCloseButton"
                        [childConfigParams]="inputParamsEmployeeSearch" [modalConfig]="modalConfig"
                        [contentComponent]="employeeSearchComponent"
                        (ellipsisData)="onEmployeeDataReceived($event, true)" [showHeader]="showHeader"
                        [disabled]="isEmployeeSearchEllipsisDisabled"></icabs-ellipsis>
                </div>
            </div>
        </div>
        <div class="row mt2" *ngIf="fieldVisibility.contractOwnerSurname === true">
            <div class="col-sm-3">
                <label class="col24" for="ContractOwner">{{ 'Contract Owner' | translate }}<span
                        *ngIf="fieldRequired.contractOwnerSurname === true" class="mandatory">* </span></label>
                <div class="col8 pr5">
                    <input id="ContractOwner" class="form-control padding-left-zero" type="text" [attr.maxlength]="6"
                        formControlName="ContractOwner" (blur)="onContractOwnerBlur($event)" eTypeCode>
                </div>
                <div class="col14 pr5">
                    <input class="form-control padding-zero" type="text" [attr.maxlength]="35"
                        formControlName="ContractOwnerSurname" eTypeText>
                </div>
                <div class="col2">
                    <icabs-ellipsis [showCloseButton]="showCloseButton" [childConfigParams]="inputParamsContractOwner"
                        [modalConfig]="modalConfig" [contentComponent]="contractOwnerComponent"
                        (ellipsisData)="onContractOwnerDataReceived($event, true)" [showHeader]="showHeader"
                        [disabled]="isContractOwnerEllipsisDisabled"></icabs-ellipsis>
                </div>
            </div>
        </div>
        <div class="row mt2" *ngIf="fieldVisibility.companyVatNumber === true">
            <div class="col-sm-3">
                <label class="col24" for="CompanyVatNumber">{{ vCompanyVATNumberLabel | translate }}<span
                        *ngIf="fieldRequired.companyVatNumber === true" class="mandatory">* </span></label>
                <div class="col16">
                    <input type="text" id="CompanyVatNumber" class="form-control" placeholder="" [attr.maxlength]="20"
                        formControlName="CompanyVatNumber" eTypeCode>
                </div>
            </div>
        </div>
        <div class="row mt2" *ngIf="fieldVisibility.companyVatNumber2 === true">
            <div class="col-sm-3">
                <label class="col24" for="CompanyVatNumber2">{{ 'Tax Registration Number 2' | translate }}</label>
                <div class="col16">
                    <input type="text" id="CompanyVatNumber2" class="form-control" placeholder="" [attr.maxlength]="20"
                        formControlName="CompanyVatNumber2" eTypeCode>
                </div>
            </div>
        </div>
        <div class="row mt5" *ngIf="fieldVisibility.limitedCompany === true">
            <div class="col-sm-3">
                <input id="LimitedCompany" type="checkbox" (change)="onLimitedIndClick($event)"
                    formControlName="LimitedCompany">
                <label for="LimitedCompany">
                    {{'Limited Company' | translate}}
                </label>
            </div>
        </div>
        <div class="row mt2" *ngIf="fieldVisibility.companyRegistrationNumber === true">
            <div class="col-sm-3">
                <label class="col24" for="CompanyRegistrationNumber">{{'Company Registration Number' | translate }}<span
                        *ngIf="fieldRequired.companyRegistrationNumber === true" class="mandatory">* </span></label>
                <div class="col16">
                    <input type="text" id="CompanyRegistrationNumber" class="form-control" placeholder=""
                        [attr.maxlength]="20" formControlName="CompanyRegistrationNumber" eTypeCode>
                </div>
            </div>
        </div>
        <div class="row mt2" *ngIf="fieldVisibility.noticePeriod === true">
            <div class="col-sm-3">
                <label class="col24" for="NoticePeriod">{{ 'Notice Period' | translate }}<span
                        *ngIf="fieldRequired.noticePeriod === true" class="mandatory">* </span></label>
                <div class="col16 pr5">
                    <input type="text" id="NoticePeriod" class="form-control" placeholder="" [attr.maxlength]="2"
                        formControlName="NoticePeriod" (change)="onNoticePeriodChange($event);" eTypeInteger>
                </div>
                <div class="col8">
                    <p>{{'Months' | translate}}</p>
                </div>
            </div>
        </div>
        <div class="row mt2" *ngIf="fieldVisibility.externalReference === true">
            <div class="col-sm-3">
                <label class="col24" for="ExternalReference">{{ 'External Reference' | translate }}<span
                        *ngIf="fieldRequired.externalReference === true" class="mandatory">* </span></label>
                <div class="col16">
                    <input type="text" id="ExternalReference" class="form-control" placeholder="" [attr.maxlength]="60"
                        formControlName="ExternalReference" eTypeText>
                </div>
            </div>
        </div>
        <div class="row mt5" *ngIf="fieldVisibility.interCompanyPortfolio === true">
            <div class="col-sm-3">
                <input id="InterCompanyPortfolio" type="checkbox" formControlName="InterCompanyPortfolio">
                <label class="custom-checkbox-label gray" for="InterCompanyPortfolio">
                    {{ 'Inter-Company Portfolio' | translate }}
                </label>
            </div>
        </div>
        <div class="row mt2" *ngIf="fieldVisibility.contractReference === true">
            <div class="col-sm-3">
                <label class="col24" for="ContractReference">{{ 'Contract Reference' | translate }}</label>
                <div class="col24">
                    <input type="text" id="ContractReference" class="form-control" placeholder="" [attr.maxlength]="20"
                        formControlName="ContractReference" (change)="onCapitalize('ContractReference');" eTypeText>
                </div>
            </div>
        </div>
        <div class="row mt2" *ngIf="fieldVisibility.agreementNumber === true">
            <div class="col-sm-3">
                <label class="col24" for="AgreementNumber">{{ 'Agreement Number' | translate }}</label>
                <div class="col24">
                    <input type="text" id="AgreementNumber" class="form-control" placeholder="" [attr.maxlength]="20"
                        formControlName="AgreementNumber" (change)="onCapitalize('AgreementNumber');" eTypeText>
                </div>
            </div>
            <div class="col-sm-3 ">
                <label class="col24" for="RenewalAgreementNumber">{{ 'Renewal Agreement Number' | translate }}</label>
                <div class="col24">
                    <input type="text" id="RenewalAgreementNumber" class="form-control" placeholder=""
                        [attr.maxlength]="20" formControlName="RenewalAgreementNumber"
                        (change)="onCapitalize('RenewalAgreementNumber');" eTypeText>
                </div>
            </div>
        </div>
        <div class="row mt2" *ngIf="fieldVisibility.contractResignDate === true">
            <div class="col-sm-3">
                <label class="col24">{{'Contract Resign Date' | translate}}</label>
                <div class="col16">
                    <icabs-datepicker [dt]='contractResignDate' [clearDate]='clearDate.contractResignDate'
                        (selectedValue)="contractResignDateSelectedValue($event)"
                        [isDisabled]="!dateObjectsEnabled.contractResignDate"
                        [validate]="dateObjectsValidate.contractResignDate"></icabs-datepicker>
                </div>
            </div>
        </div>
        <div class="row mt5" *ngIf="fieldVisibility.telesales === true">
            <div class="col-sm-3">
                <input id="Telesales" type="checkbox" formControlName="Telesales">
                <label class="custom-checkbox-label gray" for="Telesales">
                    {{'Telesales' | translate}}
                </label>
            </div>
        </div>
        <div class="row mt2" *ngIf="fieldVisibility.groupAccountPriceGroupID === true">
            <div class="col-sm-3">
                <label class="col24" for="GroupAccountPriceGroupID">{{'Group Account Price Group' | translate}}</label>
                <div class="col8 pr5">
                    <input class="form-control padding-left-zero" id="GroupAccountPriceGroupID" type="text"
                        [attr.maxlength]="2" formControlName="GroupAccountPriceGroupID"
                        (blur)="onGroupAccountPriceBlur($event)" eTypeInteger>
                </div>
                <div class="col14 pr5">
                    <input class="form-control padding-zero" type="text" [attr.maxlength]="40"
                        formControlName="GroupAccountPriceGroupDesc" eTypeTextFree>
                </div>
                <div class="col2">
                    <icabs-ellipsis [showCloseButton]="showCloseButton" [childConfigParams]="inputParams"
                        [modalConfig]="modalConfig" [contentComponent]="groupAccountPriceComponent"
                        (ellipsisData)="onGroupAccountPriceDataReceived($event, true)" [showHeader]="showHeader"
                        [disabled]="isGroupAccountPriceSearchEllipsisDisabled"></icabs-ellipsis>
                </div>
            </div>
        </div>
    </div>
</form>