<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ 'Sales Area' | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="BusinessCode">{{ 'Business' | translate }}</label>
                    <div class="col24">
                        <div class="col4 pr5">
                            <input id="BusinessCode" class="form-control" formControlName="BusinessCode" type="text" size="6" maxlength="1">
                        </div>
                        <div class="col20">
                            <input id="BusinessDesc" class="form-control" formControlName="BusinessDesc" type="text" size="40" maxlength="35">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mt20">
                    <input type="checkbox" id="ActiveOnly" class="form-control" formControlName="ActiveOnly">
                    <label for="ActiveOnly">{{ 'Show Live Area Only' | translate }}</label>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="BranchNumber">{{ 'Branch' | translate }}</label>
                    <div class="col24">
                        <div class="col4 pr5">
                            <input id="BranchNumber" class="form-control" formControlName="BranchNumber" type="text" size="6" maxlength="5">
                        </div>
                        <div class="col20">
                            <input id="BranchName" class="form-control" formControlName="BranchName" type="text" size="40" maxlength="40">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="SearchType">{{ 'Filter By' | translate }}</label>
                    <div class="col12 pr5">
                        <select id="SearchType" class="form-control" formControlName="SearchType" size=1>
                            <option value="Code" [selected]="true">{{'Sales Area Code' | translate}}</option>
                            <option value="Desc">{{'Sales Area Description' | translate}}</option>
                        </select>
                    </div>
                    <div class="col12">
                        <input type="text" id="SearchValue" size="20" maxlength="20" formControlName="SearchValue" class="form-control">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="refresh()"></icabs-refresh>
                    <icabs-pagination #salesAreaGridPagination [totalItems]="totalRecords" [itemsPerPage]="pageSize" 
                            [canExport]="true" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
                <div class="col-sm-4 pull-right">
                    <div class="col12 pull-right">
                        <select class="form-control" id="menu" formControlName="menu" (change)="menuOnchange($event.target.value)">
                            <option [selected]="true" value="Options">{{ 'Options' | translate }}</option>
                            <option value="Add">{{ 'Add New Sales Area' | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 mt10">
                    <icabs-grid-advanced #riGrid id="riGrid" (TRDblClick)="tbodyOnDblclick($event)" (headerClick)="riGridSort($event)" (onSuccess)="riGridAfterExecute()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>