<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ pageTitle | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt10">
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col24">
                                <input type="button" class="btn btn-primary mr10" value="{{'Apply' | translate}}" id="Apply" formControlName="Apply" (click)="cmdApplyOnClick()">
                            </div>
                        </div>
                    </div>
                    <div class="row mt15">
                        <div class="col-sm-12">
                            <div class="col24">
                                <input type="checkbox" class="form-control" id="cbAddressLine1" formControlName="cbAddressLine1" [checked]="isChecked.cbAddressLine1"
                                    (change)="onCheckboxClicked($event,'addressline1')">
                                    <label for="cbAddressLine1">{{'Address Line 1' | translate }}</label>
                            </div>
                            <div class="col24 mt7">
                                <input type="text" class="form-control" id="strAddressLine1" size="40" maxlength="40" formControlName="strAddressLine1" eTypeText>
                            </div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-12">
                            <div class="col24">
                                <input type="checkbox" class="form-control" id="cbAddressLine2" formControlName="cbAddressLine2" [checked]="isChecked.cbAddressLine2"
                                    (change)="onCheckboxClicked($event,'addressline2')">
                                    <label for="cbAddressLine2">{{'Address Line 2' | translate }}</label>
                            </div>
                            <div class="col24 mt7">
                                <input type="text" class="form-control" id="strAddressLine2" size="40" maxlength="40" formControlName="strAddressLine2" eTypeText>
                            </div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-12">
                            <div class="col24">
                                <input type="checkbox" class="form-control" id="cbAddressLine3" formControlName="cbAddressLine3" [checked]="isChecked.cbAddressLine3"
                                    (change)="onCheckboxClicked($event,'addressline3')">
                                    <label for="cbAddressLine3">{{'Address Line 3' | translate }}</label>
                            </div>
                            <div class="col24 mt7">
                                <input type="text" class="form-control" id="strAddressLine3" size="40" maxlength="40" formControlName="strAddressLine3" eTypeText>
                            </div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-12">
                            <div class="col24">
                                <input type="checkbox" class="form-control" id="cbAddressLine4" formControlName="cbAddressLine4" [checked]="isChecked.cbAddressLine4"
                                    (change)="onCheckboxClicked($event,'addressline4')">
                                    <label for="cbAddressLine4">{{'Town' | translate }}</label>
                            </div>
                            <div class="col24 mt7">
                                <input type="text" class="form-control" id="strAddressLine4" size="40" maxlength="40" formControlName="strAddressLine4" eTypeText>
                            </div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-12">
                            <div class="col24">
                                <input type="checkbox" class="form-control" id="cbAddressLine5" formControlName="cbAddressLine5" [checked]="isChecked.cbAddressLine5"
                                    (change)="onCheckboxClicked($event,'addressline5')">
                                    <label for="cbAddressLine5">{{'County' | translate }}</label>
                            </div>
                            <div class="col24 mt7">
                                <input type="text" class="form-control" id="strAddressLine5" size="40" maxlength="40" formControlName="strAddressLine5" eTypeText>
                            </div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-12">
                            <div class="col24">
                                <input type="checkbox" class="form-control" id="cbPostcode" formControlName="cbPostcode" [checked]="isChecked.cbPostcode"
                                    (change)="onCheckboxClicked($event,'postcode')">
                                    <label for="cbPostcode">{{'Postcode' | translate }}</label>
                            </div>
                            <div class="col24 mt7">
                                <input type="text" class="form-control" id="strPostcode" size="40" maxlength="40" formControlName="strPostcode" eTypeCode>
                            </div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-12">
                            <div class="col24">
                                <input type="checkbox" class="form-control" id="cbCountry" formControlName="cbCountry" [checked]="isChecked.cbCountry" (change)="onCheckboxClicked($event,'country')">
                                <label for="cbCountry">{{'Country' | translate }}</label>
                            </div>
                            <div class="col12 pr5 mt7">
                                <input type="text" class="form-control" id="strCountry" size="4" maxlength="3" formControlName="strCountry" eTypeText>
                            </div>
                            <div class="col8 mt7">
                                <input type="button" class="btn btn-primary mr10" value="{{'Find From Address' | translate }}" id="cmdAddress" formControlName="cmdAddress"
                                    (click)="cmdAddressOnclick()">
                            </div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-12">
                            <div class="col24">
                                <input type="checkbox" class="form-control" id="cbGPSX" formControlName="cbGPSX" [checked]="isChecked.cbGPSX" (change)="onCheckboxClicked($event,'GPS')">
                                <label for="cbGPSX">{{'GPS' | translate }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-12">
                            <div class="col12 pr10">
                                <label for="strGPSX" class="col24">{{'X' | translate }}</label>
                                <div class="col24">
                                    <input type="text" class="form-control" id="strGPSX" size="10" [attr.maxlength]="9" formControlName="strGPSX" (change)="strGPSXOnchange()"
                                        eTypeText>
                                </div>
                            </div>
                            <div class="col12">
                                <label for="strGPSY" class="col24">{{'Y' | translate }}</label>
                                <div class="col24">
                                    <input type="text" class="form-control" id="strGPSY" size="10" [attr.maxlength]="9" formControlName="strGPSY" (change)="strGPSYOnchange()"
                                        eTypeText>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-12">
                            <div class="col10">
                                <input type="button" class="btn btn-primary" value="{{'Find From GPS' | translate }}" id="cmdFind" formControlName="cmdFind"
                                    (click)="cmdFindOnclick()">
                            </div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-12">
                            <div class="col12 pr10">
                                <label for="strScore" class="col24">{{'Score' | translate }}</label>
                                <div class="col24">
                                    <input type="text" class="form-control" id="strScore" size="5" maxlength="4" formControlName="strScore" (change)="strScoreOnchange()"
                                        eTypeText>
                                </div>
                            </div>
                            <div class="col12">
                                <label class="col24" for="strSelRoutingSource">{{'Source' | translate }}</label>
                                <div class="col24">
                                    <select id="strSelRoutingSource" formControlName="strSelRoutingSource" class="form-control">
                                        <option value="">{{ 'None' | translate }}</option>
                                        <option value="T">{{ 'Third Party' | translate }}</option>
                                        <option value="M">{{ 'Manual' | translate }}</option>
                                        <option value="P">{{ 'PDA' | translate }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt10" *ngIf="isGeonode">
                        <div class="col-sm-12">
                            <div class="col24">
                                <input type="checkbox" class="form-control" formControlName="cbGeonode" id="cbGeonode" [checked]="isChecked.cbGeonode" (change)="onCheckboxClicked($event,'geonode')">
                                <label for="cbGeonode">{{'Geocode' | translate }}</label>
                            </div>
                            <div class="col24 mt7">
                                <input type="text" class="form-control" id="strGeonode" size="10" maxlength="9" formControlName="strGeonode" eTypeText>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div id="map"></div>
                </div>
            </div>
            <hr class="mt15 mb15">
        </section>
        <div class="row" *ngIf="totalRecords > 0">
            <div class="col-sm-6">
                <icabs-refresh (click)="refresh()"></icabs-refresh>
                <icabs-pagination #invoiceRunDatPagination [totalItems]="totalRecords" [currentPage]="pageCurrent" [itemsPerPage]="pageSize"
                    (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
            </div>
        </div>
        <div class="row mt10">
            <div class="col-sm-12">
                <icabs-grid-advanced #riGrid id="riGrid" (bodyClick)="riGridBodyColumnFocus()"></icabs-grid-advanced>

            </div>
        </div>
    </form>
</section>
<icabs-spinner [isRunning]=" this[ 'isRequesting'] "></icabs-spinner>