<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Business'|translate}}</label>
                    <div class="col24">
                        <input type="text" class="form-control" id="BusinessCode" formControlName="BusinessCode"
                            size="20" maxlength="20">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Branch'|translate}}</label>
                    <div class="col24">
                        <input type="text" class="form-control" id="BranchNumber" formControlName="BranchNumber"
                            size="20" maxlength="20">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Filter By'|translate}}</label>
                    <div class="col14 pr5">
                        <select class="form-control" id="SearchType" formControlName="SearchType">
                            <option selected value="Code">{{'Branch Service Area Code' | translate }}</option>
                            <option value="Desc">{{'Branch Service Area Description' | translate }}</option>
                        </select>
                    </div>
                    <div class="col10">
                        <input type="text" class="form-control" id="SearchValue" formControlName="SearchValue" size="20"
                            maxlength="20">
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <div class="col24">
                        <input type="checkbox" class="form-control" id="ActiveOnly" formControlName="ActiveOnly">
                        <label for="ActiveOnly">{{'Show Live Area Only' | translate}}</label>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="refresh()"></icabs-refresh>
                    <icabs-pagination [currentPage]="pageCurrent" [itemsPerPage]="pageSize" [totalItems]="itemsTotal" [canExport]="true"
                        (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
                <div class="col-sm-3 pull-right">
                    <div class="col24">
                        <select class="form-control" id="menu" formControlName="menu" (change)=menuOnchange($event)>
                            <option selected value="">{{'Options'|translate}}</option>
                            <option value="Add">{{'Add New Branch Service Area' | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (headerClick)="riGridSort()" (bodyDblClick)=riGridBodyOndblClick()
                        (onSuccess)=riGridAfterExecute()></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>