<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-{{isBranch ? '4' : '3'}}">
                    <div class="col24">
                        <div class="col24">
                            <label class="col24">{{pageType|translate}} </label>
                        </div>
                        <div class="col8 pr5" *ngIf="isBranch">
                            <input type="text" id="BranchNumber" formControlName="BranchNumber" class="form-control"
                                eTypeInteger>
                        </div>
                        <div class="col14" *ngIf="isBranch">
                            <input type="text" id="BranchName" formControlName="BranchName" class="form-control"
                                eTypeText>
                        </div>
                        <div class="col24 pr5" *ngIf="isBusiness">
                            <input type="text" id="BusinessDesc" formControlName="BusinessDesc" size="40" maxlength="40"
                                class="form-control" eTypeText>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2" *ngIf="pageMode === 'Installations'">
                    <label class="col24" for="ContractTypeCode">{{'Contract Type' | translate}}</label>
                    <select class="form-control" id="ContractTypeCode" formControlName="ContractTypeCode">
                        <option value="C">{{'Contracts' | translate}}</option>
                        <option value="J">{{'Jobs' | translate}}</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <label class="col24">{{'From Date'| translate}}<span class="mandatory">*</span>
                    </label>
                    <div class="col24">
                        <icabs-datepicker id="FromDate" formControlName="FromDate" [isDirectiveBased]="false">
                        </icabs-datepicker>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col24" for="GroupBy">{{'Show' | translate}}</label>
                    <select class="form-control" id="FilterBy" formControlName="FilterBy">
                        <option value="All">{{'All' | translate}}</option>
                        <option value="Exc">{{'Excl. Upgrades' | translate}}</option>
                        <option value="Upgrades">{{'Only Upgrades' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-4" *ngIf="isBranch">
                    <label class="col24">{{'Branch Service Area Code'|translate}}</label>
                    <div class="col8 pr5">
                        <input id="BranchServiceAreaCode" size="6" [attr.maxlength]="6" class="form-control"
                            formControlName="BranchServiceAreaCode" (change)="onChnage('Service Area')" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="BranchServiceAreaDesc" size="30" [attr.maxlength]="40"
                            class="form-control" formControlName="BranchServiceAreaDesc" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="true"
                            [childConfigParams]="ellipsis.serviceArea.childConfigParams"
                            [contentComponent]="ellipsis.serviceArea.component"
                            (ellipsisData)="onDataRcv($event,'Service Area')" [showHeader]="true"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3" *ngIf="isBusiness">
                    <label class="col20">{{'Branch Number' | translate}}</label>
                    <div class="col24 pr5">
                        <icabs-branchsearch #branchSearchDropDown [inputParams]="dropdown.branchParams"
                            (receivedbranchsearch)="onDataRcv($event,'Branch Search')"></icabs-branchsearch>
                    </div>
                </div>
                <div class="col-sm-2 {{pageMode === 'Installations' ? 'col-md-offset-2' : ''}}">
                    <label class="col24">{{'To Date' | translate}}<span class="mandatory">*</span>
                    </label>
                    <div class="col24">
                        <icabs-datepicker id="ToDate" formControlName="ToDate" [isDirectiveBased]="false">
                        </icabs-datepicker>
                    </div>
                </div>
            </div>

            <hr class="mt15 mb15">
            <div class="row mt10">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [canExport]="true" [totalItems]="gridConfig.totalItem"
                        [currentPage]="this['pageParams'].gridCurrentPage" [itemsPerPage]="gridConfig.itemsPerPage"
                        (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)"
                        [ngClass]="{hidden: !hasGridData}" [exportOptions]="exportConfig">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (headerClick)="onHeaderClick()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>