<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row">
                <div class="col-sm-5">
                    <div class="col24">
                        <label class="col24">{{'Branch'|translate}}</label>
                        <div class="col4 pr5">
                            <input type="text" id="BranchNumber" size="6" [attr.maxlength]="6" class="form-control"
                                formControlName="BranchNumber" eTypeInteger>
                        </div>
                        <div class="col12">
                            <input type="text" id="BranchName" size="20" [attr.maxlength]="30" class="form-control"
                                formControlName="BranchName" eTypeText>
                        </div>
                    </div>
                    <div class="col24">
                        <label class="col24">{{'Employee'|translate}}</label>
                        <div class="col4 pr5">
                            <input type="text" id="EmployeeCode" size="6" [attr.maxlength]="6" class="form-control"
                                formControlName="EmployeeCode" eTypeInteger>
                        </div>
                        <div class="col12">
                            <input type="text" id="EmployeeSurname" size="20" [attr.maxlength]="30" class="form-control"
                                formControlName="EmployeeSurname" eTypeText>
                        </div>
                    </div>
                    <div class="col6 pr5">
                        <label class="col24">{{ 'Show' | translate }}</label>
                        <select id="ShowType" class="form-control" formControlName="ShowType">
                            <option *ngFor="let show of prodService.show" value="{{ show.value }}">
                                {{ show.text | translate}}
                            </option>
                        </select>
                    </div>
                    <div class="col6">
                        <label class="col24">{{ 'View By' | translate }}</label>
                        <select id="GroupBy" class="form-control" formControlName="GroupBy">
                            <option *ngFor="let view of prodService.view" value="{{ view.value }}">
                                {{ view.text | translate}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col12 pr5">
                        <label class="col24">{{'Date' | translate}}
                        </label>
                        <div class="col16">
                            <icabs-datepicker id="Date" formControlName="Date" [isDirectiveBased]="false">
                            </icabs-datepicker>
                        </div>
                    </div>
                    <div class="col7 pr5">
                        <label class="col24">{{ 'Options' | translate }}</label>
                        <select id="Options" class="form-control" formControlName="Options"
                            (change)="onOptionsChange()">
                            <option value="options" selected>Options</option>
                            <option value="ServiceSummary">Service Work Summary</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="gridConfig.totalRecords"
                        [currentPage]="this['pageParams'].gridCurrentPage" [itemsPerPage]="gridConfig.pageSize"
                        (getCurrentPage)="getCurrentPage($event)">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>