<form novalidate [formGroup]="formGroup">
    <div id="Workorders" class="mt10">
        <div class="row mt2">
            <div class="col-sm-3">
                <label class="col24" for="WOSelectedContractPremise">{{ 'Selected Contract/Premises' | translate }}</label>
                <div class="col17 pr5">
                    <input type="text" id="WOSelectedContractPremise" formControlName="WOSelectedContractPremise" size="40" maxlength="40" class="form-control" eTypeTextFree>
                </div>
                <div class="col3">
                    <input id="CmdWOClearSelected" (click)="cmdWOClearSelectedOnClick($event)" formControlName="CmdWOClearSelected" type="button" class="btn btn-primary" value="{{ 'Clear' | translate }}">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col8 pr5 mt20">
                    <select class="form-control" id="WorkOrderType" formControlName="WorkOrderType">
                        <option value="all" selected>{{ 'All' | translate }}</option>
                        <option value="reviews">{{ 'Account Reviews' | translate }}</option>
                        <option value="sales">{{ 'Sales Visits' | translate }}</option>
                        <option value="visits">{{ 'Service Visits' | translate }}</option>
                        <option value="overdue">{{ 'Overdue All' | translate }}</option>
                        <option value="overduereviews">{{ 'Overdue Account Reviews' | translate }}</option>
                        <option value="overduesales">{{ 'Overdue Sales' | translate }}</option>
                        <option value="overdueservice">{{ 'Overdue Service' | translate }}</option>
                    </select>
                </div>
                <div class="col8 pr5">
                    <label class="col24">{{ 'From' | translate }}</label>
                    <icabs-datepicker [dt]='dateObjects.WOFromDate' [isDisabled]="!dateObjectsEnabled.WOFromDate" (selectedValue)="wOFromDateSelectedValue($event)" [uiFormGroup]="formGroup" [controlName]="'WOFromDate'"></icabs-datepicker>
                </div>
                <div class="col8">
                    <label class="col24">{{ 'To' | translate }}</label>
                    <icabs-datepicker [dt]='dateObjects.WOToDate' [isDisabled]="!dateObjectsEnabled.WOToDate" (selectedValue)="wOToDateSelectedValue($event)" [uiFormGroup]="formGroup" [controlName]="'WOToDate'"></icabs-datepicker>
                </div>
            </div>
            <div class="col-sm-3 mt20" *ngIf="fieldVisibility.FurtherRecords">
                <div class="col12">
                    <strong>{{ 'Further Records' | translate }}</strong>
                </div>
            </div>
        </div>
        <div class="row mt20">
            <div class="col-sm-6">
                <icabs-refresh (click)="refresh()"></icabs-refresh>
                <icabs-pagination *ngIf="totalRecords > 0" [totalItems]="totalRecords" [itemsPerPage]="pageSize" (getCurrentPage)="getCurrentPage($event)" [currentPage]="paginationCurrentPage"></icabs-pagination>
            </div>
        </div>
        <div class="row mt10">
            <div class="col-sm-12">
                <icabs-grid #workGrid [maxColumns]="maxColumns" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage" (gridInfo)="getGridInfo($event)" (selectedRowInfo)="onGridRowClick($event)" (getCellData)="onGridCellClick($event)" [sortIndex]="gridSortHeaders" (sortInfo)="sortGrid($event)" [showTick]="true" [headerProperties]="headerProperties" [validateProperties]="validateProperties"></icabs-grid>
            </div>
        </div>
    </div>
</form>
