.dusk {
    #main-app-wrapper{
        position:relative;
    }

    .top-menu-holder {
        background: #0F202E;
        color: #E5E5E5!important;
    }

    .top-menu li a,
    .login-info li,
    .login-info li:last-child a {
        color: #E5E5E5;
    }

    .bg-header {
        background-color: #354A55;
        color: #E5E5E5;
    }

    .cbb-wrapper {
         .links {
             &>span {
                position: relative;
                &>a {
                    &.eject {
                        padding: 5px;
                        span {
                            font-size: 15px;
                            transform: rotate(180deg);
                        }
                    }
                    &:hover {
                        cursor: default;
                        &>span.glyphicon {
                            color: #469FCA;
                        }
                    }
                    &.active {
                        &:after {
                            border-color: #FCF0C4 transparent transparent #FCF0C4;
                        }
                        &>span.glyphicon {
                            color: #FCF0C4;
                        }
                    }
                    span.glyphicon {
                        &:hover {
                            color: #FCF0C4;
                            cursor: pointer;
                        }
                    }
                }
            }
            .options-dropdown {
                position: absolute;
                background-color: #FCF0C4;
                span {
                    color: #56460A;
                }
                &:after {
                    border-color: #FCF0C4 transparent transparent #FCF0C4;
                }
                ul {
                    li {
                        a {
                            color: #56460A;
                            &:hover {
                                background-color: #DAC57A;
                            }
                        }
                    }
                }

            }
        }
        label {
            color: #E5E5E5;
        }
    }

    .onMobile .logo{padding-top: 0;}
    .logo img {
        height: 35px;
    }

    .uplus-classic {
        display: none;
    }
    .uplus-dusk {
        display: inline-block;
    }

    .nav-container {
        background-color: #469FCA;
    }

    .navbar-header .icon-bar {
        background-color: #FFF;
    }

    .custom-container {
        background-color: #FFF;
    }

    .custom-container.onMobile{
        padding-top:0;
        .cb{clear:both;}
        .hide-on-mobile{display:none;}
        .no-pad-right{padding-right: 0;}
        .sd-pad-top-10{ padding-top: 10px;}
        .sd-float-left{float:left;}
        .sd-float-right{float:right;}
        .sd-margin-left-10{margin-left:10px;}
        .sd-margin-top-10{margin-top:10px;}
        .sd-margin-top-15{margin-top:15px;}
        .sd-no-margin-left{margin-left:-15px;}
        .sd-pad-left-5{padding-left: 5px;}
        .sd-pad-right-5{padding-right: 5px;}

        .mobile-header{
            background-color:#354a55;
            padding:1em 1em .02em 1em;
            position:fixed;
            width:100%;
            top:0;
            z-index: 9999;

            .user-info{
                color:#fff;
                padding:10px;
                clear:both;
            }
            .env-sticker{background-image: none;}
        }
        .screen-header{
            margin-top:65px;
        }
        .screen-body, .slide-container{
            padding-top:0;

            .page-msg{text-align: center; }

            .tab-scroll-indicator{
                width:28px;
                height:40px;
                background: #469FCA;
            }
            .sd-tab-wrapper{
                overflow: hidden;
                height: 40px;
                padding: 0;
                overflow-x: scroll;
                transition: transform .4s ease-in;
            }

            .tab-content{clear:both;}

            .slide-details{transition: 2s ease-in;}
            .active-slide{
                border:1px solid #fff;
                box-shadow:0px 0px 10px 1px rgba(189,189,189,0.72);
            }
            .active-slide .text-bold{font-weight: bold;}

            .thumbnail{
                word-break: break-word;
                margin-bottom:.8em;
                height:10em;
                overflow: hidden;
                position: relative;
                padding:1em;

                .ellipsesText{
                    height: auto;
                    overflow: hidden;
                    position: relative;
                    display:block;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    background:transparent;
                }

                .slide-sign{
                    position: absolute;
                    right: -0.2em;
                    top: .5em;
                }
            }
            .active-slide.thumbnail{
                height:100%;

                .ellipsesText{
                    text-overflow: initial;
                    white-space: normal;
                    line-height: normal;
                }
            }
        }
        .slide-container{
            max-height: 20em;
        }
    }

    .onMobile .modal-dialog{
        top:20%;
    }

    .modal .custom-container {
        background: transparent;
    }

    .back-link-container {
        float: left;

        a {
            display: inline-block;
            background-color: #469FCA;
            font-size: 36px;
            &:hover {
                background-color: #354A55;
                color: #E5E5E5;
            }
        }
    }

    .env-label{
        label {
            color:#E5E5E5;
            padding-top: 3px;
            font-weight: bold;
        }
    }

    .main-nav {
        & .show .feature-wrapper {
            background-color: #354A55;
        }
        &>ul li {
            &.show{
                background-color: #354A55;
                a {
                    color: #E5E5E5;
                }
            }
            &.domain {
                color: #E5E5E5;
                &.show .domain-title {
                    color: #E5E5E5;
                    font-weight: bold;
                    .glyphicon,
                    .glyphicon:hover {
                        color: #E5E5E5;
                    }
                }
            }
            & .feature-wrapper li.feature .feature-title {
                color: #E5E5E5;
                font-size: 16px;
            }
        }
        &>ul>li .module-title:hover {
            font-weight: bold;
            font-style: italic;
        }
    }

    .autocomplete-dropdown {
        background-color: #469FCA;

        .autocomplete-title {
            color: #FFF;
        }

        .autocomplete-selected-row {
            background-color: #386C8A;
            font-weight: bold;
        }

        .autocomplete-searching {
            color: #000;
            padding-left: 5px;
            opacity: 0.5;
        }

        &::-webkit-scrollbar {
            background: #354A55;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.31);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.31);
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0,125,198,0.8);
            border-radius: 3px;
        }
    }

    .nav.nav-tabs {
        li {
            background-color: #354A55;
            border-right: 1px solid #E5E5E5;
            &>a {
                color: #E5E5E5;
                margin-right: 0;
            }

            &.active>a {
                color: #333;
            }
        }
        .nav-item.error {
            a, a:hover, a:active {
                background-color: #FF0000;
                font-weight: bold;
            }
            a.active {
                background-color: #FFF;
                border-top: 0;
                border-right: 0;
                border-bottom: 4px solid #FF0000;
                border-left: 0;
            }
        }
    }

    .flag-fixed {
        ul li {
            background-color: #364C5F;
            color: #E5E5E5;
        }
    }
    @media (min-width: 1200px) {
        .flag-fixed {
            right: 0;
        }
    }
    @media (min-width: 1400px) {
        .flag-fixed {
            right: 40px;
        }
    }
    @media (min-width: 1500px) {
        .flag-fixed {
            right: 120px;
        }
    }
    @media (min-width: 1600px) {
        .flag-fixed {
            right: 285px;
        }
    }

    .error-tab-a {
        .nav-tabs {
            .nav-item:nth-child(1) {
                a, a:hover, a:active {
                    background-color: #FF0000;
                    font-weight: bold;

                }
            }
        }
    }
    .error-tab-b {
        .nav-tabs {
            .nav-item:nth-child(2) {
                a, a:hover, a:active {
                    background-color: #FF0000;
                    font-weight: bold;
                }
            }
        }
    }
    .error-tab-c {
        .nav-tabs {
            .nav-item:nth-child(3) {
                a, a:hover, a:active {
                    background-color: #FF0000;
                    font-weight: bold;
                }
            }
        }
    }
    .error-tab-d {
        .nav-tabs {
            .nav-item:nth-child(4) {
                a, a:hover, a:active {
                    background-color: #FF0000;
                    font-weight: bold;
                }
            }
        }
    }
    .error-tab-e {
        .nav-tabs {
            .nav-item:nth-child(5) {
                a, a:hover, a:active {
                    background-color: #FF0000;
                    font-weight: bold;
                }
            }
        }
    }

    .custom-footer {
        background-color: #0F202E;
        color: #E5E5E5;
        a {
            color: #E5E5E5;
        }
    }


    @media (min-width: 1200px) {
        .custom-container {
            padding-top: 65px;
            &.modal-fix {
                padding-top: 0;
            }
        }
    }
}

.top-menu .glyphicon {
    top: 0;
}
.login-info .glyphicon {
    margin-left: 3px;
}
.uplus-classic {
    display: inline-block;
}
.uplus-dusk {
    display: none;
}

@media (min-width: 1200px) {
    .menu-expanded .custom-container {
        padding-top: 90px;
        &.modal-fix {
            padding-top: 0;
        }
    }
}

@media only screen and (orientation: portrait) {
    .modal.in .modal-dialog{ 
        top:20%;
    }
    .mobile-mode-warning-wrapper{
        display:none;
    }
}
@media only screen and (orientation: landscape) {
    .mobile-mode-warning-wrapper{
        z-index: 999999;
        position: fixed;
        top:0;left:0;right:0;bottom:0;background-color:#fff;height:100%;
        div.warning-content{
            justify-content:center;align-items:center; font-size:2em; color:#ae1a1a;text-align:center;
            padding:1.5em;

            img{
                height:2em;
            }
        }
    }
}

