<section class="container-fluid custom-container onMobile">

    <icabs-mobile-header [userName]="userName" (onSignOut)="signOut($event)"></icabs-mobile-header>

    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ pageTitle | translate }}
                </h1>
            </div>
        </div>
    </header>

        <section class="screen-body-full">
            <div class="row mt5 filterSection">
                <div class="col-xs-12">
                    <div class="col24"
                        (click)="showFilters = !showFilters">
                        <span class="legend-label">{{ 'Filters' | translate }}</span>
                        <a href="javascript:;" title="{{ 'Detail' | translate}}" class="sd-float-right">
                            <span class="glyphicon"
                                [ngClass]="showFilters? 'glyphicon-chevron-down': 'glyphicon-chevron-right'"></span>
                        </a>
                    </div>
                    <form>
                        <div class="col-xs-12 mt5"
                            [ngClass]="showFilters? 'display-filters': ''"
                            [hidden]="!showFilters">
                            <div class="col-xs-12">
                                <label class="col24">{{'Log Number' | translate}} </label>
                                <div class="col24">
                                    <input type="text" class="form-control" maxlength="30" [(ngModel)]="logNumber"
                                        name="logNumber">
                                </div>
                            </div>
                            <div class="col-xs-12 mt10">
                                <label class="col24">{{'Ticket Number' | translate}} </label>
                                <div class="col24">
                                    <input type="text" class="form-control" maxlength="30" [(ngModel)]="ticketNumber"
                                        name="logNumber">
                                </div>
                            </div>
                            <div class="col-xs-12 mt10">
                                <label class="col24">{{'Action' | translate}} </label>
                                <div class="col24">
                                    <select class="form-control" (change)="onActionChange($event)">
                                        <option value="actionby">{{'Action By Date' | translate}}</option>
                                        <option value="created">{{'Created Date' | translate}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 mt10">
                                <label class="col24">{{'From' | translate}} </label>
                                <div class="col24">
                                    <icabs-datepicker
                                        [dt]="fromDate"
                                        [isDirectiveBased]="true"
                                        class="date-picker-mobile"
                                        id="From"
                                        name="fromDate"
                                        (selectedValue)="updateDatePickerValue($event, 'from')">
                                    </icabs-datepicker>
                                </div>
                            </div>
                            <div class="col-xs-12 mt10">
                                <label class="col24">{{'To' | translate}} </label>
                                <div class="col24">
                                    <icabs-datepicker
                                        [dt]="toDate"
                                        [isDirectiveBased]="true"
                                        class="date-picker-mobile"
                                        id="To"
                                        (selectedValue)="updateDatePickerValue($event)">
                                    </icabs-datepicker>
                                </div>
                            </div>
                            <div class="col-xs-12 mt20">
                                <input class="btn btn-primary btn-block" type="button" value="{{'Search'|translate}}"
                                    (click)="onRefreshData('fromfilter'); showFilters = !showFilters;">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row mt5 screen-body">
                <div class="col-xs-12">
                    <div>
                        <icabs-grid-to-slide #gridToSlide [columnToHide]="columnsToHide" [enableDrillDown]="true" (onSlideDrillDown)="navigateToTicketMaintenance($event)"></icabs-grid-to-slide>
                    </div>
                </div>
                <div class="page-msg">
                    <strong>{{pageMsg | translate}}</strong>
                </div>
            </div>

        </section>

</section>
<icabs-spinner [isRunning]="isRequesting"></icabs-spinner>
<icabs-custom-alert [messageType]="messageType" [alertMessage]="customAlertMsg"></icabs-custom-alert>