<section class="container-fluid custom-container">
    <header>
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-3" *ngIf="!isBranch">
                        <label class="col24">{{ 'Business' | translate }}</label>
                        <input type="text" id="BusinessCode" formControlName="BusinessCode" hidden>
                        <input type="text" id="BusinessDesc" formControlName="BusinessDesc" size="46">
                    </div>
                    <div class="col-sm-3" *ngIf="isBranch">
                        <label class="col24">{{'Branch'|translate}}</label>
                        <div class="col8 pr5">
                            <input type="text" id="BranchNumber" size="3" maxlength="5" class="form-control"
                                formControlName="BranchNumber" eTypeText>
                        </div>
                        <div class="col16">
                            <input type="text" id="BranchName" size="35" maxlength="40" class="form-control"
                                formControlName="BranchName" eTypeText>
                        </div>
                    </div>
                    <div class="col-sm-3" *ngIf="SystemCharEnableCompanyCode">
                        <label class="col24">{{'Company (blank for all)'| translate}}</label>
                        <div class="col24">
                            <icabs-business-company-search #companyDropDown
                                [inputParams]="companyInputParams"
                                [active]="companyDefault"
                                (companyCodeServiceReturn)="checkData($event)"
                                (receivedCompanyCode)="onCompanyChange($event)"
                            >
                            </icabs-business-company-search>
                            <div class="" hidden>
                                <input id="CompanyDesc" class="form-control" formControlName="CompanyDesc" type="text"
                                    size="40" maxlength="40" eTypeText hidden>
                                <input #formCompanyCode id="CompanyCode" class="form-control"
                                    formControlName="CompanyCode" type="text" size="2" maxlength="2" eTypeCode hidden>
                            </div>
                        </div>
                        <div class="" hidden>
                            <input type="text" id="CompanyCodeDetail" size="20" [attr.maxlength]="30"
                                class="form-control" formControlName="CompanyCodeDetail" eTypeText >
                        </div>
                    </div>
                    <div class="col-sm-3" *ngIf="SystemCharContractOwner && !isBranch">
                        <label class="col24">{{'Contract Owner'| translate}}</label>
                        <div class="col22 pr5">
                            <input type="text" #contractOwner id="ContractOwner" size="6" [attr.maxlength]="6"
                                class="form-control" formControlName="ContractOwner" placeholder=""
                                (blur)="getFieldDetails($event)">
                        </div>
                        <div class="col2">
                            <icabs-ellipsis #employeeSearchEllipsis
                                [autoOpen]="ellipsisConfig.employeeSearch.autoOpen"
                                [showCloseButton]="ellipsisConfig.employeeSearch.showCloseButton"
                                [childConfigParams]="ellipsisConfig.employeeSearch.childConfigParams"
                                [modalConfig]="ellipsisConfig.employeeSearch.modalConfig"
                                [contentComponent]="ellipsisConfig.employeeSearch.contentComponent"
                                [showHeader]="ellipsisConfig.employeeSearch.showHeader"
                                [searchModalRoute]="ellipsisConfig.employeeSearch.searchModalRoute"
                                [disabled]="ellipsisConfig.employeeSearch.disabled"
                                (modalHidden)="modalHiddenEmployeeSearch()"
                                (ellipsisData)="onEmployeeSearchDataReceived($event)"></icabs-ellipsis>
                            <input type="text" id="ContractOwnerSurname" formControlName="ContractOwnerSurname" hidden>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-3 mt10">
                        <label class="col24">{{ 'Contract Type' | translate }}</label>
                        <select id="ContractTypeCode" class="form-control" formControlName="ContractTypeCode" (change)="onChangeControls()">
                            <option *ngFor="let options of contractTypeCodeValues" value="{{options.value}}">
                                {{ options.text | translate }}</option>
                        </select>
                    </div>
                    <div class="col-sm-3 mt10">
                        <label class="col24">{{ 'Count Level' | translate }}</label>
                        <select id="CountLevel" class="form-control" formControlName="CountLevel" (change)="onChangeControls()">
                            <option *ngFor="let options of countLevelValues" value="{{options.value}}">
                                {{ options.text | translate }}</option>
                        </select>
                    </div>
                    <div class="col-sm-3 mt10">
                        <label class="col24">{{ 'Group By' | translate }}</label>
                        <select id="GroupBy" class="form-control" formControlName="GroupBy" (change)="onChangeControls()">
                            <option *ngFor="let options of groupByValues" value="{{options.value}}">
                                {{ options.text | translate }}</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-3 mt10">
                        <label for="AtDate" class="col24">{{ 'At Date' | translate }}<span
                                class="mandatory">*</span></label>
                        <icabs-datepicker 
                            id="AtDate"
                            formControlName="AtDate"
                            [isDirectiveBased]="false"
                            [isRequired]="true"
                            (onEnterKey)="populateGrid()"
                            >
                        </icabs-datepicker>
                    </div>
                    <div class="col-sm-3 mt10">
                        <label class="col24">{{'Show Number of lines'| translate}}</label>
                        <div class="col8">
                            <input type="text" id="NumberOfLines" size="6" [attr.maxlength]="3" class="form-control"
                                formControlName="NumberOfLines" eTypeInteger>
                        </div>
                    </div>
                    <div class="col-sm-3 mt30">
                        <input type="checkbox" id="IncludeZeroValue" class="form-control"
                            formControlName="IncludeZeroValue">
                        <label for="IncludeZeroValue" class="col24">{{ 'Include Zero Value' | translate }}</label>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row mt10">
                <div class="col-sm-5 ml15">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="gridConfig.totalRecords"
                        [currentPage]="this['pageParams'].gridCurrentPage" [itemsPerPage]="gridConfig.pageSize"
                        (getCurrentPage)="getCurrentPage($event)" [hidden]="!displayPagination" [canExport]="true">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="onGridBodyDoubleClick()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>