<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4" *ngIf="pageType==='Business'">
                    <label class="col20">{{'Business' |translate}} </label>
                    <div class="col20 pr5">
                        <input type="text" id="BusinessDesc" formControlName="BusinessDesc" size="9" maxlength="9"
                            class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="pageType==='Branch'">
                    <label class="col24">{{'Branch' |translate}} </label>
                    <div class="col6 pr5">
                        <input type="text" id="BranchNumber" formControlName="BranchNumber" size="9" maxlength="9"
                            class="form-control" eTypeInteger>
                    </div>
                    <div class="col14">
                        <input type="text" id="BranchName" formControlName="BranchName" size="40" maxlength="40"
                            class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="pageType==='Region'">
                    <label class="col24">{{'Region' |translate}} </label>
                    <div class="col6 pr5">
                        <input type="text" id="RegionNumber" formControlName="RegionNumber" size="9" maxlength="9"
                            class="form-control" eTypeCode>
                    </div>
                    <div class="col14">
                        <input type="text" id="RegionName" formControlName="RegionName" size="40" maxlength="40"
                            class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="pageType==='Employee'">
                    <label class="col24" for="EmployeeCode">{{ 'Employee' | translate}}
                        <span class="mandatory" *ngIf="!this['pageParams'].employeeDisable">*</span>
                    </label>
                    <div class="col6 pr5">
                        <input #employeeCode id="EmployeeCode" class="form-control" formControlName="EmployeeCode"
                            type="text" size="6" maxlength="6" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input id="EmployeeSurname" class="form-control" formControlName="EmployeeSurname" type="text"
                            size="30" maxlength="30" eTypeText>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div *ngIf="this['pageParams']['vSCEnableCompanyCode']">
                        <label class="col20" id="spanCompanyCode">{{ 'Company (blank for all)' | translate }}</label>
                        <div class="col20">
                            <icabs-business-company-search #companyDropdown [inputParams]="dropdown.company.params"
                                (receivedCompanyCode)="onCompanyChange($event)" [active]="dropdown.company.active">
                            </icabs-business-company-search>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col20">{{'View Type' |translate}} </label>
                    <div class="col20 pr5">
                        <select id="ViewType" class="form-control" formControlName="ViewType"
                            (change)="onViewTypeChange()">
                            <option *ngFor="let viewTypeOptions of viewTypeValues" value="{{viewTypeOptions.value}}">
                                {{ viewTypeOptions.text | translate }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col20">{{'Filter on' |translate}} </label>
                    <div class="col20 pr5">
                        <select id="FilterBy" class="form-control" formControlName="FilterBy"
                            (change)="onFilterChange()">
                            <option *ngFor="let filterOnOptions of filterOnValues" value="{{filterOnOptions.value}}">
                                {{ filterOnOptions.text | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="!showProductSearch">
                    <label class="col20">
                        {{ 'Code' | translate }}<span></span>
                    </label>
                    <div class="col20">
                        <select id="ReportGroup" class="form-control" formControlName="ReportGroup"
                            (change)="onReportGroupChange($event.target)">
                            <option value=""></option>
                            <option *ngFor="let reportGroups of reportGroup" value="{{ reportGroups.ReportGroupCode }}">
                                {{ reportGroups.ReportGroupCode + ' - ' + reportGroups.ReportGroupDesc }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="showProductSearch">
                    <label class="col20">{{ 'Code' | translate }}</label>
                    <div class="col5 pr5">
                        <input id="ProductCode" formControlName="FilterCode" class="form-control" type="text" eTypeCode
                            fetchDescription table="Product" query="ProductCode" select="ProductDesc" field="FilterDesc"
                            (change)="this['riGrid'].RefreshRequired()">
                    </div>
                    <div class="col13 pr5">
                        <input id="FilterDesc" formControlName="FilterDesc" [readonly]="true" class="form-control"
                            type="text" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #ProductEllipsis [showCloseButton]=true
                            [childConfigParams]="ellipsis.ProductSearchComponentEllipsis.childparams"
                            [contentComponent]="ellipsis.ProductSearchComponentEllipsis.component"
                            (ellipsisData)="onProductSearchDataReceived($event)" [showHeader]=true></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col20">{{'Report Type' |translate}} </label>
                    <div class="col20 pr5">
                        <select id="ViewMode" class="form-control" formControlName="ViewMode"
                            (change)="onViewModeChange($event.target);">
                            <option *ngFor="let viewModeOptions of this['pageParams'].viewModeValues"
                                value="{{viewModeOptions.value}}">
                                {{ viewModeOptions.text | translate }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-5">
                            <label for="From" class="col20">{{'From' | translate}}
                                <span class="mandatory">*</span>
                            </label>
                            <div class="col24">
                                <icabs-datepicker formControlName="DateFrom" (change)="onDateChange()"
                                    [isDirectiveBased]="false">
                                </icabs-datepicker>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <label for="To" class="col20">{{'To' | translate}}
                                <span class="mandatory">*</span>
                            </label>
                            <div class="col24">
                                <icabs-datepicker formControlName="DateTo" [isDirectiveBased]="false">
                                </icabs-datepicker>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div *ngIf="pageType!=='Employee'">
                        <label class="col20">{{'Sales Type' |translate}} </label>
                        <div class="col20 pr5">
                            <select id="SalesType" class="form-control" formControlName="SalesType"
                                (change)="onSalesTypeChange()">
                                <option *ngFor="let salesTypeOptions of salesTypeValues"
                                    value="{{salesTypeOptions.value}}">
                                    {{ salesTypeOptions.text | translate }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col20">{{'Date Type' |translate}} </label>
                    <div class="col20 pr5">
                        <select id="ReportMode" class="form-control" formControlName="ReportMode"
                            (change)="onReportModeChange()">
                            <option *ngFor="let reportModeOptions of reportModeValues"
                                value="{{reportModeOptions.value}}">
                                {{ reportModeOptions.text | translate }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt15">
                <div class="col-sm-4" *ngIf="pageType==='Business' && showEmployeeOnly">
                    <label class="col24" for="EmployeeCode">{{ 'Show Only Employee' | translate}}
                    </label>
                    <div class="col6 pr5">
                        <input #employeeCode id="EmployeeCode" class="form-control" formControlName="EmployeeCode"
                            type="text" size="6" maxlength="6" eTypeCode fetchDescription table="Employee"
                            query="EmployeeCode" select="EmployeeSurname" (change)="gridRefresh()">
                    </div>
                    <div class="col14 pr5">
                        <input id="EmployeeSurname" class="form-control" formControlName="EmployeeSurname" type="text"
                            size="30" maxlength="30" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="true" [showHeader]="true"
                            [childConfigParams]="ellipsis.employee.childConfigParams"
                            [contentComponent]="ellipsis.employee.component"
                            (ellipsisData)="onEmployeeDataReceived($event)"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="this['pageParams']['vSCMergeBranchSales']">
                    <div class="col24">
                        <input type="checkbox" class="form-control" id="vMergeEmployees"
                            formControlName="vMergeEmployees">
                        <label for="vMergeEmployees">{{'Merge Employee To Branch'|translate}}</label>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="this['pageParams'].gridConfig.totalRecords"
                        [itemsPerPage]="this['pageParams'].gridConfig.pageSize"
                        [currentPage]="this['pageParams'].gridCurrentPage" [canExport]="true"
                        (getCurrentPage)="getCurrentPage($event)" [ngClass]="{hidden: !hasGridData}"
                        [exportOptions]="{dateColumns: dateCol}">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <div style="overflow-x:auto;">
                        <icabs-grid-advanced #riGrid (headerClick)="onRiGridRefresh()"
                            (bodyDblClick)="riGridBodyOnDblClick()"></icabs-grid-advanced>
                    </div>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
