<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] |translate}}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Branch Number' |translate}} </label>
                    <div class="col24">
                        <input id="BranchNumberName" type="text" class="form-control" size="5" [attr.maxlength]="5" tabindex="1" formControlName="BranchNumberName"
                            eTypeText>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col12 mt20">
                        <input type="checkbox" id="ShowDetails" class="form-control" formControlName="ShowDetails">
                        <label for="ShowDetails">{{ 'Show Details' | translate }}</label>
                    </div>
                </div>

            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Service Area' |translate}}<span class="mandatory">*</span></label>
                    <div class="col8 pr5">
                        <input type="text" size="11" [attr.maxlength]="4" class="form-control" formControlName="BranchServiceAreaCode" id="BranchServiceAreaCode"
                            eTypeTextFree (change)="branchServiceAreaFetch()">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" size="40" [attr.maxlength]="40" class="form-control" formControlName="EmployeeSurname" id="EmployeeSurname"
                            eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #branchServiceAreaCodeEllipsis [showCloseButton]="true" [childConfigParams]="branchServiceAreaEllipsis.inputParams"
                            [modalConfig]="ellipsismodalConfig" [contentComponent]="branchServiceAreaEllipsis.component" (ellipsisData)="branchServiceAreaEllipsis.dataReceived($event)"
                            [showHeader]="true" [disabled]="false"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24" for="DisplayLines">{{ 'Display Lines' | translate}}<span class="mandatory">*</span></label>
                    <div class="col6">
                        <input type="text" [attr.maxlength]="3" id="DisplayLines" class="form-control" formControlName="DisplayLines" eTypeInteger>
                    </div>
                </div>

            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Contract Number' |translate}} </label>
                    <div class="col8 pr5">
                        <input type="text" size="11" [attr.maxlength]="8" class="form-control" (focus)="clearFeilds('ContractNumber')" (blur)="fillFeilds('ContractNumber')"
                            formControlName="ContractNumber" id="ContractNumber" eTypeCode icabsZeroPad>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" size="40" [attr.maxlength]="40" class="form-control" formControlName="ContractDesc" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #contractSearchEllipsis [showCloseButton]="true" [childConfigParams]="contractSearchEllipsisConfig.inputParams"
                            [modalConfig]="ellipsismodalConfig" [contentComponent]="contractSearchEllipsisConfig.component" (ellipsisData)="contractSearchEllipsisConfig.dataReceived($event)"
                            [showHeader]="true" [disabled]="false"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Date From' |translate}}</label>
                    <div class="col12">
                        <input type="text" size="40" [attr.maxlength]="40" class="form-control" formControlName="StartDate" id="StartDate" eTypeDate>
                    </div>
                </div>

            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Premises Number' |translate}} </label>
                    <div class="col8 pr5">
                        <input type="text" size="11" [attr.maxlength]="8" class="form-control" (focus)="clearFeilds('PremiseNumber')" (blur)="fillFeilds('PremiseNumber')"
                            formControlName="PremiseNumber" id="PremiseNumber" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" size="40" [attr.maxlength]="40" class="form-control" formControlName="PremiseDesc" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #premiseSearchEllipsis [showCloseButton]="true" [childConfigParams]="premiseSearchEllipsisConfig.inputParams"
                            [modalConfig]="ellipsismodalConfig" [contentComponent]="premiseSearchEllipsisConfig.component" (ellipsisData)="premiseSearchEllipsisConfig.dataReceived($event)"
                            [showHeader]="true" [disabled]="false"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col12">
                        <label class="col24">{{'Date To' |translate}} </label>
                        <icabs-datepicker id="EndDate" formControlName="EndDate" [isDirectiveBased]="false"></icabs-datepicker>
                    </div>
                </div>

            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Product Group' |translate}} </label>
                    <div class="col8 pr5">
                        <input type="text" size="10" [attr.maxlength]="4" class="form-control" formControlName="ProductSaleGroupCode" id="ProductSaleGroupCode"
                            (change)="productSaleGroupFetch()" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" size="40" [attr.maxlength]="40" class="form-control" formControlName="ProductSaleGroupDesc" id="ProductSaleGroupDesc"
                            eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #productSalesGroupSearchEllipsis [showCloseButton]="true" [childConfigParams]="productSalesGroupSearchConfig.inputParams"
                            [modalConfig]="ellipsismodalConfig" [contentComponent]="productSalesGroupSearchConfig.component"
                            (ellipsisData)="productSalesGroupSearchConfig.dataReceived($event)" [showHeader]="true" [disabled]="false"></icabs-ellipsis>
                    </div>

                </div>


            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Product Code' |translate}} </label>
                    <div class="col8 pr5">
                        <input type="text" size="10" [attr.maxlength]="6" class="form-control" formControlName="ProductCode" id="ProductCode" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" size="40" [attr.maxlength]="40" class="form-control" formControlName="ProductDesc" id="ProductDesc" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #productCodeSearchEllipsis [showCloseButton]="true" [childConfigParams]="serviceCoverEllipsis.inputParams"
                            [modalConfig]="ellipsismodalConfig" [contentComponent]="serviceCoverEllipsis.component" (ellipsisData)="serviceCoverEllipsis.dataReceived($event)"
                            [showHeader]="true" [disabled]="false"></icabs-ellipsis>
                    </div>
                </div>


            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="btnRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="totalRecords" [currentPage]="this['pageParams'].gridCurrentPage" [itemsPerPage]="itemsPerPage" (getCurrentPage)="getCurrentPage($event)" [canExport]="true"></icabs-pagination>
                </div>

            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid id="riGrid" (onSuccess)="riGridAfterExecute()" (bodyDblClick)="onDblClick($event)"></icabs-grid-advanced>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12 text-center">
                    <label class="pr5">{{ 'Legend' | translate}}: </label>
                    <div class="inline-block pr10" *ngFor="let l of legends">
                        <div class="legend inline-block mr5" [style.background-color]="l.color"></div>
                        <label>{{ l.label | translate}}</label>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <footer class="screen-footer">
        <div class="row mt10">
            <div class="col-sm-12">
                <input type="button" class="btn btn-additioanl mr10" value="{{ 'Default Routines' | translate }}" (click)="defaultRoutinesClick()">
                <input type="button" class="btn btn-additioanl mr10" value="{{ 'Worklist' | translate }}" (click)="workListClick()">
            </div>
        </div>
    </footer>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>