<div class="ellipsis" tabindex="{{disabled? -1: 0}}" (keydown.enter)="openModal()" [ngClass]="{'disabled': disabled, 'hidden': hideIcon }"
    (click)="openModal()"></div>

<icabs-modal #childModal="child" [showHeader]="showHeader" [title]="title" [showCloseButton]="showCloseButton">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ ellipsisTitle | translate }}
                </h1>
            </div>
        </div>
        <div class="row mt10">
            <div class="col-sm-3" *ngIf="shouldShowAdd">
                <div class="col10">
                    <input type="button" name="" value="{{'Add New' | translate}}" class="btn btn-sm btn-primary"
                        (click)="onAddNew()">
                </div>
            </div>
        </div>
        <div class="row mt10">
            <div class="col-sm-12">
                <icabs-table #ellipsisGenericTable (selectedData)="selectedData($event)" [paginationTop]="true"
                    [displayError]="false" (onRefresh)="updateView()">
                </icabs-table>
            </div>
        </div>
    </div>
</icabs-modal>