<icabs-modal #modal="child" [size]="'xs'" [showHeader]="true">
    <div class="container-fluid custom-container" title="{{ 'Available Visit Filters' | translate }}">
        <div class="row mt10">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ 'Available Visit Filters' | translate }}</h1>
            </div>
        </div>
        <div class="row mt10">
            <div class="col-sm-12">
                <hr class="col24 mt15 mb15">
                <ul class="col24 radioModalStyle">
                    <li class="mb10" *ngFor="let option of sortOptions; let idx = index">
                        <input type="radio" class="form-control" [id]="option.value" name="AvailableVisitFilters"
                            [value]="option.value" [(ngModel)]="availableVisitFilters">
                        <label [for]="option.value">{{ option.text | translate }}</label>
                    </li>
                </ul>
                <hr class="col24 mt15 mb15">
            </div>
        </div>
        <div class="row mt15">
            <div class="col-sm-12">
                <input type="button" id="btnSortVisitOk" class="btn btn-primary mr10" value="{{ 'OK' | translate }}"
                    (click)="onSortOkClick()">
            </div>
        </div>
    </div>
</icabs-modal>
