<!-- Page Content -->
<div class="container-fluid custom-container">
  <div class="row">
    <div class="col-sm-12 page-title">
      <h1>
        {{'Business System Characteristics Details' | translate}}
      </h1>
    </div>
  </div>
  <form novalidate [formGroup]="this['uiForm']">
    <div class="row mt2">
      <div class="col-sm-3">
        <label class="col24">{{'Business' | translate}}</label>
        <div class="col8 pr5">
          <input id="BusinessCode" formControlName="BusinessCode" [attr.maxlength]="1" class="form-control" type="text" eTypeCode>
        </div>
        <div class="col16 pr5">
          <input id="BusinessDesc" formControlName="BusinessDesc" [attr.maxlength]="30" class="form-control" type="text" eTypeText>
        </div>
      </div>
      <div class="col-sm-3">
        <label class="col24">{{'Module' | translate}}</label>
        <div class="col21 pr5">
          <icabs-dropdown-static #Module [inputData]="ModuleData" [doTranslate]="false" (onSelect)="onModuleOptionChange($event)"></icabs-dropdown-static>
        </div>
      </div>

    </div>
    <div class="row mt2">
      <div class="col-sm-3">
        <label class="col24">{{'Search text' | translate}}</label>
        <div class="col16 pr5">
          <input id="TextFilter" formControlName="TextFilter" class="form-control" type="text">
        </div>
      </div>
      <div class="col-sm-3">
        <label class="col24">{{'Search Number' | translate}}</label>
        <div class="col16 pr5">
          <input id="NumberFilter" formControlName="NumberFilter" class="form-control" type="text" (keyup.enter)="refresh($event)" (blur)="refresh($event)" >
        </div>
      </div>
    </div>
    <div class="row mt2">
      <div class="col-sm-3 mt10">
        <div class="col24 padding-left-zero">
          <input class="btn btn-primary" type="button" id="btnExportBSC" value="{{'Export Sys. Chars' | translate}}" (click)="btnExportBSC_onclick()">
        </div>
      </div>
      <div class="col-sm-3 mt10">
        <div class="col24 padding-left-zero">
          <input class="btn btn-primary" type="button" id="btnImportBSC" value="{{'Import Sys. Chars' | translate}}" (click)="btnImportBSC_onclick()">
        </div>
      </div>
    </div>
    <hr class="mt15 mb15">
    <div class="row">
      <div class="col-sm-12">
        <icabs-refresh (click)="refresh()"></icabs-refresh>
        <icabs-pagination #sysCharPagination [totalItems]="totalRecords" [currentPage]="curPage" [itemsPerPage]="pageSize" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
      </div>
    </div>
    <div class="row mt2">
      <div class="col-sm-12">
        <icabs-grid-advanced #riGrid (bodyDblClick)="tbody_onDblclick($event)" (bodyColumnBlur)="riGrid_BodyColumnBlur($event)" (onSuccess)="riGrid_AfterExecute()"
          (headerClick)="onHeaderClick()"></icabs-grid-advanced>
      </div>
    </div>
    <div class="row mt2">
      <icabs-modal #messageModal="child" [(showHeader)]="showMessageHeader">
      </icabs-modal>
    </div>
    <div class="row mt2">
      <icabs-modal #errorModal="child" [showHeader]="'true'">
      </icabs-modal>
    </div>

  </form>
</div>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>