<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="BusinessCode">{{ 'Business' | translate}}</label>
                    <div class="col24">
                        <icabs-business-search #businessSearchDropDown [inputParams]="inputParams.businessParams" [isDisabled]="true"></icabs-business-search>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="BranchNumber">{{ 'Servicing Branch (blank for all)' | translate}}</label>
                    <div class="col24">
                        <icabs-branchsearch #branchSearchDropDown [inputParams]="inputParams.branchParams" (receivedbranchsearch)="onBranchDataReceived($event)"></icabs-branchsearch>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="VisitTypeCode">{{ 'Visit Type' | translate}}<span class="mandatory">*</span></label>
                    <div class="col24">
                        <icabs-visit-type-search #visitTypeSearch id="VisitTypeCode" (receivedVisitType)="visitTypeSelectedValue($event)" (emitVisitTypeData)="visitTypeDataRecieved($event)"
                            [isRequired]="dropDown.VisitTypeCode.isRequired" [triggerValidate]="dropDown.VisitTypeCode.triggerValidate"
                            [active]="dropDown.VisitTypeCode.active" [inputParams]="dropDown.VisitTypeCode.inputParams" [controlName]="'VisitTypeCode'"></icabs-visit-type-search>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="CancelCode">{{ 'Cancellation Reason' | translate}}</label>
                    <div class="col24">
                        <icabs-dropdown-static #cancellationReasonDropdown class="" [inputData]="cancellationReasonList" (onSelect)="cancellationReasonOnChange($event)"></icabs-dropdown-static>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="Condition">{{ 'Visit Frequency (greater than or equal to zero for all)' | translate}}<span class="mandatory">*</span></label>
                    <div class="col20 pr5">
                        <select id="Condition" class="form-control" formControlName="Condition" (change)="visitFrequency($event.target.value)">
                            <option value="EQ">{{ 'Equal' | translate}}</option>
                            <option value="NE">{{ 'Not equal' | translate}}</option>
                            <option value="LT">{{ 'Less than' | translate}}</option>
                            <option value="LE">{{ 'Less than or equal' | translate}}</option>
                            <option value="GT">{{ 'Greater than' | translate}}</option>
                            <option value="GE" selected>{{ 'Greater than or equal' | translate}}</option>
                        </select>
                    </div>
                    <div class="col4">
                        <input id="ServiceVisitFrequency" class="form-control" formControlName="ServiceVisitFrequency" eTypeInteger type="text" size="6"
                            [attr.maxlength]="3">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" for="ClearDateTo">{{ 'Clear up to and including' | translate}}<span class="mandatory">*</span></label>
                    <div class="col12">
                        <icabs-datepicker id="ClearDateTo" formControlName="ClearDateTo" [isDirectiveBased]="false" (onChange)="datePickerSelectedValue($event)"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-3">
                    <input type="checkbox" class="form-control" id="ClearContracts" formControlName="ClearContracts">
                    <label class="col24" for="ClearContracts">{{'Clear Contracts'|translate}}</label>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-3">
                    <input type="checkbox" class="form-control" id="ClearJobs" formControlName="ClearJobs">
                    <label class="col24" for="ClearJobs">{{'Clear Jobs'|translate}}</label>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-3">
                    <input type="checkbox" class="form-control" id="ClearProductSales" formControlName="ClearProductSales">
                    <label class="col24" for="ClearProductSales">{{'Clear Product Sales'|translate}}</label>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-3">
                    <div class="col12">
                        <input type="radio" id="CompleteClearDown1" value="P" class="form-control" formControlName="CompleteClearDown">
                        <label for="CompleteClearDown1">{{ 'Preview' | translate }}</label>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-3">
                    <div class="col12">
                        <input type="radio" value="C" id="CompleteClearDown2" class="form-control" formControlName="CompleteClearDown">
                        <label for="CompleteClearDown2">{{ 'Clear Down' | translate }}</label>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <hr class="mt15 mb15">
    <footer class="screen-footer">
        <div class="row">
            <div class="col-sm-6">
                <input type="button" class="btn btn-primary" value="{{'Submit Cleardown' | translate}}" (click)="onClickSubmit()">
            </div>
        </div>
        <div id="trInformation" class="alert alert-info mt10" *ngIf="isThInformationDisplayed">
            <strong id="thInformation" colspan="6">{{thInformation}}</strong>
        </div>
    </footer>
</section>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>