<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ 'Add User To Multiple Countries/Businesses' | translate }}</h1>
            </div>
        </div>
    </header>
    <section class="screen-body">
        <form novalidate [formGroup]="this['userForm']">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{ 'User Code' | translate}}</label>
                    <input id="UserCode" formControlName="UserCode" size="40" [attr.maxlength]="10" class="form-control"
                        eTypeCode required>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{ 'User Name' | translate}}</label>
                    <input id="UserName" formControlName="UserName" size="40" [attr.maxlength]="20"
                        class="form-control">
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{ 'User Email' | translate}}</label>
                    <input id="Email" formControlName="Email" size="40" [attr.maxlength]="50" class="form-control">
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{ 'User Password' | translate}}</label>
                    <input id="Password" formControlName="Password" size="40" [attr.maxlength]="30" class="form-control"
                        type="password">
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{ 'User Language' | translate}}</label>
                    <input id="LanguageCode" formControlName="LanguageCode" size="40" [attr.maxlength]="3"
                        class="form-control" eTypeCode>
                </div>
                <div class="col-sm-4">
                    <input type="button" class="btn btn-primary mr10 mt20" value="{{'Create User' | translate}}"
                        (click)="onCreateUser()">
                </div>
            </div>
        </form>
        <hr class="mt15 mb15">
        <div class="row mt5">
            <div class="col-sm-12">
                <div class="" *ngFor="let msg of msgs">
                    {{ msg }}
                </div>
            </div>
        </div>
    </section>
</section>
