<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }} </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Employee'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="EmployeeCode" formControlName="EmployeeCode" class="form-control" size="9" maxlength="6" (change)="onEmployeeCodeChange($event)"
                            [icabsDirFocus]="setFocusEmployeeCode" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="EmployeeSurname" formControlName="EmployeeSurname" class="form-control" size="40" maxlength="40" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsisParams.employee.childConfigParams" [contentComponent]="ellipsisParams.employee.contentComponent"
                            (ellipsisData)="onEllipsisDataReceived('Employee', $event)" [modalConfig]="ellipsisParams.common.modalConfig"
                            [disabled]="ellipsisParams.employee.isDisabled" [showCloseButton]="ellipsisParams.employee.isShowCloseButton"
                            [showHeader]="ellipsisParams.employee.isShowHeader"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Contract Number'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="ContractNumber" formControlName="ContractNumber" class="form-control" size="9" maxlength="8" (change)="onContractNumberChange($event)"
                            eTypeCode icabsZeroPad>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="ContractName" formControlName="ContractName" class="form-control" size="40" maxlength="40" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsisParams.contractName.childConfigParams" [contentComponent]="ellipsisParams.contractName.contentComponent"
                            (ellipsisData)="onEllipsisDataReceived('Contract', $event)" [modalConfig]="ellipsisParams.common.modalConfig"
                            [disabled]="ellipsisParams.contractName.isDisabled" [showCloseButton]="ellipsisParams.contractName.isShowCloseButton"
                            [showHeader]="ellipsisParams.contractName.isShowHeader"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination [totalItems]="gridConfig.totalRecords" [itemsPerPage]="gridConfig.pageSize" [currentPage]="gridConfig.currentPage"
                        (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid id="riGrid" (bodyDblClick)="onRiGridBodyDblClick($event)" (headerClick)="onRiGridSort($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>