<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{'Service Visit Detail' | translate}} </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{CurrentContractTypeLabel | translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" size="11" [attr.maxlength]="11" class="form-control" formControlName="ContractNumber" id="ContractNumber" eTypeCode>
                    </div>
                    <div class="col16">
                        <input type="text" size="40" [attr.maxlength]="40" class="form-control" formControlName="ContractName" id="ContractName" eTypeText>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Date From' | translate}}</label>
                    <div class="col16">
                        <icabs-datepicker [isDisabled]="true" [dt]="dtServiceDateStart" [isReadonly]="false"></icabs-datepicker>
                        <input type="text" size="40" [attr.maxlength]="40" formControlName="ServiceDateStart" class="form-control hidden" id="ServiceDateStart"
                            eTypeDate>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Premises Number' | translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" size="11" [attr.maxlength]="11" class="form-control" formControlName="PremiseNumber" id="PremiseNumber" eTypeInteger>
                    </div>
                    <div class="col16">
                        <input type="text" size="40" [attr.maxlength]="40" formControlName="PremiseName" class="form-control" id="PremiseName" eTypeText>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Date To' | translate}}</label>
                    <div class="col16">
                        <icabs-datepicker [isDisabled]="true" [dt]="dtServiceDateEnd" [isReadonly]="false"></icabs-datepicker>
                        <input type="text" size="40" [attr.maxlength]="40" formControlName="ServiceDateEnd" class="form-control hidden" id="ServiceDateEnd"
                            eTypeDate>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Product Code' | translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" size="11" [attr.maxlength]="11" formControlName="ProductCode" class="form-control" id="ProductCode" eTypeCode>
                    </div>
                    <div class="col16">
                        <input type="text" size="40" [attr.maxlength]="40" formControlName="ProductDesc" class="form-control" id="ProductDesc" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24">{{'Anniversary' | translate}}</label>
                    <div class="col16">
                        <icabs-datepicker [isDisabled]="true" [dt]="dtServiceVisitAnnivDate" [isReadonly]="false"></icabs-datepicker>
                        <input type="text" size="40" [attr.maxlength]="40" formControlName="ServiceVisitAnnivDate" class="form-control hidden" id="ServiceVisitAnnivDate"
                            eTypeDate>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24">{{'Frequency' | translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" size="8" [attr.maxlength]="8" class="form-control" formControlName="ServiceVisitFrequency" id="ServiceVisitFrequency"
                            eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="menudisplay">
                <div class="col-sm-3">
                    <div class="col8 mt10">
                        <input type="checkbox" id="SharedVisitInd" formControlName="SharedVisitInd" eTypeCheckBox>
                        <label for="SharedVisitInd">{{'Shared' | translate}}</label>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col24">{{'Visit Type' | translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" size="4" [attr.maxlength]="2" formControlName="VisitTypeCode" class="form-control" id="VisitTypeCode" eTypeCode>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="refresh()"></icabs-refresh>
                    <icabs-pagination #servicevisitdetailPagination [totalItems]="totalRecords" *ngIf="totalRecords > 0" [itemsPerPage]="pageSize"
                        (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
                <div class="col-sm-2 pull-right">
                    <select formControlName="Menu" id="Menu" class="form-control" (change)="onChangeEvent($event.target.value)">
                            <option ng-selected value="">{{'Options' | translate}}</option>
                            <option  value="AddDetail">{{'Add Visit Detail' | translate}}</option>
                        </select>
                </div>
            </div>
            <div class="row  mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyClick)="riGrid_BodyOnClick($event)" (bodyDblClick)="riGrid_BodyOnDblClick($event)" (onSuccess)="riGrid_AfterExecute()"
                        (bodyKeyDown)="riGrid_BodyOnKeyDown($event)" (bodyColumnBlur)="riGrid_OnBlur($event)"></icabs-grid-advanced>
                </div>
            </div>
            <input type="text" formControlName="ServiceVisitRowID" id="ServiceVisitRowID" class="hidden form-control">
        </section>
        <footer class="screen-footer">
        </footer>
    </form>
</section>
<icabs-modal #messageModal="child" [(showHeader)]="showErrorHeader"></icabs-modal>
<icabs-spinner [isRunning]="isRequesting"></icabs-spinner>