<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row">
                <div class="col-sm-9">
                    <div class="row mt5">
                        <div class="col-sm-3">
                            <label class="col24" for="AmendmentRef">{{ renegsConstants["AmendmentRef"] | translate }}</label>
                            <div class="col24 pr5">
                                <input type="text" id="AmendmentRef" eTypeCode formControlName="AmendmentRef" value="" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label class="col24" for="PremisesNumber">{{ renegsConstants["PremisesNumber"] | translate }}</label>
                            <div class="col24 pr5">
                                <input type="text" id="PremisesNumber" eTypeCode formControlName="PremisesNumber" value="" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <ul class="nav nav-tabs">
                <li class="nav-item" [ngClass]="tabNameMap.general == true? 'active':''">
                    <a class="nav-link " [ngClass]="tabNameMap.general == true? 'active':''" href="javascript:void(0);" (click)="changeTab('general')">
                        <span>{{renegsConstants["General"] | translate}}</span>
                    </a>
                </li>
                <li class="nav-item" [ngClass]="tabNameMap.risk_assessment_text == true? 'active':''">
                    <a class="nav-link" [ngClass]="tabNameMap.risk_assessment_text== true? 'active':''" href="javascript:void(0);" (click)="changeTab('risk_assessment_text')">
                        <span>{{renegsConstants["RiskAssessmentText"] | translate}}</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="row mt5" *ngIf="tabNameMap.general">
                    <div class="col-sm-12">
                        <div class="col24">
                            <!--Account Tab-->
                            <div id="General">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="row mt5">
                                            <div class="col-sm-3">
                                                <label class="col24" for="Name">{{ renegsConstants["Name"] | translate }}</label>
                                                <div class="col24 pr5">
                                                    <input type="text" id="Name" eTypeCode formControlName="Name" value="" class="form-control" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt5">
                                            <div class="col-sm-3">
                                                <label class="col24" for="AddressLine1">{{ renegsConstants["AddressLine1"] | translate }}</label>
                                                <div class="col24 pr5">
                                                    <input type="text" id="AddressLine1" eTypeCode formControlName="AddressLine1" value="" class="form-control" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt5">
                                            <div class="col-sm-3">
                                                <label class="col24" for="AddressLine2">{{ renegsConstants["AddressLine2"] | translate }}</label>
                                                <div class="col24 pr5">
                                                    <input type="text" id="AddressLine2" eTypeCode formControlName="AddressLine2" value="" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt5">
                                            <div class="col-sm-3">
                                                <label class="col24" for="AddressLine3">{{ renegsConstants["AddressLine3"] | translate }}</label>
                                                <div class="col24 pr5">
                                                    <input type="text" id="AddressLine3" eTypeCode formControlName="AddressLine3" value="" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt5">
                                            <div class="col-sm-3">
                                                <label class="col24" for="Town">{{ renegsConstants["Town"] | translate }}</label>
                                                <div class="col24 pr5">
                                                    <input type="text" id="Town" eTypeCode formControlName="Town" value="" class="form-control" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt5">
                                            <div class="col-sm-3">
                                                <label class="col24" for="State">{{ renegsConstants["County"] | translate }}</label>
                                                <div class="col24 pr5">
                                                    <input type="text" id="State" eTypeCode formControlName="State" value="" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt5">
                                            <div class="col-sm-3">
                                                <label class="col24" for="PostCode">{{ renegsConstants["PostCode"] | translate }}</label>
                                                <div class="col24 pr5">
                                                    <input type="text" id="PostCode" eTypeCode formControlName="PostCode" value="" class="form-control" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt2">
                                            <div class="col-sm-3">
                                                <label class="col24">{{ renegsConstants["ContactName"] | translate}}</label>
                                                <div class="col24">
                                                    <input type="text" id="PremiseContactName" eTypeText formControlName="PremiseContactName" size="40" [attr.maxlength]="40"
                                                        class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="col24">{{ renegsConstants["Position"] | translate}}</label>
                                                <div class="col24">
                                                    <input type="text" id="PremiseContactPosition" eTypeText formControlName="PremiseContactPosition" size="30" [attr.maxlength]="30"
                                                        class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt2">
                                            <div class="col-sm-3">
                                                <label class="col24">{{renegsConstants["Department"] | translate}}</label>
                                                <div class="col24">
                                                    <input type="text" id="PremiseContactDepartment" eTypeText formControlName="PremiseContactDepartment" size="20" [attr.maxlength]="20"
                                                        class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="col24">{{renegsConstants["LandLineTelephone"]| translate}}</label>
                                                <div class="col24">
                                                    <input type="text" id="PremiseContactTelephone" eTypeText formControlName="PremiseContactTelephone" size="20" [attr.maxlength]="20"
                                                        class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt2">
                                            <div class="col-sm-3">
                                                <label class="col24">{{renegsConstants["MobileNumber"] | translate}}</label>
                                                <div class="col24">
                                                    <input type="text" id="PremiseContactMobile" eTypeText formControlName="PremiseContactMobile" size="20" [attr.maxlength]="20"
                                                        class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="col24">{{renegsConstants["Fax"] | translate}}</label>
                                                <div class="col24">
                                                    <input type="text" id="PremiseContactFax" eTypeText formControlName="PremiseContactFax" size="20" [attr.maxlength]="20" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt2">
                                            <div class="col-sm-3">
                                                <label class="col24">{{renegsConstants["Email"] | translate}}</label>
                                                <div class="col24">
                                                    <input type="text" id="PremiseContactEmail" eTypeText formControlName="PremiseContactEmail" size="40" [attr.maxlength]="50"
                                                        class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="col24">{{renegsConstants["ClientReference"] | translate}}</label>
                                                <div class="col24">
                                                    <input type="text" id="ClientReference" eTypeText formControlName="ClientReference" size="20" [attr.maxlength]="20" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt2">
                                            <div class="col-sm-3">
                                                <label class="col24">{{renegsConstants["PurchaseOrderNo"] | translate}}</label>
                                                <div class="col24">
                                                    <input type="text" id="PurchaseOrderNo" eTypeText formControlName="PurchaseOrderNo" size="20" [attr.maxlength]="20" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt5" *ngIf="tabNameMap.risk_assessment_text">
                    <div class="col-sm-12">
                        <div class="col24">
                            <!--Account Tab-->
                            <div id="RiskAssessmentText">
                                <div class="row mt5">
                                    <div class="col-sm-3">
                                        <label class="col24">{{renegsConstants["RiskAssessmentText"] | translate}}</label>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-xs-3">
                                        <textarea class="form-control" id="PremiseSpecialInstructions" eTypeTextFree formControlName="PremiseSpecialInstructions"
                                            maxlength="500" size="500" style="WIDTH: 650px; HEIGHT: 300px"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="col15">
                <input class="btn btn-primary mr10" id="btnUpdateAccountDetails" type="button" value="{{renegsConstants['btnSaveTitle'] | translate}}"
                    (click)='onSavePremiseMaintainance()' [disabled]="!this['uiForm'].valid">
                    <input class="btn btn-secondary mr10" id="" type="button" value="{{renegsConstants['btnCancelTitle'] | translate}}" (click)='onCancelMaintainaceUpdate()'>
            </div>
        </section>
    </form>


</section>
<icabs-custom-alert #customAlert [messageType]="messageType" [alertMessage]="customAlertMsg"></icabs-custom-alert>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>