<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row">
                <div class="col-sm-3">
                    <label class="col24">{{'Branch Number' | translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="BranchNumber" formControlName="BranchNumber" size="6" maxlength="6"
                            class="form-control">
                    </div>
                    <div class="col16">
                        <input type="text" id="BranchName" formControlName="BranchName" size="30" maxlength="30"
                            class="form-control">
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col24">{{'From Date'|translate}}<span class="mandatory">*</span>
                    </label>
                    <div class="col24">
                        <icabs-datepicker formControlName="FromDate" id="FromDate" [isDirectiveBased]="false">
                        </icabs-datepicker>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col24">{{'To Date'|translate}}<span class="mandatory">*</span>
                    </label>
                    <div class="col24">
                        <icabs-datepicker formControlName="ToDate" id="ToDate" [isDirectiveBased]="false">
                        </icabs-datepicker>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row mt10">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="this['pageParams'].gridConfig.totalItem"
                        [currentPage]="this['pageParams'].gridCurrentPage"
                        [itemsPerPage]="this['pageParams'].gridConfig.itemsPerPage"
                        (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)" [canExport]="true"
                        [exportOptions]="{dateColumns: dateCollist}" [ngClass]="{hidden: !hasGridData}">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid
                        (headerClick)="onHeaderClick()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>