<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form>
        <section class="screen-body">
            <div class="row mt10">
                <div class="col-sm-10">
                    <icabs-table #customerAvailabilityTable (selectedData)="selectedData($event)" [columns]="columns" [itemsPerPage]="itemsPerPage"></icabs-table>
                </div>
            </div>
        </section>
    </form>
</section>