<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
     <form novalidate [formGroup]="this['uiForm']">
    <section class="screen-body">
         <hr class="mt15 mb15">        
        <div class="row mt10">
            <div class="col-sm-12">
                <icabs-table #DepotTable (selectedData)="selectedData($event)"  
        [page]="page" [itemsPerPage]="itemsPerPage" [tableheader]="tableheading" [columns]="columns" (onRefresh)="onSearchClick()"></icabs-table>
            </div>
        </div>
         <!--Legends-->
            <!--assign the colors dynamically-->
          
    </section>
     </form>
</section>