<!-- Page Heading -->
<div class="container-fluid custom-container">
    <div class="row">
        <div class="col-sm-12 page-title mt10">
            <h1>
                {{'Invoice Header Address' | translate}}

            </h1>
        </div>
    </div>
    <div #topContainer>
        <div class="row mt10">
            <div class="col-sm-3">
                <label class="col24">{{'Invoice Name' | translate}}</label>
                <div class="col24">
                    <input type="text" size="40"  id="InvoiceName" name="InvoiceName" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-3">
                <label class="col24">{{ 'Address Line 1' | translate }} </label>
                <div class="col24">
                    <input type="text" size="40"  id="InvoiceAddressLine1" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-3">
                <label class="col24">{{ 'Address Line 2' | translate }} </label>
                <div class="col24">
                    <input type="text" size="40" id="InvoiceAddressLine2" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-3">
                <label class="col24">{{ 'Address Line 3' | translate }} </label>
                <div class="col24">
                    <input type="text" size="40"  id="InvoiceAddressLine3" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row mt2">
            <div class="col-sm-3">
                <label class="col24">{{ 'Town' | translate }} </label>
                <div class="col24">
                    <input type="text" size="40"  class="form-control" />
                </div>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-3">
                <label class="col24">{{ 'County' | translate }} </label>
                <div class="col24">
                    <input type="text" size="40"  id="InvoiceAddressLine5" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-3">
                <label class="col24">{{ 'Postcode' | translate }} </label>
                <div class="col24">
                    <input type="text" size="40" id="InvoiceAddressLine6" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <!-- End of right-contained-->

</div>