<div class="container-fluid custom-container">
    <div class="row">
        <div class="col-sm-12 page-title mt10">
            <h1>
                {{ 'Batch Program' | translate }}
            </h1>
        </div>
    </div>
    <div class="row mt10">
        <div class="col-sm-12">
            <icabs-table #batchProgramSearchTable (selectedData)="selectedData($event)" [page]="page" [itemsPerPage]="itemsPerPage" [columns]="columns"
                [paginationTop]="true" [displayError]="false"></icabs-table>
        </div>
        <div class="col2 mt20">
            <input type="button" name="" value="{{ 'Add New' | translate }}" class="form-control btn btn-lg btn-secondary" [disabled]="isAddNewDisabled"
                [hidden]="isAddNewHidden" [attr.data-hidden]="isAddNewHidden" (click)="onAddNew()">
        </div>
    </div>
</div>