<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ pageTitle | translate }}</h1>
            </div>
        </div>
    </header>
    <section class="screen-body">
        <hr class="mt15 mb15">
        <div class="row">
            <div class="col-sm-12">
                <icabs-table #riTable [columns]="tableParams['columns']" (selectedData)="selectedData($event)" [itemsPerPage]="tableParams['itemsPerPage']"
                    [paginationTop]="true" [displayError]="false"></icabs-table>
            </div>
        </div>
    </section>
</section>