<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <section class="screen-body">
        <hr class="mt15 mb15">
        <div class="row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-12 mt10">
                <icabs-table #rejectionSearch (selectedData)="selectedData($event)" [columns]="columns" [paginationTop]="true" [displayError]="false"
                    (onRefresh)="buildTable()" [doTranslate]="true"></icabs-table>
            </div>
        </div>
    </section>
    <footer class="screen-footer">
    </footer>
</section>