<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <div class="flag-fixed">
            <ul>
                <li *ngIf="this['pageParams'].isShowContractHasExpired">
                    <strong>{{ 'Expired' | translate }}</strong>
                </li>
            </ul>
        </div>
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Contract Number'|translate}}</label>
                    <div class="col7 pr5">
                        <input type="text" class="form-control" id="ContractNumber" formControlName="ContractNumber" size="9" maxlength="8" eTypeCode>
                    </div>
                    <div class="col15">
                        <input type="text" class="form-control" id="ContractName" formControlName="ContractName" size="35" maxlength="40" eTypeText>
                    </div>
                </div>
                <div class="col-sm-4 mt20" *ngIf="this['pageParams'].isShowCustomerInfo">
                    <div class="col8 pr5">
                        <input type="button" class="btn btn-primary" value="{{'Customer Information'|translate}}" (click)="onCustomerInfoClick()">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Premises Number'|translate}}</label>
                    <div class="col7 pr5">
                        <input type="text" class="form-control right" id="PremiseNumber" formControlName="PremiseNumber" size="9" maxlength="5" eTypeInteger>
                    </div>
                    <div class="col15">
                        <input type="text" class="form-control" id="PremiseName" formControlName="PremiseName" size="35" maxlength="40" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Product Code'|translate}}</label>
                    <div class="col7 pr5">
                        <input type="text" class="form-control" id="ProductCode" formControlName="ProductCode" size="9" maxlength="6" eTypeCode>
                    </div>
                    <div class="col15">
                        <input type="text" class="form-control" id="ProductDesc" formControlName="ProductDesc" size="35" maxlength="40" eTypeText>
                    </div>
                </div>
            </div>
            <!--Tab function-->
            <div class="row mt10">
                <div class="col-sm-12">
                    <ul class="nav nav-tabs">
                        <li class="nav-item" id="grdGeneral" [ngClass]="{'active': tabs['tab0'].active }">
                            <a class="nav-link" href="javascript:void(0);" (click)="onTabClick(0)" tabindex="0" [ngClass]="{'active': tabs['tab0'].active }">
                                <span>{{'General'|translate }}</span>
                            </a>
                        </li>
                        <li class="nav-item" id="grdAccessTimes" [ngClass]="{'active': tabs['tab1'].active }">
                            <a class="nav-link" href="javascript:void(0);" (click)="onTabClick(1)" tabindex="0" [ngClass]="{'active': tabs['tab1'].active }">
                                <span>{{'Access Times'|translate }}</span>
                            </a>
                        </li>
                        <li class="nav-item" id="grdSpecialInstructions" [ngClass]="{'active': tabs['tab2'].active }">
                            <a class="nav-link" href="javascript:void(0);" (click)="onTabClick(2)" tabindex="0" [ngClass]="{'active': tabs['tab2'].active }">
                                <span>{{'Special Instructions'|translate }}</span>
                            </a>
                        </li>
                    </ul>
                    <!--General tab content-->
                    <div class="tab-content">
                        <div class="tab-pane" [ngClass]="{'active': tabs['tab0'].active }">
                            <div id="grdGeneral">
                                <div class="row mt10">
                                    <div class="col-sm-4">
                                        <label class="col24">{{'Contract Expiry Date'|translate}}</label>
                                        <div class="col7 pr5">
                                            <input type="text" class="form-control" id="ContractExpiryDate" formControlName="ContractExpiryDate" size="10" maxlength="10"
                                                eTypeDate>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Access Times tab content-->
                    <div class="tab-content">
                        <div class="tab-pane" [ngClass]="{'active': tabs['tab1'].active }">
                            <div id="grdAccessTimes">
                                <div class="row mt10">
                                    <div class="col-sm-6" id="grdAccessTimes">
                                        <table id="grdTimeWindows" class="table dataTable table-bordered" border="1" cellpadding="2" cellspacing="1">
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td align="left">
                                                    {{'Start'|translate}}
                                                </td>
                                                <td align="center">
                                                    {{'End'|translate}}
                                                </td>
                                                <td align="center">
                                                    {{'Start'|translate}}
                                                </td>
                                                <td align="center">
                                                    {{'End'|translate}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {{'Sunday'|translate}}
                                                </td>
                                                <td>
                                                    <input id="WindowStart01" formControlName="WindowStart01" class="form-control" size="5" eTypeTime></td>
                                                <td>
                                                    <input id="WindowEnd01" formControlName="WindowEnd01" class="form-control" size="5" eTypeTime></td>
                                                <td>
                                                    <input id="WindowStart08" formControlName="WindowStart08" class="form-control" size="5" eTypeTime></td>
                                                <td>
                                                    <input id="WindowEnd08" formControlName="WindowEnd08" class="form-control" size="5" eTypeTime></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {{'Monday'|translate}}
                                                </td>
                                                <td>
                                                    <input id="WindowStart02" formControlName="WindowStart02" class="form-control" size="5" eTypeTime></td>
                                                <td>
                                                    <input id="WindowEnd02" formControlName="WindowEnd02" class="form-control" size="5" eTypeTime></td>
                                                <td>
                                                    <input id="WindowStart09" formControlName="WindowStart09" class="form-control" size="5" eTypeTime></td>
                                                <td>
                                                    <input id="WindowEnd09" formControlName="WindowEnd09" class="form-control" size="5" eTypeTime></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {{'Tuesday'|translate}}
                                                </td>
                                                <td>
                                                    <input id="WindowStart03" formControlName="WindowStart03" class="form-control" size="5" eTypeTime></td>
                                                <td>
                                                    <input id="WindowEnd03" formControlName="WindowEnd03" class="form-control" size="5" eTypeTime></td>
                                                <td>
                                                    <input id="WindowStart10" formControlName="WindowStart10" class="form-control" size="5" eTypeTime></td>
                                                <td>
                                                    <input id="WindowEnd10" formControlName="WindowEnd10" class="form-control" size="5" eTypeTime></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {{'Wednesday'|translate}}
                                                </td>
                                                <td>
                                                    <input id="WindowStart04" formControlName="WindowStart04" class="form-control" size="5" eTypeTime></td>
                                                <td>
                                                    <input id="WindowEnd04" formControlName="WindowEnd04" class="form-control" size="5" eTypeTime></td>
                                                <td>
                                                    <input id="WindowStart11" formControlName="WindowStart11" class="form-control" size="5" eTypeTime></td>
                                                <td>
                                                    <input id="WindowEnd11" formControlName="WindowEnd11" class="form-control" size="5" eTypeTime></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {{'Thursday'|translate}}
                                                </td>
                                                <td>
                                                    <input id="WindowStart05" formControlName="WindowStart05" class="form-control" size="5" eTypeTime></td>
                                                <td>
                                                    <input id="WindowEnd05" formControlName="WindowEnd05" class="form-control" size="5" eTypeTime></td>
                                                <td>
                                                    <input id="WindowStart12" formControlName="WindowStart12" class="form-control" size="5" eTypeTime></td>
                                                <td>
                                                    <input id="WindowEnd12" formControlName="WindowEnd12" class="form-control" size="5" eTypeTime></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {{'Friday'|translate}}
                                                </td>
                                                <td>
                                                    <input id="WindowStart06" formControlName="WindowStart06" class="form-control" size="5" eTypeTime></td>
                                                <td>
                                                    <input id="WindowEnd06" formControlName="WindowEnd06" class="form-control" size="5" eTypeTime></td>
                                                <td>
                                                    <input id="WindowStart13" formControlName="WindowStart13" class="form-control" size="5" eTypeTime></td>
                                                <td>
                                                    <input id="WindowEnd13" formControlName="WindowEnd13" class="form-control" size="5" eTypeTime></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {{'Saturday'|translate}}
                                                </td>
                                                <td>
                                                    <input id="WindowStart07" formControlName="WindowStart07" class="form-control" size="5" eTypeTime></td>
                                                <td>
                                                    <input id="WindowEnd07" formControlName="WindowEnd07" class="form-control" size="5" eTypeTime></td>
                                                <td>
                                                    <input id="WindowStart14" formControlName="WindowStart14" class="form-control" size="5" eTypeTime></td>
                                                <td>
                                                    <input id="WindowEnd14" formControlName="WindowEnd14" class="form-control" size="5" eTypeTime></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Special Instructions tab content-->
                    <div class="tab-content">
                        <div class="tab-pane" [ngClass]="{'active': tabs['tab2'].active }">
                            <div id="grdSpecialInstructions">
                                <div class="row mt10">
                                    <div class="col-sm-6">
                                        <textarea id="ServiceSpecialInstructions" formControlName="ServiceSpecialInstructions" class="form-control" type="text" rows="15"
                                            cols="35" eTypeTextFree></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>