<section class="container-fluid custom-container">
    <header class="screen-header row">
        <div class="col-sm-12 page-title mt10">
            <h1>{{ 'Expense Code Search'| translate }}</h1>
        </div>
    </header>
    <section class="screen-body">
        <div class="row mt10">
            <div class="col-sm-3">
                <div class="col12">
                    <input type="button" name="Add New" value="{{'Add New' | translate}}" class="btn btn-secondary" (click)="onAddNew()" *ngIf="isShowAddNew">
                </div>
            </div>
        </div>
        <div class="row mt10">
            <div class="col-sm-12">
                <icabs-table #riTable (onRefresh)="buildTable()" [page]="page" [itemsPerPage]="itemsPerPage" [columns]="columns" (selectedData)="selectedData($event)"
                    [paginationTop]="true"></icabs-table>
            </div>
        </div>
    </section>
</section>