<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="uiForm">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <button id="cmdAddNew" value="AddNew" class="btn btn-primary mr10" *ngIf="isShowAddNew" (click)="addNewRecord($event)">{{'Add New' | translate}}</button>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-table #riTable (onRefresh)="buildTable()" [page]="page" [itemsPerPage]="itemsPerPage" (selectedData)="selectedData($event)"
                        [paginationTop]="true"></icabs-table>
                </div>
            </div>
        </section>
    </form>
</section>