<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ 'Client Retention Request Details' | translate }}</h1>
            </div>
        </div>
    </header>
    <section class="screen-body">
        <form [formGroup]="this['uiForm']">
            <div class="row mt10">
                <div class="col-sm-4">
                    <div class="col24">
                        <label for="ContractNumber">{{ 'Contract Number' | translate }}</label>
                    </div>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" id="ContractNumber" size="7" maxlength="8" formControlName="ContractNumber">
                    </div>
                    <div class="col18">
                        <input type="text" class="form-control" id="ContractName" size="40" maxlength="40" formControlName="ContractName">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4" id="trPremise" [ngClass]="!this['pageParams']['trPremise'] ? 'hidden' : ''">
                    <div class="col24">
                        <label for="PremiseNumber">{{ 'Premises Number' | translate }}</label>
                    </div>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" id="PremiseNumber" size="7" maxlength="8" formControlName="PremiseNumber">
                    </div>
                    <div class="col18">
                        <input type="text" class="form-control" id="PremiseName" size="40" maxlength="40" formControlName="PremiseName">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4" id="trProduct" [ngClass]="!this['pageParams']['trProduct'] ? 'hidden' : ''">
                    <div class="col24">
                        <label for="ProductCode">{{ 'Product Code' | translate }}</label>
                    </div>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" id="ProductCode" size="7" maxlength="8" formControlName="ProductCode">
                    </div>
                    <div class="col18">
                        <input type="text" class="form-control" id="ProductDesc" size="40" maxlength="40" formControlName="ProductDesc">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="LostBusinessRequestNumber">{{ 'Request Number' | translate }}</label>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" id="LostBusinessRequestNumber" size="7" maxlength="8" formControlName="LostBusinessRequestNumber">
                    </div>
                    <div class="col8" id="trAddButton" [ngClass]="!this['pageParams']['trAddButton'] ? 'hidden' : ''">
                        <input class="btn btn-sm btn-primary ml10" type="button" id="cmdAddRecord" (click)="addContact()" [value]="'Add Contact' | translate">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-12">
                    <icabs-table #riTable [columns]="columns" (selectedData)="tableRowClick($event)" [itemsPerPage]="itemsPerPage" [page]="page"
                        [paginationTop]="true" [displayError]="false"></icabs-table>
                </div>
            </div>
            <input type="hidden" id="ServiceCoverRowID" formControlName="ServiceCoverRowID" class="form-control">
        </form>
    </section>
</section>