<section class="container-fluid custom-container modal-fix">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ pageTitle | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt10" *ngIf="tServiceBranch">
                <div class=" col-sm-3">
                    <label class="col24">{{'Service Branch Number' | translate}}</label>
                    <div class="col24">
                        <icabs-branchsearch [inputParams]="inputParamsBranch" [active]="negBranchNumberSelected" (receivedbranchsearch)="onBranchDataReceived($event)"
                            [isDisabled]="branchdropDownDisabled"></icabs-branchsearch>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-table #BranchServiceAreaTable (selectedData)="selectedData($event)" [columns]="columns" (onRefresh)="onSearchClick()"></icabs-table>
                </div>
            </div>
        </section>
    </form>
    <div class="row mt2">
        <div class="col-sm-12">
            <icabs-modal #errorModal="child" [showHeader]="true">
            </icabs-modal>
        </div>
    </div>
</section>