<!-- Page Heading -->
<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{'Group Account Search' | translate}}</h1>
            </div>
        </div>
    </header>
    <!-- Projects Row -->

    <section class="screen-body">
        <form novalidate [formGroup]="AccSearchGroup">
            <div class="row mt10">
                <div class="col-sm-4">
                    <label class="col24">{{'Group Account Number' | translate}} <span class="mandatory">*</span></label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" placeholder="" formControlName="GroupAccountNumber" (keyup)="onkeyupgrpAcc($event.target.value)"
                            eTypeInteger>
                    </div>
                    <div class="col16">
                        <input type="text" class="form-control" placeholder="" disabled="true" formControlName="GroupName">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-12">
                    <label class="col24">{{'Exclude' | translate}} <span class="mandatory"></span></label>
                    <div *ngFor="let CheckboxName of CheckboxName" class="col3">
                        <input type="checkbox" id={{CheckboxName}} name="options" value="{{CheckboxName}}" [checked]="cbChecked.indexOf(CheckboxName) >= 0"
                            (change)="updateCheckedOptions(CheckboxName, $event)" />
                        <label for={{CheckboxName}} class="gray">{{CheckboxName | translate}}</label>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24">{{'Filter' | translate}}</label>
                    <div class="col24">
                        <select id="FilterBranch" class="form-control" (change)="onChangeFilter($event.target.value)">
                                <option value="All" selected>{{'All' | translate}}</option>
                                <option value="Servicing">{{'Servicing Branch' | translate}}</option>
                                <option value="Negotiating">{{'Negotiating Branch' | translate}}</option>
                            </select>
                    </div>
                </div>
                <div class="col-sm-3" *ngIf="(filterOption=='Servicing' || filterOption=='Negotiating')">
                    <label class="col24">{{'Branch Number' | translate}}<span class="mandatory info">* </span></label>
                    <div class="col24">
                        <input type="text" class="form-control" min="0" placeholder="" (keyup)="onkeyupBranch($event.target.value)" formControlName="BranchNumber"
                            pattern="[0-9]+">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24">{{'Portfolio Status' | translate}}</label>
                    <div class="col24">
                        <select class="form-control" (change)="onChangePortfolio($event.target.value)">
                            <option value="All">{{'All' | translate}}</option>
                            <option value="Current" selected>{{'Current' | translate}}</option>
                            <option value="NonCurrent">{{'Non Current' | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="hidden col-sm-3">
                    <input type="submit" (click)="$event.preventDefault();refresh()" name="search" value="{{ 'Search' | translate}}" class="btn btn-lg btn-primary"
                        [disabled]="!AccSearchGroup.valid">
                </div>
            </div>
        </form>
        <hr class="mb15 mt15">
        <div class="row">
            <div class="col-sm-6">
                <icabs-refresh (click)="refresh()"></icabs-refresh>
                <icabs-pagination #invoicePagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" (getCurrentPage)="getCurrentPage($event)"
                    [canExport]="true" [exportOptions]="{dateColumns: '5,7'}"></icabs-pagination>
            </div>
        </div>
        <div class="row mt10">
            <div class="col-sm-12">
                <icabs-grid #invoiceGrid [maxColumns]="maxColumn" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage" [displayError]="false"
                    (gridInfo)="getGridInfo($event)" (selectedRowInfo)="onGridRowClick($event)" [validateProperties]="validateProperties"></icabs-grid>
            </div>
        </div>
    </section>
</section>