<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form>
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-12">
                    <input type="button" name="Add New" value="{{'Add New' | translate}}" class="btn btn-primary" [ngClass]="!showAddNew ? 'hidden': ''"
                        (click)="onAddNew()">
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-table #riTable [columns]="tableParams['columns']" (selectedData)="selectedData($event)" [itemsPerPage]="tableParams['itemsPerPage']"
                        [paginationTop]="true" [displayError]="false"></icabs-table>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>