<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt10">
                <div class="col-sm-3">
                    <div class="col12">
                        <input type="button" name="Add New" value="{{'Add New' | translate}}" class="btn btn-secondary" [ngClass]="!showAddNew ? 'hidden': ''"
                            (click)="onAddNew()">
                    </div>
                </div>
            </div>
            <hr class="mt10 mb10">
            <div class="row">
                <div class="col-sm-12">
                    <icabs-table #riTable [columns]="columns" [tableheader]="tableheading" (selectedData)="onTableRecordSelected
                    ($event)" [itemsPerPage]="itemsPerPage" [page]="page" [paginationTop]="true" [displayError]="false"
                        (onRefresh)="refresh()">
                    </icabs-table>
                </div>
            </div>
        </section>
    </form>
</section>