<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ 'Product Cover Code/Description Search' | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="uiForm">
        <section class="screen-body">
            <div class="row mt5" *ngIf="isTrProductCode">
                <div class="col-sm-5">
                    <div class="col8 pr5">
                        <input type="text" id="ProductCode" maxlength="6" size="8" class="form-control" formControlName="ProductCode">
                    </div>
                    <div class="col16">
                        <input type="text" id="ProductDesc" maxlength="30" size="30" class="form-control" formControlName="ProductDesc">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-5">
                    <label class="col24" for="ProductCoverSearchType">{{ 'Search By' | translate}}</label>
                    <div class="col8 pr5">
                        <select id="ProductCoverSearchType" class="form-control" formControlName="ProductCoverSearchType" (change)="productCoverSearchTypeChange($event.target.value)">
                            <option value="Code" [selected]="true">{{ 'Code' | translate }}</option>
                            <option value="Description">{{ 'Description' | translate }}</option>
                        </select>
                    </div>
                    <div class="col16">
                        <input #ProductCoverSearchValue type="text" id="ProductCoverSearchValue" size="{{ productCoverSearchValueLength }}" maxlength="{{ productCoverSearchValueLength }}"
                            class="form-control" formControlName="ProductCoverSearchValue">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-5 mt10">
                    <input type="checkbox" id="ValidForNewInd" class="form-control" formControlName="ValidForNewInd">
                    <label for="ValidForNewInd">{{'Valid For New Business Only'|translate}}</label>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4 mt10">
                    <input type="button" id="cmdSearch" class="btn btn-additional" (click)="populateTable()" value="{{ 'Search' | translate }}">
                    <input type="button" class="btn btn-secondary" *ngIf="inputParams.isShowAddNew" (click)="onAddNew()" value="{{'Add New'|translate}}">
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-10">
                    <icabs-table #riTable (onRefresh)="populateTable()" [page]="page" [itemsPerPage]="itemsPerPage" [columns]="columns" (selectedData)="selectedData($event)"
                        [paginationTop]="true"></icabs-table>
                </div>
            </div>
        </section>
        <footer class="screen-footer">
            <div class="row">
                <div class="col-sm-3 pull-right" *ngIf="isShowMenu">
                    <select id="menu" class="form-control" (change)="menuChange($event.target.value)">
                        <option value="" [selected]="true">{{ 'Options' | translate }}</option>
                        <option value="AddProductCover">{{ 'Add Product Cover' | translate }}</option>
                    </select>
                </div>
            </div>
        </footer>
    </form>
</section>