<div class="container-fluid custom-container">
    <div class="row">
        <div class="col-sm-12 page-title mt10">
            <h1>Postcode Address File Search</h1>
        </div>
    </div>
    <div class="row mt5">
        <div class="col-sm-3">
            <label class="col24">Postcode(*1)</label>
            <div class="col16">
                <input type="text" class="form-control" id="SearchPostCode" size="12" tabindex="1">
            </div>
        </div>
        <div class="col-sm-3">
            <label class="col24">Enter Either A Postcode (*1) OR Street & Town (*2)</label>
        </div>
    </div>
    <div class="row mt2">
        <div class="col-sm-3">
            <label class="col24">House No.</label>
            <div class="col12">
                <input type="text" class="form-control" id="SearchHouseNo" size="6" maxlength="6" tabindex="2">
            </div>
        </div>
        <div class="col-sm-3">
            <label class="col24">Town(*2)</label>
            <div class="col24">
                <input type="text" class="form-control" id="SearchTown" maxlength="40" size="30" tabindex="4">
            </div>
        </div>
    </div>
    <div class="row mt2">
        <div class="col-sm-3">
            <label class="col24">Street(*2)</label>
            <div class="col24">
                <input type="text" class="form-control" id="SearchStreet" size="30" maxlength="40" tabindex="3">
            </div>
        </div>
        <div class="col-sm-3">
            <label class="col24">County</label>
            <div class="col24">
                <input type="text" class="form-control" id="SearchState" maxlength="40" size="30" tabindex="5">
            </div>
        </div>
        <div class="col-sm-3 mt20">
            <div class="col24">
                <input type="text" class="form-control" id="BusinessCode">
            </div>
        </div>
    </div>
    <div class="row mt2">
        <div class="col-sm-3 col-sm-offset-3 mt10" >
            <input type="button" class="btn btn-primary" id=cmdSearch tabindex="6" accesskey=S value="Search">
        </div>
    </div>
    <hr class="mt15 mb15">
    <div class="row">
        <div class="col-sm-6">
            <icabs-refresh></icabs-refresh>
            <icabs-pagination></icabs-pagination>
        </div>
        <div class="col-sm-12 mt10">
            <icabs-grid></icabs-grid>
        </div>
    </div>
</div>