<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="ContractNumber">{{ this['numberLabel'] | translate | translate}}</label>
                    <div class="col8 pr5">
                        <input id="ContractNumber" class="form-control" formControlName="ContractNumber" type="text" size="8" [attr.maxlength]="8"
                            eTypeCode>
                    </div>
                    <div class="col16">
                        <input id="ContractName" class="form-control" formControlName="ContractName" type="text" size="40" [attr.maxlength]="40">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="PremiseNumber">{{ 'Premises Number' | translate}}</label>
                    <div class="col8 pr5">
                        <input id="PremiseNumber" class="form-control" formControlName="PremiseNumber" type="text" size="8" [attr.maxlength]="5"
                            eTypeInteger>
                    </div>
                    <div class="col16">
                        <input id="PremiseName" class="form-control" formControlName="ContractName" type="text" size="40" [attr.maxlength]="40">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="ProductCode">{{ 'Product Code' | translate}}</label>
                    <div class="col8 pr5">
                        <input id="ProductCode" class="form-control" formControlName="ProductCode" type="text" size="8" [attr.maxlength]="6" eTypeCode>
                    </div>
                    <div class="col16">
                        <input id="ProductDesc" class="form-control" formControlName="ProductDesc" type="text" size="40" [attr.maxlength]="40">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-12">
                    <icabs-table #riTable (selectedData)="tableRowClick($event)" [itemsPerPage]="itemsPerPage" [paginationTop]="true" [displayError]="false"></icabs-table>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-offset-9 col-sm-2 pull-right">
                    <select id="menu" class="form-control" formControlName="menu" (change)="selectedOption($event.target.value)">
                         <option value="" selected>{{ 'Options' | translate }}</option>
                        <option value="AddVisit">{{ 'Add Service Visit' | translate }}</option>
                    </select>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>