<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Contract Number'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="ContractNumber" formControlName="ContractNumber"
                            size="8" maxlength="8">
                    </div>
                    <div class="col16">
                        <input type="text" class="form-control" id="ContractName" formControlName="ContractName"
                            size="40" maxlength="40">
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Premises Number'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="PremiseNumber" formControlName="PremiseNumber"
                            size="8" maxlength="5">
                    </div>
                    <div class="col16">
                        <input type="text" class="form-control" id="PremiseName" formControlName="PremiseName" size="40"
                            maxlength="40">
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Product Code'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="ProductCode" formControlName="ProductCode" size="8"
                            maxlength="6">
                    </div>
                    <div class="col16">
                        <input type="text" class="form-control" id="ProductDesc" formControlName="ProductDesc" size="40"
                            maxlength="40">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="refresh()"></icabs-refresh>
                    <icabs-pagination #infestationSearchPagination [currentPage]="pageCurrent"
                        [itemsPerPage]="itemsPerPage" [totalItems]="itemsTotal"
                        (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
                <div class="col-sm-2 pull-right">
                    <select id="menu" formControlName="menu" class="form-control" (click)="menuOnchange()">
                        <option selected value="">{{'Options'| translate}}</option>
                        <option value="AddInfest">{{'Add Infestation'| translate}}</option>
                    </select>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="riGridBodyOnDblClick()"
                        (bodyClick)="riGridBodyOnClick()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>