<section class="container-fluid custom-container modal-fix">
    <header class="screen-header">
        <div class="row mt10">
            <div class="col-sm-12 page-title">
                <h1>{{ 'User Information Search'| translate }}</h1>
            </div>
        </div>
    </header>
    <section class="screen-body">
        <hr class="mt15 mb15">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6">
                        <icabs-refresh (click)="onGridRefresh()"></icabs-refresh>
                        <icabs-pagination #pagination [currentPage]="gridParams.currentPage"
                            [totalItems]="gridParams.totalRecords" *ngIf="gridParams.totalRecords > 0"
                            [itemsPerPage]="gridParams.pageSize" (getCurrentPage)="onCurrentPageRecieved($event)">
                        </icabs-pagination>
                    </div>
                    <div class="col-sm-6">
                        <div class="col24" *ngIf="inputParams.showAddNew">
                            <input type="button" class="btn btn-primary" value="{{ 'Add New' | translate }}"
                                (click)="onAddNew()">
                        </div>
                    </div>
                    <div class="col-sm-12 mt10 default-wrap table-responsive">
                        <icabs-grid-advanced #riGrid id="riGrid" (bodyDblClick)="onBodyDoubleClick()">
                        </icabs-grid-advanced>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <icabs-spinner [isRunning]="isRequesting"></icabs-spinner>
</section>