<div class="container-fluid custom-container">
	<div class="row">
		<div class="col-sm-12 page-title mt10">
			<h1>
				{{uiDisplay.pageHeader |translate }}
			</h1>
		</div>
	</div>
	<form novalidate [formGroup]="uiForm" (ngSubmit)="onSubmit()">
		<div class="row mt5">
			<div class="col-sm-4" *ngIf="uiDisplay.showContract">
				<label class="col24">{{ ContractObject.label |translate }}</label>
				<div class="col6 pr5">
					<input type="text" id="ContractNumber" formControlName="ContractNumber" [readonly]="uiDisplay.readOnly.ContractNumber ? true : null"
						class="form-control" placeholder="" size="10" [attr.maxlength]="8" eTypeCode>
				</div>
				<div class="col18">
					<input type="text" id="ContractName" formControlName="ContractName" [readonly]="uiDisplay.readOnly.ContractName ? true : null"
						class="form-control" placeholder="" size="25" [attr.maxlength]="10" eTypeText>
				</div>
			</div>
			<div class="col-sm-3">
				<label class="col24">{{'View By' |translate}}</label>
				<div class="col16">
					<select class="form-control" formControlName="ViewTypeFilter" id="ViewTypeFilter" (change)="onChangeEvent()">
                        <option *ngFor="let i of menuOptions" [value]="i.value">{{i.label | translate }}</option>
                    </select>
				</div>
			</div>
		</div>
		<div class="row mt2">
			<div class="col-sm-4" *ngIf="uiDisplay.showPremise">
				<label class="col24">{{'Premises' |translate}}</label>
				<div class="col6 pr5">
					<input type="text" id="PremiseNumber" formControlName="PremiseNumber" [readonly]="uiDisplay.readOnly.PremiseNumber ? true : null"
						class="form-control" placeholder="" size="10" [attr.maxlength]="8" eTypeInteger>
				</div>
				<div class="col18">
					<input type="text" id="PremiseName" formControlName="PremiseName" [readonly]="uiDisplay.readOnly.PremiseName ? true : null"
						class="form-control" placeholder="" size="25" [attr.maxlength]="10" eTypeText>
				</div>
			</div>
			<div class="col-sm-3">
				<label class="col24">{{'Year' |translate}}</label>
				<div class="col16">
					<select class="form-control" formControlName="SelectedYear" id="SelectedYear" (change)="onChangeEvent()">
                        <option *ngFor="let i of years" [value]="i">{{i}}</option>
                    </select>
				</div>
			</div>
		</div>
		<div class="row mt2">
			<div class="col-sm-4" *ngIf="uiDisplay.showProduct">
				<label class="col24">{{'Product' |translate}}</label>
				<div class="col6 pr5">
					<input type="text" id="ProductCode" formControlName="ProductCode" [readonly]="uiDisplay.readOnly.ProductCode ? true : null"
						class="form-control" placeholder="" size="10" [attr.maxlength]="8" eTypeCode>
				</div>
				<div class="col18">
					<input type="text" id="ProductDesc" formControlName="ProductDesc" [readonly]="uiDisplay.readOnly.ProductDesc ? true : null"
						class="form-control" placeholder="" size="25" [attr.maxlength]="10" eTypeText>
				</div>
			</div>
			<div class="col-sm-3">
				<label id="TotalTimeLab" class="col24">{{'Time' |translate}}</label>
				<div class="col16">
					<input type="text" id="TotalTime" formControlName="TotalTime" [readonly]="uiDisplay.readOnly.TotalTime ? true : null" class="form-control"
						eTypeText>
				</div>
			</div>
		</div>
		<div class="row mt2">
			<div class="col-sm-3">
				<label id="TotalPremisesLab" class="col24">{{'Total Visits' |translate}}</label>
				<div class="col16">
					<input type="text" id="TotalPremises" formControlName="TotalPremises" [readonly]="uiDisplay.readOnly.TotalPremises ? true : null"
						class="form-control" eTypeInteger>
				</div>
			</div>
			<div class="col-sm-3">
				<label id="TotalNettValueLab" class="col24">{{'Nett Value' |translate}}</label>
				<div class="col16">
					<input type="text" id="TotalNettValue" formControlName="TotalNettValue" [readonly]="uiDisplay.readOnly.TotalNettValue ? true : null"
						class="form-control" eTypeCurrency>
				</div>
			</div>
		</div>
		<div class="row mt2">
			<div class="col-sm-3" *ngIf="uiDisplay.showtdTotalUnits">
				<label id="tdTotalUnitsLab" class="col24">{{'Units' |translate}}</label>
				<div class="col16">
					<input type="text" id="TotalUnits" formControlName="TotalUnits" [readonly]="uiDisplay.readOnly.TotalUnits ? true : null"
						class="form-control" eTypeInteger>
				</div>
			</div>
		</div>
		<div class="row mt2">
			<div class="col-sm-3" *ngIf="uiDisplay.showtdTotalWED">
				<label id="tdTotalWEDLab" class="col24">{{'W.E.D' |translate}}</label>
				<div class="col16">
					<input type="text" id="tdTotalWED" formControlName="tdTotalWED" [readonly]="uiDisplay.readOnly.tdTotalWED ? true : null"
						class="form-control" eTypeDecimal1>
				</div>
			</div>
		</div>
	</form>
	<hr class="mt15 mb15">
	<div class="row mt10">
		<div class="col-sm-12">
			<icabs-grid-advanced #riGrid id="riGrid" (onSuccess)="riGrid_AfterExecute()" (TRDblClick)="riGrid_BodyOnDblClick()"></icabs-grid-advanced>
		</div>
	</div>
	<div class="row">
		<!--assign the colors dynamically-->
		<div class="col-sm-12 text-center">
			<label class="pr5">{{'Legend'  |translate}}: </label>
			<div class="inline-block pr10" *ngFor="let l of uiDisplay.legend">
				<div class="legend inline-block mr5" [style.background-color]="l.color"></div>
				<label>{{l.label  |translate}}</label>
			</div>
		</div>
	</div>
</div>
<icabs-modal #messageModal [showCloseButton]="true" [showHeader]="true"></icabs-modal>
<icabs-spinner [isRunning]="isRequesting"></icabs-spinner>