<div class="container-fluid custom-container">
    <div class="row">
        <div class="col-sm-9 mt10 page-title">
            <h1>
                {{ this.pageTitle | translate }}
            </h1>
        </div>
    </div>

    <form novalidate [formGroup]="this['uiForm']">
        <div class="row mt5">
            <div class="col-sm-3">
                <label class="col24">{{ 'Postcode' | translate }}<span class="mandatory">*</span></label>
                <div class="col14 pr5">
                    <input type="text" id="Postcode" formControlName="Postcode" size="15" [attr.maxlength]="15" class="form-control" (change)="PostCodeSearchOnchange('FindUniqueRecord')"
                        eTypeCode>
                </div>
                <div class="col2">
                    <icabs-ellipsis #PostCodeSearchEllipsis [showCloseButton]="ellipsis.postCodeSearch.showCloseButton" [childConfigParams]="ellipsis.postCodeSearch"
                        [contentComponent]="ellipsis.postCodeSearch.component" [autoOpen]="ellipsis.postCodeSearch.autoOpenSearch"
                        (ellipsisData)="setEllipsisReturnData($event)" (modalHidden)="getModalinfo($event)" (addModeOn)="btnAddOnClick($event)"
                        [showHeader]="ellipsis.postCodeSearch.showHeader" [disabled]="ellipsis.postCodeSearch.disabled"></icabs-ellipsis>
                </div>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-3">
                <label class="col24">{{ 'Town' | translate }}</label>
                <div class="col16">
                    <input type="text" id="Town" formControlName="Town" size="20" maxlength="20" class="form-control" eTypeTextFree>
                </div>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-3">
                <label class="col24">{{'State' | translate}}</label>
                <div class="col16">
                    <input type="text" id="State" formControlName="State" size="20" maxlength="20" class="form-control" eTypeTextFree>
                </div>
            </div>
        </div>
        <hr class="mt15 mb15">
        <div class="row">
            <div class="col-sm-4">
                <label class="col24">{{'Servicing Branch' | translate}}
                    <span class="mandatory">*</span>
                </label>
                <div class="col22 pr5">
                    <icabs-branchsearch #serviceBranchDropdown [inputParams]="dropdown.servicebranch.params" (receivedbranchsearch)="servicebranchOnchange($event)"
                        [isTriggerValidate]="dropdown.servicebranch.validate" [active]="dropdown.servicebranch.active" [isDisabled]="dropdown.servicebranch.disabled"
                        [isRequired]="dropdown.servicebranch.required"></icabs-branchsearch>
                </div>
            </div>
        </div>
        <div class="row mt2" class="hidden">
            <div class="col-sm-4">
                <label class="col24">{{'Sales Branch' | translate}}
                    <span class="mandatory">*</span>
                </label>
                <div class="col22 pr5">
                    <icabs-branchsearch [inputParams]="dropdown.salesbranch.params" (receivedbranchsearch)="salesbranchOnchange($event)" [active]="dropdown.salesbranch.active"
                        [isDisabled]="dropdown.salesbranch.disabled" [isRequired]="dropdown.salesbranch.required"></icabs-branchsearch>
                </div>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-4">
                <label class="col24">{{'Sales Area Code' | translate}}<span class="mandatory">*</span></label>
                <div class="col6 pr5">
                    <input type="text" id="SalesAreaCode" formControlName="SalesAreaCode" size="8" maxlength="5" class="form-control" (change)="SalesAreaSearchOnchange()"
                        [ngClass]="{ 'red-bdr': isSalesAreaValid}" eTypeCode>
                </div>
                <div class="col16 pr5">
                    <input id="SalesAreaDesc" formControlName="SalesAreaDesc" size="30" maxlength="30" type="text" class="form-control">
                </div>
                <div class="col2">
                    <icabs-ellipsis #salesAreaEllipsis [autoOpen]="ellipsis.salesAreaCode.autoOpenSearch" [showCloseButton]="ellipsis.salesAreaCode.showCloseButton"
                        [childConfigParams]="ellipsis.salesAreaCode.childConfigParams" [contentComponent]="ellipsis.salesAreaCode.contentComponent" (ellipsisData)="SalesAreaCodeOnkeydown($event, true)"
                        (modalHidden)="getModalinfo($event)" [showHeader]="ellipsis.salesAreaCode.showHeader" [disabled]="ellipsis.salesAreaCode.disabled"></icabs-ellipsis>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col24 mt20">
                    <input type="button" class="btn btn-primary" id="cmdGenerateReport" value="{{'Generate Report' | translate}}" (click)="cmdGenerateReportOnclick($event)"
                    />
                </div>
            </div>
        </div>
        <div class="row mt2" *ngIf="trRegulatoryAuthorityNumber">
            <div class="col-sm-4">
                <label class="col24">{{'Regulatory Authority Number' | translate}}<span class="mandatory">*</span></label>
                <div class="col6 pr5">
                    <input type="text" id="RegulatoryAuthorityNumber" formControlName="RegulatoryAuthorityNumber" size="8" maxlength="5" class="form-control"
                        (change)="regulatoryAuthorityNumberOnChange($event)" eTypeInteger>
                </div>
                <div class="col16 pr5">
                    <input id="RegulatoryAuthorityName" formControlName="RegulatoryAuthorityName" size="30" maxlength="30" type="text" class="form-control"
                        eTypeText>
                </div>
                <div class="col2">
                    <icabs-ellipsis #regulatoryAuthorityNumberEllipsis [autoOpen]="ellipsis.regulatoryAuthorityNumber.autoOpenSearch" [showCloseButton]="true"
                        [childConfigParams]="ellipsis.regulatoryAuthorityNumber.childConfigParams" [contentComponent]="ellipsis.regulatoryAuthorityNumber.contentComponent"
                        (ellipsisData)="regulatoryAuthorityNumberOnkeydown($event, true)" (modalHidden)="getModalinfo($event)"
                        [showHeader]="true" [disabled]="ellipsis.regulatoryAuthorityNumber.isDisabled"></icabs-ellipsis>
                </div>
            </div>
        </div>

        <!--Edited by Lopa on 28-03-2017-->
        <hr class="mt15 mb15">
        <div class="row mt10">
            <div class="col-xs-12">
                <input class="btn btn-primary" type="button" value="{{ 'Save' | translate}}" (click)="checkValidSalesArea()" [disabled]="!this['pageParams']['isSaveCancelEnable']">
                <input class="btn btn-secondary" type="button" value="{{ 'Cancel' | translate}}" (click)="onAbandon()" [disabled]="!this['pageParams']['isSaveCancelEnable']">
                <input [ngClass]="!IsDeleteEnable ? 'hidden' : ''" class="btn btn-additional" type="button" value="{{ 'Delete' | translate}}"
                    (click)="btnDeleteOnClick()">
            </div>
        </div>

        <div class="row mt10">
            <div class="col-sm-12" id="trInformation" *ngIf="trInformation">
                <div class="alert alert-info" id="thInformation">
                    <strong>{{URLReturn}}</strong>
                </div>
                <input id="vMoreThanOne" class="hidden">
                <input id="vSuccessful" class="hidden">
            </div>
        </div>

    </form>

</div>

<icabs-modal #errorModal="child" [title]="errorTitle" [content]="errorContent" [(showHeader)]="showErrorHeader">
</icabs-modal>
<icabs-modal #messageModal [title]="messageTitle" [content]="messageContent" [(showHeader)]="showMessageHeader">
</icabs-modal>
<icabs-prompt-modal #promptModal="child" [(showHeader)]="showPromptHeader" [title]="promptTitle" [content]="promptContent"
    (saveEmit)="promptSave($event)"></icabs-prompt-modal>
    <icabs-routeaway #routeAwayComponent></icabs-routeaway>
    <icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>