<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row pt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Branch' |translate}} </label>
                    <div class="col8 pr5">
                      <input type="text" id="BranchNumber" formControlName="BranchNumber" size="9" [attr.maxlength]="9"
                        class="form-control" eTypeInteger>
                    </div>
                    <div class="col16 pr10">
                      <input type="text" id="BranchName" formControlName="BranchName" size="40" [attr.maxlength]="40"
                        class="form-control" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row pt5">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Service Area' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="BranchServiceAreaCode" class="form-control"
                        formControlName="BranchServiceAreaCode" size="4" [attr.maxlength]="4"
                        fetchDescription table="BranchServiceArea" query="BranchServiceAreaCode" select="BranchServiceAreaDesc" [shouldTrigger]="trigger"
                        eTypeCode>                   
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="BranchServiceAreaDesc" class="form-control"
                        formControlName="BranchServiceAreaDesc" size="35" [attr.maxlength]="37" eTypeText>                    
                    </div>
                    <div class="col2 pr5">
                        <icabs-ellipsis #serviceArea
                            [childConfigParams]="ellipseCofig.serviceArea.childConfigParams"
                            [contentComponent]="ellipseCofig.serviceArea.component"
                            [showHeader]="true"
                            [showCloseButton]="true"
                            (ellipsisData)="onDataReceived($event, 'ServiceAreaCode')">
                        </icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row pt5">
                <div class="col-sm-4">
                    <label class="col24" for="InfestationGroupCode">{{ 'Infestation Location' | translate }}</label>
                    <div class="col24 pr10">
                        <icabs-common-dropdown [inputParams]="dropdownConfig.infestationLocation.params"
                            [isActive]="dropdownConfig.infestationLocation.active"
                            [displayFields]="dropdownConfig.infestationLocation.displayFields"
                            (onDataReceived)="onDataReceived($event,'InfestationLocation')">
                        </icabs-common-dropdown>
                    </div>                
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Show' |translate}} </label>
                    <div class="col24 pr10">
                      <select id="ShowType" class="form-control" formControlName="ShowType">
                        <option *ngFor="let showType of showTypeList" value="{{showType.value}}">
                          {{ showType.text | translate }}</option>
                      </select>
                    </div>
                </div>        
            </div>
            <div class="row pt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Infestation Found' | translate}}</label>
                    <div class="col22 pr5">
                        <input formControlName="ProductDetailCodeString" id="ProductDetailCodeString" size="44"
                        [attr.maxlength]="50" value="" class="form-control" (change)="onDataReceived($event.target.value,'ProductDetail')" eTypeCode>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="true"
                            [childConfigParams]="ellipseCofig.productCoverSearch.childConfigParams"
                            [contentComponent]="ellipseCofig.productCoverSearch.contentComponent"
                            (ellipsisData)="onDataReceived($event,'ProductDetail')" [showHeader]="true">
                        </icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-sm-6 pl0">
                        <label class="col24">{{ 'Date From' | translate }}<span class="mandatory">*</span></label>
                            <div class="col23">
                                <icabs-datepicker formControlName="DateFrom" [isDirectiveBased]="false"
                                (onChange)="this['commonGridFunction'].resetGrid()"></icabs-datepicker>
                            </div>
                    </div>
                    <div class="col-sm-6 pr0">
                        <label class="col24">{{ 'Date To' | translate }}<span class="mandatory">*</span></label>
                        <div class="col23">
                            <icabs-datepicker formControlName="DateTo" [isDirectiveBased]="false"
                            (onChange)="this['commonGridFunction'].resetGrid()"></icabs-datepicker>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row mt10">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [canExport]="true" [exportOptions]="expConfig" [totalItems]="this['pageParams'].gridConfig.totalItem"
                        [currentPage]="this['pageParams'].gridCurrentPage" [itemsPerPage]="this['pageParams'].gridConfig.itemsPerPage"
                        (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)"
                        [ngClass]="{hidden: !hasGridData}">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="onGridDblClk()"
                        (headerClick)="onHeaderClick()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>