<section class="container-fluid custom-container">
    <header>
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <div class="row mt5">
            <div class="col-sm-3">
                <label class="col24">{{'Business'|translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="BusinessCode" size="3" [attr.maxlength]="3" class="form-control"
                        formControlName="BusinessCode" eTypeCode>
                </div>
                <div class="col16">
                    <input type="text" id="BusinessDesc" size="37" [attr.maxlength]="40" class="form-control"
                        formControlName="BusinessDesc" eTypeText>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="hasTrRegion">
                <label class="col24">{{'Region'|translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="RegionCode" size="6" [attr.maxlength]="6" class="form-control"
                        formControlName="RegionCode" eTypeText>
                </div>
                <div class="col16">
                    <input type="text" id="RegionDesc" size="40" [attr.maxlength]="40" class="form-control"
                        formControlName="RegionDesc" eTypeText>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="hasTrMarketSegment">
                <label class="col24">{{'Market Segment'|translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="MarketSegmentCode" size="6" [attr.maxlength]="6" class="form-control"
                        formControlName="MarketSegmentCode" eTypeText>
                </div>
                <div class="col16">
                    <input type="text" id="MarketSegmentDesc" size="40" [attr.maxlength]="40" class="form-control"
                        formControlName="MarketSegmentDesc" eTypeText>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="hasTrBranch">
                <label class="col24">{{'Branch'|translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="BranchNumber" size="5" [attr.maxlength]="5" class="form-control"
                        formControlName="BranchNumber" eTypeCode>
                </div>
                <div class="col16">
                    <input type="text" id="BranchName" size="40" [attr.maxlength]="40" class="form-control"
                        formControlName="BranchName" eTypeText>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="hasTrEmployee">
                <label class="col24">{{'Employee'|translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="EmployeeCode" size="6" [attr.maxlength]="6" class="form-control"
                        formControlName="EmployeeCode" eTypeText>
                </div>
                <div class="col16">
                    <input type="text" id="EmployeeName" size="40" [attr.maxlength]="40" class="form-control"
                        formControlName="EmployeeName" eTypeText>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="hasTrServiceType">
                <label class="col24">{{'Service Type'|translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="ServiceTypeCode" size="6" [attr.maxlength]="2" class="form-control"
                        formControlName="ServiceTypeCode" eTypeText>
                </div>
                <div class="col16">
                    <input type="text" id="ServiceTypeDesc" size="40" [attr.maxlength]="40" class="form-control"
                        formControlName="ServiceTypeDesc" eTypeText>
                </div>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-sm-3" *ngIf="this['pageParams']['SCEnableCompanyCode']">
                <label class="col24">{{'Company (blank for all)'|translate}}</label>
                <div class="col24">
                    <icabs-business-company-search [inputParams]="dropDown.company.inputParams"
                        [active]="dropDown.company.active" [isDisabled]="true"></icabs-business-company-search>
                </div>
            </div>
            <div class="col-sm-2">
                <label class="col16">{{'Filter By' | translate}}
                </label>
                <div class="col18">
                    <input type="text" id="FilterColumn" size="40" [attr.maxlength]="40" class="form-control"
                        formControlName="FilterColumn" eTypeText>
                </div>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-sm-2">
                <label class="col16">{{'Effective From' | translate}}
                    <span class="mandatory">*</span>
                </label>
                <div class="col18">
                    <icabs-datepicker id="DateFrom" formControlName="DateFrom" [isDirectiveBased]="false">
                    </icabs-datepicker>
                </div>
            </div>
            <div class="col-sm-2">
                <label class="col16">{{'To' | translate}}
                    <span class="mandatory">*</span>
                </label>
                <div class="col18">
                    <icabs-datepicker id="DateTo" formControlName="DateTo" [isDirectiveBased]="false">
                    </icabs-datepicker>
                </div>
            </div>
        </div>
        <hr class="mt15 mb15">
        <div class="row">
            <div class="col-sm-6">
                <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                <icabs-pagination [ngClass]="{hidden: !hasGridData}" #riGridPagination
                    [totalItems]="this['pageParams'].gridConfig.totalRecords"
                    [itemsPerPage]="this['pageParams'].gridConfig.pageSize"
                    [currentPage]="this['pageParams'].gridCurrentPage" (getCurrentPage)="getCurrentPage($event)"
                    [canExport]="true" [exportOptions]="{dateColumns: '0,12'}">
                </icabs-pagination>
            </div>
            <div class="col-sm-12 mt10">
                <div class="auto-scrollable">
                    <icabs-grid-advanced #riGrid>
                    </icabs-grid-advanced>
                </div>
            </div>
        </div>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
