<section class="container-fluid custom-container">
    <header>
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <div class="row mt5">
            <div class="col-sm-3" *ngIf="!isBranch">
                <label class="col24">{{'Business'|translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="BusinessCode" size="3" [attr.maxlength]="3" class="form-control"
                        formControlName="BusinessCode" eTypeCode>
                </div>
                <div class="col16">
                    <input type="text" id="BusinessDesc" size="37" [attr.maxlength]="40" class="form-control"
                        formControlName="BusinessDesc" eTypeText>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="isBranch">
                <label class="col24">{{'Branch'|translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="BranchNumber" size="6" [attr.maxlength]="5" class="form-control"
                        formControlName="BranchNumber" eTypeCode>
                </div>
                <div class="col16">
                    <input type="text" id="BranchName" size="30" [attr.maxlength]="38" class="form-control"
                        formControlName="BranchName" eTypeText>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col16">
                    <label class="col24" for="ViewType">{{'View Type' | translate}}</label>
                    <select class="form-control" id="ViewType" formControlName="ViewType" (change)="onViewTypeChange()">
                        <option *ngFor="let viewType of this['pageParams']['viewTypeList']" [value]="viewType.value">
                            {{viewType.name | translate}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col16">
                    <label class="col24" for="ViewMode">{{'View Mode' | translate}}</label>
                    <select class="form-control" id="ViewMode" formControlName="ViewMode" (change)="onViewModeChange($event)">
                        <option *ngFor="let viewMode of this['pageParams']['viewModeList']" [value]="viewMode.value">
                            {{viewMode.name | translate}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-sm-3" *ngIf="isEmployee || isBranch">
                <label class="col24">{{'Employee (blank for all)'|translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="EmployeeCode" size="6" [attr.maxlength]="6" class="form-control"
                        formControlName="EmployeeCode" (blur)="getEmployeeName()" eTypeCode>
                </div>
                <div class="col14 pr5">
                    <input type="text" id="EmployeeSurname" size="30" [attr.maxlength]="40" class="form-control"
                        formControlName="EmployeeSurname" eTypeText>
                </div>
                <div class="col2">
                    <icabs-ellipsis [childConfigParams]="ellipsis.employeeEllipsis.childparams" [contentComponent]="ellipsis.employeeEllipsis.component"
                        [showHeader]="true" (ellipsisData)="onEmployeeDataReceived($event)"></icabs-ellipsis>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="this['pageParams']['SCEnableCompanyCode']">
                <label class="col24">{{'Company (blank for all)'|translate}}</label>
                <div class="col24">
                    <icabs-business-company-search [inputParams]="dropDown.company.inputParams" [active]="dropDown.company.active"
                        (receivedCompanyCode)="onDataRecieved($event)"></icabs-business-company-search>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24">{{ 'Service Type (blank for all)' | translate }}</label>
                <div class="col24 pr5">
                    <icabs-servicetype-search [inputParams]="dropDown.serviceType.inputParams" [active]="dropDown.serviceType.active"
                        (receivedServiceTypeData)="onServiceTypeSelect($event)">
                    </icabs-servicetype-search>
                </div>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-sm-2">
                <label class="col16">{{'Effective From' | translate}}
                    <span class="mandatory">*</span>
                </label>
                <div class="col18">
                    <icabs-datepicker id="DateFrom" formControlName="DateFrom" [isDirectiveBased]="false"></icabs-datepicker>
                </div>
            </div>
            <div class="col-sm-2">
                <label class="col16">{{'To' | translate}}
                    <span class="mandatory">*</span>
                </label>
                <div class="col18">
                    <icabs-datepicker id="DateTo" formControlName="DateTo" [isDirectiveBased]="false"></icabs-datepicker>
                </div>
            </div>
        </div>
        <hr class="mt15 mb15">
        <div class="row">
            <div class="col-sm-6">
                <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                <icabs-pagination [ngClass]="{hidden: !hasGridData}" #riGridPagination [totalItems]="this['pageParams'].gridConfig.totalRecords"
                    [itemsPerPage]="this['pageParams'].gridConfig.pageSize" [currentPage]="this['pageParams'].gridCurrentPage"
                    (getCurrentPage)="getCurrentPage($event)" [canExport]="true">
                </icabs-pagination>
            </div>
            <div class="col-sm-12 mt10">
                <div class="auto-scrollable">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="onGridBodyDoubleClick($event)">
                    </icabs-grid-advanced>
                </div>
            </div>
        </div>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>