<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1> {{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <div class="row mt5" *ngIf="type === 'Branch'">
            <div class="col-sm-4">
                <div class="col8 pr5">
                    <label class="col24" for="BranchType">{{ 'Filter By' | translate}}</label>
                    <select class="form-control" id="BranchType" formControlName="BranchType"
                        (change)="onBranchTypeChange()">
                        <option value="Neg">{{ 'Neg Branch' | translate }}</option>
                        <option value="Service">{{ 'Service Branch' | translate }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-sm-3" *ngIf="type === 'main'">
                <label class="col24">{{'Business'|translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="BusinessCode" size="1" maxlength="1" class="form-control"
                        formControlName="BusinessCode" eTypeCode>
                </div>
                <div class="col16">
                    <input type="text" id="BusinessDesc" size="30" [attr.maxlength]="35" class="form-control"
                        formControlName="BusinessDesc" eTypeText>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="type === 'Branch'">
                <label class="col24">{{ 'Branch' | translate }}</label>
                <div class="col8 pr5">
                    <input type="text" id="BranchNumber" size="1" maxlength="1" class="form-control"
                        formControlName="BranchNumber" eTypeCode>
                </div>
                <div class="col16">
                    <input type="text" id="BranchName" size="30" [attr.maxlength]="35" class="form-control"
                        formControlName="BranchName" eTypeText>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col16">
                    <label class="col24" for="FilterBy">{{'Show' | translate}}</label>
                    <select class="form-control" id="ShowType" formControlName="ShowType">
                        <option value="All">{{'All' | translate}}</option>
                        <option value="Terminate">{{'Terminations' | translate}}</option>
                        <option value="Delete">{{'Deletions' | translate}}</option>
                        <option value="Reductions">{{'Reductions' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="col16">
                    <label class="col24" for="DateType">{{'Date Type' | translate}}</label>
                    <select class="form-control" id="DateType" formControlName="DateType">
                        <option value="Effective">{{'Effective' | translate}}</option>
                        <option value="Processed">{{'Processed' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-sm-3">
                <label class="col24">{{'Lost Business'|translate}}
                </label>
                <div class="col24 pr5">
                    <icabs-lostbusinesslanguagesearch #reasonCodeDropdown id="reasonCodeDropdown"
                        [isTriggerValidate]="false" [inputParams]="dropdown.dropdownSearchReason.inputParams"
                        [active]="dropdown.dropdownSearchReason.active" [isRequired]="false"
                        [isDisabled]="dropdown.dropdownSearchReason.isDisabled"
                        (receivedlostbusinesslangsearch)="onChangeLostBusinessCode($event)">
                    </icabs-lostbusinesslanguagesearch>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col16">
                    <label class="col24" for="GroupBy">{{'Group By' | translate}}</label>
                    <select class="form-control" id="GroupBy" formControlName="GroupBy" (change)="onGroupByChanges()">
                        <option value="None">{{'' | translate}}</option>
                        <option value="Branch" *ngIf="type === 'main'">{{ 'Branch' | translate }}</option>
                        <option value="Region" *ngIf="type === 'main'">{{'Region' | translate}}</option>
                        <option value="Employee" *ngIf="type === 'Branch' && !this.employee">
                            {{ 'Employee' | translate }}</option>
                        <option value="SalesArea" *ngIf="type === 'Branch' && !this.salesArea">
                            {{ 'Sales Area' | translate }}</option>
                        <option value="ServiceArea" *ngIf="type === 'Branch' && !this.serviceArea">
                            {{'Service Area' | translate}}</option>
                        <ng-container *ngFor="let groupBy of groupByValues">
                            <option *ngIf="!getControlValue(groupBy.control)" [value]="groupBy.value">
                                {{groupBy.name}}
                            </option>
                        </ng-container>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col16">{{ 'From' | translate }}
                    <span class="mandatory">*</span>
                </label>
                <div class="col16">
                    <icabs-datepicker id="DateFrom" formControlName="DateFrom" [isDirectiveBased]="false">
                    </icabs-datepicker>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col16">{{ 'To' | translate }}
                    <span class="mandatory">*</span>
                </label>
                <div class="col16">
                    <icabs-datepicker id="DateTo" formControlName="DateTo" [isDirectiveBased]="false"
                        [shouldPopRight]="true">
                    </icabs-datepicker>
                </div>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-sm-3">
                <label class="col24">{{'Market Segment' | translate}}</label>
                <div class="col24 pr5">
                    <icabs-common-dropdown #marketSegmentSearchDropDown
                        [inputParams]="dropdown.marketSegment.inputParams" [isRequired]="false"
                        [isDisabled]="dropdown.marketSegment.isDisabled" [isActive]="dropdown.marketSegment.active"
                        [isTriggerValidate]="false" [displayFields]="dropdown.marketSegment.displayFields"
                        (onDataReceived)="onDropdownDataRecieved($event)"></icabs-common-dropdown>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24">{{'Value G/Than'|translate}} <span class="mandatory">*</span></label>
                <div class="col16">
                    <input type="text" id="MoreThanValue" size="10" [attr.maxlength]="10" class="form-control"
                        formControlName="MoreThanValue" eTypeDecimal2>
                </div>
            </div>

            <div class="col-sm-3">
                <label class="col24">{{'Duration L/Than'|translate}} <span class="mandatory">*</span></label>
                <div class="col13 pr5">
                    <input type="text" id="LessThanYears" size="3" [attr.maxlength]="3" class="form-control"
                        formControlName="LessThanYears" eTypeText />
                </div>
                <label class="col8">{{'Years'|translate}}</label>
            </div>
            <div class="col-sm-3">
                <label class="col24">{{''|translate}}</label>
                <div class="col12 pr5">
                    <input type="text" id="LessThanMonths" size="2" [attr.maxlength]="2" class="form-control"
                        formControlName="LessThanMonths" eTypeText />

                </div>
                <label class="col8">{{'Months'|translate}}</label>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-sm-3">
                <div *ngIf="this['pageParams'].SCEnableCompanyCode">
                    <label class="col24">{{ 'Company' | translate }}</label>
                    <div class="col24 pr5">
                        <icabs-business-company-search [inputParams]="dropdown.companySearch.inputParams"
                            (receivedCompanyCode)="onChangeCompany($event)"
                            [isDisabled]="dropdown.companySearch.isDisabled" [active]="dropdown.companySearch.active">
                        </icabs-business-company-search>
                    </div>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="type == 'Branch'">
                <label class="col24">{{ 'Employee' | translate }}</label>
                <div class="col6 pr5">
                    <input type="text" id="EmployeeCode" size="6" maxlength="6" class="form-control"
                        formControlName="EmployeeCode" eTypeCode (change)="onFiltersForBranchChange('Employee')">
                </div>
                <div class="col16 pr5">
                    <input type="text" id="EmployeeSurname" size="30" [attr.maxlength]="35" class="form-control"
                        formControlName="EmployeeSurname" eTypeText>
                </div>
                <div class="col2">
                    <icabs-ellipsis [childConfigParams]="ellipsis.employee.configParams" [showCloseButton]="true"
                        [contentComponent]="ellipsis.employee.component" [showHeader]="true"
                        (ellipsisData)="onFiltersForBranchEllipsisSelect($event, 'Employee')" *ngIf="isEmployeeEnabled">
                    </icabs-ellipsis>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="type == 'Branch'">
                <label class="col24">{{ 'Sales Area' | translate }}</label>
                <div class="col6 pr5">
                    <input type="text" id="SalesAreaCode" size="4" maxlength="4" class="form-control"
                        formControlName="SalesAreaCode" eTypeCode (change)="onFiltersForBranchChange('Sales Area')">
                </div>
                <div class="col16 pr5">
                    <input type="text" id="SalesAreaDesc" size="30" [attr.maxlength]="35" class="form-control"
                        formControlName="SalesAreaDesc" eTypeText>
                </div>
                <div class="col2">
                    <icabs-ellipsis [childConfigParams]="ellipsis.salesArea.configParams" [showCloseButton]="true"
                        [contentComponent]="ellipsis.salesArea.component" [showHeader]="true"
                        (ellipsisData)="onFiltersForBranchEllipsisSelect($event, 'Sales Area')"
                        *ngIf="!isBranchTypeNeg && isSalesAreaEnabled">
                    </icabs-ellipsis>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="type == 'Branch'">
                <label class="col24">{{ 'Service Area' | translate }}</label>
                <div class="col6 pr5">
                    <input type="text" id="BranchServiceAreaCode" size="6" maxlength="6" class="form-control"
                        formControlName="BranchServiceAreaCode" eTypeCode
                        (change)="onFiltersForBranchChange('Service Area')">
                </div>
                <div class="col16 pr5">
                    <input type="text" id="BranchServiceAreaDesc" size="30" [attr.maxlength]="35" class="form-control"
                        formControlName="BranchServiceAreaDesc" eTypeText>
                </div>
                <div class="col2">
                    <icabs-ellipsis [childConfigParams]="ellipsis.serviceArea.configParams" [showCloseButton]="true"
                        [contentComponent]="ellipsis.serviceArea.component" [showHeader]="true"
                        (ellipsisData)="onFiltersForBranchEllipsisSelect($event, 'Service Area')"
                        *ngIf="!isBranchTypeNeg && isServiceAreaEnabled">
                    </icabs-ellipsis>
                </div>
            </div>
        </div>
        <hr class="mt15 mb15">
        <div class="row">
            <div class="col-sm-6">
                <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                <icabs-pagination [ngClass]="{hidden: !hasGridData}" #riGridPagination
                    [totalItems]="this['pageParams'].gridConfig.totalRecords"
                    [itemsPerPage]="this['pageParams'].gridConfig.pageSize"
                    [currentPage]="this['pageParams'].gridCurrentPage" (getCurrentPage)="getCurrentPage($event)"
                    [canExport]="this['pageParams'].gridConfig.totalRecords > 0"
                    [exportOptions]="{dateColumns: dateCollist}">
                </icabs-pagination>
            </div>
            <icabs-grid-advanced #riGrid (bodyDblClick)="onGridBodyDoubleClick()" (headerClick)="onRiGridRefresh()">
            </icabs-grid-advanced>
        </div>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
