<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt10">
                <div class="col-sm-4">
                    <label class="col24 " for="EmployeeCode">{{ 'Employee' | translate }}</label>
                    <div class="col8 pr5">
                        <input class="form-control" formControlName="EmployeeCode" id="EmployeeCode" name="EmployeeCode" type="text" size="6" maxlength="6"
                            eTypeTextFree>
                    </div>
                    <div class="col14 pr5">
                        <input class="form-control" formControlName="EmployeeSurname" name="EmployeeSurname" type="text" size="18" maxlength="18"
                            eTypeTextFree>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [(showHeader)]="ellipsisConfig['employee'].showHeader" [(showCloseButton)]="ellipsisConfig['employee'].showCloseButton"
                            [(childConfigParams)]="ellipsisConfig['employee'].childConfigParams" [(contentComponent)]="ellipsisConfig['employee'].contentComponent"
                            [(modalConfig)]="ellipsisConfig['employee'].modalConfig" (ellipsisData)="onEmployeeDataReceived($event)"></icabs-ellipsis>
                    </div>
                </div>
            </div>

            <div class="row mt2">
                <div class="col-sm-3" *ngIf="ticketDataAvailable">
                    <label class="col24" for="TicketTypeSelect">{{ 'Ticket Type' | translate }}</label>
                    <div class="col16">
                        <icabs-dropdown-static #ticketTypeSelectDropdown id="TicketTypeSelect" [inputData]="ticketTypeCodeList" (onSelect)="onTicketTypeSelect($event)"></icabs-dropdown-static>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="WOTypeCodeSelect">{{ 'WO Type' | translate }}</label>
                    <div class="col16">
                        <icabs-dropdown-static #woTypeCodeSelectDropdown id="WOTypeCodeSelect" [inputData]="woTypeCodeList" (onSelect)="onWOTypeCodeSelect($event)"></icabs-dropdown-static>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <div class="col12 pr5">
                        <label class="col24" for="MonthSelect">{{ 'Month' | translate }}</label>
                        <icabs-dropdown-static #monthSelectDropdown id="MonthSelect" [inputData]="monthList" (onSelect)="onMonthSelect($event)"></icabs-dropdown-static>
                    </div>
                    <div class="col12">
                        <label class="col24" for="DiaryYearSelect">{{ 'Year' | translate }}</label>
                        <icabs-dropdown-static #diaryYearSelectDropdown id="DiaryYearSelect" [inputData]="diaryYearList" (onSelect)="onDiaryYearSelect($event)"></icabs-dropdown-static>
                    </div>
                </div>

                <div class="col-sm-3" *ngIf="displayHignlight">
                    <label class="col24" for="HighlightSelect">{{ 'Highlight' | translate }}</label>
                    <div class="col16">
                        <select id="HighlightSelect" class="form-control" formControlName="HighlightSelect" name="HighlightSelect">
                            <option value="NONE">{{ 'None' | translate }}</option>
                            <option value="CLASH">{{ 'Diary Clashes' | translate }}</option>
                            <option value="UNRESOLVED">{{ 'Open Diary Entries' | translate }}</option>
                            <option value="RESOLVED">{{ 'Closed Diary Entries' | translate }}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row mt2" *ngIf="displayOpenWOOnly">
                <div class="col-sm-3"></div>
                <div class="col-sm-3 mt20">
                    <input formControlName="OpenWOOnly" id="OpenWOOnly" type="checkbox" (click)="riGrid_BeforeExecute()">
                    <label for="OpenWOOnly">{{ 'Open' | translate }}</label>
                </div>
            </div>
        </section>
        <hr class="mt15 mb15">
        <footer class="screen-footer">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="riGrid_BeforeExecute()"></icabs-refresh>
                    <icabs-pagination #diaryPagination *ngIf="gridParams.totalRecords > 0" [totalItems]="gridParams.totalRecords" [itemsPerPage]="gridParams.itemsPerPage"
                        (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #diaryGrid id="diaryGrid" (bodyDblClick)="onGridColumnDbClick($event)" (headerClick)="riGrid_Sort($event)"></icabs-grid-advanced>
                </div>
            </div>
        </footer>
    </form>
</section>

<icabs-spinner [isRunning]="isRequesting"></icabs-spinner>

<icabs-modal #errorModal="child" [showHeader]="true" [content]="">
</icabs-modal>