<div class="container-fluid custom-container">
  <div class="row">
    <div class="col-sm-12 page-title mt10">
      <div class="col20">
        <h1>
          {{ pageTitle | translate }}
        </h1>
      </div>
    </div>
  </div>

  <form novalidate [formGroup]="maintenanceProspectSearchFormGroup" (ngSubmit)="$event.preventDefault();">
    <div #topContainer>
      <div class="row mt10">
        <div class="col-sm-12">
          <div class="col4 pr10">
            <label class="col24">{{ 'Prospect Number' | translate }}<span class="mandatory">* </span> </label>
            <div class="col20 pr5">
              <input type="text" formControlName="ProspectNumber" class="form-control" placeholder="" [attr.size]="8"
                [attr.maxlength]="8" (blur)="prospectLookUp($event.target)" eTypeInteger>
            </div>
            <div class="col2">
              <icabs-ellipsis #prospectSearchEllipsis [autoOpen]="autoOpenProspectSearch"
                [showCloseButton]="showCloseButton" [childConfigParams]="inputParamsProspect"
                [modalConfig]="modalConfig" [contentComponent]="prospectSearchComponent"
                (ellipsisData)="onProspectDataReceived($event, false)" [showHeader]="showHeader"
                [searchModalRoute]="searchModalRoute" [disabled]="prospectDisabled"></icabs-ellipsis>
            </div>
          </div>
          <div class="col5 pr10" [hidden]="fieldVisibility.isHiddenAccountNumber">
            <label class="col24 ">{{ 'Account Number' | translate }} <span class="mandatory" *ngIf="isAccountRequired">*
              </span></label>
            <div class="col20 pr5">
              <input type="text" formControlName="AccountNumber" class="form-control" placeholder="" [attr.size]="9"
                [attr.maxlength]="9" (change)="accountNumberOnchange($event.target)" eTypeCode>
            </div>
            <div class="col2">
              <icabs-ellipsis [showCloseButton]="showCloseButton" [childConfigParams]="inputParamsAccount"
                [modalConfig]="modalConfig" [contentComponent]="accountSearchComponent"
                (ellipsisData)="onAccountDataReceived($event, false)" [showHeader]="showHeader"
                [searchModalRoute]="searchModalRoute" [disabled]="ellipsisDisable.accountEllipsisDisabled">
              </icabs-ellipsis>
            </div>
          </div>
          <div class="col5 pr10" [hidden]="fieldVisibility.isHiddenContractNumber">
            <label class="col24 ">{{ 'Contract Number' | translate }}<span class="mandatory"
                *ngIf="isContractNumberRequired">* </span> </label>
            <div class="col20 pr5">
              <input type="text" formControlName="ContractNumber" id="ContractNumber" class="form-control"
                placeholder="" [attr.size]="8" [attr.maxlength]="8" (change)="contractNumberOnchange($event.target)"
                eTypeCode>
            </div>
            <div class="col2">
              <icabs-ellipsis #contractSearchEllipsis [autoOpen]="autoOpenSearch" [showCloseButton]="showCloseButton"
                [childConfigParams]="contractSearchParams" [modalConfig]="modalConfig"
                [contentComponent]="contractSearchComponent" (ellipsisData)="onContractDataReceived($event, true)"
                [showHeader]="showHeader" (modalHidden)=false [searchModalRoute]="searchModalRoute"
                [disabled]="ellipsisDisable.contractNumberEllipsis"></icabs-ellipsis>
            </div>
          </div>
          <div class="col5 pr10" [hidden]="fieldVisibility.isHiddenPremiseNumber">
            <label class="col24 ">{{ 'Premises Number' | translate }} </label>
            <div class="col20 pr5">
              <input type="text" formControlName="PremiseNumber" class="form-control" placeholder="" [attr.size]="8"
                [attr.maxlength]="8" (blur)="premiseNumberChange()" eTypeInteger>
            </div>
            <div class="col2"
              [hidden]="!(maintenanceProspectSearchFormGroup.controls['AccountNumber'].value && maintenanceProspectSearchFormGroup.controls['ContractNumber'].value)">
              <icabs-ellipsis #premiseSearchEllipsis [showCloseButton]="showCloseButton"
                [childConfigParams]="inputParamsPremise" [contentComponent]="premiseSearchComponent"
                [modalConfig]="modalConfig" (ellipsisData)="onPremiseDataReceived($event, true)"
                [showHeader]="showHeader" [disabled]='ellipsisDisable.premiseEllipsis'></icabs-ellipsis>
            </div>
            <div class="col2"
              [hidden]="!(maintenanceProspectSearchFormGroup.controls['AccountNumber'].value && !maintenanceProspectSearchFormGroup.controls['ContractNumber'].value)">
              <icabs-ellipsis #accountPremiseSearchEllipsis [showCloseButton]="showCloseButton"
                [childConfigParams]="inputParamsPremiseAccount" [contentComponent]="premiseAccountSearchComponent"
                [modalConfig]="modalConfig" (ellipsisData)="onPremiseAccounSearchDataReceived($event)"
                [showHeader]="showHeader" [disabled]='ellipsisDisable.premiseEllipsis'></icabs-ellipsis>
            </div>
            <div class="col2" [hidden]="!(!maintenanceProspectSearchFormGroup.controls['AccountNumber'].value)">
              <icabs-ellipsis [showCloseButton]="showCloseButton" [childConfigParams]="inputParamsAccount"
                [modalConfig]="modalConfig" [contentComponent]="accountSearchComponent"
                (ellipsisData)="onAccountPremiseDataReceived($event)" [showHeader]="showHeader"
                [searchModalRoute]="searchModalRoute" [disabled]="ellipsisDisable.premiseEllipsis"></icabs-ellipsis>
            </div>
          </div>
          <div class="col5 pr10"
            *ngIf="systemChars['vSEnableIWSMEDLineOfBusinessSwitch'] && !customBusinessObject.Update">
            <label class="24" id="NewLineOfBusiness">
              {{'New Line Of Business'}}
            </label>
            <div class="col24">
              <select id="NewLineOfBusinessCode" formControlName="NewLineOfBusinessCode" class="form-control"
                (change)="onNewLineOfBusinessChange()">
                <option value="K">{{ 'Washrooms' | translate }}</option>
                <option value="V">{{ 'Medical' | translate }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt15">
        <div class="col-sm-12">
          <icabs-tabs [tabs]="tabs" [componentList]="componentList" #tabProspect>
          </icabs-tabs>
        </div>
      </div>

      <hr class="mt20 mb20">
      <div class="row mb20">
        <div class="col-sm-3">
          <div class="col24">
            <input class="btn btn-primary" id="save" type="submit" value="{{'Save'| translate }}"
              [disabled]="fieldDisable.save" (click)="beforeSaveData()" (keyup)="onSaveFocus($event)">
            <input class="btn btn-secondary" type="button" value="{{'Cancel' | translate }}"
              [disabled]="fieldDisable.cancel" (click)="cancelClick()">
          </div>
        </div>
        <div class="col-sm-3 pull-right">
          <div class="col8">
            <input class="btn btn-primary" type="button" value="{{'Copy' | translate }}" [disabled]="fieldDisable.copy"
              (click)="copyPeospectDetails($event);">
            <icabs-ellipsis #prospectSearchCopyEllipsis [showCloseButton]="showCloseButton"
              [childConfigParams]="inputParamsCopyProspect" [modalConfig]="modalConfig"
              [contentComponent]="prospectSearchComponent" (ellipsisData)="onProspectCopyDataReceived($event, false)"
              [showHeader]="showHeader" [searchModalRoute]="searchModalRoute" [disabled]="false" [hideIcon]="true">
            </icabs-ellipsis>
          </div>
          <div class="col16">
            <icabs-dropdown-static #MenuOptionDropdown class="" [inputData]="this.menuOptions"
              [disabled]="fieldDisable.optionDisable" (onSelect)="menuOnchange($event)"></icabs-dropdown-static>
          </div>
        </div>
      </div>

    </div>
  </form>

</div>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-spinner [isRunning]="isRequesting"></icabs-spinner>
<icabs-prompt-modal #promptConfirmModal="child" [(showHeader)]="showPromptMessageHeader" [title]="promptConfirmTitle"
  [content]="promptConfirmContent" (saveEmit)="promptConfirm($event)"></icabs-prompt-modal>
<icabs-modal #messageModal="child" [(showHeader)]="showMessageHeader" (modalClose)="onMessageClose()"></icabs-modal>
<icabs-modal #errorModal [showHeader]="true"> </icabs-modal>
