<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1> {{ pageTitle | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <div class="row mt5">
            <div class="col-sm-3" *ngIf="!pageParams.isTotal && !isRegion && !isBusiness">
                <label class="col24">{{'Branch'|translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="BranchNumber" size="3" maxlength="5" class="form-control"
                        formControlName="BranchNumber" eTypeText>
                </div>
                <div class="col16">
                    <input type="text" id="BranchName" size="35" maxlength="35" class="form-control"
                        formControlName="BranchName" eTypeText>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="isRegion ||  pageParams.isTotal">
                <label class="col24">{{'Region'|translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="RegionCode" size="2" maxlength="2" class="form-control"
                        formControlName="RegionCode" eTypeText>
                </div>
                <div class="col16">
                    <input type="text" id="RegionDesc" size="35" maxlength="35" class="form-control"
                        formControlName="RegionDesc" eTypeText>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col16">{{ 'From' | translate }}
                    <span class="mandatory">*</span>
                </label>
                <div class="col16">
                    <icabs-datepicker id="DateFrom" formControlName="DateFrom" [isDirectiveBased]="false"
                        (onChange)="onDateChnage()">
                    </icabs-datepicker>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col16">{{ 'To' | translate }}
                    <span class="mandatory">*</span>
                </label>
                <div class="col16">
                    <icabs-datepicker id="DateTo" formControlName="DateTo" [isDirectiveBased]="false">
                    </icabs-datepicker>
                </div>
            </div>
        </div>
        <div class="row mt5" *ngIf="((!isBusiness && !isRegion) || isDetail)">
            <div class="col-sm-3">
                <div class="col16">
                    <label class="col24" for="FilterBy">{{'Filter by' | translate}}</label>
                    <select class="form-control" id="FilterBy" formControlName="FilterBy"
                        (change)="onFilterByDataChange()">
                        <option value="Employee">{{'Service Employee' | translate}}</option>
                        <option value="Supervisor">{{'Supervisor' | translate}}</option>
                        <option value="Sales">{{'Sales Employee' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24">{{'Employee'|translate}}</label>
                <div class="col8 pr5">
                    <input id="EmployeeCode" size="8" [attr.maxlength]="6" class="form-control"
                        formControlName="EmployeeCode" (change)="onEmployeeChnage()" eTypeCode>
                </div>
                <div class="col14 pr5">
                    <input type="text" id="EmployeeSurname" size="30" [attr.maxlength]="30" class="form-control"
                        formControlName="EmployeeSurname" eTypeText>
                </div>
                <div class="col2">
                    <icabs-ellipsis [childConfigParams]="ellipsis.employeeEllipsis.childparams"
                        [contentComponent]="ellipsis.employeeEllipsis.component" [showHeader]="true"
                        (ellipsisData)="onEmployeeDataReceived($event)"></icabs-ellipsis>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="!isDetail">
                <div class="col16">
                    <label class="col24" for="ViewBy">{{'View by' | translate}}</label>
                    <select class="form-control" id="ViewBy" formControlName="ViewBy" (change)="onViewByChange()">
                        <option value="Employee">{{'Service Employee' | translate}}</option>
                        <option value="Supervisor">{{'Supervisor' | translate}}</option>
                        <option value="Sales">{{'Sales Employee' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-sm-3">
                <div class="col16">
                    <label class="col24" for="DateFilter">{{'Sort By' | translate}}</label>
                    <select class="form-control" id="DateFilter" formControlName="DateFilter"
                        (change)="onDateFilterChange()">
                        <option value="Submitted">{{'Submitted Date' | translate}}</option>
                        <option value="Converted">{{'Converted Date' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
        <hr class="mt15 mb15">
        <div class="row">
            <div class="col-sm-6">
                <icabs-refresh (click)="onRiGridRefresh()"></icabs-refresh>
                <icabs-pagination [ngClass]="{hidden: !hasGridData}" #riGridPagination
                    [totalItems]="this['pageParams'].gridConfig.totalRecords"
                    [itemsPerPage]="this['pageParams'].gridConfig.pageSize"
                    [currentPage]="this['pageParams'].gridConfig.currentPage" (getCurrentPage)="getCurrentPage($event)" [canExport]="true">
                </icabs-pagination>
            </div>
            <div class="col-sm-12 mt10" [ngClass]="{'detail': isDetail,'not-detail':!isDetail}">
                <icabs-grid-advanced #riGrid (bodyDblClick)="onGridBodyDoubleClick()" (headerClick)="onRiGridRefresh()">
                </icabs-grid-advanced>
            </div>
        </div>
    </form>
</section>
<icabs-custom-alert #customAlert [alertMessage]="alertMessage" [messageType]="messageType"></icabs-custom-alert>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>