<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row">
                <div class="col-sm-4">
                    <label class="col24">{{'Business' |translate}} </label>
                    <div class="col20">
                        <input type="text" id="BusinessDesc" formControlName="BusinessDesc" size="40" maxlength="40" class="form-control" eTypeText>
                    </div>
                    <div class="col20">
                        <input type="text" id="BusinessCode" formControlName="BusinessCode" size="40" maxlength="40" class="form-control hidden" eTypeText>
                    </div>
                </div>

                <div class="col-sm-4">
                    <label for="ViewBy" class="col24">{{'View By' | translate}}</label>
                    <div class="col20">
                        <select class="form-control" formControlName="ViewBy" name="ViewBy" (change)="gridReset()">
                            <option value="Area">{{'Area' | translate}}</option>
                            <option value="Region">{{'Region' | translate}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-4">
                    <label for="QuoteFilter" class="col24">{{'Account Type' | translate}}</label>
                    <div class="col20">
                        <select class="form-control" formControlName="QuoteFilter" name="QuoteFilter" (change)="gridReset()">
                            <option *ngFor="let item of accountTypeList" [value]="item.value">
                                {{ item.key | translate }}</option>
                        </select>
                    </div>
                </div>
            </div>

            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination
                        [hidden]="!showPagination"
                        #riGridPagination
                        (getCurrentPage)="getCurrentPage($event)"
                        [currentPage]="this['pageParams'].gridCurrentPage"
                        [itemsPerPage]="this['pageParams'].pageSize"
                        [totalItems]="this['pageParams'].totalRecords">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced
                        #riGrid
                        (bodyDblClick)="onGridBodyDoubleClick()">
                    </icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>